@import '../mixins/frame';

.boxes {
    &.container {
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            margin-bottom: 0.625rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 3.75rem;
        }

        @include ipad(portrait) {
            max-width: 100%;
        }
    }
}

.box {
    position: relative;
    width: 100%;
    text-align: center;

    &:hover {
        .btn-primary {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }

    img {
        width: 100%;
    }
}

.box-content {
    padding: 1.75rem 1rem 2.375rem;

    @include media-breakpoint-up(xl) {
        padding: 2.5rem 2rem 3.125rem;
    }
}

.box-title {
    font-family: $font-family-base;
    font-weight: $font-weight-light;
    font-size: $font-size-16;
    line-height: 1.2;
    max-height: 7.5rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
        font-size: $font-size-12;
    }

    > a {
        &:hover {
            text-decoration: none;
        }

        &::before {
            content: '';
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
        }
    }
}

.box-larger-title {
    font-size: $font-size-16;
}

.box-text {
    display: block;
    font-style: italic;
    line-height: 1.7;
    margin: 0 0 1.5rem;
    padding: 0;

    @include media-breakpoint-up(xl) {
        min-height: 3.75rem;
        font-size: $font-size--2;
        margin-bottom: 0.5rem;
    }
}

.box-space-mobile {
    margin-bottom: 26.875rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 3.75rem;
    }
}

.box-fluid-mobile {
    position: relative;

    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }
}

.box-alpha {
    @include media-breakpoint-up(xl) {
        &:nth-child(odd) {
            > .row {
                flex-direction: row;
            }

            .box-content {
                padding-right: 3rem;
            }
        }

        &:nth-child(even) {
            > .row {
                flex-direction: row-reverse;
            }

            .box-content {
                padding-left: 3rem;
            }
        }
    }

    > .row {
        flex-direction: column-reverse;

        > div {
            flex: 1;
        }
    }

    .box-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-top: 1rem;
        padding: 0;

        @include media-breakpoint-up(xl) {
            margin-top: 0;
            text-align: left;
        }
    }
}

.box-beta {
    text-align: left;

    .box-content {
        padding: 0;
        margin: 0 2rem;
        max-width: 25rem;

        > img {
            margin-bottom: 2.5rem;
        }
    }

    .box-text {
        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }
    }
}

.box-gamma {
    text-align: left;

    &.frame-left-oob {
        .box-content {
            @include media-breakpoint-up(xl) {
                padding-top: 3rem;
                padding-bottom: 3rem;
                padding-right: 4.5rem;
            }
        }
    }
}

.box-delta {
    border: 0.0625rem solid $grey3;
    font-size: $font-size--1;
    padding: 1rem 0;
    margin: 0 0 1.25rem;

    .form-control-label,
    .radio-button-link,
    .checkbox-link {
        font-size: $font-size--1;
        font-weight: $font-weight-semi-bold !important;
    }
}

.box-epsilon {
    font-weight: $font-weight-light;
    font-size: $font-size-1;
    position: relative;
    text-align: left;

    @include media-breakpoint-up(md) {
        padding-right: 8.5rem;
    }

    @include media-breakpoint-up(lg) {
        padding-right: 13rem;
    }

    > h4 {
        font-size: $font-size-6;
        font-weight: $font-weight-light;

        @include media-breakpoint-up(md) {
            font-size: $font-size-8;
        }
    }

    > p {
        padding-top: 0.5rem;

        @include media-breakpoint-up(md) {
            padding-top: 0;
        }
    }

    > img {
        width: 5.625rem;
        float: right;
        position: relative;
        top: -0.5rem;
        margin-left: 1rem;

        @include media-breakpoint-up(md) {
            float: none;
            position: absolute;
            top: -2rem;
            right: -2rem;
            width: 10.5rem;
            margin-left: 0;
        }

        @include media-breakpoint-up(lg) {
            top: -1.25rem;
            right: 0;
            width: auto;
        }
    }
}

.box-theta {
    @include media-breakpoint-down(lg) {
        padding-bottom: 4.25rem;
    }

    @include media-breakpoint-up(xl) {
        text-align: left;
        padding-bottom: 2.15rem;
        padding-right: $grid-gutter-width / 2 !important;
        padding-left: $grid-gutter-width / 2 !important;

        > .row {
            margin-right: -($grid-gutter-width / 2) !important;
            margin-left: -($grid-gutter-width / 2) !important;
        }

        .frame-left-oob {
            &::before {
                right: -($grid-gutter-width / 2);
            }

            &.box-content {
                padding-right: 4.5rem;
            }

            + .box-content-product {
                .product {
                    margin-right: -($grid-gutter-width / 2);
                }

                .product-tile {
                    flex-direction: row-reverse;

                    .tile-body {
                        padding: 0 #{$grid-gutter-width/2} 0 0;
                    }
                }
            }
        }

        .frame-right-oob {
            &::before {
                left: -($grid-gutter-width / 2);
            }

            &.box-content {
                padding-left: 4.5rem;
            }

            + .box-content-product {
                .product {
                    margin-left: -($grid-gutter-width / 2);
                }

                .product-tile {
                    flex-direction: row;

                    .tile-body {
                        padding: 0 0 0 #{$grid-gutter-width/2};
                    }
                }
            }
        }
    }

    .box-content {
        padding-bottom: 7rem;
        position: relative;

        @include media-breakpoint-up(xl) {
            padding-top: 3rem;
            padding-bottom: 2.675rem;
        }
    }

    .box-text {
        line-height: 1.5;
    }

    .box-content-product {
        position: absolute;
        width: calc(100% - #{$grid-gutter-width});
        margin-top: -6.25rem;

        @include media-breakpoint-up(xl) {
            position: relative;
            width: 100%;
            margin-top: 0;
        }

        .product-tile {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-up(xl) {
                margin-top: -2.8125rem;
                align-items: flex-end;
                justify-content: flex-start;
                position: relative;
                width: 100%;
            }

            .badges-container,
            .name-container {
                height: auto;
            }

            .image-container {
                @include media-breakpoint-up(xl) {
                    flex-grow: 0;
                }
            }

            .tile-body {
                @include media-breakpoint-up(xl) {
                    flex-grow: 1;
                }
            }
        }

        .image-container {
            img {
                background-color: $white;
                position: relative;
                height: 16.875rem;
                width: auto !important;
                z-index: 3;
            }
        }
    }
}

ul.box-button-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    @include media-breakpoint-up(md) {
        padding: 0 3.5rem;
    }

    li {
        flex-grow: 1;
        margin: 0 2% 1rem;
        width: 46%;

        @include media-breakpoint-up(md) {
            margin: 0 2.5% 1.75rem;
            width: 45%;
        }
    }

    .btn {
        font-weight: $font-weight-bold;
        padding: 0.7rem 0.25rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-10;
            padding: 1.675rem 1rem;
        }
    }
}

//Modules

.pros-module-wrapper {
    display: flex;
    flex-direction: column;
    width: 11.5625rem;
    text-align: center;
    font-size: $font-size--1;

    @include media-breakpoint-only(xs) {
        width: 50%;
        margin-bottom: 1rem;
    }
}

.pros-module-title {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0.625rem;
}

.pros-module-desc {
    font-weight: $font-weight-light;
}

.circular-steps-row {
    margin-bottom: 9.625rem;
    margin-top: 5.625rem;

    @include media-breakpoint-down(lg) {
        margin-bottom: 5rem;
        margin-top: 2rem;
        text-align: center;

        p {
            text-align: left;
        }
    }

    h2 {
        font-size: $font-size-12;
        font-weight: $font-weight-light;
        font-family: $font-family-base;
        text-transform: uppercase;

        @include media-breakpoint-down(lg) {
            text-align: center;
            margin-top: 7rem;
        }
    }

    p {
        font-size: $font-size-1;
    }
}

.circular {
    width: 23.4375rem;
    height: 23.4375rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: $font-size-2;

    &::after {
        content: '';
        position: absolute;
        top: -3.125rem;
        right: -6.25rem;
        width: 16.5rem;
        height: 29.375rem;
        background-repeat: no-repeat;

        /* rtl:raw:
            transform: scaleX(-1);
        */
    }

    .step-1-text,
    .step-2-text,
    .step-3-text {
        position: absolute;
    }

    .step-1-text {
        top: -0.1875rem;
        right: -3.75rem;
    }

    .step-2-text {
        right: -8.75rem;
        top: 10.875rem;
    }

    .step-3-text {
        right: -3.875rem;
        bottom: 0;
    }

    &.step-1-active {
        .step-2-text,
        .step-3-text {
            color: $grey3;
        }

        &::after {
            background-image: url('../images/circular-step-1.svg');
        }
    }

    &.step-2-active {
        .step-3-text {
            color: $grey3;
        }

        &::after {
            background-image: url('../images/circular-step-2.svg');
        }
    }

    &.step-3-active {
        &::after {
            background-image: url('../images/circular-step-3.svg');
        }
    }

    @include media-breakpoint-down(lg) {
        width: 15rem;
        height: 15rem;
        margin: 0 auto;

        &::after {
            top: auto;
            bottom: 2.3rem;
            right: -0.65rem;
            transform: scaleX(-1) translateY(50%) rotate(90deg);
            background-size: 66%;
            background-position: center;
        }

        .circular-steps-texts {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: -5.25rem;
            left: -0.625rem;
            width: 16.5rem;

            > div {
                position: relative;
                top: auto;
                right: auto;
                left: auto;
            }
        }
    }
}

.modules-services-box {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    height: 100%;

    .box-title {
        font-size: $font-size-3;
        min-height: 3rem;
        margin: 0;
    }

    .box-content {
        padding: 1rem 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .box-text {
        font-size: $font-size--1;
    }

    &.with-cta {
        @include media-breakpoint-up(xl) {
            height: auto;

            .btn-cta {
                position: absolute;
                bottom: -1rem;
            }
        }
    }
}

.module-promo-boxes {
    .box {
        @include media-breakpoint-up(xl) {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .box-title {
        @include media-breakpoint-up(xl) {
            font-size: $font-size-16;
        }
    }

    .box-content {
        @include media-breakpoint-up(xl) {
            padding: 1.5rem 1.5rem 2.5rem;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
        }
    }

    .box-text {
        font-size: $font-size-1;
        line-height: 1.4;
    }
}

.modules-box-wrapper {
    @include media-breakpoint-up(xl) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.modules-box-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.modules-box-title {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-16;
        min-height: 4.3875rem;
        line-height: 0.9;
        margin-bottom: 0.7rem;
    }
}

.modules-single-box-title {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-16;
        min-height: auto;
        line-height: 1;
        margin-bottom: 1rem;
    }
}

.modules-box-text {
    @include media-breakpoint-up(xl) {
        font-size: $font-size-1;
        line-height: 1.4;
        min-height: 0;
    }
}

.modules-banner-carousel {
    .banner-carousel-cta {
        @include media-breakpoint-up(xl) {
            width: 16.5625rem;
            bottom: 3.5rem;

            /* rtl:ignore */
            right: 5.375rem;

            &.modules-product-cta {
                bottom: 1.5rem;
            }
        }
    }
}

.modules-mutliple-lines {
    height: 92%;
    margin: 4% 0;

    @include media-breakpoint-down(xl) {
        padding-bottom: 2rem !important;
    }
}

.modules-banner-wrapper {
    margin: 0 auto;
    position: relative;

    img {
        width: 100%;
    }

    &.with-cta {
        img {
            @include media-breakpoint-down(lg) {
                max-width: 43.125rem;
                margin: 0 auto;
            }
        }

        .modules-banner-content {
            @include media-breakpoint-down(sm) {
                padding: 1.775rem 2.35rem !important;

                button {
                    min-width: 7.3125rem;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        max-width: 75rem;
    }
}

.modules-banner-content {
    padding: 3.375rem 2.35rem;
    background: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include media-breakpoint-up(sm) {
        padding: 3.375rem 3.75rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 2.375rem 3.75rem;
    }

    h2 {
        text-transform: uppercase;
        font-family: $font-family-base;
        font-weight: $font-weight-light;
        margin: 0;
        white-space: nowrap;
        font-size: $font-size-10;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-16;
        }

        @include media-breakpoint-up(sm) {
            font-size: $font-size-12;
        }
    }
}

.modules-seperator {
    &::after {
        content: '';
        border-bottom: 0.0625rem solid $hr-border-color;
        bottom: 0;
        left: $grid-gutter-width / 2 #{"/*rtl:calc(-100% + 15px)*/"};
        height: 100%;
        right: auto;
        top: auto;
        position: absolute;
        width: calc(100% - #{$grid-gutter-width / 2});

        @include media-breakpoint-up(xl) {
            border-right: 0.0625rem solid $hr-border-color;
            border-bottom: none;
            top: 0;
            right: 0;
            height: 100%;
            position: absolute;
        }
    }

    @include media-breakpoint-down(xl) {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
}

.modules-seperator-xl {
    @include media-breakpoint-up(xl) {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        border-right: 0.0625rem solid $hr-border-color;
    }
}

.modules-media-item {
    h2 {
        font-size: $font-size-2;
        font-weight: $font-weight-semi-bold;

        @include media-breakpoint-up(xl) {
            margin-left: 10.3125rem;
        }
    }

    .box {
        padding-left: 1rem;
    }

    .box-text {
        font-size: $font-size--1;
    }

    img {
        height: 9.375rem;

        @include media-breakpoint-up(xl) {
            margin-top: -2.4375rem;
        }
    }
}

.frame-contracted {
    &::before {
        left: 1.625rem;
        right: 1.625rem;
    }
}

.frame-expanded-xl-down {
    @include media-breakpoint-down(xl) {
        &::before {
            left: 0;
            right: 0;
        }
    }
}

.modules-content-product {
    @include media-breakpoint-up(xl) {
        .product-tile {
            margin-top: -2.3125rem !important;
        }

        .tile-body {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .badges-container {
                @include media-breakpoint-up(xl) {
                    margin-bottom: 1.875rem;
                }
            }

            .name-container {
                @include media-breakpoint-up(xl) {
                    margin-bottom: 1.25rem;
                }
            }
        }

        .badge-item {
            padding-left: 0;
        }

        .tile-image {
            z-index: 1 !important;
            height: 12.575rem !important;
        }
    }
}

.module-video-player-wrapper {
    margin: 0 auto;
    max-width: 21.5rem;

    @include media-breakpoint-up(sm) {
        max-width: 48rem;
    }

    @include media-breakpoint-up(xl) {
        max-width: 75rem;
    }
}

.module-video-player {
    height: 14.25rem;
    position: relative;
    transition: height $animation-duration;
    overflow: hidden;

    &.video-player-expanded {
        height: 16rem;

        @include media-breakpoint-up(sm) {
            height: 30rem;
        }
    }

    .video-player-icon {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 50%;
        }

        &::before {
            transform: translate(-50%, -50%);
            background-color: $primary;
            z-index: 1;
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 50%;
        }

        &::after {
            width: 0;
            height: 0;
            margin-top: -0.8125rem;
            margin-left: -0.3125rem;
            border-top: 0.8125rem solid transparent;
            border-right: 0;
            border-bottom: 0.8125rem solid transparent;
            border-left: 0.875rem solid $secondary;
            z-index: 2;
        }
    }

    .video-player-cover {
        position: absolute;
        left: 0;
        top: 0;

        @include media-breakpoint-down(xl) {
            width: 100%;
        }
    }

    .embeded-video {
        position: relative;
        height: 100%;
    }

    @include media-breakpoint-up(sm) {
        height: 32.05rem;
    }

    @include media-breakpoint-up(xl) {
        height: 18.75rem;
    }
}

.module-anchors-wrapper {
    border-bottom: 0.0625rem solid $secondary;
    display: flex;
    justify-content: space-between;

    a {
        flex-grow: 1;
        text-align: center;
        padding: 0 0.1875rem;
        line-height: 1.3;
    }

    .anchor-seperator {
        @include media-breakpoint-only(xs) {
            border-right: 0.0625rem solid $secondary;
            width: 0.0625rem;
            flex-grow: 0;
        }
    }
}

.framed-image-left {
    @include media-breakpoint-up(xl) {
        > div:first-child {
            padding-right: 0;
        }

        > div:last-child {
            padding-left: 0;
        }

        .box-content {
            padding-left: 1rem;
        }
    }
}

.framed-image-right {
    flex-direction: column-reverse;

    @include media-breakpoint-up(xl) {
        flex-direction: row;

        > div:first-child {
            padding-right: 0;
        }

        > div:last-child {
            padding-left: 0;
        }

        .box-content {
            padding-right: 1rem;
        }
    }
}
