*:focus {
    outline: 0.0625rem dotted $secondary !important;
}

.w-mobile-100 {
    @include media-breakpoint-down(lg) {
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;

        > .row {
            margin-left: 0;
            margin-right: 0;

            > .col,
            > [class*="col-"] {
                padding-right: 1rem !important;
                padding-left: 1rem !important;
            }
        }
    }
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
        max-width: 100%;
    }

    @include media-breakpoint-up(md) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-bottom: 3.125rem;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-bottom: 3.75rem;
    }
}

.container-oob {
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 3.125rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 3.75rem;
    }

    @include media-breakpoint-down(lg) {
        position: relative;
        padding-top: 1.25rem;

        > .container {
            z-index: 1;
            position: relative;
        }

        &::after {
            content: '';
            background-color: $grey1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        .container {
            position: relative;
            padding-top: 2rem;
            padding-bottom: 0.5rem;

            > .row {
                z-index: 1;
                position: relative;
            }

            &::after {
                content: '';
                background-color: $grey1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -4.375rem;
                right: -4.375rem;
                max-width: 1191px;
            }
        }
    }
}

.container-title {
    font-size: $font-size-8;
    font-weight: $font-weight-base;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-align: center;

    &::after {
        content: '';
        display: block;
        border-bottom: 0.125rem solid $secondary;
        margin: 0 auto;
        padding-top: 0.5rem;
        margin-top: 0.375rem;
        width: 1.625rem;

        @include media-breakpoint-up(xl) {
            margin-top: 0;
            margin-bottom: 2rem;
            width: 2.625rem;
        }
    }
}

.separator {
    position: relative;

    &::after {
        content: '';
        border-bottom: 0.0625rem solid $dove-gray;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50%;
    }

    h6 {
        background-color: $white;
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 5.25rem;
        margin: 1rem auto;
        padding: 0;
        position: relative;
        z-index: 1;
    }
}

.link {
    font-size: $font-size--2;
}

.separated-values {
    display: flex;
    flex-wrap: wrap;

    .has-value {
        margin-right: 0.5rem;
    }
}

.img-credit-card {
    border: 0.0625rem solid $grey3;
    border-radius: 0.1875rem;
    position: relative;
    top: -0.0625rem;
}

.hide-order-discount {
    display: none;
}

.hide-shipping-discount {
    display: none;
}

.order-discount {
    color: $success;
}

.shipping-discount {
    color: $success;
}

.error-messaging {
    position: fixed;
    bottom: 0;
    right: 1rem;
    max-width: 22rem;
    width: 100%;
    z-index: 1;
}

.error-hero {
    background-image: url('../images/storelocator.jpg');
    margin-bottom: 0.625em;
}

.error-message {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.error.continue-shopping {
    min-width: auto !important;
    margin-bottom: 6.25em;
}

.disable-scroll {
    @include media-breakpoint-down(lg) {
        overflow: hidden;
        position: fixed;
    }
}

.no-records-message {
    font-weight: $font-weight-medium;
    display: flex;
    min-height: 8.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: $font-size-5;
        min-height: 15rem;
    }

    > i {
        margin-bottom: 1.5rem;

        &::before {
            font-size: $font-size-36;
        }
    }
}

.show-no-records {
    .no-records-container {
        display: block !important;
    }
}

/* Back to Top Button */
.back-to-top-button {
    display: none;
    position: fixed;
    bottom: 4.188rem;
    right: 1.875rem;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.0625rem solid $primary;
    border-radius: 3.125rem;
    background-color: $primary;
    color: $white;
    z-index: 3;

    &:hover {
        cursor: pointer;
        background-color: $black;
        border: 0.0625rem solid $black;
    }

    &:active {
        background-color: $grey6;
        border: 0.0625rem solid $grey6;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    i {
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
            line-height: 0.75rem;
        }
    }
}
