.site-search {
    position: relative;

    .site-search-form {
        margin-bottom: 0;

        @include media-breakpoint-down(xl) {
            background: $black;
        }
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0.125rem;
        transition: width 0.25s;
    }

    &::before {
        bottom: 0.1875rem;
        width: 0;
    }

    &.search-found {
        &::before,
        &::after {
            display: none;
        }

        .search-field {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .form-group {
        display: flex;
        margin-bottom: 0;
    }

    .btn-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include media-breakpoint-up(xl) {
            background: $boulder;
        }

        > i {
            color: $white;

            &::before {
                font-size: $font-size-2;
            }
        }
    }

    .btn-toggle-search {
        display: none;
    }

    .search-field {
        background-color: $boulder;
        font-weight: $font-weight-bold;
        color: $white;
        border: 0;
        padding-left: 0.75rem;
        height: 2.5rem;
        background-clip: initial;

        @include media-breakpoint-up(xl) {
            width: 100%;
        }
    }
}

/* rtl:raw:
    .site-search > form {
        flex: 1 0 0;
    }
*/

.search-mobile {
    display: none;
    margin-bottom: -0.0625rem;

    .site-search {
        width: 100%;
        margin: 0;
        padding: 0;

        &::before,
        &::after {
            display: none;
        }

        .form-group {
            align-items: center;
        }

        .search-field {
            background-color: $secondary;
            padding: 0.7rem 1.1rem;

            @include media-breakpoint-up(md) {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }

            @include media-breakpoint-up(xl) {
                padding-left: 0.625rem;
                padding-right: 0.625rem;
            }
        }

        .btn-toggle-search {
            display: none;
        }

        .btn-clear-search {
            position: relative;

            @include media-breakpoint-up(md) {
                margin-right: 2.5rem;
                margin-left: 1rem;
            }

            @include media-breakpoint-up(xl) {
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }

            .icon-cross {
                &::before,
                &::after {
                    margin-top: 0.225rem #{"/*rtl:-0.35rem*/"};
                }
            }
        }
    }
}

.suggestions {
    position: relative;
    top: 0 !important;
    left: 0;
    background-color: $white;
    box-shadow: 0 0.25rem 0.75rem 0 rgba($black, 0.3);
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
    padding: 0 0.75rem;
    width: 100%;
    z-index: 3;

    @include media-breakpoint-up(xl) {
        position: absolute;
    }

    .suggestion-item,
    .suggestion-phrase > a,
    .suggestion-view-all > a {
        border: 0.0625rem dotted transparent;
        color: $secondary;

        &.selected {
            border: 0.0625rem dotted $secondary;
        }
    }

    .do-you-mean {
        font-size: $font-size-2;
        display: flex;
        flex-direction: column;
        padding: 0.75rem 0;
        border-bottom: 0.0625rem solid $grey3;
        text-transform: uppercase;

        span:first-child {
            padding-right: 0.5rem;
        }
    }

    .suggestion-phrase {
        font-weight: $font-weight-extra-bold;
        letter-spacing: -0.02rem;
        text-transform: capitalize;

        &:not(:last-child)::after {
            content: ",";
        }
    }

    .suggestion-item {
        display: flex;
        align-items: center;
        padding-top: 0.75rem;
        padding-bottom: 1rem;
        border-bottom: 0.0625rem solid $grey3;

        &:hover {
            text-decoration: none;
        }
    }

    .suggestion-item-name,
    .suggestion-item-price {
        font-weight: $font-weight-bold;
        padding-left: 1rem;

        @include media-breakpoint-down(sm) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .suggestion-item-image img {
        width: 2.75rem;
        max-width: 2.75rem;
        border: 0.0625rem solid $dust-gray;
    }

    .suggestion-view-all {
        display: flex;
        justify-content: flex-end;
        padding: 0.9rem 0;

        > a {
            font-weight: $font-weight-bold;
            text-transform: none;

            i {
                padding-left: 0.75rem;

                &::before {
                    font-size: $font-size-8;
                    vertical-align: -0.1875rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticked {
        .site-search:not(.search-active):not(.search-focus):not(.open) {
            &::after,
            &::before,
            .btn-toggle-search {
                display: flex;
            }

            .btn-do-search,
            .btn-clear-search {
                display: none;
            }
        }
    }
}
