.quantity,
.simple-quantity,
.quantity-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.quantity-selector {
    .btn-link {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0;
        text-align: center;
    }

    i::before,
    i::after {
        width: 0.75rem;
        height: 0.0625rem;
    }

    .icon-minus::before {
        left: 50%;
        transform: translateX(-50%);
        top: calc(50% + 0.0625rem);
    }

    .icon-plus::before,
    .icon-plus::after {
        margin: -0.2875rem 0 0 -0.6rem;
    }

    .form-control {
        background-color: $white !important;
        font-size: $font-size-1;
        font-weight: $font-weight-medium;
        text-align: left;
        padding: 0 0 0 0.3125rem;
        color: $secondary;

        @include media-breakpoint-up(xl) {
            width: 3rem;
        }

        &.disabled {
            color: $grey3 !important;
        }
    }

    span.disabled,
    i.disabled {
        color: $grey3;
    }
}

@include media-breakpoint-down(lg) {
    .quantity,
    .simple-quantity,
    .quantity-selector {
        align-self: flex-start;
    }

    .quantity,
    .simple-quantity {
        flex-direction: column;
        align-items: flex-start;
    }

    .quantity {
        &.single-select-option {
            padding-top: 0.5rem;
            padding-bottom: 0.9rem;
        }
    }

    .quantity-selector {
        align-self: flex-start;
        margin-top: 0.51rem;
        width: 100%;

        .form-control {
            width: 1.6875rem;
        }
    }
}
