.tabs-alpha {
    .nav-tabs {
        border-color: $black;

        @include media-breakpoint-up(xl) {
            max-width: calc(#{map-get($container-max-widths, "xl")} - #{$grid-gutter-width});
            margin: 0 auto;
        }
    }

    .nav-tabs .nav-item {
        flex: 1;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
    }

    .nav-tabs .nav-link {
        font-weight: $font-weight-bold;
        padding-top: 0.65rem;
        padding-bottom: 0.65rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &.active {
            border-bottom: 0;
            box-shadow: inset 0 -0.125rem 0 0 $black;
            color: $black;
        }
    }

    .tab-pane {
        padding-top: 1.5625rem;
        font-size: $font-size-2;
    }

    .acc-container-lg-down {
        @include media-breakpoint-down(lg) {
            display: block;
            padding-top: 0;
            opacity: 1;
        }
    }
}
