@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";

.landing-shade-finder {
    .shade-text-indicator {
        font-size: $font-size--3;
        padding: 0.625rem 0;
    }

    .wrap {
        width: 79.375rem;
        margin: 0 auto;
    }

    .step-1 {
        flex-flow: row;
        margin: 0 auto;

        .block-1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1.875rem 5rem;
            background-color: $vanilla-ice;

            .card-text {
                h2 {
                    font-family: $font-family-base;
                    font-size: $font-size-16 * 2;
                    font-weight: $font-weight-semi-bold;
                    color: $grey7;
                    margin-bottom: -1.875rem;
                    text-align: left;

                    b {
                        font-weight: $font-weight-extra-bold;
                    }

                    .shade-text-title {
                        margin-right: 1rem;

                        @include media-breakpoint-down(lg) {
                            display: block;
                        }
                    }

                    .shade-text-subtitle {
                        font-size: $font-size-6 * 2;
                        font-weight: $font-weight-extra-bold;
                        top: -0.7em;
                    }
                }

                h3 {
                    font-family: $font-family-base;
                    font-size: $font-size-2;
                    font-weight: $font-weight-extra-bold;
                    margin-top: 1.875rem;
                    text-transform: uppercase;
                }

                p {
                    font-size: $font-size-2;
                    font-weight: $font-weight-medium;
                    padding-top: 2.3125rem;
                    margin-bottom: 0;
                    text-align: left;
                    color: $secondary;
                    line-height: 1.5;

                    @include media-breakpoint-down(sm) {
                        padding: 1.875rem 0;
                    }

                    &:first-child {
                        padding-top: 1.875rem;
                    }
                }
            }

            a {
                display: flex;
                justify-content: center;
            }

            .card-footer {
                width: 50%;
                min-width: 20rem;
                background-color: $secondary;
                color: $white;

                @include media-breakpoint-down(sm) {
                    min-width: 0;
                    margin-bottom: 1.875rem;
                }

                .show-button {
                    font-size: $font-size-6;
                    font-weight: $font-weight-extra-bold;
                    text-align: center;
                    color: $alabaster;
                }

                &:hover {
                    background: $primary;

                    .show-button {
                        color: $white;
                    }
                }
            }
        }

        .block-2 {
            padding-right: 0;
            padding-left: 0;
            width: 100%;

            @include media-breakpoint-up(xl) {
                width: 150%;
            }
        }
    }

    .card-img-background {
        height: 31.25rem;
        background-size: cover;
        background-position: center;
    }

    .step-2 {
        height: 32.1875rem;
        margin-top: 6.25rem;

        .wrap {
            position: relative;
            margin-top: 1.25rem;

            ul {
                list-style: none;

                @include media-breakpoint-down(sm) {
                    margin: 0;
                }
            }

            .picto-shadefinder {
                position: absolute;
                bottom: -5rem;
                left: 27.8125rem;

                .picto-shadefinder-img {
                    width: 12.5rem;
                }
            }
        }

        hr {
            width: 40%;
            border: 0;
            border-top: 0.0625rem solid;
            display: block;
            margin: 0.5rem 0 0.5rem 2.1875rem;
        }

        .stage01 {
            .oval-circel {
                position: absolute;
                right: 4.0625rem;
                top: 13.125rem;
                text-align: center;
                background: transparent;
                border-radius: 50%;
                width: 1.875rem;
                height: 1.875rem;
                border: 0.375rem solid $white;
                z-index: 2;

                hr {
                    display: block;
                    width: 12.625rem;
                    border-top: 0.25rem solid $white;
                    margin-left: 1.25rem;
                    margin-top: 0.4375rem;
                }
            }

            img {
                position: absolute;
                width: 32.1875rem;
                height: 32.1875rem;
                top: -2.5rem;
                left: 2.8125rem;
            }

            .card-text {
                top: -5.9375rem;
                left: -0.9375rem;
            }
        }

        .stage02 {
            z-index: 1;

            .card-img {
                position: absolute;
                top: 7rem;
                left: 6.125rem;
                width: 14.625rem;
                height: 14.625rem;
                border: 0.125rem solid $orange;
                background-color: $white;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                z-index: 0;

                @include media-breakpoint-down(lg) {
                    top: 0;
                }
            }

            img {
                width: 13.125rem;
                height: 13.125rem;
                top: -1.25rem;
            }

            .card-text {
                top: 3.0625rem;
                left: 5rem;
            }
        }

        .stage03 {
            .block-product {
                position: absolute;
                top: 14.5rem;
                right: 2.75rem;
                width: 29.375rem;
                height: 12.5625rem;
                border: 0.0625rem solid $approx;
                z-index: 0;

                ul {
                    display: flex;
                    padding-top: 1.25rem;
                    padding-left: 6.125rem;

                    .block-1 {
                        p {
                            font-size: $font-size-6;
                            font-weight: $font-weight-extra-bold;
                            padding-top: 0.3125rem;
                        }
                    }

                    .block-2 {
                        width: 13.1875rem;
                        padding-left: 0.9375rem;

                        p {
                            font-size: $font-size-10;
                            font-weight: $font-weight-light;
                        }
                    }
                }

                .block-3 {
                    display: flex;
                    padding-left: 3.4375rem;

                    .stage01 {
                        padding-right: 1.25rem;
                        z-index: 1;

                        .shade-color-circle {
                            position: absolute;
                            left: 4.6875rem;
                            width: 2.9375rem;
                            padding-left: 3.3125rem;
                            height: 2.9375rem;
                            background-color: $orange;
                            border-radius: 50%;
                            box-shadow: 0 0 0 0.0625rem $grey1;
                            margin-right: -0.6875rem;

                            @include media-breakpoint-down(md) {
                                top: 8.1875rem;
                                left: 14.625rem;
                                width: 4.125rem;
                                height: 4.125rem;
                            }

                            @include media-breakpoint-down(sm) {
                                top: 11.1875rem;
                                left: 6.875rem;
                                width: 3.125rem;
                                height: 3.125rem;
                            }

                            @include media-breakpoint-down(xs) {
                                left: 1rem;
                            }
                        }

                        img {
                            position: absolute;
                            top: 5.25rem;
                            width: 1.875rem;
                            height: 6.5625rem;

                            @include media-breakpoint-down(sm) {
                                top: 9rem;
                            }
                        }
                    }

                    .stage02 {
                        padding-top: 0.625rem;
                        padding-left: 5rem;

                        .part-1 {
                            color: $grey8;
                            font-size: $font-size-base;
                            font-weight: $font-weight-light;
                            margin: 0;
                        }

                        .part-2 {
                            color: $grey8;
                            font-size: $font-size-6;
                            font-weight: $font-weight-bold;
                        }
                    }
                }

                @include media-breakpoint-down(xs) {
                    padding-top: 2.5 rem;
                }
            }

            .card-circle-box {
                top: 8.125rem;
                left: -2.5rem;
                z-index: 2;
            }
        }

        .card-circle-box {
            position: absolute;
            top: -4.375rem;
            left: -1.875rem;
            font-weight: $font-weight-bold;
            padding-top: 0.75rem;
            text-align: center;
            background: $grey7;
            border-radius: 50%;
            width: 7.75rem;
            height: 7.75rem;
            border: 0.125rem solid $secondary;
            color: $white;

            p {
                font-weight: $font-weight-extra-bold;
                margin: 0;
                padding-top: 0.125rem;
                font-size: $font-size-1;
            }
        }
    }

    .step-3 {
        position: relative;
        justify-content: flex-end;
        padding-right: 1.875rem;

        .card-footer {
            width: 100%;
            background-color: $grey7;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: $primary;

                .show-button {
                    color: $white;
                }
            }

            .show-button {
                font-size: $font-size-6;
                font-weight: $font-weight-extra-bold;
                text-align: center;
                color: $tertiary-hover;
            }
        }

        a {
            position: absolute;
            right: 10.625rem;
            top: -2.875rem;
            display: flex;
            background-color: $secondary;
            width: 20.625rem;
            text-decoration: none;
        }
    }

    .step-4 {
        margin: 2rem 0;

        .block-1 {
            display: flex;
            justify-content: center;
            padding-right: 0;
            padding-left: 0;

            .card-img-top {
                width: 9.8125rem;
                height: 30.3125rem;
            }
        }

        .block-2 {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            h2 {
                padding-top: 5rem;
                padding-bottom: 2.5rem;
                font-size: $font-size-18;
                font-family: $font-family-base;
            }

            .card-img-mobile {
                display: none;
            }

            span {
                color: $grey7;

                b {
                    font-weight: $font-weight-bold;
                    color: $orange;
                }
            }

            a {
                text-decoration: none;
            }

            .card-footer {
                text-align: center;
                border: 0.0625rem solid $grey7;
                background-color: $white;
                margin-left: 0;
                width: 30%;
                margin-top: 2.5rem;
                justify-content: center;
                align-content: center;
                align-items: center;
                display: flex;

                &:hover {
                    background: $primary;
                    text-decoration: none;

                    .show-button {
                        color: $white;
                    }
                }

                .show-button {
                    font-size: $font-size-2;
                    font-weight: $font-weight-extra-bold;
                    text-align: center;
                    color: $grey7;
                }
            }
        }
    }

    .card-text {
        span {
            text-align: initial;
            font-size: $font-size-6;
            font-weight: $font-weight-light;
        }
    }

    .card {
        margin-bottom: 0;
        overflow: hidden;
    }
}

@include media-breakpoint-down(md) {
    .landing-shade-finder {
        .step-1 {
            .block-1 {
                padding: 1.875rem 2.5rem 1.25rem;

                .card-text {
                    h2 {
                        font-size: $font-size-14 * 2;
                        line-height: 1;
                        margin-bottom: 1.25rem;

                        .shade-text-title {
                            font-size: $font-size-14 * 2;
                        }

                        .shade-text-subtitle {
                            font-size: $font-size-18;
                            top: -0.6em;
                        }
                    }

                    p {
                        padding-top: 0.625rem;
                    }
                }

                .card-footer {
                    width: auto;
                    height: auto;

                    .show-button {
                        font-size: $font-size-1;
                    }
                }
            }

            .block-2 {
                display: none;
            }
        }

        .step-2 {
            height: auto;

            .wrap {
                margin-top: 3.75rem;

                .picto-shadefinder {
                    top: 9.375rem;
                    right: 0;
                    bottom: auto;
                    left: auto;
                    z-index: 12;

                    .picto-shadefinder-img {
                        width: 6.25rem;
                    }
                }
            }

            hr {
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }

            .stage01 {
                .oval-circel {
                    transform: rotate(90deg);
                    left: 52%;
                    top: 2.3125rem;
                    right: auto;

                    hr {
                        width: 8.75rem;
                    }
                }

                img {
                    width: 18.75rem;
                    height: 18.75rem;
                    top: -6.25rem;
                    left: 50%;
                    margin-left: -9.375rem;
                }

                .card-text {
                    top: -8.75rem;
                    left: 2.75rem;
                }
            }

            .stage02 {
                height: 32.375rem;

                .card-img {
                    top: 14rem;
                }

                .card-text {
                    top: 13.4375rem;
                    left: 3.0625rem;
                }
            }

            .stage03 {
                height: 17.5rem;

                .block-product {
                    position: static;
                    right: auto;
                    top: -1.875rem;
                    left: 50%;
                    width: 19.0625rem;
                    height: 17.8125rem;
                    margin: 0 auto;

                    @include media-breakpoint-down(xs) {
                        position: relative;
                        left: 0;
                        top: 0;
                    }

                    ul {
                        display: inline-block;
                        padding-top: 1.5rem;
                        padding-left: 5.625rem;

                        .block-2 {
                            padding-left: 0;
                        }

                        @include media-breakpoint-down(xs) {
                            padding-top: 2.5rem;
                        }
                    }

                    .block-3 {
                        .stage02 {
                            z-index: 1;
                            padding-top: 1.5625rem;
                            padding-left: 4.375rem;
                        }
                    }
                }

                .card-circle-box {
                    top: -3.75rem;
                    left: 1.25rem;

                    @include media-breakpoint-down(xs) {
                        top: -4.5rem;
                    }
                }
            }
        }

        .step-3 {
            padding-right: 0;
            padding-bottom: 3.125rem;

            .card-footer {
                .show-button {
                    font-size: $font-size-1;
                    z-index: 2;
                }
            }

            a {
                width: 90%;
                margin: 0 auto;
                justify-content: center;
                position: static;
                margin-top: 1.25rem;
            }
        }

        .step-4 {
            padding-bottom: 0;
            flex-wrap: wrap-reverse;

            .block-1 {
                padding-top: 3.75rem;
            }

            .block-2 {
                h2 {
                    padding-bottom: 0.625rem;
                    padding-top: 0;
                    font-weight: 800;
                    text-transform: uppercase;
                }

                .card-img-mobile {
                    display: block;
                    width: 100%;
                    margin-bottom: 1.875rem;
                }

                .card-footer {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.landing-shade-finder {
    .step-2 {
        .wrap {
            .picto-shadefinder {

                @include media-breakpoint-down(lg) {
                    bottom: -1.875rem;
                    left: 13.25rem;
                    right: 4.375rem;
                }

                @include media-breakpoint-down(lg) {
                    width: 6.25rem;

                    .stage01 {
                        .oval-circel {
                            top: 11.25rem;
                        }
                    }

                    .stage02 {
                        .card-img {
                            top: 0;
                        }
                    }

                    .stage03 {
                        .card-circle-box {
                            left: 3.125rem;
                        }
                    }
                }
            }
        }
    }
}
