@import "../../../variables";
@import "../../../api/all";
@import "bootstrap/scss/mixins/breakpoints";

.customer-care-banner {
    position: relative;
    min-height: 12.5rem;
    background-position: center center;

    .customer-care-image {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .customer-care-info {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
        color: $white;
    }

    .customer-care-title {
        font-family: ff(secondary);
        font-size: $font-size--6;
        font-weight: $font-weight-normal;
        line-height: $line-height-base;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        margin-bottom: 0.875rem;
        padding-bottom: 0;
        color: $white;

        @include media-breakpoint-up(lg) {
            font-size: $font-size--2;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }
    }

    .customer-care-description {
        font-family: ff(base);
        font-size: $font-size-14;
        font-style: italic;
        line-height: $line-height-8;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-30;
        }
    }
}
