.font-family-base {
    font-family: $font-family-base !important;
}

.font-family-secondary {
    font-family: $font-family-secondary !important;
}

.font-weight-light {
    font-weight: $font-weight-light !important;
}

.font-weight-normal {
    font-weight: $font-weight-normal !important;
}

.font-weight-medium {
    font-weight: $font-weight-medium !important;
}

.font-weight-semi-bold {
    font-weight: $font-weight-semi-bold !important;
}

.font-weight-bold {
    font-weight: $font-weight-bold !important;
}

.font-weight-extra-bold {
    font-weight: $font-weight-extra-bold !important;
}

.font-style-normal {
    font-style: normal !important;
}
