@import "../variables";

@mixin swatch(
    $color: false,
    $size: $swatch-size,
    $border-radius: $swatch-border-radius,
    $selected-border-gap: $swatch-selected-border-gap) {
    border-radius: $border-radius;
    height: $size;
    width: $size;
    display: inline-block;

    @if $color {
        background: $color;
    }

    &::after {
        border-radius: $border-radius;
        height: $size + $selected-border-gap;
        width: $size + $selected-border-gap;
        left: ($selected-border-gap + ($swatch-border-width * 2)) / -2;
        top: ($selected-border-gap + ($swatch-border-width * 2)) / -2;
    }
}
