.product-line-item-details img.product-image {
    max-width: 150px;
}

.checkout-main {
    .shipping-form-action-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
