.not-found-header {
    margin-top: 1.7rem;
    margin-bottom: 1.4rem;
    font-family: $font-family-base;
    font-size: $font-size-18;
}

.not-found-message {
    font-size: $font-size-2;
    padding-bottom: 0.7rem;
}

.not-found-view-more {
    display: none;

    @include media-breakpoint-only(xl) {
        display: inline-block;
        max-width: 7.3125rem;
        padding: 0.825rem 0.75rem 0.7rem;
    }
}

.site-offline {
    img {
        max-width: 18rem;
        height: auto;
    }

    .maintenance-header {
        padding-top: 2rem;
        font-family: $font-family-base;
        font-weight: $font-weight-light;
        font-size: $font-size-9;
    }

    .maintenance-header-ae {
        font-family: $font-family-base;
        font-size: $font-size-9;
    }

    .maintenance-msg {
        padding-top: 3rem;
        font-weight: $font-weight-medium;
        font-size: $font-size-1;

        @include media-breakpoint-down(sm) {
            padding-top: 1rem;
        }
    }

    .maintenance-msg-ae {
        padding-bottom: 2rem;
        font-family: $font-weight-medium;
        font-size: $font-size-1;

        @include media-breakpoint-down(sm) {
            padding-bottom: 1rem;
        }
    }

    .maintenance-card {
        max-width: 21rem;
        margin: 0 auto;
        padding: 1rem;
        background-color: $grey1;
        border: none !important;

        @include media-breakpoint-down(sm) {
            padding: 0;
        }

        .maintenance-card-header {
            font-size: $font-size-base;
            font-weight: $font-weight-semi-bold;
            font-family: $font-family-base;
        }

        .maintenance-card-phone > i {
            padding-right: 0.3rem;
        }
    }

    .maintenance-social {
        padding-top: 2rem;
        margin: 2rem;

        @include media-breakpoint-down(sm) {
            padding-top: 0.5rem;
            margin: 1rem;
        }

        [class^="sc-icon-"]::before,
        [class*=" sc-icon-"]::before {
            color: $dove-gray !important;
        }
    }
}
