@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'mixins/swatch';
@import 'components/quantitySelector';
@import 'components/checkoutPaymentMethods';
@import "components/checkoutComponents";

.empty-bag-message {
    text-align: center;
    font-size: $font-size-16;
    font-weight: $font-weight-medium;
}

.cart-header-row {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    padding-bottom: 1.25rem;
}

.cart-product {
    margin-bottom: 1.875rem;
    padding-top: 1.5625rem;
    padding-bottom: 3.125rem;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-up(md) {
        padding-top: 0.9375rem;
        padding-bottom: 1.875rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 1.25rem;
        padding-bottom: 2.5rem;
    }
}

.cart-product-image {
    img {
        width: 100%;
        height: auto;
    }

    @include media-breakpoint-down(sm) {
        margin: 0 auto;
        max-width: 80%;
        margin-bottom: 1.5rem;
    }
}

.card-product-remove-desktop {
    .cart-product-dismiss {
        button i::before {
            background-color: transparent;
        }

        span {
            font-size: $font-size--4;
            font-weight: $font-weight-medium;
        }
    }
}

.cart-product-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    text-align: left;

    @include media-breakpoint-up(md) {
        margin-bottom: 1.1rem;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.6rem;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 1.5rem;
    }
}

.cart-product-details {
    margin-bottom: 0.625rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 0.9375rem;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.5625rem;
    }
}

.cart-product-name,
.cart-product-price-discounted {
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    letter-spacing: $font-ls--1;
    line-height: $font-lh--1;
    font-size: $font-size--2;
    margin-bottom: 0.9375rem;

    a {
        color: $primary;
    }

    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
        margin-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-4;
    }
}

.cart-product-price-discounted {
    font-weight: $font-weight-normal;
    font-family: $font-family-base;

    @include media-breakpoint-down(sm) {
        line-height: $font-lh--1;
        font-size: $font-size-base;
    }
}

.cart-product-attribute {
    font-family: $font-family-base;
    display: flex;
    color: $info-text;
    letter-spacing: 0.04em;
    line-height: $font-lh--1;

    .cart-product-attribute-title {
        margin-right: 1rem;
    }

    .cart-product-attribute-title,
    p {
        font-size: $font-size--2;

        @include media-breakpoint-up(md) {
            font-size: $font-size--2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-4;
        }
    }
}

.cart-product-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.2rem;

    @include media-breakpoint-up(lg) {
        justify-content: space-between;
        margin-top: 0.5rem;
    }

    span {
        display: none;
    }

    .add-to-wishlist-container {
        margin-right: 1.5rem;

        @include media-breakpoint-up(lg) {
            margin-right: 3rem;
        }
    }

    button,
    a {
        @include media-breakpoint-down(sm) {
            padding: 0.6rem;
        }

        margin: 0;
        border-bottom: solid 1px $border-color;
        border-top: solid 1px $border-color;
        padding: 0.3rem 0.4rem;

        @include media-breakpoint-up(lg) {
            padding: 0.5rem 0.6rem;
        }

        svg,
        i {
            width: 0.8125rem;
            min-height: 0.8125rem;
            min-width: auto;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            @include media-breakpoint-down(sm) {
                width: 1.3rem;
                min-height: 1.3rem;
            }

            @include media-breakpoint-up(lg) {
                width: 1rem;
                min-height: 1rem;
            }

            @include media-breakpoint-up(xl) {
                width: 1.625rem;
                min-height: 1.625rem;
            }

            &.icon-svg-pdp-wishlist {
                background-size: contain;

                @include media-breakpoint-up(lg) {
                    width: 1.25rem;
                }

                @include media-breakpoint-up(xl) {
                    width: 1.875rem;
                }
            }
        }
    }
}

.line-item-quantity {
    max-width: 13.4375rem;
}

.cart-menu-vertical {
    > div:first-child .cart-section-wrapper {
        border-top: 0.0625rem solid $border-color;
    }

    .cart-section-wrapper {
        border-bottom: 0.0625rem solid $border-color;
        cursor: pointer;
    }

    h3 {
        font-size: $font-size-3;
        font-weight: $font-weight-semi-bold;
        font-family: $font-family-base;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        position: relative;
        padding: #{$grid-gutter-width / 2} 0.4375rem #{$grid-gutter-width / 2} 0;
        margin-bottom: 0;
        user-select: none;

        .tab-icon {
            width: 3.125rem;

            &::before {
                font-size: $font-size-24;
            }
        }

        > i:not(.tab-icon) {
            margin-left: auto;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 0.875rem;
                height: 0.125rem;
            }

            &.sc-icon-plus {
                /* rtl:raw:
                    padding-left: 0.8125rem;
                */
            }

            &.sc-icon-minus {
                /* rtl:raw:
                    padding-left: 0.4125rem;
                */
            }
        }

        > .sc-icon-minus {
            display: none;
        }
    }

    ul {
        overflow: hidden;
        height: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;
        margin: 0;
        padding: 0;
        line-height: 2.2;

        li {
            padding: 0;
            list-style: none;
        }
    }

    .open {
        h3 {
            > .sc-icon-plus {
                display: none;
            }

            > .sc-icon-minus {
                display: block;
            }
        }

        ul {
            height: auto;
        }
    }
}

.cart-gift-wrapping {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: solid 1px $tide;

    p {
        margin: 0;
        font-size: $font-size--1;
        letter-spacing: 0;
        color: $info-text;
        line-height: 1.2;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }

    label {
        text-transform: uppercase;
    }

    .cart-gift-wrapping-header {
        text-align: center;

        img {
            margin-bottom: 3rem;
        }

        .cart-gift-wrapping-more-info-button {
            font-size: $font-size--1;
            margin: 1.25rem 0;
            display: inline-block;
            letter-spacing: $font-ls-10;

            @include media-breakpoint-up(md) {
                font-size: $font-size--2;
            }

            @include media-breakpoint-up(lg) {
                font-size: $font-size-2;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size-4;
            }

            i {
                top: 0.25rem;
                height: 1.1rem;
                margin-left: 0.8rem;
                display: none;

                &:first-child {
                    display: inline-block;
                }
            }

            &.active {
                i {
                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        display: inline-block;
                    }
                }
            }
        }

        .cart-gift-wrapping-more-info {
            font-size: $font-size--1;
            letter-spacing: $font-ls-8;
            color: $info-text;
            line-height: 1.2;

            @include media-breakpoint-up(md) {
                font-size: $font-size--2;
            }

            @include media-breakpoint-up(lg) {
                font-size: $font-size-2;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size-4;
            }
        }
    }

    .gift-wrapping-details {
        display: flex;
        margin-top: 3.5rem;
    }

    .gift-wrapping-text {
        .form-control-label {
            display: none;
        }
    }

    .gift-wrapping-check {
        label {
            padding: 0 0 0 1.4375rem;
            line-height: 1.5;
        }

        p {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.4;
        }
    }

    .gift-wrapping-description {
        text-align: center;
        text-transform: uppercase;
        font-weight: $font-weight-medium;
        font-size: $font-size-6;
        letter-spacing: 0;
        color: $info-text;
    }

    .gift-wrapping-text {
        textarea {
            border: 0.0625rem solid $border-color;
            resize: none;
            width: 100%;
            padding: 0.625rem;
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.6;
        }
    }
}

.next-step-box {
    background-color: $alabaster;
    padding: 1rem 1rem 0.5rem;

    @include media-breakpoint-up(md) {
        padding-top: 1.875rem;
    }

    @include media-breakpoint-up(xl) {
        margin-left: 1.75rem;
    }
}

.next-step-box-totals,
.sub-total {
    display: flex;
    font-family: $font-family-secondary;
    flex-direction: column;
    text-transform: uppercase;
    font-size: $font-size-4;
    color: $primary;

    @include media-breakpoint-up(md) {
        font-size: $font-size-2;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-6;
    }

    .totals-line:not(.hide-order-discount) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sub-total-label,
    .order-sub-total {
        width: 100%;
        letter-spacing: 0.07em;
        font-weight: $font-weight-semi-bold;
    }

    .totals-line-value {
        font-weight: $font-weight-semi-bold;
        font-family: $font-family-secondary;

        span {
            text-align: right;

            &:not(.hide-order-discount) {
                display: block;
            }

            &.line-through {
                font-size: $font-size-base;
                text-decoration: line-through;
                color: $dove-gray;
            }
        }
    }
}

.checkout-continue {
    max-width: 80%;
    margin: 0 auto;

    .btn {
        font-size: $font-size-2;
        width: 100%;
        background-color: $checkout-btn;
    }
}

.cart-free-shipping-wrapper {
    margin-top: 3rem;

    h3 {
        padding: 2rem 0;
        border-top: 0.0625rem solid $border-color;
        font-size: $font-size-3;
        font-weight: $font-weight-semi-bold;
        font-family: $font-family-base;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 2rem;
        background-color: $alabaster;
        margin-left: -1.5rem;
        margin-right: -1.5rem;

        h3 {
            border-top: none;
        }

        > div {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

.product-tile {
    .name-container {
        height: 4rem;
    }
}

.promo-wrapper {
    margin: 0.9375rem 0.25rem 1.5625rem;

    @include media-breakpoint-up(md) {
        margin: 2rem 0.25rem 2.1875rem;
    }

    @include media-breakpoint-up(lg) {
        margin: 2.6875rem 0.5rem 2.8125rem;
    }

    @include media-breakpoint-up(xl) {
        margin: 3.5625rem 0.5rem 3.75rem;
    }

    padding-bottom: 0.3125rem;

    p {
        margin: 0;
    }

    .promo-wrapper-label {
        font-size: $font-size--2;
        text-align: center;
        letter-spacing: $font-ls-3;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: $font-size--2;
            margin-bottom: 0.625rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
            margin-bottom: 1.25rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
            margin-bottom: 2rem;
        }
    }
}

.promo-applied-label {
    color: $japaneseLaurel;
    font-weight: $font-weight-medium;
}

.coupon-error {
    padding-top: 0.3125rem;
}

.coupon-error-message,
.coupon-missing-error {
    color: $tabasco;
    font-weight: $font-weight-medium;
}

.coupon-missing-error {
    display: none;
}

.coupon-code-field.is-invalid {
    border-color: $border-color;

    &:focus {
        box-shadow: none;
        border-color: $border-color;
    }
}

.cart-bonus-product-no-price {
    font-family: $font-family-secondary;
    font-size: $font-size-6;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
        padding-top: 1rem;
    }
}

.cart-product-price-main {
    display: none;
    font-size: $font-size--2;
    font-weight: $font-weight-semi-bold;
    font-family: $font-family-secondary;

    .price {
        .strike-through {
            display: none;
        }
    }
}

.free-samples-carousel {
    padding-bottom: 1.25rem;

    .product-tile {
        text-transform: none;
        padding-bottom: 0.625rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .image-container {
        @include media-breakpoint-up(xl) {
            min-height: 6.0625rem;
        }
    }

    .product-image {
        margin: 0 auto;
        max-height: 6.0625rem;
    }

    .tile-body {
        padding-bottom: 0.5rem;

        .name-container {
            line-height: 1.4;
            height: 3.125rem;

            @include media-breakpoint-up(sm) {
                padding: 0 0.625rem;
            }
        }

        .description-container {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.5;

            @include media-breakpoint-up(sm) {
                height: 3.4rem;
            }
        }
    }

    .button-container {
        i {
            display: none;
        }

        .selected {
            i {
                display: inline-block;
                margin-right: 0.125rem;
                position: relative;
                top: -0.125rem;

                &::before {
                    font-size: 0.625rem;
                }
            }
        }

        .free-sample-select {
            &:hover {
                background-color: $midnight;
                border-color: $midnight;
            }

            &.selected {
                background-color: $midnight;
                border-color: $midnight;
            }
        }
    }

    .product {
        @include media-breakpoint-down(xs) {
            width: 100%;
            margin: 0 0 1.875rem !important;

            .product-tile {
                text-align: left;
                position: relative;
            }

            .product-content {
                flex-grow: 1;
                padding: 0 0.2rem;
            }

            .image-container {
                min-height: 0;
                overflow: initial;
            }

            .tile-body {
                padding-bottom: 0;

                .name-container {
                    height: auto;
                }
            }

            .button-container {
                .btn {
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }
    }
}

// Quantity Selector Styles - start

.attributes-container {
    display: flex;
    margin-top: auto;

    > div {
        flex: 1;
        padding: 0 0.5rem;
        position: relative;
        max-width: 50%;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .swatches {
        align-self: flex-start;
    }

    .swatches {
        background: $white;
        border-bottom: 0.0625rem solid $border-color;
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        .swatch-circle {
            width: 1rem;
            height: 1rem;
        }
    }
}

.product-info {
    background-color: $white;
    position: relative;

    .btn-select {
        font-size: $font-size--2;
        font-weight: $font-weight-semi-bold;

        .swatch-circle {
            @include swatch($white);

            margin-right: 0.625rem;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: $font-size--2;
            font-weight: $font-weight-semi-bold;
            padding-top: 0.657rem;
            padding-bottom: 0.657rem;
        }
    }

    .attribute-color .btn-select {
        padding-top: 0.469rem;
        padding-bottom: 0.469rem;
    }

    .attribute {
        .filter-option-inner-inner,
        .dropdown-item .text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small.text-muted {
                color: $secondary !important;
                font-size: $font-size--2;
                font-weight: $font-weight-medium;
            }
        }

        .dropdown-item.disabled:not(.active) {
            small.text-muted {
                color: $border-color !important;
            }
        }
    }

    .swatches {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0 0.425rem;
        height: 0;
        opacity: 0;
        transition: height $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;

        > a {
            display: inline-block;
        }

        .swatch-circle {
            @include swatch($white, 2rem);

            margin: 0.45rem;
        }

        [disabled],
        .swatch-circle.unselectable {
            cursor: default;
            pointer-events: none;
            opacity: 0.2;
        }
    }

    .open {
        .swatches {
            height: auto;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            opacity: 1;
        }
    }
}

.product-carousel-ternary.product-carousel-mobile {
    .slick-track,
    .slick-list {
        /* rtl:ignore */
        direction: ltr;
    }

    .slick-track {
        white-space: nowrap;

        .slick-slide {
            display: inline-block;
        }
    }

    .product-tile {
        .image-container {
            width: auto;

            .tile-image {
                width: auto;
                max-height: 80%;
                margin-top: 2rem;
            }
        }
    }

    .slick-arrow {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        transition: $animation-default;
        z-index: 2;

        @include media-breakpoint-up(lg) {
            width: 2.5rem;
            height: 2.5rem;
        }

        &::after,
        &::before {
            display: none;
        }

        &.slick-disabled {
            cursor: default;

            &::after,
            &::before {
                opacity: 0.25;
            }
        }

        .sc-icon-arrow-next,
        .sc-icon-arrow-prev {
            transform: none;

            ::before,
            ::after {
                @include media-breakpoint-down(sm) {
                    width: 0.75rem;
                }
            }
        }
    }

    .slick-prev {
        /* rtl:begin:ignore */
        transform: rotate(-90deg);
        left: -2rem;
        right: auto;

        /* rtl:end:ignore */

        @include media-breakpoint-down(sm) {
            left: -1rem;
        }

        @include media-breakpoint-up(lg) {
            /* rtl:ignore */
            left: -3rem;
        }

        &:hover {
            transform: scale(0.95) rotate(-90deg);

            /* rtl:raw:
                transform: scale(0.95) rotate(-90deg);
            */
        }
    }

    .slick-next {
        /* rtl:begin:ignore */
        transform: rotate(90deg);
        right: -2rem;
        left: auto;

        /* rtl:end:ignore */

        @include media-breakpoint-down(sm) {
            right: -1rem;
        }

        @include media-breakpoint-up(lg) {
            /* rtl:ignore */
            right: -3rem;
        }

        &:hover {
            transform: scale(0.95) rotate(90deg);

            /* rtl:raw:
                transform: scale(0.95) rotate(90deg);
            */
        }
    }
}

.quantity-form {
    .custom-select {
        width: 9.375rem;
        height: 2.8125rem;
        padding: 0;

        @include media-breakpoint-up(md) {
            width: 8.75rem;
            height: 2.5rem;
        }
        @include media-breakpoint-up(lg) {
            height: 3.4375rem;
        }
        @include media-breakpoint-up(xl) {
            width: 10.625rem;
            height: 4.0625rem;
        }
    }

    .quantity-selector {
        @include media-breakpoint-down(lg) {
            margin-top: 0;
        }
    }
}

// Show Coupons

.coupons-and-promos {
    margin-top: 0.625rem;
    display: flex;
}

.coupon-price-adjustment {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    background-color: $gallery;
    text-align: left;
    padding: 0.275rem 2.775rem 0.275rem 0.75rem;
    margin-right: 0.3125rem;
}

.remove-coupon {
    position: absolute;
    background: transparent;
    border: none;
    right: 0.3125rem;
    top: 0.2125rem;

    i {
        &::before,
        &::after {
            background-color: $tamarillo;
            width: 0.8625rem;
        }
    }
}

.mobile-next-step {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: $white;
    padding: 1rem;
}

[data-action="Cart-Show"] {
    footer {
        @include media-breakpoint-down(sm) {
            margin-bottom: 4rem;
        }
    }
}

.cart-sticky-content-section {
    margin: 1.25rem 0;
    padding-top: 1.25rem;
    border-top: 1px solid $border-color;
    text-transform: uppercase;
    text-align: center;
    overflow-wrap: break-word;
    font-size: $font-size-2;

    strong {
        font-size: $font-size-4;
    }

    p {
        color: $primary;
    }
}

.cart-page-wrapper {
    .cart-product-list {
        margin-bottom: 2rem;
    }

    @include media-breakpoint-only(md) {
        .col-md-7 {
            flex: 0 0 65%;
            max-width: 65%;
        }

        .col-md-5 {
            flex: 0 0 35%;
            max-width: 35%;
        }
    }
}
