@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import '../../default/scss/mixins/swatch';
@import '../../default/scss/utilities/swatch';
@import '~base/components/categoryTiles';

$product-grid-gap: 0.25rem !default;
$product-grid-gap--large: $product-grid-gap !default;
$product-grid-gap-row: 0.25rem !default;
$product-grid-gap-row--large: $product-grid-gap-row !default;
$product-grid-columns: 2 !default;
$product-grid-columns--large: 4 !default;
$product-grid-large-columns: 1 !default;
$product-grid-large-columns--large: 2 !default;

@mixin lora-helper-product-grid-columns(
    $columns,
    $columns-large
) {
    @supports (display: grid) {
        grid-template-columns: repeat($columns, 1fr);
    }

    @include media-breakpoint-up(lg) {
        @supports (display: grid) {
            grid-template-columns: repeat($columns-large, 1fr);
        }
    }
}

@mixin lora-helper-product-grid-gap(
    $grid-gap,
    $grid-gap-large,
    $grid-gap-row,
    $grid-gap-row-large
) {
    @supports (display: grid) {
        grid-gap: $grid-gap-row $grid-gap;
    }

    @include media-breakpoint-up(lg) {
        @supports (display: grid) {
            grid-gap: $grid-gap-row-large $grid-gap-large;
        }
    }

    .product-tile-wrapper {
        @supports (display: grid) {
            margin: 0;
            padding: 0;
        }

        @include media-breakpoint-up(lg) {
            @supports (display: grid) {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.product-grid-wrapper {
    position: relative;
    padding: 0;
    min-height: 34.375rem;
    overflow-x: hidden;
    margin-top: 1rem;
}

.product-grid {
    @supports (display: grid) {
        align-items: stretch;
        display: grid;

        /* autoprefixer: ignore next */
        grid-auto-flow: row dense;
    }
    @include lora-helper-product-grid-columns($product-grid-columns, $product-grid-columns--large);
    @include lora-helper-product-grid-gap($product-grid-gap, $product-grid-gap--large, $product-grid-gap-row, $product-grid-gap-row--large);

    margin: 0;
    padding: 0;

    &.open {
        @include lora-helper-product-grid-columns($product-grid-large-columns, $product-grid-large-columns--large);

        .plp-slot-wrapper {
            @include media-breakpoint-up(lg) {
                @supports (display: grid) {
                    grid-row: span 1;
                    grid-column: span 1;
                }
            }
        }
    }

    .product-tile-wrapper {
        @supports (display: grid) {
            display: block;
            min-width: 0;
            width: auto;
            max-width: 100%;
        }

        @include media-breakpoint-up(lg) {
            @supports (display: grid) {
                width: auto;
                max-width: 100%;
            }
        }
    }

    .plp-slot-wrapper {
        @supports (display: grid) {
            grid-row: span 1;
            grid-column: span 2;
        }

        @include media-breakpoint-up(lg) {
            @supports (display: grid) {
                grid-row: span 2;
                grid-column: span 2;
            }
        }
    }

    .plp-grid-wrapper {
        padding: 0;
    }

    .plp-slot-image {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.grid-footer {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 0;

    @supports (display: grid) {
        grid-column: 1 / -1;
    }

    @include media-breakpoint-up(lg) {
        margin: 3.75rem 0 0;
    }
}

.grid-header,
.content-grid-header {
    padding: 0.5rem 0;
    min-height: 2.625rem;
    align-items: center;
    border-top: 0.0625rem solid $grey2;
    border-bottom: 0.0625rem solid $grey2;
    margin-top: 0.125rem;

    .col-form-label {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        margin-right: 0.875rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .custom-select,
    .bootstrap-select.custom-select {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        height: 2.625rem;

        @include media-breakpoint-up(lg) {
            height: calc(2rem + 1px) !important;
            width: 11.25rem !important;
        }

        .custom-select {
            width: 0.5px !important;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: $font-size--2;
            font-weight: $font-weight-medium;
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
        }

        .dropdown-item {
            padding: 0.5rem 0.75rem;
        }
    }
}

.show-more {
    text-align: center;
    padding: 0.3125rem 0;
}

.show-more-description {
    font-size: $font-size-base;
    color: $dark-grey;
    margin-bottom: 0.9375rem;
}

.show-more-bar {
    width: 12.5rem;
    height: 0.125rem;
    margin: 0 auto 1.25rem;
}

.show-more-progress {
    appearance: none;
    background-color: $light-grey;
    border: none;
    color: $black;
    display: block;
    height: 100%;
    width: 100%;

    &[value]::-webkit-progress-bar {
        background-color: $light-grey;
    }

    &[value]::-moz-progress-bar {
        background-color: $black;
    }

    &[value]::-webkit-progress-value {
        background-color: $black;
    }
}

.show-more-button {
    min-width: 17rem;
}

.category-item {
    margin-bottom: 0.938rem;
}

.search-nav {
    margin-bottom: 1em;
    border-bottom: 0.063em solid $grey3;

    .nav-tabs-wrapper {
        padding: 0;

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        .nav-tabs {
            border-bottom: 0 none;
        }
    }

    .nav-link:focus {
        background-color: $grey1;
    }
}

.product-options .quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.grid-title {
    font-family: $font-family-secondary;
    font-size: $font-size-6;
    font-weight: normal;
    margin-bottom: 1.5rem;
    align-self: center;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(lg) {
        font-family: $font-family-base;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        margin-bottom: 0;
        text-align: left;
        text-transform: uppercase;
    }
}

.grid-header-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.grid-view-container {
    display: flex;
    padding-right: 0.5rem;

    @include media-breakpoint-up(lg) {
        padding: 0 0.75rem;
    }
}

.grid-view-item {
    color: $dark-grey;
    display: flex;
    cursor: pointer;
    padding: 0 0.5rem;
    margin: 0 0 0 0.4rem;
    top: 0;

    &.active {
        color: $black;
        display: none;
    }
}

.search-results {
    position: relative;
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 3.75rem;
    }

    .container-fluid {
        @include media-breakpoint-up(xl) {
            max-width: map-get($container-max-widths, "xxl");
        }
    }

    .breadcrumb-container {
        justify-content: flex-start;
        padding: 0;

        .btn-go-back,
        .breadcrumb {
            margin: 0;
            max-width: none;
            padding: 0;
            background: transparent;
            float: left;
        }

        .btn-go-back,
        .breadcrumb-separator,
        .breadcrumb-go-back-wrapper {
            display: none !important;
        }

        .breadcrumb-item {
            font-size: $font-size--2;
            letter-spacing: $font-ls-6;

            @include media-breakpoint-up(lg) {
                font-size: $font-size-base;
            }
        }

        .breadcrumb-link {
            font-size: $font-size--2;
            letter-spacing: $font-ls-6;
            padding: 0 0.4125rem;
            position: relative;
            display: none;

            @include media-breakpoint-up(lg) {
                display: inline-block;
                font-size: $font-size-base;
            }

            &:first-child {
                padding-left: 0;
            }

            &::after {
                border-right: solid 1px $grey9;
                position: absolute;
                width: 0.0625rem;
                content: '';
                top: 0.175rem;
                right: 0;
                height: 60%;
            }
        }

        .breadcrumb-item-last {
            color: $dark-grey;
            cursor: pointer;
        }

        .breadcrumb-item {
            cursor: pointer;

            + .breadcrumb-item {
                &::before {
                    display: none;
                }
            }
        }
    }

    .breadcrumb-view-more {
        display: inline-block;
        vertical-align: middle;
        margin: -0.1875rem 0 0.1875rem 0.25rem;
        transform: rotate(90deg);

        &.active {
            &::before {
                margin-top: -0.2375rem;
                transform: rotate(180deg);

                /* rtl:raw:
                    transform: rotate(-270deg);
                */
            }
        }

        &::before {
            font-size: $font-size--3;
            display: inline-block;
            vertical-align: middle;
            margin: -0.2rem 0 0 0.25rem;

            /* rtl:raw:
                transform: rotate(-180deg);
            */
        }
    }
}

.btn-refine-by,
.btn-sort-by {
    border-left: 0.0625rem solid $grey2;
}

.btn-sort-by {
    display: flex;
    padding-right: 0;
    justify-content: flex-end;

    button.btn-overlay {
        background: transparent;
        opacity: 1;
    }

    .filter-option-inner-inner {
        @include media-breakpoint-down(md) {
            opacity: 0;
        }
    }
}

.btn-refine-by {
    button.btn-overlay {
        background: $white;
    }
}

.btn-refine-by {
    display: flex;
    padding-left: 0;
    position: relative;
}

.btn-sort-by-btn,
.btn-refine-by-btn {
    border: none;
    padding: 0.3125rem 1.5rem;
    height: 2rem;
    color: $dark-grey;
    text-transform: uppercase;
    letter-spacing: $font-ls-7;
    font-family: $font-family-base;
    font-size: $font-size--2;
    top: 0;
    width: auto;
    background-position: 50% 50%;
    margin-right: 0;

    @include media-breakpoint-up(lg) {
        background-position: 0 50%;
    }

    @include media-breakpoint-up(lg) {
        padding: 0.3125rem 1rem 0.3125rem 1.75rem;
        margin-left: 1.2rem;
    }

    &:focus {
        outline: none;
    }

    &::before {
        font-size: $font-size-1;
        vertical-align: middle;
        margin: 0;

        @include media-breakpoint-up(lg) {
            margin: 0 0.3125rem 0.125rem 0;
        }
    }

    &.active {
        color: $black;
    }
}

.btn-sort-by-btn {
    &::before {
        font-size: $font-size-3;
    }
}

.btn-refine-by-btn {
    color: $dark-grey;
    margin-right: 0;
    padding: 0 1.8rem;

    @include media-breakpoint-up(lg) {
        padding-right: 0;
    }

    &::before {
        font-size: $font-size-6;
    }
}

.refinement-header {
    font-size: $font-size--2;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.refinement {
    border: 0;
    border-radius: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    .card-header {
        font-size: $font-size-base;
        font-family: $font-family-secondary;
        border-radius: 0;
        border-bottom: 0.0625rem solid $light-grey;
        padding: 0 0 0.3125rem;
        margin: 0 0 0.5rem;
        position: relative;
        text-transform: uppercase;
        color: $black;
    }
}

.refinement-color {
    .color-attribute {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.25rem;
        height: 2rem;
        padding-left: 0;
    }
}

.sort-modal,
.refinement-bar {
    display: none;

    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0.9375rem;
        top: 100%;
        background: $white;
        width: 16.875rem;
        z-index: 5;
        margin-top: 0.5rem;
        padding: 0.625rem 1.25rem 1.25rem;
        box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.3);

        /* rtl:raw:
            right: auto;
        */
    }

    &.open {
        display: block !important;
    }

    .mobile-modal-header {
        padding: 0.9375rem 0;

        .mobile-modal-title {
            font-family: $font-family-secondary;
            text-transform: uppercase;
            font-size: $font-size-2;
            color: $black;
        }

        .btn-close {
            top: 0.5rem;

            &:hover {
                background: none;
            }
        }
    }

    .mobile-modal-footer {
        > .btn {
            font-family: $font-family-base;
            font-weight: $font-weight-normal;
            letter-spacing: $font-ls-5;
            margin: 1.25rem auto 0;
        }

        .btn--tertiary {
            color: $grey12;
            border-color: $grey12;
        }
    }

    .card-body {
        margin: 0;
        padding: 0;
        font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: $font-lh--5;
        letter-spacing: $font-ls-4;
        text-transform: uppercase;
        color: $black;

        .values {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li:not(.color-attribute) {
            margin-bottom: 0.125rem;
        }

        .color-attribute {
            margin-bottom: 0.25rem;

            &:last-child {
                margin-bottom: 0;
            }

            .swatch-circle {
                border: none;
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 0;
                position: relative;
                margin-right: 0.5625rem;

                &::after {
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 0;
                    border-bottom: 1.25rem solid rgba(255, 255, 255, 0.4);
                    border-left: 1.25rem solid transparent;
                }
            }
        }
    }

    .radio-button-link {
        color: $black;
        position: relative;
        padding-right: 1.25rem;
        transition: $animation-default;

        [dir="rtl"] & {
            padding-right: 0;
        }

        &.selected {
            font-family: $font-family-secondary;

            &:hover {
                color: $black;
            }

            .icon-checked {
                opacity: 1;
            }
        }

        .icon-checked {
            position: absolute;
            opacity: 0;
            right: 0;

            /* rtl:raw:
                right: auto;
            */

            &::before {
                font-size: $font-size--2;
            }
        }
    }
}

.refinement-bar {
    @include media-breakpoint-up(lg) {
        display: block;
        box-shadow: none;
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        margin-top: 0;
        margin-right: 0;
        padding: 2.5rem 1.25rem 1.25rem;
        width: 24.25rem;
        overflow-y: auto;
        -webkit-animation: 500ms both slide-right-out;
        animation: 500ms both slide-right-out;
    }

    &.open {
        -webkit-animation: 500ms both slide-left-in;
        animation: 500ms both slide-left-in;
    }

    .refinement {
        margin-bottom: 3.125rem;
    }
}

.refinement-bar-overlay {
    @include media-breakpoint-up(lg) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba($very-light-grey, 0.7);
        width: 100%;
        z-index: 4;
        animation: 500ms both fade-out;
        -webkit-animation: 500ms both fade-out;
    }

    &.open {
        animation: 500ms both fade-in;
        -webkit-animation: 500ms both fade-in;
    }
}

.sort-modal {
    .mobile-modal-header {
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.plp-title {
    font-family: $font-family-base;
    font-size: $font-size-10;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    text-transform: uppercase;
    text-align: center;

    @include media-breakpoint-up(lg) {
        margin-top: 1.5rem;
        font-size: $font-size-18;
    }
}

.plp-description {
    font-weight: $font-weight-medium;
    font-size: $font-size--2;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 0;
    text-align: center;
}

.plp-slot-wrapper {
    position: relative;

    .plp-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        margin: 0;
    }
}

.search-noresults {
    padding-top: 2rem;

    .breadcrumb-container {
        @include media-breakpoint-up(md) {
            padding: 1.25rem 0 2.125rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 1.75rem 0 2.8125rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 2.3125rem 0 3.75rem;
        }

        .breadcrumb {
            font-size: $font-size--3;

            @include media-breakpoint-up(md) {
                font-size: $font-size--1;
            }

            a {
                font-size: $font-size--3;

                @include media-breakpoint-up(md) {
                    font-size: $font-size--1;
                }
            }
        }
    }
}

.search-results-title {
    font-family: $font-family-tertiary;
    font-weight: $font-weight-normal;
    font-size: $font-size-2;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-top: 2.8125rem;
        margin-bottom: 1.4375rem;
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 3.75rem;
        margin-bottom: 1.5625rem;
        font-size: $font-size-8;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 4.6875rem;
        margin-bottom: 1.5625rem;
        font-size: $font-size-10;
    }
}

.search-results-subtitle {
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    font-size: $font-size-18;
    letter-spacing: $font-ls--1;
    color: $primary;
    margin: 0;

    @include media-breakpoint-up(md) {
        font-size: $font-size-24;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-36;
    }
}

.search-results-suggestions {
    font-family: $font-family-base;
    font-size: $font-size--8;
    margin: 0 auto 3.4375rem;
    max-width: 18.4375rem;
    text-align: center;
    color: $info-text;
    line-height: $font-lh--1;
    padding: 0;

    @include media-breakpoint-up(md) {
        margin-bottom: 4.0625rem;
        font-size: $font-size-2;
        max-width: 37.375rem;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 4.6875rem;
        max-width: 49.25rem;
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 6.25rem;
        max-width: 64.5625rem;
        font-size: $font-size-6;
    }

    h2 {
        font-family: $font-family-base;
        font-size: $font-size--1;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }

    ul {
        margin: 0;

        li {
            position: relative;

            a {
                color: $info-text;
                text-decoration: none;
                border-bottom: 0.0625rem solid;

                &:hover {
                    text-decoration: none;
                }
            }

            &:not(:last-child) a {
                &::after {
                    content: ',';
                    position: absolute;
                    right: -0.188rem;
                    top: 0;
                }
            }
        }
    }
}

.product-carousel-items.no-srp-prods {
    display: flex;
    justify-content: flex-start;

    > .product {
        @include media-breakpoint-up(lg) {
            width: 30.58%;
        }
    }
}

.search-results-wrapper {
    clear: both;
}
