@import "../../../variables";
@import "bootstrap/scss/variables";

.accordion-component {
    p {
        display: flex;
        font-size: $font-size-3;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 1rem;
        padding-bottom: 0.8rem;

        i {
            margin-left: auto;

            &::before {
                font-size: $font-size-4;
            }
        }

        .icon-minus {
            display: none;
        }

        .icon-plus {
            display: block;
        }
    }

    .row > div p {
        border-bottom: 0.0625rem solid $alto;
    }

    .accordion-content {
        font-size: $font-size-1;
        height: 0;
        overflow: hidden;

        h5 {
            text-transform: uppercase;
            font-size: $font-size-2;
            font-weight: $font-weight-normal;
            margin: 1rem 0;
        }

        p {
            padding-bottom: 0.5rem;
            font-size: $font-size-2;
        }
    }

    .open {
        &:not(:last-child) .accordion-content {
            border-bottom: 0.0625rem solid $alto;
        }

        p {
            border-bottom: 0 !important;

            .icon-minus {
                display: block;
            }

            .icon-plus {
                display: none;
            }
        }

        .accordion-content {
            height: auto;
            padding-bottom: 1rem;
        }
    }
}

.page-menu-vertical {
    text-transform: uppercase;
    border: 0.0625rem solid $tertiary;
    padding: 1rem;

    ul li {
        &:not(:last-child) a {
            padding-bottom: 1.5rem;
        }

        a {
            font-size: $font-size-2;
            display: block;
        }
    }

    .active-page a {
        font-weight: $font-weight-demi-bold;
    }
}
