body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Muli";
    src: url("../fonts/muli-extralight-webfont.eot");
    src:
        url("../fonts/muli-extralight-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/muli-extralight-webfont.woff2") format("woff2"),
        url("../fonts/muli-extralight-webfont.woff") format("woff"),
        url("../fonts/muli-extralight-webfont.ttf") format("truetype"),
        url("../fonts/muli-extralight-webfont.svg#muli_extralightregular") format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("../fonts/muli-light-webfont.eot");
    src:
        url("../fonts/muli-light-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/muli-light-webfont.woff2") format("woff2"),
        url("../fonts/muli-light-webfont.woff") format("woff"),
        url("../fonts/muli-light-webfont.ttf") format("truetype"),
        url("../fonts/muli-light-webfont.svg#muli_lightregular") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("../fonts/muli-regular-webfont.eot");
    src:
        url("../fonts/muli-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/muli-regular-webfont.woff2") format("woff2"),
        url("../fonts/muli-regular-webfont.woff") format("woff"),
        url("../fonts/muli-regular-webfont.ttf") format("truetype"),
        url("../fonts/muli-regular-webfont.svg#muliregular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("../fonts/muli-semibold-webfont.eot");
    src:
        url("../fonts/muli-semibold-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/muli-semibold-webfont.woff2") format("woff2"),
        url("../fonts/muli-semibold-webfont.woff") format("woff"),
        url("../fonts/muli-semibold-webfont.ttf") format("truetype"),
        url("../fonts/muli-semibold-webfont.svg#muli_semiboldregular")
        format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("../fonts/muli-bold-webfont.eot");
    src:
        url("../fonts/muli-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/muli-bold-webfont.woff2") format("woff2"),
        url("../fonts/muli-bold-webfont.woff") format("woff"),
        url("../fonts/muli-bold-webfont.ttf") format("truetype"),
        url("../fonts/muli-bold-webfont.svg#mulibold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("../fonts/muli-black-webfont.eot");
    src:
        url("../fonts/muli-black-webfont.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/muli-black-webfont.woff2") format("woff2"),
        url("../fonts/muli-black-webfont.woff") format("woff"),
        url("../fonts/muli-black-webfont.ttf") format("truetype"),
        url("../fonts/muli-black-webfont.svg#muli_blackregular") format("svg");
    font-weight: 800;
    font-style: normal;
}
