@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";

.home-section-title {
    font-size: $font-size-10;
    font-weight: $font-weight-extra-bold;
    margin-bottom: 1.875rem;
    text-align: center;
    text-transform: uppercase;

    &::after {
        content: "";
        display: block;
        width: 7.125rem;
        border-bottom: 0.25rem solid $black;
        margin: 0 auto;
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 1.125rem;
    }
}

.home-main-carousel {
    position: relative;

    @include media-breakpoint-up(xl) {
        margin-top: 2.6875rem;
    }

    .banner-carousel {
        max-width: 100%;
        margin-bottom: 0;
    }

    .slick-prev,
    .slick-next {
        visibility: visible;

        &:focus {
            outline: none !important;
        }
    }

    .slick-dots {
        li {
            width: 0.875rem;
            height: 0.875rem;
        }
        @include media-breakpoint-up(sm) {
            display: none !important;
        }
    }
}

.home-trending-carousel {
    background-color: $black;
    padding-top: 4.375rem;
    padding-bottom: 2.25rem;

    @include media-breakpoint-down(lg) {
        padding-top: 1.875rem;
        padding-bottom: 1.25rem;
        overflow: hidden;
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 0;
    }

    .product {
        .product-tile {
            .name-container {
                @include media-breakpoint-down(xs) {
                    height: 3.25rem;
                }

                .pdp-link {
                    line-height: 1.43;

                    a {
                        color: $white;
                    }
                }
            }

            .price-container {
                .strike-through {
                    .value {
                        color: $white;
                    }
                }
            }
        }
    }

    .home-section-title {
        color: $white;

        &::after {
            border-bottom: 0.25rem solid $white;
        }
    }
}

.home-trending-carousel-white {
    background-color: $white;

    .product {
        .product-tile {
            .name-container {
                color: $black;

                .pdp-link {
                    color: $black;

                    a {
                        color: $black;
                    }
                }
            }

            .price-container {
                .strike-through {
                    .value {
                        color: $black;
                    }
                }
            }
        }
    }

    .home-section-title {
        color: $black;

        &::after {
            border-bottom: 0.25rem solid $black;
        }
    }
}

.home-subscribe-section {
    margin-top: 2.8125rem;
    padding-top: 1.5rem;
    padding-bottom: 3.75rem;

    @include media-breakpoint-up(sm) {
        margin-top: 4.5rem;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .concierge-picture {
        .concierge-picture-img {
            max-width: 100%;
        }
    }

    .form-background {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1.25rem;

        @include media-breakpoint-up(xl) {
            padding: 2.5rem;
        }
    }

    .fullwidth-newsletter-section {
        .form-background {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 1.25rem;

            @include media-breakpoint-up(sm) {
                padding: 3rem 2rem;
            }
        }
    }

    .concierge-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0.625rem;
        margin-top: 1.875rem;

        @include media-breakpoint-down(sm) {
            margin-top: 1.25rem;
        }
    }

    .concierge-link {
        &:hover {
            text-decoration: none;
        }
    }

    .concierge-text {
        text-align: center;
        font-size: 16px;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        @include media-breakpoint-down(md) {
            margin-bottom: 1.875rem;
        }
    }

    .footer-newsletter {
        background: $white;
        border: 0.0625rem solid $grey1;
        box-shadow: 0 0 0.75rem 0 rgba($black, 0.15);
        padding: 2rem;
        max-width: 26rem;

        @include media-breakpoint-down(sm) {
            max-width: 100%;
            margin-bottom: 1.875rem;
        }

        .footer-newsletter-title {
            font-size: $font-size-6;
            font-weight: $font-weight-extra-bold;

            @include media-breakpoint-down(sm) {
                font-size: $font-size-2;
            }
        }

        .footer-newsletter-subtitle {
            font-size: $font-size-2;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .footer-newsletter-label {
            font-weight: $font-weight-semi-bold;
            margin-bottom: 0.25rem;
        }

        .footer-newsletter-input {
            input {
                border-radius: 0.125rem;
                border: 0.0625rem solid $tertiary;
                padding: 0.75rem;
                line-height: normal;

                &::placeholder {
                    color: $boulder;
                }
            }

            .footer-newsletter-btn {
                font-size: $font-size-2;
                font-weight: $font-weight-extra-bold;
                background-color: $primary;
                width: 100%;
                height: 3rem;
                border: none;
                text-transform: uppercase;

                @include media-breakpoint-down(sm) {
                    width: 10rem;
                }
            }
        }
    }

    .feedback-wrapper {
        height: 1.625rem;

        .invalid-feedback {
            margin: 0;
        }
    }
}

.home-trending-static {
    padding-top: 1.875rem;
    padding-bottom: 4.5rem;

    @include media-breakpoint-down(lg) {
        padding-bottom: 2.5rem;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 0;
    }

    a {
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .trending-category-image {
        position: relative;

        img {
            width: 100%;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: $font-size-18;
            font-weight: $font-weight-extra-bold;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                font-size: $font-size-10;
            }
        }
    }

    .trending-category-text {
        background: $black;
        color: $white;
        font-size: $font-size-6;
        font-weight: $font-weight-extra-bold;
        height: 4.5625rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            height: 2rem;
            font-size: $font-size-2;
            font-weight: $font-weight-semi-bold;
        }
    }
}

.home-video-section {
    .home-video-background {
        position: relative;
        background-size: cover;
        padding-top: 3.8125rem;
        padding-bottom: 3.8125rem;
        max-width: 62rem;
        margin: 0 auto;
        z-index: 1;

        @include media-breakpoint-down(lg) {
            padding-top: 2.625rem;
            padding-bottom: 2.625rem;
        }

        &::after {
            content: "";
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .home-video-title {
            position: absolute;
            top: 4rem;
            color: $white;
            font-size: $font-size-14;
            font-weight: $font-weight-extra-bold;
            text-align: center;
            text-transform: capitalize;
            max-width: 80%;
            z-index: 2;

            @include media-breakpoint-down(sm) {
                top: 1.5rem;
                font-size: $font-size-base;
            }
        }

        .home-video-player {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .home-video-player-thumbnail {
                position: absolute;
                width: 75%;
                height: 27rem;
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-down(sm) {
                    width: calc(100% - 3.25rem);
                    height: 11.375rem;
                }

                .chevron-right-arrow-btn {
                    position: relative;
                    width: 6.25rem;
                    height: 6.25rem;
                    border: 0.125rem solid $white;
                    border-radius: 50%;
                    cursor: pointer;

                    @include media-breakpoint-down(sm) {
                        width: 3rem;
                        height: 3rem;
                    }

                    .chevron-right-arrow {
                        border-style: solid;
                        border-width: 0.625rem 0 0.625rem 1.25rem;
                        border-color: transparent transparent transparent $white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            iframe {
                width: 75%;
                height: 27rem;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                    padding-right: 1.625rem;
                    padding-left: 1.625rem;
                    height: 11.375rem;
                }
            }
        }
    }
}

.home-trending-static,
.home-trending-carousel {
    .slick-list {
        @include media-breakpoint-down(sm) {
            padding-left: 0.4375rem !important;
        }
    }
}

/* Subscribe Form */
.subscribe-modal {
    .modal-dialog {
        max-width: 49.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 100%;
        margin: 0;

        @include media-breakpoint-down(md) {
            max-width: 90%;
        }

        .modal-header {
            padding: 2rem 2rem 0;

            h3 {
                font-size: $font-size-6;
                font-weight: $font-weight-extra-bold;
                margin-bottom: 0.75rem;
            }

            .close {
                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
        }

        .modal-body {
            padding: 0 2rem;

            .register-container {
                margin-bottom: 2.125rem;

                .subscribe-form-image {
                    width: 100%;
                }

                .subscription-form {
                    border: none;
                    padding: 0;

                    .form-control-label {
                        font-size: $font-size-base;
                    }
                }
            }
        }
    }
}
