@import './variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.header {
    height: 4.375rem;
}

.header-top-border {
    border-top: 0.3125rem solid $white;
    width: 100%;
}

.logo {
    display: table;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 12.5rem;
}

.invoice-body {
    max-width: 37.1875rem !important;
    margin: 0 auto;
    padding-top: 2.5rem !important;
    min-height: calc(100vh - 12.5625rem);

    .invoice-header {
        font-family: $font-family-base !important;
        font-weight: $font-weight-semi-bold !important;
        font-size: $font-size-7 !important;
        margin-bottom: 0.8rem !important;
    }

    .sub-header {
        font-family: $font-family-base !important;
        font-weight: $font-weight-semi-bold !important;
        font-size: $font-size-base !important;
        margin-bottom: 0.9rem;
    }

    p {
        font-weight: $font-weight-light;
        margin-bottom: 0 !important;
        font-size: $font-size--1;
    }

    .tax-right {
        @include media-breakpoint-only(xs) {
            float: left;
            text-align: left;
            margin-top: 1.3rem;
        }

        .e-commerce {
            font-size: $font-size--1;
            font-weight: $font-weight-bold;
        }

        .light {
            font-weight: $font-weight-light;
            font-style: italic;
            font-size: $font-size--4;
            max-width: 12.5rem;
            float: right;

            @include media-breakpoint-down(md) {
                max-width: 100%;
                width: 100%;
            }
        }

        p {
            font-size: $font-size--3;
        }
    }

    .customer {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size--1;
    }

    .table {
        position: relative;
        display: block;
        margin-top: 0.9rem;
    }

    .table > table {
        width: 100%;
        table-layout: fixed;
        border: 0.0625rem solid $grey3;
        border-top: 0.0625rem solid $grey3 !important;
    }

    .table th,
    .table td {
        padding: 0.65rem !important;
        min-width: 5rem !important;
    }

    .table th {
        border-top: none !important;
        border-bottom: 0.0625rem solid $grey3 !important;
        background-color: $grey1;
        font-weight: $font-weight-semi-bold;
        min-width: 4.375rem;
        font-size: $font-size--4;
        text-align: center;
        vertical-align: middle !important;
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
    }

    .table td {
        font-size: $font-size--4;
        font-weight: $font-weight-medium;
        border-top: 0.0625rem solid $grey3 !important;
        text-align: center;
        padding-top: 0.4rem !important;
        padding-bottom: 0.4rem !important;
        min-height: auto;
    }

    .first-col {
        width: 10.625rem !important;
        text-align: left;

        @include media-breakpoint-down(md) {
            width: 25% !important;
            min-width: 5.625rem !important;
        }
    }

    .min-col {
        width: 2.5rem !important;
    }

    .table-footer {
        text-align: right;
        font-size: $font-size-base !important;
        font-weight: $font-weight-semi-bold;
        margin-top: 0.25rem;
        padding-bottom: 0.8rem;
    }

    .footer-policy {
        padding-bottom: 1.875rem;

        .footer-msg {
            font-size: $font-size--3;
        }
    }
}

.footer {
    text-align: center;

    p {
        font-weight: $font-weight-light;
        margin-bottom: 0 !important;
        font-size: $font-size--1;
    }

    .footer-logo {
        display: table;
        margin: 0 auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-width: 8.125rem;
        background-color: $black;
    }

    .footer-info {
        font-size: $font-size--5 !important;
    }
}
