@import "./variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/utilities/shapes";
@import "~base/utilities/responsiveUtils";
@import "./mixins/swatch";
@import "~brand_core/mixins/mixinsGlobal";
@import "./components/libDriftZoom";
@import "./components/quantitySelector";

.pdp-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    left: $grid-gutter-width/2;
    top: 0;
    width: 75%;
    height: 40.625rem;
    z-index: -1;
}

.product-name {
    font-family: $font-family-base;
    font-size: $font-size-6;
    font-weight: $font-weight-extra-bold;
    text-transform: uppercase;
    margin-top: 1.25rem;

    @include media-breakpoint-up(xl) {
        font-size: $font-size-18;
        margin-top: 0;
    }
}

.product-short-description {
    @include media-breakpoint-up(sm) {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
}

.product-detail {
    margin-bottom: 0;

    @include media-breakpoint-only(xs) {
        margin-top: 0;

        .add-to-cart-btn-container {
            .add-to-cart {
                bottom: 0;
                position: fixed;
                left: 50vw;
                width: 50vw;
                z-index: 9;
            }

            > .row {
                margin: 0;

                > [class*="col-"] {
                    padding: 0;
                }
            }

            .btn-primary:disabled {
                opacity: 1;
                background-color: $dust-gray;
                border-color: $dust-gray;
                cursor: not-allowed;
                color: $boulder;
            }
        }

        .cart-and-ipay .btn {
            font-size: $font-size-4;
        }

        .cart-total-mobile {
            align-items: center;
            background-color: $light;
            bottom: 0;
            box-shadow: 0 -0.0625rem 0 0 $border-color;
            color: $black;
            font-size: $font-size-4;
            font-weight: $font-weight-extra-bold;
            justify-content: center;
            left: 0;
            padding: 0.71875rem 0;
            position: fixed;
            right: auto;
            user-select: none;
            width: 50vw;
            z-index: 9;
        }
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 2rem;
    }

    .add-to-wishlist-container {
        button {
            background-color: $white;
            border: none;
            padding: 0;

            i::before {
                font-size: $font-size-12;
            }
        }

        @include media-breakpoint-up(xl) {
            z-index: 2;
        }
    }

    .badges-container {
        height: auto;
    }

    .badges {
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        text-transform: uppercase;

        .badge-item {
            color: $black;
            background-color: $grey1;
            padding: 0.25rem 0.5rem;

            &:not(:last-child) {
                margin-right: 0.625rem;
            }
        }
    }

    .ratings-container {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }

        .rating-stars {
            margin-right: 0.5rem;

            [class^="icon-"]::before,
            [class*="icon-"]::before {
                font-size: $font-size-2;
            }
        }
    }

    .review-count {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;

        @include media-breakpoint-down(lg) {
            margin-top: 0;
            position: relative;
            top: 0.0625rem;
        }
    }

    .pdp-vat-label {
        padding-bottom: 1.5625rem;
        padding-top: 1.5625rem;
    }

    .pdp-payment-icons-wrapper {
        display: flex;
        font-size: $font-size-2;
        font-weight: $font-weight-bold;
        letter-spacing: -0.01875rem;
        padding-bottom: 1.5625rem;
        align-items: center;

        .payment-label {
            padding-right: 1.75rem;

            @include media-breakpoint-down(lg) {
                padding-right: 1rem;
            }
        }
    }

    .payment-icons {
        img {
            width: 2.8125rem;
            margin: 0;

            @include media-breakpoint-down(lg) {
                width: 2rem;
            }
        }
    }

    .icon-boxes-wrapper {
        display: flex;
        justify-content: space-between;

        .icon-box {
            align-items: center;
            border-radius: 0.25rem;
            border: 0.0625rem solid $tertiary;
            display: flex;
            flex-direction: column;
            font-weight: $font-weight-bold;
            max-width: 6.5rem;
            padding: 0.625rem;
            text-align: center;

            @include media-breakpoint-down(lg) {
                margin: 0 0.3125rem;
            }

            span {
                display: block;
                margin-top: 0.5625rem;
            }

            i {
                &::before {
                    font-size: $font-size-18;
                }
            }
        }
    }
}

.delivery-available-container {
    align-items: center;
    display: flex;
    font-size: $font-size-2;
    padding: 1.25rem 0;

    i {
        margin-right: 0.875rem;

        &::before {
            font-size: $font-size-14;
        }
    }

    span:last-child {
        padding-left: 0.3125rem;
    }
}

.product-image-carousel {
    position: relative;
    max-width: 100%;
    margin-top: 2.875rem;

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }

    .product-images {
        height: auto;
        background-color: $white;
    }

    .slick-slide > div {
        display: block;
        cursor: zoom-in;
    }

    @include media-breakpoint-up(md) {
        max-width: 23.75rem;

        .product-images {
            box-shadow: 0 0.5rem 0.875rem 0 rgba($black, 0.2);

            &[data-count] {
                width: 23.75rem;
            }
        }
    }
}

.product-images,
.product-thumbnails {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    .slick-list {
        padding: 0 !important;
    }

    img {
        @include media-breakpoint-up(xl) {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.slick-initialized,
.slick-destroyed {
    &.product-images,
    &.product-thumbnails {
        overflow: initial;
        white-space: normal;
    }
}

.slick-slider {
    touch-action: auto !important;
}

.product-images {
    @include media-breakpoint-up(xl) {
        height: 23.75rem;
    }

    @include media-breakpoint-down(xs) {
        margin: 0 auto;
    }

    img {
        @include media-breakpoint-up(xl) {
            height: 23.75rem;
        }
    }

    .slick-next,
    .slick-prev {
        visibility: visible;
        width: 4rem;
        top: 30.625rem;
        bottom: -5rem;
        display: none !important;
    }

    .slick-prev {
        left: -1.5rem;
    }

    .slick-next {
        right: -1.5rem;
    }

    .icon-arrow-next::after,
    .icon-arrow-next::before,
    .icon-arrow-prev::after,
    .icon-arrow-prev::before {
        width: 1.075rem;
    }
}

.product-thumbnails {
    margin: 0.6875rem auto 0;
    position: relative;
    top: 1rem;

    @include media-breakpoint-up(xl) {
        width: 16.875rem;
        margin-bottom: 1.75rem;
        max-height: 4.125rem;
    }

    &[data-count="1.0"] {
        width: 16rem;
        @include media-breakpoint-up(xl) {
            width: 16rem;
        }
    }

    &[data-count="2.0"] {
        width: 10rem;
    }

    &[data-count="3.0"] {
        width: 15rem;

        @include media-breakpoint-up(xl) {
            width: 16rem;
        }
    }

    .slick-slide > div {
        overflow: hidden;
        margin: 0 auto;
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
    }

    .slick-prev,
    .slick-next {
        width: 2rem;
        visibility: visible;
        color: $secondary;
    }

    .slick-prev {
        left: -1rem;
        @include media-breakpoint-up(xl) {
            left: -2.5rem;
        }

        @include media-breakpoint-down(xs) {
            left: -1.5rem;
        }
    }

    .slick-next {
        right: -1rem;
        @include media-breakpoint-up(xl) {
            right: -2.5rem;
        }

        @include media-breakpoint-down(xs) {
            right: -1.5rem;
        }
    }

    .icon-arrow-next,
    .icon-arrow-prev {
        width: 1.275rem;

        &::before,
        &::after {
            width: 1.275rem;
        }
    }
}

.product-info {
    background-color: $white;
    position: relative;

    .attributes-container {
        .selected-swatch {
            &::after {
                border-radius: 50%;
                border: 0.0625rem solid $alto-light;
                bottom: auto;
                content: "";
                height: calc(100% + 0.375rem);
                left: auto;
                position: absolute;
                right: auto;
                top: -0.1875rem;
                transform: translateX(-50%);
                width: calc(100% + 0.375rem);
            }
        }

        .selected-swatch-name {
            font-size: $font-size-2;
            font-weight: $font-weight-normal;
        }

        > [data-attr="CORECAPACITY"] {
            .custom-select {
                background-position: right;
            }

            .dropdown-toggle {
                border-color: $grey3;
                border-width: 0 0 0.0625rem;
            }
        }

        @include media-breakpoint-up(xl) {
            white-space: nowrap;

            > [data-attr="CORECAPACITY"],
            > .quantity {
                display: inline-block;
                width: 50%;
                vertical-align: top;
            }

            > [data-attr="CORECAPACITY"] {
                padding-right: $grid-gutter-width / 4;
            }

            > .quantity {
                padding-left: $grid-gutter-width / 4;
            }

            .dropdown-toggle,
            .single-select-option {
                height: 3.5rem;
            }
        }
    }

    .btn-select,
    .single-select-option {
        font-weight: $font-weight-bold;

        .swatch-circle {
            @include swatch($white, 1.75rem);

            margin-right: 0.625rem;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-weight: $font-weight-bold;
            padding-top: 0.657rem;
            padding-bottom: 0.657rem;

            @include media-breakpoint-down(lg) {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }

        .dropdown-toggle {
            padding-left: 0.25rem;
        }
    }

    .attribute-color {
        border-top: 0.0625rem solid $border-color;

        .btn-select {
            padding-top: 1rem;
            padding-bottom: 1rem;

            @include media-breakpoint-down(lg) {
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
            }
        }
    }

    .attribute {
        .filter-option-inner-inner,
        .dropdown-item .text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small.text-muted {
                color: $secondary !important;
                font-size: $font-size--2;
                font-weight: $font-weight-medium;
            }
        }

        .dropdown-item.disabled:not(.active) {
            small.text-muted {
                color: $grey3 !important;
            }
        }
    }

    .swatches {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0 0.425rem;
        height: 0;
        opacity: 0;
        position: relative;
        transition:
            height $animation-duration,
            padding-top $animation-duration,
            padding-bottom $animation-duration;

        > button:not(.see-more) {
            background: $white;
            border-radius: 50%;
            border: 0.0625rem solid $alto-light;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.125rem;
            padding: 0;
            @include media-breakpoint-down(sm) {
                display: block !important;
                width: auto !important;
            }
        }

        .swatch-circle {
            @include swatch($white, 1.75rem);

            &.selected::after {
                content: "";
                border-radius: 50%;
                border: 0.0625rem solid $dove-gray;
                position: absolute;
                width: calc(100% + 0.25rem);
                height: calc(100% + 0.25rem);
                transform: translateX(-50%);
                top: -0.125rem;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }

        [disabled],
        .swatch-circle.unselectable {
            cursor: default;
            pointer-events: none;
            opacity: 0.2;
        }

        .see-more {
            background-color: $secondary;
            border-radius: 1rem;
            border: none;
            color: $white;
            display: none;
            font-weight: $font-weight-bold;
            line-height: 1;
            padding: 0.5625rem 1.25rem;
            position: absolute;
            right: 0;
            top: 0.525rem;
            z-index: 2;

            &::before {
                content: "+";
            }

            @include media-breakpoint-down(sm) {
                display: none !important;
            }

            &.expanded {
                display: inline-block;
                position: relative;
                padding: 0;
                width: 2rem;
                height: 2rem;
                margin: 0.125rem;
                border-radius: 50%;
                top: auto;
                background-color: $boulder;

                &::before {
                    display: none;
                }
            }
        }
    }

    .open {
        .swatches {
            height: auto;
            padding: 0.5rem 4.6875rem 0.5rem 0;
            opacity: 1;

            &.all-visible {
                padding: 0.5rem 0;
            }

            @include media-breakpoint-down(sm) {
                padding: 0.5rem 0;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .attributes-container {
            display: flex;
            margin-top: auto;

            > div {
                position: relative;
                margin: 0 auto;
                width: 100%;
            }

            .attribute {
                .form-control-label {
                    font-size: $font-size--3;
                    margin-bottom: 0;
                    padding-top: 0.5315rem;
                    text-transform: uppercase;
                }

                .btn-select .dropdown-toggle,
                .btn-select .dropdown-item {
                    font-weight: $font-weight-medium;
                    text-transform: uppercase;
                }
            }
        }

        .shipping-info {
            display: none;
        }
    }
}

.product-cta {
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;

    > .container {
        display: flex;
    }

    .image-container {
        width: 7.5rem;
        margin-right: 2.125rem;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 27.5rem;

        .product-name {
            font-size: $font-size-7;
            font-weight: $font-weight-medium;
            padding-right: 0;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }

        .custom-select.bootstrap-select > .dropdown-toggle {
            padding-right: 1.5rem;
        }

        .attribute-color .btn-select {
            padding-right: 1rem;
        }
    }

    .attributes-container {
        display: flex;
        margin-top: auto;

        > div {
            flex: 1;
            padding: 0 0.5rem;
            position: relative;
            max-width: 50%;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .swatches {
            align-self: flex-start;
        }

        .swatches {
            background: $white;
            border-bottom: 0.0625rem solid $grey3;
            position: absolute;
            left: 0;
            right: 0;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;

            .swatch-circle {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .price-container {
        width: 15rem;
        align-self: flex-end;

        .prices-add-to-cart-actions {
            padding: 0;
        }

        .price .sales {
            font-size: $font-size-7;
            font-weight: $font-weight-extra-bold;
        }
    }

    .btn-container {
        width: 12.5rem;
        align-self: flex-end;

        .cart-and-ipay,
        .back-in-stock-container {
            margin-bottom: 0;
        }
    }
}

.availability {
    margin-top: -1.25rem;
}

.availability-messages {
    font-size: $font-size--2;
    text-align: center;

    > .btn {
        cursor: default !important;
        margin-bottom: 0.5625rem;

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
            color: $secondary;
        }
    }
}

.prices-add-to-cart-actions {
    padding-bottom: 1.25rem;

    .price {
        color: $secondary;

        .sales {
            font-size: $font-size-6;
            font-weight: $font-weight-extra-bold;
        }

        .strike-through,
        .worth {
            font-size: $font-size-2;
            font-weight: $font-weight-semi-bold;
        }
    }
}

.back-in-stock-container,
.cart-and-ipay,
.availability {
    max-width: 20.625rem;
    margin: 0 auto 1rem;

    @include media-breakpoint-up(xl) {
        max-width: 100%;
    }

    @include media-breakpoint-only(md) {
        margin: 1.25rem 0;
    }

    @include media-breakpoint-only(xs) {
        max-width: 100%;
    }

    .btn {
        font-size: $font-size-2;
        width: 100%;
    }

    .fa {
        display: none;
    }
}

.cart-and-ipay {
    margin-bottom: 0;

    + .promotions {
        margin-top: -0.375rem;
    }

    .text-danger {
        font-size: $font-size--3;
        margin-bottom: 0.5rem;
    }

    button.add-to-cart {
        padding: 0.7rem 0.5rem 0.675rem;
        font-weight: $font-weight-extra-bold;
    }
}

.back-in-stock-container {
    &:not(.d-none) + .cart-and-ipay {
        display: none;
    }

    .modal-title {
        font-family: $font-family-base;
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        margin: 2rem 2.375rem 0;
        text-transform: uppercase;

        &::after {
            display: none;
        }
    }

    .modal-body {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .modal-footer {
        padding-top: 0;

        .btn {
            margin-top: 0.5rem;
        }
    }

    .alert {
        margin-bottom: 2rem;
    }
}

.availability-messages,
.back-in-stock-container {
    > .btn {
        font-size: $font-size--1;
        padding: 0.75rem 0.3125rem 0.6875rem;
    }
}

.apple-pay-pdp {
    padding: 0;
    display: block;
}

.promotions {
    font-size: $font-size--2;
    text-align: center;
    margin-bottom: 1rem;

    .callout {
        background-color: $grey1;
        padding: 0.5rem;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-10;
    margin-bottom: 0.5rem;

    a {
        margin: 0 0.75rem;

        &:hover {
            text-decoration: none;
        }
    }
}

.manufacturer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 2.25rem;
    }
}

.manufacturer-info-label {
    font-size: $font-size--4;
    font-weight: $font-weight-semi-bold;
    margin-right: 0.25rem;
}

.manufacturer-sku {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size--4;
}

label.color ~ a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.description-and-detail {
    margin-top: 2em;

    @include media-breakpoint-only(xs) {
        margin-top: 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        > div:last-child {
            margin-bottom: 1em;
        }
    }

    .description {
        @include media-breakpoint-up(sm) {
            margin-bottom: 2em;
        }
    }

    .content {
        @include media-breakpoint-only(xs) {
            margin-top: 1em;
        }
    }
}

.complementary-container {
    display: flex;
    flex-direction: column-reverse;

    @include media-breakpoint-up(xl) {
        flex-flow: row wrap;
        margin-bottom: 1rem;
    }
}

.complementary-details {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(xl) {
        padding-right: 1.5rem;
        width: 20%;
    }

    .add-to-wishlist-container {
        padding-top: 0.5rem;
        padding-bottom: 1rem;

        @include media-breakpoint-down(lg) {
            display: inline-block;
        }
    }
}

.complementary-content {
    font-size: $font-size--2;

    h3 {
        font-size: $font-size-5;
        margin-bottom: 0.75rem;
        text-align: center;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
            margin-bottom: 1.25rem;
            text-align: left;
        }
    }
}

.complementary-cta {
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-top: 2rem;
    }

    @include media-breakpoint-up(xl) {
        margin-top: auto;
        margin-bottom: 1.25rem;
        text-align: left;
    }

    > .btn {
        max-width: 20.625rem;
        margin-left: auto;
        margin-right: auto;
    }

    .add-to-wishlist-container {
        text-align: center;

        .add-to-wishlist-btn {
            background-color: transparent;
            border: 0;
            display: inline-block;
        }
    }
}

.product-mobile-wishlist {
    .add-to-wishlist-btn {
        position: absolute;
        top: 0;
        right: 1rem;
        box-shadow: 0 0.25rem 0.5rem 0 rgba($black, 0.1);
        width: 2.625rem;
        height: 2.625rem;
        border-radius: 50%;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            &::before {
                font-size: 1.75rem;
            }
        }
    }
}

.complementary-total-price {
    font-size: $font-size-10;
    font-family: $font-family-secondary;
    font-weight: $font-weight-extra-bold;

    @include media-breakpoint-up(md) {
        font-size: $font-size-16;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-8;
    }
}

.complementary-total-list-price {
    color: $grey4;
    font-size: $font-size-7;
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
    text-decoration: line-through;

    @include media-breakpoint-up(md) {
        font-size: $font-size-12;
        font-weight: $font-weight-semi-bold;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-5;
    }
}

.complementary-total-price,
.complementary-total-list-price {
    + .btn {
        margin-top: 1rem;
    }
}

.complementary-products {
    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
    }

    @include media-breakpoint-up(xl) {
        width: 80%;
    }

    > .product {
        border: 0.0625rem solid $grey3;
        display: block;
        white-space: normal;
        padding: 0.5rem 0.5rem 0;
        margin-bottom: 1.25rem;
        width: 100%;

        @include media-breakpoint-up(md) {
            max-width: 15.3125rem;
            margin-bottom: 0;
        }

        + .icon-plus {
            display: none;
            margin: 0 1.35rem;

            @include media-breakpoint-up(md) {
                display: block;
            }

            @include media-breakpoint-up(xl) {
                margin-top: 7rem;
                align-self: flex-start;
            }

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .product-tile {
        display: flex;
        text-align: left;

        @include media-breakpoint-up(md) {
            display: block;
            text-align: center;
        }

        .image-container {
            width: 6rem;
            margin-right: 0.5rem;

            @include media-breakpoint-up(md) {
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-right: 0;
            }
        }

        .ratings-container {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            @include media-breakpoint-up(md) {
                justify-content: center;
            }

            .review-count {
                margin-top: 0;
            }
        }

        .tile-body {
            @include media-breakpoint-down(sm) {
                flex: 1;
                padding-bottom: 0.875rem;
                padding-right: 0.125rem;
            }

            @include media-breakpoint-only(md) {
                padding-bottom: 1rem;
            }

            @include media-breakpoint-only(lg) {
                padding-bottom: 1rem;
            }

            .price .sales,
            .price .list {
                @include media-breakpoint-down(sm) {
                    justify-content: flex-start;
                    text-align: left;
                }
            }

            > .btn {
                display: block;
                float: right;
                max-width: 16rem;
                width: 100%;

                @include media-breakpoint-only(md) {
                    font-size: $font-size--5;
                    padding: 0.5rem 0.5rem 0.375rem;
                }

                @include media-breakpoint-only(lg) {
                    font-size: $font-size--5;
                    padding: 0.5rem 0.5rem 0.375rem;
                }

                @include media-breakpoint-up(md) {
                    float: none;
                    margin: 0 auto;
                    width: 90%;
                    margin-bottom: 1.25rem;
                }

                @include media-breakpoint-up(xl) {
                    display: inline-block;
                    width: auto;
                }
            }

            .pdp-link a {
                /* rtl:raw:
                    font-size: #{$font-size-base};
                */
                @include media-breakpoint-up(md) {
                    /* rtl:remove */
                    font-size: $font-size--1;

                    /* rtl:raw:
                        font-size: #{$font-size-3};
                    */
                }

                @include media-breakpoint-up(xl) {
                    /* rtl:raw:
                        font-size: #{$font-size-base};
                    */
                }
            }
        }

        .badges {
            margin-left: -0.4rem;
            justify-content: flex-start;

            @include media-breakpoint-up(md) {
                margin-left: 0;
                justify-content: center;
            }
        }

        @include media-breakpoint-down(sm) {
            .badges-container,
            .name-container,
            .price-container,
            .ratings-container {
                height: auto;
            }
        }
    }
}

.complementary-products {
    .product {
        margin: 1rem 1.5rem;

        @include media-breakpoint-down(sm) {
            margin: 1.25rem auto;
        }

        .add-to-wishlist-container {
            display: none;
        }
    }

    @include media-breakpoint-down(sm) {
        text-align: center !important;
    }
}

.price {
    font-size: $font-size-10;
}

.product-options {
    margin-top: 1.25em;

    .quantity {
        bottom: 0;
        min-width: 6.25em;
        padding-left: 0.938em;
        padding-right: 0.938em;
        position: absolute;
        right: 0;
    }
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}

.add-to-wishlist-mobile {
    max-width: 15rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    .add-to-wishlist-container {
        position: absolute;
        top: 1rem;
        right: -1rem;
    }

    .btn-link-with-icon {
        > span {
            display: none;
        }

        > i::before {
            font-size: $font-size-8;
        }
    }
}

.recommendations {
    margin-bottom: 2.5rem;

    @include media-breakpoint-down(lg) {
        margin-bottom: 0;
    }

    .recommendations-carousel {
        .slick-list {
            @include media-breakpoint-down(lg) {
                padding-left: 0 !important;
            }
        }
    }

    .recommendations-carousel-title {
        margin-bottom: 1.5rem;

        span {
            font-family: $font-family-base;
            font-size: $font-size-6;
        }
    }
}

.ratings-and-reviews,
.write-review {
    .container-oob::after,
    .container-oob .container::after {
        display: none;
    }

    .container-oob {
        @include media-breakpoint-down(lg) {
            .container {
                display: flex;
                flex-direction: column;
                padding-left: 0;
                padding-right: 0;

                > .row:first-child {
                    order: 1;
                }
            }
        }
    }
}

.acc-container-lg-down .acc-title {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;

    i {
        &::after,
        &::before {
            width: 1.2rem;
            height: 0.15rem;
            background-color: $secondary;
        }
    }
}

.nav-tabs {
    .ratings-container {
        margin-bottom: 0;
        margin-top: -0.1875rem;
        padding-left: 0.625rem;

        i::before {
            font-size: $font-size-base;
        }

        .review-count {
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
        }
    }
}

.breadcrumb-container {
    li {
        &:not(:first-child):not(:last-child) {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
}
