@import "variables";
@import "bootstrap/scss/mixins/breakpoints";

.shadefinderWrapper {
    width: 100%;
    background: $vanilla-ice;

    .shadefinder-suggestions {
        text-align: center;
        padding: 1.25rem;
        @include media-breakpoint-down(md) {
            padding: 0;
        }

        #YMK-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 2.1875rem;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            .YMK-module {
                border: 0.0625rem solid;
            }
        }

        .shadeFinderStart {
            width: 40%;
            margin: 2.5rem auto;
        }

        .shadefinder-suggestions-title-shade {
            font-weight: $font-weight-extra-bold;
            font-size: 2rem;

            sup {
                font-weight: $font-weight-normal;
            }
        }

        .shadefinder-suggestions-title {
            font-weight: $font-weight-normal;
            font-size: 2rem;
        }

        .shadefinder-suggestions-description {
            text-transform: uppercase;
            color: $blue-romance;
        }

        .shadefinder-suggestions-description,
        .icon-CHECK {
            font-weight: $font-weight-extra-bold;
            text-transform: uppercase;
            color: $blue-romance;
        }

        .icon-CHECK {
            padding: 0 0.63rem;
        }
    }

    .custom-shade-search {
        background: white;
        margin: 1.875rem auto;
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 2.8125rem;

        .custom-shade-title,
        .threshold-shadenumber,
        input[name="threshold"] {
            display: none;
        }

        @include media-breakpoint-down(md) {
            margin: 0 auto;
            padding: 0 1.25rem;
        }

        .skintone-wrapper {
            width: 100%;
        }

        .skintone-circle {
            justify-content: space-around;
            display: flex;

            .shade-circle-wrapper {
                border: 0;
                cursor: pointer;
                background: transparent;
            }
        }

        .skintone-header {
            padding-bottom: 0.5rem;
            border-bottom: 0.0625rem solid $grey4;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .skintone-title {
            text-align: left;
            font-weight: $font-weight-extra-bold;
            margin-bottom: 0;
            font-size: 1.25rem;
        }

        .skintone-subtitle-index,
        .skintone-subtitle-pfcolor {
            font-weight: $font-weight-light;
            padding: 0 0.94rem;
            font-size: 1.25rem;
        }

        .skintone-subtitle-pfcolor {
            font-weight: $font-weight-extra-bold;
        }

        .skintone-circle-title {
            font-size: 0.81rem;
            font-weight: $font-weight-light;
            padding-top: 1rem;
            padding-bottom: 0.3rem;
            margin-bottom: 0;
        }

        .skintone-circle-subtitle {
            font-size: 0.81rem;
            font-weight: $font-weight-semi-bold;
            padding-top: 1rem;
            padding-bottom: 0.3rem;
            margin-bottom: 0;
            color: #b5b1b1;
            font-style: oblique;
        }

        .matching-wrapper {
            padding-top: 2.5rem;

            .matching-product {
                margin-top: 2.5rem;

                .tile-body {
                    display: flex;
                    align-items: center;
                }

                @include media-breakpoint-down(md) {
                    margin: 1.25rem 0;
                }
            }

            .product-view-suggestion {
                padding-left: 0;
            }
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        .suggestion-results-info {
            display: none;
        }
    }

    .product-view-suggestion {
        .tile-body {
            display: flex;
        }

        .pdp-badge {
            display: none;
        }

        .tile-hover-quickbuy {
            width: 50%;
            margin-left: -3.125rem;
            @include media-breakpoint-down(md) {
                width: 50%;
                margin-left: -1.875rem;
            }
        }

        .tile-hover-element {
            width: 70%;
            margin-left: -1.875rem;

            @include media-breakpoint-down(md) {
                width: 80%;
                margin-left: -1.25rem;
            }

            .price {
                text-align: left;
                font-weight: $font-weight-bold;
                font-size: 0.875rem;
                color: $grey5;
                padding: 0.94rem 0;
                height: initial;
            }
        }

        .pdp-link,
        .tile-body-footer .ratings,
        .tile-body .pdp-numberswatch {
            text-align: left !important;
        }

        .tile-body .pdp-desc {
            justify-content: flex-start;
        }
    }

    .suggestions-shade-wrapper {
        .shadefinder-shortDescription {
            width: 100%;
            height: 2.25rem;
            line-height: 1.3;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            text-align: left;
            margin: 1.25rem 0;
            font-size: 0.875rem;

            @include media-breakpoint-down(md) {
                height: 3.4375rem;
                -webkit-line-clamp: 2;
            }
        }

        .productLinktoShade-desktop,
        .productLinktoShade-mobile {
            width: 9.125rem;
            height: 3rem;
            background: $grey8 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            margin-top: 3.75rem;
        }

        .productLinktoShade-desktop {
            display: flex;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .productLinktoShade-mobile {
            display: none;
            @include media-breakpoint-down(md) {
                display: flex;
                width: 100%;
            }
        }

        .product-view-suggestion {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }

        .suggestions {
            position: initial;
            width: 100%;
            border: none;
            margin-bottom: 0;

            .suggestion-results {
                width: 100%;
                @include media-breakpoint-down(md) {
                    padding: 0;
                }

                .pdp-link {
                    font-weight: $font-weight-light;
                }

                .suggestions-shade-wrapper {
                    .form-control {
                        display: none;
                    }
                }
            }

            .view-all-search-banner,
            .view-all-products {
                display: none;
            }
        }
    }

    .shadefinder-shadesquare {
        font-size: 0.94rem;
        font-weight: $font-weight-bold;
        border-radius: 50% !important;
        width: 2rem;
        height: 2rem;
        margin: 0;
        border: 0.1875rem solid #fff;

        circle {
            cx: 13;
            cy: 13;
            r: 13;
        }

        &.active {
            box-shadow: 0 0 0 0.0625rem #d1d1d1;
        }

        &.square1 {
            width: 3rem;
            height: 3rem;

            circle {
                cx: 21;
                r: 23;
                cy: 23;
            }
        }

        &.square2 {
            width: 3.625rem;
            height: 3.625rem;

            circle {
                cx: 26;
                r: 28;
                cy: 26;
            }
        }

        &.square3 {
            width: 3rem;
            height: 3rem;

            circle {
                cx: 21;
                r: 23;
                cy: 23;
            }
        }
    }

    .shadefinderWrapper {
        display: flex;
        justify-content: space-between;
    }

    #YMK-module-wrapper {
        #YMK-module {
            iframe {
                -webkit-box-shadow: -0.125rem 0.875rem 1.4375rem 0 rgba(0, 0, 0, 0.5);
                -moz-box-shadow: -0.125rem 0.875rem 1.4375rem 0 rgba(0, 0, 0, 0.5);
                box-shadow: 0 0.875rem 1.4375rem 0 rgb(32, 36, 41);
            }
        }
    }
}

.shadefinder-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .shadefinder-description {
        padding: 0.63rem;
        font-weight: $font-weight-bold;
    }
}

.tile-hover-quickbuy {
    img {
        width: 100%;
    }
}

.pdp-title {
    font-size: 1.25rem;
    line-height: 1.2;
    height: auto;
    display: block;
    padding: 0.63rem 0 0.1875rem;
    text-decoration: none;
    font-weight: $font-weight-light;
    text-align: left;
}

.pdp-subtitle {
    font-size: 0.75rem;
    line-height: 1;
    height: initial;
    display: block;
    padding: 0 0 0.81rem;
    text-decoration: none;
    font-weight: $font-weight-light;
    text-align: left;
    text-transform: uppercase;
}
