@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";

.static-page-breadcrumb {
    .breadcrumb-container {
        margin-top: 3.75rem;
        margin-bottom: 1.25rem;

        .breadcrumb {
            display: flex;
            align-items: center;

            li {
                &:first-child {
                    font-size: $font-size-base;

                    a {
                        text-decoration: none;
                        color: $black;
                    }
                }
            }
        }
    }
}

.about-us {
    @include media-breakpoint-down(xs) {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        margin-right: auto;
        margin-left: auto;
    }

    .about-us-banner {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 2.8125rem;
        padding: 6.25rem 0;

        .about-us-title {
            font-family: $font-family-base;
            font-size: $font-size-18;
            font-weight: $font-weight-semi-bold;
            text-transform: uppercase;
            text-align: center;
            background: rgba($white, 0.5);
        }
    }

    .about-us-row {
        margin-bottom: 2.1875rem;

        .about-us-text {
            h2 {
                font-size: $font-size-16;
                font-weight: $font-weight-extra-bold;
            }

            p {
                font-size: $font-size-2;
                line-height: 1.5rem;
            }

            .about-us-btn {
                background-color: $black;
                color: $white;
                font-weight: $font-weight-extra-bold;
                display: block;
                width: 50%;
                padding: 0.625rem 0;
                margin-top: 1.5625rem;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                cursor: pointer;

                @include media-breakpoint-only(md) {
                    margin-bottom: 1rem;
                }

                &:hover {
                    background: $primary;
                }
            }
        }

        .about-us-image {
            img {
                width: 100%;
            }
        }
    }
}

.terms-container {
    h2 {
        font-size: $font-size-base;
        font-weight: $font-weight-semi-bold;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
}

.accessibility-container {
    h1 {
        font-size: 1.5625rem;
        font-weight: $font-weight-normal;
        text-align: center;
    }

    h2 {
        font-size: $font-size-1;
        font-weight: $font-weight-extra-bold;
        text-transform: uppercase;
        margin-top: 1.25rem;
    }

    p {
        font-size: $font-size-2;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    ul {
        padding-left: 0;
        list-style: none;

        li {
            font-size: $font-size-2;
            list-style: square;
            line-height: 2;
            margin-left: 2rem;
        }
    }
}

.privacy-policy-container {
    h1 {
        font-family: $font-family-base;
        font-size: $font-size-36;
        text-transform: uppercase;
        line-height: 1.5rem;
    }

    h2 {
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        text-decoration: underline;
    }

    p {
        font-size: $font-size--2;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    u {
        font-size: 0.875rem;
        text-transform: uppercase;
    }
}

.faq-content {
    h3 {
        font-size: $font-size-1;
        font-weight: $font-weight-semi-bold;
        background-color: $black;
        color: $white;
        padding: 0.625rem;
        text-transform: uppercase;
    }

    h2 {
        font-family: $font-family-base;
        font-size: $font-size--2;
        font-weight: $font-weight-semi-bold;
        color: $black;
        border-top: 0.0625rem dotted $grey3;
        text-transform: uppercase;
        padding: 0.625rem 1.25rem 0.625rem 0;
        cursor: pointer;
    }

    p {
        color: $boulder;
        margin-bottom: 1rem;
    }

    a:hover {
        color: $red;
    }
}

h2.static-header {
    font-size: $font-size-28;
    font-weight: $font-weight-normal;
    font-family: $font-family-base;
    text-transform: uppercase;
}

/* Bottom Red Box */
.bottom-content-section {
    .bottom-content-item {
        @include media-breakpoint-down(lg) {
            max-width: 100%;
            padding: 0.0625rem;
        }

        .bottom-content-box {
            background: $primary;
            color: $white;
            min-height: 11.625rem;
            padding: 0.625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            cursor: pointer;

            i {
                margin-bottom: 1.25rem;

                &::before {
                    font-size: $font-size-36;
                }
            }

            span {
                font-size: $font-size-2;
            }
        }
    }
}
