@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import './utilities/swatch';
@import '~base/components/categoryTiles';

.wishlist-main {
    position: relative;
}

.wishlist-mobile-hr {
    display: none !important;

    @include media-breakpoint-down(md) {
        display: block !important;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

.wishlist-row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    .no-records-container {
        margin: 0 auto;
    }
}

.wishlist-product-col {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 2rem;

    @include media-breakpoint-down(md) {
        padding: 0.5rem 0;
        padding-bottom: 0;
    }
}

.wishlist-delete-from {
    z-index: 13;
    position: absolute;
    display: flex;
    width: 1.7rem;
    height: 1.7rem;
    right: 0.625rem;
    top: 0;

    @include media-breakpoint-down(sm) {
        right: -0.4375rem;
    }

    .btn {
        width: 100%;
        height: 100%;
        padding: 0;
        z-index: 13;

        .sc-icon-cross {
            &::before,
            &::after {
                width: 1.125rem;
                margin: -0.0625rem 0 0 -0.5rem;
            }
        }
    }
}

.wishlist-item {
    width: 100%;

    .image-container {
        min-height: auto;
        overflow: visible;

        @include media-breakpoint-up(lg) {
            min-height: 21rem;
        }

        @include media-breakpoint-down(md) {
            width: 30%;
            float: left;
        }

        .tile-image {
            width: auto !important;
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }

        .discount-container {
            top: 0;
            left: 0;
        }

        .add-to-wishlist-container {
            display: none;
        }
    }

    .tile-body {
        width: 100%;
        padding: 0.625em 0 1.875em;

        @include media-breakpoint-down(md) {
            width: 70%;
            float: left;
            padding-top: 1rem;
            padding-left: 2rem;

            .ratings-container,
            .price-container,
            .badges-container {
                height: auto;
            }

            .badges {
                justify-content: flex-start;

                .badge-item:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}

.wishlist-remove-mobile {
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5rem;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
        display: flex !important;
    }

    .btn {
        font-size: $font-size--4;
        padding: 0;

        i {
            min-width: 1.2rem;

            &::before {
                font-size: $font-size--1;
            }
        }
    }
}

.guestWishlistItemCards {
    .wishlistItemCards {
        padding: 0;
    }
}
