@import 'variables';
@import 'api/all';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.account-container {
    .container-title {
        @include media-breakpoint-up(xl) {
            margin-bottom: 6.625rem;
        }
    }

    .dashboard-menu-wrapper {
        @include media-breakpoint-up(xl) {
            padding-left: 4rem;
            padding-right: 0;

            .btn-outline-primary {
                max-width: 19.4375rem;
            }
        }

        .btn-outline-primary {
            /* rtl:raw:
                font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            */
        }
    }
}

.account-container-title {
    position: relative;

    .dashboard-content-back {
        font-family: $font-family-tertiary-bold;
        font-size: $font-size--4;
        position: absolute;
        top: 0.3125rem;
        left: 0;

        .icon {
            font-size: $font-size--5;
            margin: -0.0625rem 0 0.0625rem;
        }
    }
}

.box-delta {
    border: 0.0625rem solid $athens-gray;
    margin-bottom: 1.875rem;

    .form-control-label,
    .radio-button-link,
    .checkbox-link {
        font-weight: $font-weight-normal !important;
    }
}

.dashboard-menu {
    margin-bottom: 1.75rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    @include media-breakpoint-up(lg) {
        border: 0.0625rem solid $athens-gray;
        margin-left: 0;
        margin-right: 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 1rem 0 0.8125rem;
        max-width: 19.4375rem;
        width: auto;
    }

    > .dashboard-menu-link {
        border-bottom: 0.0625rem solid $athens-gray;
        font-weight: $font-weight-normal;
        font-family: ff(tertiary);
        display: flex;
        align-items: center;
        font-size: $font-size--2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $line-height-base;
        padding: 0.625rem 0.875rem;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            border: none;
            margin-bottom: 0.25rem;
            padding: 0.3125rem 0.875rem;
        }

        &.dashboard-menu-link-active {
            font-family: ff(tertiary, 'bold');

            /* rtl:raw:
                font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
                font-weight: 400;
            */
        }

        &:first-child {
            border-top: 0.0625rem solid $athens-gray;

            @include media-breakpoint-up(lg) {
                border-top: none;
            }
        }

        > i {
            width: 1.625rem;
            height: 1rem;
            margin: -0.0625rem -0.0625rem 0 0.0625rem;

            /* rtl:raw:
                background-position: right;
            */

            &.icon-lock-dark {
                margin: 0 -0.1875rem 0 0.1875rem;
                height: 0.9375rem;
            }
        }

        > .sc-icon-address-book::before {
            font-size: $font-size-base !important;
        }
    }
}

.dashboard-content {
    position: relative;
    color: $secondary;
    font-weight: $font-weight-normal;
    font-family: ff(tertiary);
    font-size: $font-size--2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    line-height: $line-height-base;
    padding: 0;

    @include media-breakpoint-up(lg) {
        padding: 0.25rem 0 0 4.5625rem;
    }

    .btn-primary,
    .btn-outline-primary {
        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */
    }

    .btn-outline-secondary {
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */
    }

    .dashboard-content-item {
        margin-bottom: 1.75rem;

        .view-order-button {
            flex: 0 0 42%;
            max-width: 42%;
        }

        .property-phone,
        .property-date {
            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */
        }
    }

    .dashboard-content-payment {
        .payment-method-container {
            .payment-method-item {
                display: none;

                &:first-child {
                    display: block;
                }
            }
        }
    }

    .dashboard-content-divider {
        border-color: $grey18;
        margin-top: 1.375rem;
        margin-bottom: 2.125rem;
    }

    input[type="checkbox"] + .form-control-label {
        font-size: $font-size--2;
        font-weight: $font-weight-light;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
    }

    .card,
    .card-header,
    .card-body {
        border-color: $athens-gray;
        border-radius: 0;
    }

    .card-header-custom {
        color: $primary;
        font-family: ff(secondary);
        font-size: $font-size--1;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: $line-height-base;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        margin: 0;
    }

    .product-summary-block {
        .miniCart-item {
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .miniCart-item-price,
    .grand-total,
    .subtotal-item,
    .summary-section-label,
    .grand-total-label,
    .grand-total-price,
    .order-history-select {
        color: $primary;
        font-weight: $font-weight-normal;
    }

    .sub-total,
    .tax-total,
    .grand-total-sum,
    .shipping-phone,
    .shipping-method-price,
    .order-summary-phone {
        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    .summary-details {
        margin-bottom: 1.25rem;
    }

    .order-history-sort {
        .order-history-select {
            display: inline-block;
            margin: 0 0.625rem 0 0;

            + .form-group {
                display: inline-block;
                max-width: 18.75rem;
            }
        }
    }

    .confirm-details {
        border: none;

        .card-header {
            padding: 0;
            border: none;
        }

        .card-body {
            padding: 0;
        }

        .order-product-summary {
            margin: 0;
        }

        .checkout-order-total-summary {
            color: $primary;
            border: none;
            padding: 2.5rem 0 0;
            margin: 0 0 0.625rem;
            border-bottom: 0.0625rem solid $grey18;

            .grand-total {
                font-family: ff(tertiary, 'bold');
            }
        }

        .free-shipping {
            .end-lines {
                color: $discount;
            }
        }
    }

    .summary-detail-wrapper {
        h6,
        .summary-section-label,
        .summary-section-label {
            color: $secondary;
            font-family: ff(tertiary, 'bold');
            font-weight: $font-weight-normal;
        }
    }

    .product-summary-block {
        width: 100%;

        .miniCart-item {
            padding: 1.8125rem 0 0;

            .miniCart-item-image {
                flex: auto;
                min-width: 9.0625rem;
            }

            .miniCart-item-description {
                flex: auto;
                max-width: inherit;
            }

            .miniCart-item-details {
                color: $primary;
                font-weight: $font-weight-normal;
                font-family: ff(tertiary);
                font-size: $font-size--3;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                line-height: $line-height-base;
            }
        }
    }

    .font-weight-semi-bold {
        font-weight: $font-weight-normal !important;
    }

    .change-password-form,
    .edit-profile-form {
        @include media-breakpoint-up (lg) {
            .form-group {
                margin-bottom: 1.5rem;
            }
        }

        .form-group {
            &.required .form-control-label::before {
                display: none;
            }
        }
    }

    .edit-profile-form {
        .form-control-label {
            &.hidden-md-down {
                display: none;
            }
        }
    }

    .btn-delete-payment {
        @include media-breakpoint-up (md) {
            min-width: 16.25rem;
            margin-top: 1.75rem !important;
        }
    }

    .col-5 {
        .btn-delete-payment {
            @include media-breakpoint-up (md) {
                min-width: auto;
            }
        }
    }

    .preferences-checkboxes {
        .form-group {
            @include media-breakpoint-up (lg) {
                margin-bottom: 1.125rem;
            }
        }
    }
}

.dashboard-row-header {
    color: $primary;
    font-family: $font-family-secondary;
    font-size: $font-size--1;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    line-height: $line-height-base;
    font-weight: $font-weight-normal;
    text-transform: uppercase;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
    */
}

.dashboard-wishlist-item {
    font-size: $font-size--3;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    .sales .value {
        font-size: $font-size--1;
    }
}

.dashboard-title-link {
    color: $primary;
    font-family: ff(tertiary);
    font-size: $font-size--4;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    line-height: $line-height-base;
    margin-bottom: 0.625rem;
    border-bottom: 0.0625rem solid $primary;

    &:hover {
        border-color: $grey20;
    }

    &:active {
        border-color: $grey2;
    }
}

.product-attribute-list {
    font-weight: $font-weight-medium;
    display: flex;
    flex-wrap: wrap;

    span {
        position: relative;
        font-weight: $font-weight-medium;
    }

    span:not(:last-child) {
        margin-right: 1.2rem;

        &::after {
            content: '';
            border-right: 0.0625rem solid $secondary;
            position: absolute;
            right: -0.6rem;
            top: 0.125rem;
            bottom: 0.125rem;
        }
    }
}

.btn-group-actions {
    .btn {
        font-size: $font-size-1;
        margin-bottom: 1rem;
    }
}

.show-no-records {
    .btn-group-actions {
        justify-content: center;
    }
}

.show-no-payment-methods {
    .no-payment-methods-container {
        display: block !important;
    }

    .dashboard-title-link {
        display: none;
    }
}

.address-form {
    .form-group input[type="checkbox"] + .form-control-label,
    .form-group input[type="radio"] + .form-control-label {
        @include media-breakpoint-down(md) {
            margin-left: 0;
        }
    }
}
