@import 'variables';
@import 'api/all';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "~brand_core/mixins/swatch";
@import "~brand_core/utilities/swatch";

$shipping-total-cost-color: #00862d;
$promo-icon-arrow-font-size: 0.4rem;
$prices-value-line-height: 1.6;
$empty-bag-message-lh: 1.33;
$empty-bag-continue-lh: 1.36;

.product-info-cart {
    margin: 0 0 1.25rem;
    font-size: $font-size--3;
    line-height: $line-height-3;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    font-weight: $font-weight-normal;
    font-family: ff(tertiary);

    .badges-container {
        font-family: ff(tertiary);
        font-size: $font-size--2;
        font-weight: $font-weight-normal;
        color: $secondary;
        margin: 0.625rem 0 0;

        .badge-item {
            display: inline-block;
            margin-right: 0.1875rem;

            &::after {
                display: inline-block;
                padding-left: 0.1875rem;
                content: '/';
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    .product-availability {
        padding-bottom: 0.3125rem;
    }

    .attributes-items {
        margin: 0.625rem 0;

        .form-control-select {
            + .select2-container {
                .select2-selection__rendered {
                    padding: 0.5625rem 0.9375rem;
                }
            }
        }

        .attribute-color {
            .swatches-item {
                padding: 0;
                background: transparent;
                border: none;
            }
        }
    }

    .swatches-item {
        display: inline-block;
        vertical-align: top;
        margin: 0.4375rem 0.4375rem 0.4375rem 0;
    }

    .swatch-circle,
    .swatch-filter {
        border: 0.0625rem solid $grey2;
        height: 1.1875rem;
        width: 1.1875rem;

        &::after {
            border-radius: 100%;
            height: 1.5625rem;
            width: 1.5625rem;
            left: -0.25rem;
            top: -0.25rem;
            border: 0.0625rem solid $grey12;
        }
    }

    .back-in-stock-container {
        margin: 0 0 0.625rem;
    }
}

.cart-empty {
    color: $primary;
    margin-top: 2.625rem;
    margin-bottom: 16.75rem;
}

.cart-empty-title {
    font-family: ff(secondary);
    font-size: $font-size-2;
    font-weight: $font-weight-heavy;
    line-height: $empty-bag-message-lh;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    margin: 0 0 2.3125rem;
    text-transform: uppercase;
}

.cart-empty-continue {
    width: 13.4375rem;
    height: 3.125rem;
    font-family: ff(secondary);
    font-size: $font-size--5;
    font-weight: $font-weight-heavy;
    line-height: $empty-bag-continue-lh;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    padding: 1.0625rem 1.875rem;
}

.empty-bag-message {
    font-family: ff(tertiary);
    font-size: $font-size--1;
    line-height: $empty-bag-message-lh;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    margin-bottom: 3.0625rem;

    .link-sign-in,
    .message-phone {
        text-decoration: underline;
    }

    .empty-bag-message-sign-in {
        margin-bottom: 1.1875rem;
    }

    .empty-bag-message-help {
        margin-bottom: 1.125rem;
    }
}

.empty-bag-message-phone {
    .message-text {
        white-space: pre;
    }
}

.cart-page {
    margin: 0 auto 3.75rem;

    .totals {
        @include media-breakpoint-down(lg) {
            padding: 0;
        }
    }
}

.cart-title {
    font-family: ff(secondary);
    font-size: $font-size-5;
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    margin: 0 0 4.6875rem;
    text-transform: uppercase;
    color: $primary;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-8;
    }

    /* rtl:raw:
        font-weight: 700;
    */
}

.cart-product-list {
    margin: 0 0 1.25rem;

    .card {
        border: none;
    }
}

.cart-product {
    &:not(:last-child) {
        margin-bottom: 1.8125rem;
    }

    .line-item-attributes {
        margin-bottom: 0;
    }

    .cart-product-link {
        font-weight: $font-weight-normal;

        /* rtl:raw:
            font-weight: 500;
        */
    }
}

.cart-product-image {
    width: 100%;
    background: $brand-light;

    @include media-breakpoint-up(lg) {
        height: 14.9375rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.cart-product-details-container {
    font-size: $font-size--2;
    line-height: $line-height-9;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    @include media-breakpoint-up(lg) {
        font-size: $font-size--3;
    }

    .cart-product-name {
        text-align: left;
        margin-bottom: 0.3125rem;
    }

    .cart-product-attribute {
        margin-bottom: 0.3125rem;
    }
}

.cart-product-details {
    margin-bottom: 0.3125rem;

    @include media-breakpoint-up (lg) {
        margin-bottom: 0.9375rem;
    }
}

.mobile-next-step {
    position: fixed;
    bottom: 0;
    z-index: map-get($zindex, zindex-3);
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);

    .mobile-next-step-wrapper {
        background: $white;
        padding: 1rem;
    }
}

.cart-product-price {
    font-size: $font-size--2;
    line-height: $line-height-9;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    text-transform: uppercase;
    margin-bottom: 0.3125rem;

    /* rtl:raw:
        font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
    */

    @include media-breakpoint-up(lg) {
        font-size: $font-size--3;
        margin-bottom: 0;
    }

    .price {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        @include media-breakpoint-up (lg) {
            justify-content: flex-end;
        }

        .cart-product-price-main {
            order: 1;
            margin-right: 0.938rem;
        }

        .cart-product-price-discounted {
            order: 2;
        }
    }
}

.cart-bonus-product-no-price {
    text-align: left;
    margin-bottom: 0.3125rem;

    @include media-breakpoint-up (lg) {
        text-align: right;
    }
}

.cart-quantity {
    margin: 0;

    .quantity {
        max-height: 1.8rem;
        max-width: 3.6rem;

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    .cart-product-attribute-title {
        margin-right: 0.225rem;
    }
}

.cart-link {
    line-height: $line-height-15;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    padding: 0;
    background: none;
    border: none;
    border-bottom: 0.0625rem solid $secondary;
    color: $secondary;
    transition: all 0.2s ease-in-out;

    @include media-breakpoint-up(lg) {
        font-size: $font-size--3;
    }

    &:hover {
        border-color: transparent;
        color: rgba($secondary, 0.5);
    }
}

.cart-product-actions-item {
    margin-right: 0.625rem;
    margin-bottom: 0.9375rem;

    .cart-wishlist {
        padding-bottom: 0.0625rem;
    }
}

.next-step-box {
    background: $brand-light;
    padding: 1.675rem 0.9375rem;
    font-size: $font-size--1;
    line-height: $line-height-7;
    color: $primary;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    @include media-breakpoint-up(lg) {
        padding: 1.125rem 2.625rem;
        max-width: 24.375rem;
        margin: 0 auto;
    }

    .free-shipping-title {
        font-family: ff(tertiary);
        font-weight: $font-weight-normal;
        font-size: $font-size--1;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        color: $primary;
    }

    .coupon-presented-image-wrapper {
        max-width: 20.625rem;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(lg) {
            max-width: 100%;
        }
    }

    .coupon-presented-image {
        @include media-breakpoint-up(lg) {
            margin-bottom: 1.4375rem;
        }
    }

    .free-gift-title {
        font-family: ff(tertiary, 'bold');
        margin-bottom: 0.625rem;
    }

    .total-container {
        font-family: $font-family-tertiary-bold #{'/*rtl:"NHaasGroteskTXPro-Md", Arial, Sans-serif*/'};
        font-weight: $font-weight-normal;
        margin-bottom: 1.0625rem;
    }

    .btn-apply-promo-code {
        display: none;
        color: $grey4;
        font-size: $font-size--2;
        font-family: ff(tertiary);
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        background-color: $white;
        border: none;
        position: absolute;
        text-transform: none;
        width: 6.25rem;
        right: 0.0625rem;
        top: 0.0625rem;
        z-index: map-get($zindex, zindex-5);
        height: 3rem;
        padding-top: 0.95rem;
    }

    .free-shipping {
        .end-lines {
            color: $shipping-total-cost-color;
        }
    }

    .coupon-code-field {
        &::placeholder {
            font-size: $font-size-base;
            letter-spacing: $font-ls-3 #{"/*rtl:normal*/"};
            font-family: ff(tertiary);
            color: $grey4;
            opacity: 1;
        }
    }

    .next-step-box-totals {
        font-weight: $font-weight-normal;
        line-height: 1.75rem;

        .text-right,
        .order-receipt-label {
            margin-bottom: 0.25rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .text-right {
            /* rtl:raw:
                font-family:"NHaasGroteskTXPro", Arial, Sans-serif;
            */
        }

        .sub-total-label {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        @include media-breakpoint-down(lg) {
            font-size: $font-size--2;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            line-height: $line-height-1;
            font-weight: $font-weight-normal;

            .row {
                margin-bottom: 0.5625rem;
            }
        }

        .grand-total {
            /* rtl:raw:
                font-family:"NHaasGroteskTXPro-Md", Arial, Sans-serif;
            */
        }
    }

    .order-sub-total {
        display: flex;
        justify-content: flex-end;

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    .btn-link {
        font-family: ff(tertiary);
        font-size: $font-size--1;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        text-transform: none;
        margin-bottom: 0.125rem;
        text-decoration: none;

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */

        .icon {
            font-size: $promo-icon-arrow-font-size;
            margin-top: -0.2125rem;
            transform: rotate(180deg);
        }

        &.collapsed {
            .icon {
                transform: rotate(0);
            }
        }
    }
}

.coupon-error {
    margin-top: 0.6125rem;
}

.coupon-error-message,
.coupon-missing-error {
    color: $tabasco;
    font-weight: $font-weight-medium;
}

.coupon-missing-error {
    display: none;
}

.cart-section-title {
    font-size: $font-size-2;
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
    letter-spacing: $font-ls-6 #{"/*rtl:normal*/"};
    margin: 0 0 0.625rem;
    text-transform: uppercase;
    color: $primary;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-4;
    }
}

.product-image-carousel {
    .modal-header {
        display: none;
    }
}

#editProductModal {
    .modal-content {
        > .modal-header {
            background: transparent;
            display: block;
            border: none;
        }
    }

    .modal-content {
        .modal-body {
            max-height: 100%;
            max-width: 100%;
            padding: 1rem;
        }
    }
}

.detail-panel {
    .attribute-color {
        .swatches-item {
            padding: 0;
            background: transparent;
            border: none;
        }
    }

    .attributes-items {
        margin: 0.625rem 0;

        .attribute-color {
            .swatches-item {
                padding: 0;
                background: transparent;
                border: none;
            }
        }
    }

    .swatches-item {
        display: inline-block;
        vertical-align: top;
        margin: 0.4375rem 0.4375rem 0.4375rem 0;
    }

    .swatch-circle,
    .swatch-filter {
        background-size: cover;

        .quick-view-dialog & {
            &.selected {
                &::after {
                    content: "";
                    background: none;
                    height: 1.5625rem;
                    width: 1.5625rem;
                    left: -0.25rem;
                    top: -0.25rem;
                }
            }
        }
    }
}

.quick-view-dialog {
    margin-top: 9.9375rem;

    @include media-breakpoint-down(sm) {
        margin: 0;
    }
}

.product-quickview {
    color: $primary;

    .product-name {
        font-family: ff(secondary);
        font-size: $font-size-4;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        text-transform: uppercase;
        font-weight: $font-weight-normal;
        margin: 0;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */
    }

    .update-cart-product-global {
        width: 100%;
    }

    .cart-product-attribute-title {
        margin-right: 0.125rem;
    }

    .cart-product {
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    .cart-product-attribute {
        margin-bottom: 0.3125rem;
    }

    .prices {
        font-weight: $font-weight-normal;
        margin-bottom: 0.3125rem;
        padding: 0 0.9375rem;
        text-align: left;

        .price {
            .starting,
            .range,
            .sales {
                font-weight: $font-weight-normal;
            }
        }

        .sales {
            font-size: $font-size-base;
        }

        .value {
            font-size: $font-size--3;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            line-height: $prices-value-line-height;

            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */
        }
    }

    .product-thumbnails-wrapper {
        display: none;
    }

    .select2 {
        .select2-selection__rendered {
            padding: 0.5625rem 0.9375rem;

            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */
        }
    }

    .quantity,
    .quantity-selector {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .quantity {
        background-image: none;
        border-width: 0 0 0.0625rem;
        padding-left: 0;
        padding-right: 0;
    }

    .quantity-selector {
        margin-right: 0.3125rem;

        .btn-link {
            width: 1.25rem;
            height: 0.25rem;
            padding: 0;
            text-align: center;

            &.disabled {
                background-color: transparent;
            }
        }

        .form-control {
            background-color: $white;
            font-size: $font-size--1;
            font-weight: $font-weight-medium;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            text-align: center;
            width: 3rem;
            padding: 0;

            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */
        }
    }

    .border-0 {
        width: 8rem;
        height: 2rem;
    }

    .sc-icon-plus {
        margin-left: 1.25rem;
        margin-bottom: 0.5rem;

        &::before,
        &::after {
            width: 0.875rem;
        }
    }

    .product-image {
        @include media-breakpoint-down (sm) {
            margin-bottom: 0.9375rem;
        }
    }

    .attribute {
        margin-top: 0;
    }
}

.cart-gift-wrapping {
    padding: 1.25rem 0.9375rem;
    background: $brand-light;
    margin: 0 -0.9375rem 1.25rem;
    font-size: $font-size--3;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    @include media-breakpoint-up(lg) {
        padding: 1.875rem 2.625rem 1.25rem;
        margin: 0 0 1.25rem;
    }

    .gift-wrapping-check {
        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;

            .gift-wrapping-check-action {
                order: 2;
            }

            .gift-wrapping-message {
                order: 1;
                margin-bottom: 1rem;
            }
        }

        .form-group input[type='checkbox'] {
            + .form-control-label::after {
                top: 1.25rem;
            }
        }

        .form-control-label {
            color: $secondary;
            font-size: $font-size--3;
            font-family: ff(tertiary);
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }

        &.hide-price {
            margin-bottom: 0.25rem;
        }
    }

    .gift-wrapping-message {
        .form-control-label {
            display: none;
        }

        .form-control {
            font-size: $font-size--2;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            border-color: $alto;
            height: 5rem;
        }

        .form-group {
            margin-bottom: 0;
        }
    }

    .gift-wrapping-description {
        color: $secondary;
        font-size: $font-size--3;
        font-family: ff(tertiary);
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin-bottom: 0.8125rem;
    }
}

.cart-section-wrapper {
    &.gift-wrapping-active {
        .gift-wrapping-check {
            .gift-wrapping-check-action {
                display: none;
            }

            .gift-wrapping-message {
                color: $primary;
                font-family: $font-family-tertiary-bold;
                margin-bottom: 0.9375rem;

                /* rtl:raw:
                    font-family:"GESSTwoBold-Bold", Arial, Sans-serif;
                */
            }
        }

        .gift-wrapping-check-action {
            margin: 0;
        }

        .cart-gift-wrapping {
            @include media-breakpoint-up(lg) {
                padding-bottom: 1.875rem;
            }
        }
    }
}

.gift-wrapping-check {
    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.gift-wrapping-check-action {
    @include media-breakpoint-up(lg) {
        order: 1;
        margin-top: -0.625rem;
        min-width: 10.9375rem;
        text-align: right;
    }

    .gift-wrapping-check-input {
        position: absolute;
        width: 0.0625rem;
        height: 0.0625rem;
        opacity: 0;
    }

    .gift-wrapping-check-button {
        cursor: pointer;
        width: 100%;
        font-size: 0.6875rem;
        letter-spacing: 0.05125rem #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */

        @include media-breakpoint-up(lg) {
            margin: 0;
            width: auto;
            min-width: 13.5625rem;
        }
    }
}

.cart-page-carousel {
    margin-top: 5.625rem;

    .tab-content {
        > .tab-pane {
            display: block;
            height: 0;
            overflow: hidden;
        }
    }

    .tab-content {
        > .active {
            height: auto;
        }
    }

    .nav-tabs {
        border-bottom: none;
    }

    .recently-viewed-tab {
        margin-right: 0.625rem;

        @include media-breakpoint-up (md) {
            margin-right: 1.875rem;
        }
    }

    .nav-link {
        font-family: ff(secondary);
        font-size: $font-size--3;
        line-height: 1.75rem;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        text-transform: uppercase;
        padding: 0;

        @include media-breakpoint-up (md) {
            font-size: $font-size-4;
        }

        &.active {
            color: $primary;
            border-bottom-width: 0.125rem;
        }
    }

    &.product-carousel-wrapper {
        .recommendations-carousel-title {
            font-family: ff(secondary);
            font-size: $font-size--2;
            font-weight: $font-weight-normal;
            line-height: $line-height-base;
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
            margin-bottom: 1.25rem;

            /* rtl:raw:
                font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            */

            @include media-breakpoint-up(lg) {
                font-size: $font-size-base;
            }
        }

        .recommendations-carousel {
            margin: 1.875rem -0.4375rem 0;

            @include media-breakpoint-up(lg) {
                margin: 1.875rem -0.9375rem 3.75rem;
            }

            .product-tile {
                padding: 0 0.4375rem;

                @include media-breakpoint-up(lg) {
                    padding: 0 0.9375rem;
                }

                .product-tile-add-to-cart {
                    display: none;
                }

                .pdp-link {
                    white-space: normal;
                }

                .swatches-container {
                    white-space: normal;
                }

                .color-swatches {
                    .swatch-circle-image {
                        margin: 0;
                    }
                }

                .slick-arrow {
                    opacity: 0;
                    transition: $animation-default;

                    &::before {
                        font-size: $font-size-2;
                    }
                }

                .slick-next {
                    right: 0.625rem;

                    /* rtl:raw:
                        right: auto;
                        transform: rotate(180deg);
                    */

                    &:hover {
                        right: 0.4375rem;
                    }
                }

                .slick-prev {
                    left: 0.625rem;

                    /* rtl:raw:
                        left: auto;
                        transform: rotate(180deg);
                    */

                    &:hover {
                        left: 0.4375rem;
                    }
                }

                .product-tile-image-carousel {
                    &:hover {
                        .slick-arrow {
                            @include media-breakpoint-up(xl) {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.gift-wrapping-message {
    font-size: $font-size--3;
    line-height: $line-height-9;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    color: $secondary;
}
