@import 'variables';
@import 'api/all';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

@import "~base/checkout/checkout";
@import "./checkout/checkout";

.payment-information {
    .nav-item-radio {
        font-family: ff(tertiary, 'bold');
        margin-bottom: 0;
    }
}

.credit-card-content {
    margin-bottom: 1.25rem;
}

.saved-payment-instrument {
    background: $white;
    color: $secondary;
    font-family: ff(tertiary);
    margin-left: -1.875rem;
    margin-right: -1.875rem;
}

.saved-credit-card-type {
    font-size: $font-size--1;
    font-weight: $font-weight-normal;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    margin-bottom: 0.5rem;

    .card-image {
        width: 1.3125rem;
        margin: 0 0.125rem 0 0;
    }
}

.saved-credit-card-number {
    font-size: $font-size--1;
    font-weight: $font-weight-normal;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
}

.saved-credit-card-expiration-date {
    margin-top: 0.5rem;
    font-size: $font-size--1;
    font-weight: $font-weight-normal;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
}

.security-code-input {
    width: 6.25rem;

    @include media-breakpoint-up(sm) {
        width: auto;
    }

    .form-control-label {
        font-family: ff(secondary);
        font-weight: $font-weight-normal;
        font-size: $font-size--1;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        color: $secondary;

        .billing-payment-options-block & {
            font-family: ff(tertiary);
        }
    }
}

.security-code-btn {
    background: none;
    border-radius: 1.875rem;
    height: 1.25rem;
    width: 1.25rem;
    text-align: center;
    position: relative;
    top: 1px;

    &::after {
        content: '';
        border-radius: 1.875rem;
        height: 1.25rem;
        width: 1.25rem;
        background: $white;
        border: 1px solid $grey3;
        position: absolute;
        top: -0.125rem;
        left: -0.125rem;
        z-index: map-get($zindex, zindex-6);
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        z-index: map-get($zindex, zindex-7);
    }

    .tooltip {
        background: $white;
        padding: 0.1875rem 0.375rem;
        border: 1px solid $athens-gray;
        opacity: 1;
        top: 0.625rem;
        left: 0.625rem;
    }
}

.saved-payment-security-code {
    height: 2.5rem;
    text-align: center;
}

.saved-security-code {
    margin-top: auto;
    margin-bottom: 1rem;
}

.shipment-selector-block {
    @include media-breakpoint-up (lg) {
        .form-group {
            margin-bottom: 1.5rem;
        }
    }
}
