@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "~brand_core/mixins/swatch";
@import "components/quantitySelector";
@import "components/checkoutComponents";

.checkout-title {
    font-size: $font-size-6;
    padding: 1.25rem 1rem;
    margin: 0;

    span {
        font-weight: $font-weight-normal;
    }

    @include media-breakpoint-up(md) {
        font-size: $font-size-11;
        padding: 1.25rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 1.25rem 0.9375rem;
        font-size: $font-size-8;
    }
}

.cart-header {
    background-color: $primary;
    color: $white;
    font-size: $font-size-3;
    font-weight: $font-weight-demi-bold;
    line-height: 1;
    padding: 1rem;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        padding: 1rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 1rem 0.9375rem;
    }
}

.cart-product {
    padding: 1.25rem 0 1.875rem;

    .simple-quantity {
        padding: 0;
        max-width: 10rem;

        @include media-breakpoint-up(lg) {
            padding: 0 1rem 0 0;
        }
    }

    .quantity {
        padding: 0.5rem 0.875rem;
        max-width: 13.125rem;

        @include media-breakpoint-up(sm) {
            width: 13.125rem;
        }

        @include media-breakpoint-up(lg) {
            width: 10rem;
        }
    }
}

.cart-product-details {
    .swatch-circle {
        border: 0.0625rem solid $wildsand;
        @include swatch($size: 1.25rem);
    }
}

.cart-product-image {
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        width: 6.25rem;
        height: 6.25rem;
    }
}

.product-image {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.color-name {
    font-size: $font-size--1;
    font-weight: $font-weight-medium;
    padding-left: 0.5rem;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        font-size: $font-size-1;
    }
}

.cart-product-attribute {
    font-size: $font-size-1;
}

.cart-product-price,
.cart-bonus-product-no-price {
    font-size: $font-size-3;
    font-weight: $font-weight-demi-bold;
    text-transform: uppercase;
}

.cart-product-name {
    font-size: $font-size-2;
    font-stretch: condensed;
    font-weight: $font-weight-demi-bold;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        font-size: $font-size-6;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-3;
    }
}

.cart-product-price {
    text-align: right;
    padding: 0.5rem 0;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }
}

.pre-order-description {
    font-size: $font-size--1;
}

.add-to-wishlist-container {
    span {
        display: inline-block !important;
    }

    i {
        display: none;
    }
}

.coupon-error-message,
.coupon-missing-error {
    margin-top: 0.25rem;
    font-size: 80%;
    color: $red;
}

.coupon-missing-error {
    display: none;
}

.cart-product-actions {
    margin-top: 1rem;

    > div {
        position: relative;

        &:not(:first-child) {
            padding-left: 1.25rem;

            &::before {
                left: 0.5rem;
                background-color: $primary;
                border-radius: 50%;
                content: "";
                height: 0.25rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 0.25rem;
            }
        }
    }

    .btn {
        color: $primary;
        margin: 0 !important;
        padding: 0;
        text-decoration: underline;

        span {
            text-decoration: underline;
        }
    }
}

.promo-wrapper {
    .form-control {
        border: none;
        border-bottom: 0.0625rem solid $black;
        background-color: transparent;
        font-size: $font-size-2;
        padding-left: 0;
        padding-right: 0;

        &:focus {
            background-color: transparent;
            border-color: $primary;
            box-shadow: 0 0.0625rem 0 0 $primary;
            outline: none !important;
        }
    }

    button {
        width: 10rem;

        @include media-breakpoint-up(sm) {
            font-size: $font-size-2;
            width: 13.125rem;
        }

        @include media-breakpoint-up(lg) {
            width: 10rem;
        }
    }
}

.next-step-box {
    background-color: $alabaster;
}

.next-step-box-totals {
    h5 {
        font-weight: $font-weight-demi-bold;

        @include media-breakpoint-up(md) {
            font-size: $font-size-6;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-8;
        }
    }
}

.basket-section {
    padding: 0 1rem;

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 0.9375rem;
    }

    .checkout-supported-payment-methods {
        display: none;
    }

    .next-step-box-totals {
        .totals-line.grand-total {
            border-bottom: 0;
        }
    }
}

.cart-actions {
    padding-bottom: 0;
    padding-top: 1.875rem;

    .action-title {
        text-align: left;
        font-size: $font-size-6;
        font-weight: $font-weight-demi-bold;
        text-transform: uppercase;
        padding-bottom: 1.25rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-11;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-8;
        }
    }

    .btn {
        display: block;
    }
}

.cart-gift-certificate {
    .action-title {
        display: block;
    }
}

.cart-promo-code,
.cart-gift-certificate {
    .action-title {
        @include media-breakpoint-only(lg) {
            min-height: 6rem;
        }
    }
}

.continue-shopping {
    background-color: $grey1;
    padding: 1.25rem 1rem;

    a {
        text-transform: uppercase;
        font-weight: $font-weight-medium;
    }

    i::before {
        font-size: $font-size-1;
    }

    @include media-breakpoint-up(md) {
        padding: 1.25rem 2.5rem;
    }

    @include media-breakpoint-up(lg) {
        background-color: transparent;
        display: inline-block;
        font-size: $font-size--1;
        padding: 1.25rem 1rem 0;
    }

    &.footer-continue-shopping {
        background-color: transparent;
    }
}

.order-summary-footer {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.coupons-and-promos {
    display: flex;
    flex-wrap: wrap;
}

.coupon-price-adjustment {
    background-color: $grey2;
    display: flex;
    margin-bottom: 0.3125rem;
    padding: 0.3125rem 1.45rem 0.3125rem 0.3125rem;
    position: relative;

    &:not(:last-child) {
        margin-right: 0.3125rem;
    }
}

.remove-coupon {
    background: transparent;
    border: none;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    padding-right: 0.45rem;
    position: absolute;
    top: 0;
    width: 100%;

    i::before {
        font-size: $font-size--1;
    }
}

.coupon-error-message,
.coupon-not-applied {
    color: $red;
}

.qualified-message {
    color: $grey4;
    font-size: $font-size-base;
}

.summary-footer-wrapper {
    @include media-breakpoint-down(md) {
        background-color: $grey1;
    }
}

.delete-confirmation-body {
    .product-to-remove {
        margin-top: 1rem;
    }
}
