@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "~brand_core/mixins/swatch";
@import "~brand_core/mixins/functions";
@import "components/checkoutComponents";

.error-message {
    display: none;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .payment-summary,
        .shipping-summary,
        .sample-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        .submit-payment {
            display: none;
        }

        .checkout-shipping-tab {
            .checkout-seperator {
                display: none;
            }

            .next-step-button {
                display: none;
            }
        }
    }

    // Samples ------------------------------
    &[data-checkout-stage="sample"] {
        .samples-summary {
            display: none;
        }

        &.multi-ship .order-product-summary {
            display: none;
        }

        .shipping-section {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        .sample-section {
            display: block;
        }

        .checkout-shipping-tab {
            .checkout-seperator {
                display: none;
            }
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage="shipping"] {
        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        .sample-section {
            display: none;
        }

        .checkout-shipping-tab {
            .next-step-button {
                display: block;
            }
        }

        [data-address-mode="customer"] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode="shipment"] {
            .shipping-address-form,
            .btn-show-details,
            .btn-add-new {
                display: none;
            }

            .checkout-seperator {
                margin-bottom: 0.9375rem;
            }
        }

        [data-address-mode="edit"] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode="details"] {
            .checkout-seperator {
                margin-bottom: 0.9375rem;
            }
        }

        [data-address-mode="new"] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }

            .checkout-seperator {
                margin-bottom: 0.9375rem;
            }
        }

        .checkout-shipping-tab {
            .checkout-seperator {
                display: block;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage="payment"] {
        .shipping-section,
        .card.ghost {
            display: none;
        }

        .sample-section {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        .submit-payment {
            display: block;
        }

        .submit-payment-button-holder {
            @include media-breakpoint-down(sm) {
                position: sticky;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $white;
            }
        }

        [data-address-mode="customer"] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode="shipment"] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode="new"] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode="details"] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        .checkout-shipping-tab {
            .checkout-seperator {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage="placeOrder"] {
        .shipping-section {
            display: none;
        }

        .payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage="submitted"] {
        .shipping-form,
        .card.payment-form {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value="new"] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type="guest"] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 0.625rem;
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.checkout-inner-title {
    display: block;
    font-size: $font-size-4;
    font-weight: $font-weight-medium;
    padding: 1.25rem 0;
    text-transform: uppercase;

    + .form-control-label {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        text-transform: none;
    }
}

.shipment-selector-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
        font-size: $font-size-1;
        font-weight: $font-weight-demi-bold;
        text-decoration: underline;
        text-transform: uppercase;
        padding: 1rem 0;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

.shipping-method-block,
.special-request-form {
    padding: 0 0.9375rem;

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
    }

    .checkout-inner-title {
        padding-top: 0.9375rem;
    }
}

.shipment-selector-block {
    padding: 0 0.9375rem;

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
    }
}

.shipping-method-option {
    .display-name {
        font-size: $font-size-3;
        font-weight: $font-weight-demi-bold;
        line-height: 1.5;
        position: relative;
        top: -0.125rem;
    }

    .arrival-time {
        font-size: $font-size-2;
    }
}

.shipping-method-pricing {
    font-weight: $font-weight-demi-bold;

    .shipping-cost {
        color: $primary;
        font-size: $font-size-2;
        font-weight: $font-weight-medium;
    }

    .discounted-shipping-cost {
        color: $french-rose;
        font-size: $font-size-4;
        text-transform: uppercase;
    }
}

.shipping-address {
    padding: 0;

    @include media-breakpoint-up(lg) {
        padding: 0;
    }
}

.shipping-address-block {
    padding: 1.25rem;
    background-color: $grey1;

    @include media-breakpoint-up(md) {
        padding: 1.25rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 1.25rem 0.9375rem;
    }
}

.shipping-summary-item {
    padding: 0.9375rem;

    @include media-breakpoint-up(md) {
        padding: 0.9375rem 2.4375rem;
    }
    @include media-breakpoint-up(lg) {
        padding: 0.9375rem;
    }
}

.shipping-wrapper {
    background-color: $grey1;
    font-size: $font-size-2;

    @include media-breakpoint-up(lg) {
        padding: 0.9375rem;
    }

    h6 {
        font-size: $font-size-2;
        font-weight: $font-weight-demi-bold;
        margin-bottom: 0.9375rem;
        text-transform: none;
    }
}

.payment-form {
    border: none;

    .card-body {
        padding: 0;
    }

    .nav-tabs .nav-link.active {
        border: none;
    }
}

.billing-address {
    .billing-address-label {
        font-size: $font-size-1 !important;
        font-weight: $font-weight-normal;
        text-transform: initial;
    }

    .form-group {
        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }
    }
}

.billing-address-block {
    padding: 0 0.9375rem;

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
    }
}

.billing-payment-options-block {
    .nav-tabs .nav-link {
        &.active {
            margin-bottom: -0.0625rem;

            .label-service-fee {
                display: block;
            }
        }

        &.radio-button-link {
            border-bottom: 0.0625rem solid $border-color;
            border-left: 0 !important;
            border-right: 0 !important;
            font-size: $font-size-2;
            margin: 0 0.9375rem;
            min-height: 3.75rem;
            padding: 0.3125rem 0;
            text-align: left;

            &:not(.saved-payment-instrument) {
                font-weight: $font-weight-demi-bold;
            }

            @include media-breakpoint-up(md) {
                min-height: 5rem;
                font-size: $font-size-4;
                padding: 0.9375rem 0;
                margin: 0 2.4375rem;
            }

            @include media-breakpoint-up(lg) {
                padding: 0.9375rem 0;
                margin: 0;
            }

            &.active,
            &.selected-payment {
                color: $primary;
                font-weight: $font-weight-demi-bold;
            }

            &.payment-method-credit_card.customer-has-payment-instruments.customer-is-registered {
                display: none;
            }

            .btn {
                font-size: $font-size-2;
                font-weight: $font-weight-demi-bold;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                text-decoration: underline !important;
                text-align: left;

                @include media-breakpoint-up(md) {
                    font-size: $font-size-4;
                }
            }

            > i {
                margin-right: 1rem;
            }

            > span,
            > div {
                align-items: center;
            }

            &.selected-payment > i {
                border-color: $secondary;

                &::after {
                    display: block;
                }
            }

            .saved-credit-card-info {
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            .saved-security-code {
                @include media-breakpoint-down(sm) {
                    align-self: flex-start;
                    margin-left: 0.25rem;
                    margin-top: 0.25rem;
                    margin-bottom: 0.375rem;
                }
            }
        }

        .nav-link-note {
            font-size: $font-size--2;
            font-weight: $font-weight-medium;
            font-style: italic;
            display: block;
        }
    }

    .label-service-fee {
        display: none;
        font-weight: $font-weight-extra-bold;
        white-space: nowrap;
    }

    .label-default-method {
        color: $grey3;
        font-weight: $font-weight-light;
        font-size: $font-size--2;
    }

    .form-control-label {
        font-size: $font-size-2;
    }

    .checkout-form {
        .save-credit-card {
            label {
                text-transform: none;

                &::before {
                    background: none !important;
                }
            }
        }
    }

    .securityCode {
        max-width: 9.5rem;
    }

    .security-code-input-container {
        display: flex;
        align-items: center;

        i {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            &::before {
                font-size: $font-size-16;
            }
        }

        .form-text {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            max-width: 7.5rem;
            margin-top: 0;
            margin-left: 0.625rem;
        }
    }

    .tab-content {
        > .fieldset-content {
            background-color: $white;
            border: 0;
            padding: 0;
        }
    }

    .fade:not(.show) {
        display: none;
    }

    .fade.customer-has-payment-instruments.payment-method-credit_card {
        display: block;
        opacity: 1;
    }

    .payment-method-cod {
        .verify-phone-input:read-only {
            background-color: $white;
        }
    }

    .region-code {
        max-height: 2.75rem !important;
    }

    .applepay-content {
        button {
            display: inline-block;
            margin-top: 0;
        }
    }
}

.checkout-form {
    background-color: $grey2;
    padding: 1.25rem 0.9375rem;
    margin-top: -0.0625rem;

    @include media-breakpoint-up(md) {
        padding: 1.5rem 2.375rem 0.75rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 1.5rem 2rem 0.75rem;
    }
}

.nav-link {
    padding: 1.25rem 0.9375rem;

    @include media-breakpoint-up(md) {
        padding: 0.9375rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0.9375rem 2.4375rem;
    }
}

.terms-and-conditions-warning {
    margin-top: 0.625rem;

    a {
        font-weight: $font-weight-normal;
        text-decoration: underline;
        text-transform: none;
    }
}

.submit-payment-button-holder {
    @include media-breakpoint-down(sm) {
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
    }
}

.card-number-wrapper {
    .input-credit-card-number {
        text-align: left;
        direction: ltr rtl-ignore();
    }
}
