body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStd';
    src: url('../fonts/ITCAvantGardeStd-Bk.eot');
    src:
        url('../fonts/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'),
        url('../fonts/ITCAvantGardeStd-Bk.woff') format('woff'),
        url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype'),
        url('../fonts/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg');
    font-weight: $font-weight-normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStd';
    src: url('../fonts/ITCAvantGardeStd-Md.eot');
    src:
        url('../fonts/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('../fonts/ITCAvantGardeStd-Md.woff') format('woff'),
        url('../fonts/ITCAvantGardeStd-Md.ttf') format('truetype'),
        url('../fonts/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg');
    font-weight: $font-weight-medium;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStd';
    src: url('../fonts/ITCAvantGardeStd-Demi.eot');
    src:
        url('../fonts/ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'),
        url('../fonts/ITCAvantGardeStd-Demi.woff') format('woff'),
        url('../fonts/ITCAvantGardeStd-Demi.ttf') format('truetype'),
        url('../fonts/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi') format('svg');
    font-weight: $font-weight-demi-bold;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStd';
    src: url('../fonts/ITCAvantGardeStd-BkCond.eot');
    src:
        url('../fonts/ITCAvantGardeStd-BkCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardeStd-BkCond.woff2') format('woff2'),
        url('../fonts/ITCAvantGardeStd-BkCond.woff') format('woff'),
        url('../fonts/ITCAvantGardeStd-BkCond.ttf') format('truetype'),
        url('../fonts/ITCAvantGardeStd-BkCond.svg#ITCAvantGardeStd-Bk') format('svg');
    font-weight: $font-weight-normal;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStd';
    src: url('../fonts/ITCAvantGardeStd-MdCond.eot');
    src:
        url('../fonts/ITCAvantGardeStd-MdCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardeStd-MdCond.woff2') format('woff2'),
        url('../fonts/ITCAvantGardeStd-MdCond.woff') format('woff'),
        url('../fonts/ITCAvantGardeStd-MdCond.ttf') format('truetype'),
        url('../fonts/ITCAvantGardeStd-MdCond.svg#ITCAvantGardeStd-Md') format('svg');
    font-weight: $font-weight-medium;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStd';
    src: url('../fonts/ITCAvantGardeStd-DemiCond.eot');
    src:
        url('../fonts/ITCAvantGardeStd-DemiCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardeStd-DemiCond.woff2') format('woff2'),
        url('../fonts/ITCAvantGardeStd-DemiCond.woff') format('woff'),
        url('../fonts/ITCAvantGardeStd-DemiCond.ttf') format('truetype'),
        url('../fonts/ITCAvantGardeStd-DemiCond.svg#ITCAvantGardeStd-Demi') format('svg');
    font-weight: $font-weight-demi-bold;
    font-style: normal;
    font-stretch: condensed;
}

.font-weight-normal {
    font-weight: $font-weight-normal;
}

.font-weight-medium {
    font-weight: $font-weight-medium;
}

.font-weight-demi-bold {
    font-weight: $font-weight-demi-bold;
}

.font-weight-bold {
    font-weight: $font-weight-bold;
}

.font-size-large {
    font-size: $font-size-1;
}

.font-size-larger {
    font-size: $font-size-2;
}

.font-size-small {
    font-size: $font-size--1;
}

.font-size-smaller {
    font-size: $font-size--2;
}

@each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($bp) {
        .font-weight-#{$bp}-normal {
            font-weight: $font-weight-normal;
        }

        .font-weight-#{$bp}-medium {
            font-weight: $font-weight-medium;
        }

        .font-weight-#{$bp}-demi-bold {
            font-weight: $font-weight-demi-bold;
        }

        .font-weight-#{$bp}-bold {
            font-weight: $font-weight-bold;
        }

        .font-size-#{$bp}-small {
            font-size: $font-size--1;
        }

        .font-size-#{$bp}-smaller {
            font-size: $font-size--2;
        }
    }
}
