@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.module-error {
    .error-text {
        @include media-breakpoint-down(md) {
            display: contents;
        }

        .error-header {
            padding-right: 0.9375rem;

            @include media-breakpoint-up(lg) {
                padding-top: 4.5rem;
                margin-left: -3.4375rem;
            }

            @include media-breakpoint-down(sm) {
                width: 50%;
            }

            .error-code {
                font-size: 5rem;
                font-weight: $font-weight-demi-bold;

                @include media-breakpoint-down(md) {
                    font-size: 2.5rem;
                }
            }

            .error-title {
                font-size: $font-size-18;
                font-weight: $font-weight-demi-bold;
                text-transform: uppercase;
                margin-top: 0.5625rem;
                margin-bottom: 1.6875rem;
                line-height: 1.4;

                @include media-breakpoint-down(md) {
                    font-size: $font-size-6;
                    max-width: 7.5rem;
                }
            }

            .error-subtitle {
                font-size: $font-size-3;
                font-weight: $font-weight-medium;
                line-height: 1.4;

                @include media-breakpoint-up(md) {
                    max-width: 21.875rem;
                }

                @include media-breakpoint-down(md) {
                    font-size: $font-size-1;
                }

                @include media-breakpoint-down(sm) {
                    font-size: $font-size-base;
                    max-width: 9.375rem;
                }
            }
        }

        .error-buttons {
            @include media-breakpoint-up(lg) {
                padding-top: 7.125rem;
                margin-left: -11.25rem;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }

            ul {
                li {
                    background: $black;

                    @include media-breakpoint-up(lg) {
                        float: left;
                        margin-left: 1.875rem;
                        width: calc(33.3% - 1.875rem);
                    }

                    @include media-breakpoint-down(md) {
                        width: 20.625rem;
                        margin: 1.25rem auto;
                    }

                    @include media-breakpoint-down(xs) {
                        width: 9.8125rem;
                    }

                    a {
                        color: $white;
                        font-size: $font-size-base;
                        font-weight: $font-weight-medium;
                        height: 2.8125rem;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            text-decoration: none;
                        }

                        @include media-breakpoint-down(xs) {
                            height: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

.module-favorites {
    .border-line {
        background: $border-color;
        height: 0.0625rem;
        width: 100%;
        margin: 2.5rem 0;
    }

    .slick-slider {
        .slick-dots {
            display: none !important;
        }
    }
}
