@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "~brand_core/mixins/swatch";

.sales .value {
    font-weight: $font-weight-demi-bold;
    font-size: $font-size-4;
}

.wishlist-header .row {
    line-height: 0.94rem;
}

.quantity-form-wishlist {
    line-height: 0.8125rem;
}

.edit-add-to-wishlist,
.remove-from-wishlist {
    font-weight: $font-weight-medium !important;
    font-size: $font-size-base;
}

.quantity-form-wishlist .custom-select {
    font-size: $font-size-1;
}

.add-to-cart,
.shop-now,
.btn-update-wishlist-product-quantity,
.js-add-to-cart-multiple {
    line-height: 1.33rem;
    @include media-breakpoint-only(md) {
        font-size: $font-size-2;
        line-height: 1.43rem;
    }
}

.item-no {
    line-height: 1.15rem;
}

.item-actions {
    line-height: 1.25rem;
    margin-top: 1.5rem;
}

.item-variation {
    font-size: $font-size-1;
    line-height: 1.15rem;

    @include media-breakpoint-down(xs) {
        font-size: $font-size--1;
        line-height: 1.36rem;
    }
}

.wishlist-footer {
    @include media-breakpoint-down(xs) {
        border-top: 0;
    }
}

.item-name {
    font-weight: $font-weight-demi-bold !important;
    font-stretch: condensed;

    @include media-breakpoint-down(md) {
        font-size: $font-size-2 !important;
        line-height: 1.07rem;
    }
}

.item-image {
    width: 6.25rem;
    height: 6.25rem;
    text-align: center;

    img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.line-item-pricing-info {
    font-size: $font-size-base !important;
    line-height: 1.33rem;
}

.item-tag {
    .swatch-circle {
        display: inline-block;
        @include swatch($size: 1.25rem);
    }

    .color-name {
        font-size: $font-size--1;
        font-weight: $font-weight-medium;
        padding-left: 0.5rem;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: $font-size-1;
        }
    }
}
