@import "../variables";

@each $value in hidden, auto, scroll {
    @each $bp in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($bp) {
            .overflow-#{$bp}-#{$value} { overflow: $value !important; }
        }
    }
}
