@import "../variables";
@import "../mixins/swatch";

$swatch-colors: (
    'beige': #f5f5dc,
    'black': $black,
    'blue': $blue,
    'brown': #a52a2a,
    'green': $green,
    'grey': #8f979d,
    'navy': #000080,
    'orange': #ffa500,
    'pink': #fe249a,
    'purple': #800080,
    'red': #f00,
    'white': $white,
    'yellow': #ff0
);

.swatch-circle,
.swatch-filter {
    border: $swatch-border-width solid $swatch-border-color;
    display: block;
    position: relative;
    background-size: 100%;

    @include swatch();

    &::after {
        content: '';
        border: $swatch-border-width solid $swatch-selected-outer-border-color;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &[disabled],
    &.disabled,
    &.unselectable {
        cursor: default;
        opacity: $swatch-disabled-opacity;
        pointer-events: none;

        @if $swatch-disabled-icon-color {
            &::before,
            &::after {
                content: '';
                background-color: $swatch-disabled-icon-color;
                border: none;
                position: absolute;
                opacity: 1;
                top: 0 !important;
                left: 49.75% !important;
                height: 100% !important;
                width: 0.0625rem !important;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    &:hover,
    &.selected,
    &[data-selected=true] {
        border-color: $swatch-selected-inner-border-color !important;

        &::after {
            opacity: 1;
        }
    }

    &.selectable {
        cursor: pointer;
    }
}

@each $color in map-keys($swatch-colors) {
    $colorValue: #{map-get($swatch-colors, $color)};

    .swatch-circle-#{$color} {
        @include swatch($colorValue);
    }

    .swatch-filter-#{$color} {
        @include swatch($colorValue, $swatch-filter-size);
    }
}

.swatch-circle-miscellaneous {

    @include swatch($white);

    // Credit: Christian Muecke (cmuecke@demandware.com)
    background:
        linear-gradient(
            0deg,
            rgba(130, 30, 145, 1) 0,
            rgba(130, 30, 145, 1) 25%,
            rgba(237, 209, 52, 1) 25%,
            rgba(255, 255, 0, 1) 50%,
            rgba(237, 209, 52, 1) 50%,
            #59ba00 50%,
            #59ba00 76%,
            #111 76%,
            #111 100%
        ),
        linear-gradient(
            0deg,
            rgba(14, 92, 209, 1) 0,
            rgba(14, 92, 209, 1) 50%,
            rgba(226, 11, 11, 1) 50%,
            rgba(226, 11, 11, 1) 100%
        );
    background-repeat: repeat-y, repeat;
    background-size: 50% 100%, 100% 100%;
}
