.w-auto {
    width: auto !important;
}

@each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($bp) {
        .w-#{$bp}-auto {
            width: auto !important;
        }

        .w-#{$bp}-25 {
            width: 25% !important;
        }

        .w-#{$bp}-50 {
            width: 50% !important;
        }

        .w-#{$bp}-100 {
            width: 100% !important;
        }
    }
}

.w-mobile-100 {
    @include media-breakpoint-down(lg) {
        max-width: 100% !important;
        padding-right: 0;
        padding-left: 0;

        > .row {
            margin-left: 0;
            margin-right: 0;

            > .col,
            > [class*="col-"] {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}

.w-full {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.flex-full-width {
    flex: 1 0 100% !important;
    max-width: 100% !important;
}

.flex-10auto {
    flex: 1 0 auto !important;
}
