@mixin frame() {
    &::before {
        content: '';
        pointer-events: none;
        border: 0.1875rem solid $primary;
        position: absolute;
        top: 0.625rem;
        left: 0.625rem;
        right: 0.625rem;
        bottom: 0.625rem;
        z-index: 2;
        box-shadow: inset 0 0 0 0.1875rem $border-color;
    }
}

@mixin border() {
    border: 0.0625rem solid $border-color;
}
