@mixin check-icon() {
    &::after {
        background: transparent;
        border: 0.0625rem solid $primary;
        border-top: none;
        border-right: none;
        content: "";
        height: 0.1875rem;
        right: 100%;
        margin: -0.125rem 0.5rem 0 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        width: 0.625rem;
    }
}
