@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.brand-page-text-container {
    margin-top: 0.5rem;
    color: $primary;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;

    @include media-breakpoint-up(md) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    @include media-breakpoint-up(xl) {
        padding-left: 3.4375rem;
        padding-right: 3.4375rem;
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: $font-ls-8;
        font-family: $font-family-base;
        margin-top: 1.0625rem;
        font-size: $font-size-18;

        @include media-breakpoint-up(md) {
            font-size: $font-size-24;
            margin-top: 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-36;
        }
    }

    p {
        font-size: $font-size--1;
        line-height: $font-lh--1;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }
        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }
}
