@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.landing-mosaic {
    margin-bottom: 3.125rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 4.375rem;
    }

    .region {
        .experience-component {
            margin-bottom: 0.625rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0.9375rem;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 1.25rem;
            }

            @include media-breakpoint-up(xl) {
                margin-bottom: 1.875rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .row {
        padding-top: 0;

        .region {
            &:first-child {
                @include media-breakpoint-down(sm) {
                    padding-right: 0;
                    padding-left: 0;
                    margin-bottom: 0.625rem;
                }

                @include media-breakpoint-up(sm) {
                    padding-right: 0.3125rem;
                }

                @include media-breakpoint-up(md) {
                    padding-right: 0.46875rem;
                }

                @include media-breakpoint-up(lg) {
                    padding-right: 0.625rem;
                }

                @include media-breakpoint-up(xl) {
                    padding-right: 0.9375rem;
                }
            }

            &:last-child {
                @include media-breakpoint-down(sm) {
                    padding-right: 0;
                    padding-left: 0;
                }

                @include media-breakpoint-up(sm) {
                    padding-left: 0.3125rem;
                }

                @include media-breakpoint-up(md) {
                    padding-left: 0.46875rem;
                }

                @include media-breakpoint-up(lg) {
                    padding-left: 0.625rem;
                }

                @include media-breakpoint-up(xl) {
                    padding-left: 0.9375rem;
                }
            }
        }
    }

    .mosaic-container {
        padding-bottom: 0;
    }

    .mosaic-description-container {
        background: rgba(255, 255, 255, 0.8);
    }
}
