@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.top-categories {
    margin-bottom: 4.375rem;

    @include media-breakpoint-down(sm) {
        max-width: 23.4375rem;
        margin: 0 auto 3.75rem;
        padding: 0;
    }

    @include media-breakpoint-up(md) {
        margin-top: 2.6875rem;
    }

    .experience-region {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -0.3125rem;
        margin-right: -0.3125rem;

        @include media-breakpoint-up(md) {
            margin-left: -0.78125rem;
            margin-right: -0.78125rem;
        }
    }

    .experience-component {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(50% - 0.625rem);
        margin: 0 0.3125rem 0.625rem;

        @include media-breakpoint-up(md) {
            width: calc(25% - 0.9375rem);
            margin: 0 0.46875rem 0.9375rem;
        }

        @include media-breakpoint-up(lg) {
            width: calc(25% - 1.25rem);
            margin: 0 0.625rem 1.25rem;
        }

        @include media-breakpoint-up(xl) {
            width: calc(25% - 1.5625rem);
            margin: 0 0.78125rem 1.875rem;
        }
    }

    .mosaic-description-container {
        font-family: $font-family-base;
    }
}
