$font-families-map: (
    base         : (base: #{"'Montserrat'", "'Arial'", sans-serif}, rtl: #{"'DINNext'", sans-serif}),
    secondary    : (base: #{"'Arial'", sans-serif}, rtl: #{"'DINNext'", sans-serif})
);

$font-sizes-map: (
    body       : (base: rem(12px), rtl: rem(14px)),
    body-sm    : (base: rem(11px), rtl: rem(13px)),
    body-xs    : (base: rem(10px), rtl: rem(12px)),
    h1         : (base: rem(30px), rtl: rem(34px)),
    h2         : (base: rem(24px), rtl: rem(26px)),
    h3         : (base: rem(18px), rtl: rem(20px)),
    h4         : (base: rem(14px), rtl: rem(16px)),
    h5         : (base: rem(12px), rtl: rem(14px)),
    h6         : (base: rem(10px), rtl: rem(12px)),
    p7         : (base: rem(7px), rtl: rem(8px)),
    p8         : (base: rem(8px), rtl: rem(9px)),
    p9         : (base: rem(9px), rtl: rem(10px)),
    p12        : (base: rem(12px), rtl: rem(13px)),
    p13        : (base: rem(13px), rtl: rem(14px)),
    p15        : (base: rem(15px), rtl: rem(16px)),
    p16        : (base: rem(16px), rtl: rem(17px)),
    p17        : (base: rem(17px), rtl: rem(18px)),
    p19        : (base: rem(19px), rtl: rem(20px)),
    p20        : (base: rem(20px), rtl: rem(21px)),
    p21        : (base: rem(21px), rtl: rem(22px)),
    p22        : (base: rem(22px), rtl: rem(23px)),
    p23        : (base: rem(23px), rtl: rem(24px)),
    p25        : (base: rem(25px), rtl: rem(26px)),
    p26        : (base: rem(26px), rtl: rem(27px)),
    p32        : (base: rem(32px), rtl: rem(33px)),
    p33        : (base: rem(33px), rtl: rem(34px)),
    p46        : (base: rem(46px), rtl: rem(47px)),
    p58        : (base: rem(58px), rtl: rem(59px))
);

@function ff($font-family: default, $ignoreRTL: false) {
    $fontFamily: null;
    $fontFamilyMap: map-get($font-families-map, $font-family);

    @if (map-has-key($fontFamilyMap, 'rtl')) and ($ignoreRTL != true) {
        $fontFamily: map-get($fontFamilyMap, 'base') rtl(map-get($fontFamilyMap, 'rtl'));
    } @else {
        $fontFamily: map-get($fontFamilyMap, 'base');
    }

    @return $fontFamily;
}

@function fz($font-size: default, $ignoreRTL: false) {
    $fontSize: null;
    $fontSizeMap: map-get($font-sizes-map, $font-size);

    @if (map-has-key($fontSizeMap, 'rtl')) and ($ignoreRTL != true) {
        $fontSize: map-get($fontSizeMap, 'base') rtl(map-get($fontSizeMap, 'rtl'));
    } @else {
        $fontSize: map-get($fontSizeMap, 'base');
    }

    @return $fontSize;
}
