.main-menu {
    text-transform: uppercase;

    .navbar {
        padding: 0;
    }

    .navbar-nav {
        justify-content: center;
    }

    .nav-link {
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        line-height: 1.35;
    }

    .menu-group {
        flex: 0 0 100%;

        .nav-link-icon {
            margin-right: 0.7rem;
        }

        .link {
            font-size: $font-size--3 !important;
            font-weight: $font-weight-bold !important;
            text-transform: none;
        }

        .nav-link {
            display: flex;
            align-items: center;
            position: relative;

            .sc-icon-home {
                margin: 0.175rem 0.7rem 0 0;

                @include ipad() {
                    margin: 0.375rem 0.7rem 0 0;
                }
            }

            .sc-icon-plus,
            .sc-icon-minus {
                &::before,
                &::after {
                    margin: -0.0625rem 0 0 -0.4375rem;
                    width: 0.875rem;
                    height: 0.125rem;
                }
            }

            .sc-icon-minus {
                display: none;
            }
        }
    }

    .nav-item > .dropdown-menu {
        > ul > .dropdown-item {
            > .dropdown-menu {
                .dropdown-item {
                    .dropdown-link {
                        text-transform: none;
                    }
                }
            }
        }

        .dropdown-menu,
        .dropdown-menu > ul {
            flex-direction: column;
        }
    }

    .show {
        > .expanded {
            .sc-icon-plus {
                display: none;
            }

            .sc-icon-minus {
                display: block;
            }
        }
    }

    .dropdown-item {
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $white;
        }
    }
}

@include media-breakpoint-down(lg) {
    .main-menu {
        background-color: $white;
        display: none;
        overflow: auto;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 4;

        .menu-group {
            margin-top: 0.175rem;

            .nav-link {
                border-bottom: 0.0625rem solid $grey3;
                padding: 1.15rem 2.3rem 1.1rem 2rem;

                &::after {
                    display: none;
                }

                .sc-icon-plus,
                .sc-icon-minus {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }

        .dropdown-menu {
            border: 0;
            border-radius: 0;
            margin: 0;
            padding: 0;

            ul {
                max-width: 100% !important;
            }
        }

        .show {
            > .dropdown-menu {
                display: block;
            }
        }

        .dropdown-item {
            padding: 0;

            .nav-link {
                padding-left: 3rem;
            }

            > .dropdown-menu > ul > .dropdown-item > .nav-link {
                padding-left: 4rem;

                + .dropdown-menu > ul > .dropdown-item > .nav-link {
                    padding-left: 5rem;

                    + .dropdown-menu > ul > .dropdown-item > .nav-link {
                        padding-left: 6rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-menu {
        display: block !important;
        top: 0 !important;
        padding-top: 1.05rem;
        padding-bottom: 0.45rem;
        transition: padding-top $animation-duration;

        .menu-group {
            .nav-link {
                padding: 0.375rem 0;
                transition: padding-top $animation-duration, padding-bottom $animation-duration;

                /* rtl:remove */
                font-size: $font-size--3;

                /* rtl:raw:
                    font-size: #{$font-size-base};
                */

                &::before,
                &::after {
                    display: none;
                    position: absolute;
                }
            }

            .dropdown-item {
                white-space: normal;
            }
        }

        .nav-item > .nav-link {
            padding-left: 1.2rem;
            padding-right: 1.2rem;

            &::before {
                content: '';
                bottom: -0.125rem;
                border-bottom: 0.125rem solid $menu-link;
                background-color: $menu-link;
                left: 1.2rem;
                right: 1.2rem;
            }

            &::after {
                $arrow-size: 0.4375rem;

                content: '';
                border-top: $arrow-size solid $menu-link;
                border-left: $arrow-size solid transparent;
                border-right: $arrow-size solid transparent;
                bottom: -$arrow-size;
                margin-left: -$arrow-size;
                left: 50%;
            }
        }

        .nav-item > .nav-link.current:not(.active) {
            &::after {
                display: none;
            }
        }

        .nav-item > .nav-link.current,
        .nav-item > .nav-link.active,
        .nav-item > .nav-link:focus,
        .nav-item:not(.dropdown) > .nav-link:hover {
            color: $menu-link;

            &::after,
            &::before {
                display: block;
            }
        }

        .nav-cat-level-0 {
            border: 0;
            border-top: 0.5rem solid transparent;
            border-bottom: 0 solid $grey3;
            border-radius: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            top: 1.62rem #{"/*rtl:1.8rem*/"};
            overflow-y: auto;
            padding-top: 2rem;
            padding-bottom: 0;

            ul.container {
                background-color: $white;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
            }

            > ul > .dropdown-item {
                padding: 0.25rem 0.75rem 2.5rem;
                max-width: 16.5rem;
                flex: 1 0 auto;

                > .nav-link-only-name,
                > .nav-link-with-thumbnail.dropdown-toggle {
                    border-top: 0.0625rem solid $grey3;
                    border-bottom: 0.0625rem solid $grey3;
                    font-size: $font-size-base;
                    margin-bottom: 0.75rem;
                    padding: 0.6rem 0.5rem !important;
                    justify-content: center;
                    align-items: center;
                }

                > .nav-link-with-thumbnail {
                    &:not(.dropdown-toggle) {
                        flex-direction: column;
                        font-size: $font-size--1;
                        padding: 0;
                        margin: 0;

                        > img {
                            width: 100%;
                        }
                    }

                    &.dropdown-toggle {
                        justify-content: flex-start;

                        > img {
                            margin-right: 0.75rem;
                            margin-left: -0.5rem;
                            max-width: 5.25rem;
                        }
                    }
                }
            }

            .dropdown-menu {
                border: 0;
                display: flex;
                flex-direction: column;
                position: relative;
            }
        }

        .nav-cat-level-1 {
            padding: 0;

            > ul > .dropdown-item {
                padding-top: 0.375rem;
                padding-bottom: 0.375rem;
            }

            .nav-link-only-name,
            .nav-link-with-count {
                font-size: $font-size--1;
                font-weight: $font-weight-semi-bold;
                padding-top: 0;
                padding-bottom: 0;
            }

            .nav-link-with-thumbnail.nav-link-with-count {
                text-transform: uppercase !important;
                margin-left: -1.5rem;
                margin-right: -1.5rem;

                > img {
                    margin-right: 0.75rem;
                    max-width: 5.25rem;
                }
            }
        }

        .product-tile {
            .tile-body {
                padding-bottom: 0;
                white-space: normal;
            }

            .price-container,
            .badges-container,
            .ratings-container {
                height: auto;
            }

            .name-container {
                height: 2rem;
            }

            .price-container {
                margin-bottom: 0.6rem;
            }

            .badges-container {
                margin-bottom: 0.85rem;
            }

            .ratings-container {
                margin-bottom: 1.1rem;
            }

            .image-container {
                .tile-image {
                    max-height: 206px;
                    width: auto;
                }
            }
        }
    }

    .sticked {
        .main-menu {
            padding-top: 0.4rem;
            padding-bottom: 0.2rem;

            .nav-item {
                height: 1.35rem;

                > .dropdown-menu {
                    top: 20px;
                    border-top-width: 0.25rem;
                }
            }
        }

        .navbar .navbar-nav .nav-link {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.navbar-quick-menu {
    border-top: 0.0625rem solid $grey3;
    background-color: $gallery-gray;
    color: $black;
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0.6875rem 0;
    width: 100%;
    text-align: center;

    .nav-item {
        flex: 1 0 0;
        margin: 0;
        padding: 0.2rem 0.5rem 0.3rem;

        &:not(:last-child) {
            border-right: 0.0625rem solid $grey3;
        }
    }

    .nav-link {
        padding: 0 0.75rem;

        > i {
            display: block;
            margin-bottom: 0.875rem;

            &::before {
                font-size: $font-size-18;
            }
        }
    }
}
