.modal-header {
    padding-bottom: 0;
    z-index: 1;

    .close {
        display: inline-block;
        transform: rotate(90deg);
        position: absolute;
        margin: 0;
        padding: 0;
        top: 1rem;
        right: 1rem;
        width: 1.125rem;
        height: 1.125rem;
        opacity: 1;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 0.3125rem;
            top: 50%;
            left: 50%;
            margin: -0.0625rem 0 0 -0.78125rem;
            width: 1.5625rem;
            height: 0.125rem;
            background-color: $secondary;
        }

        &::before {
            transform: rotate(-45deg) translate(0) translateZ(0);
        }

        &::after {
            transform: rotate(45deg) translate(0) translateZ(0);
        }

        > span {
            display: none;
        }
    }
}

.modal-title {
    font-size: $font-size-8;
    font-weight: $font-weight-base;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;

    &::after {
        content: '';
        display: block;
        border-bottom: 0.125rem solid $secondary;
        margin: 0 auto;
        padding-top: 0.5rem;
        margin-top: 0.375rem;
        width: 1.625rem;
    }
}

.mobile-modal {
    display: none;

    @include media-breakpoint-down(lg) {
        background-color: $white;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1040;
    }

    &.open {
        display: block;
    }
}

.mobile-modal-header {
    border-bottom: 0.0625em solid $grey3;
    padding: 1.145rem 0;
    position: relative;
    text-align: center;

    .btn-close {
        position: absolute;
        top: 1rem;
        right: 0.85rem;

        .sc-icon-cross {
            position: relative;
            top: -0.2125rem;

            &::before,
            &::after {
                width: 1.325rem;
            }
        }
    }
}

.mobile-modal-title {
    font-size: $font-size-8;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
    margin-bottom: 0;
    align-self: center;
    text-transform: none;
    text-align: center;
    width: 100%;
}

.mobile-modal-body {
    padding: 0.75rem 1.3125rem 0;
    position: relative;
    overflow: auto;
    max-height: calc(100% - 10.5rem);

    @include media-breakpoint-up(md) {
        padding: 0.75rem 2.4375rem 0;
        min-height: 29.875rem;
        max-height: calc(100% - 12rem);
    }

    @include media-breakpoint-up(xl) {
        padding: 0;
        min-height: 0;
        max-height: 100%;
        overflow: hidden;
    }
}

.mobile-modal-footer {
    background: $white;
    padding: 0 1.3125rem 1.3125rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem 2.4375rem;
    }

    @include media-breakpoint-up(xl) {
        position: static;
        padding: 0;
    }

    > .btn {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        padding: 0.8125rem 0.5rem 0.8rem;
        margin: 2rem auto 0;
        display: block;
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 50%;
        }

        @include media-breakpoint-up(xl) {
            width: 100%;
        }
    }
}

.mobile-safari .refinement-bar.open {
    @media (orientation: $landscape) {
        .mobile-modal-body {
            max-height: initial;
        }

        .mobile-modal-footer {
            position: relative;
        }
    }
}

.modal-notification {
    .modal-body {
        text-align: center;
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        line-height: 1.4;
        padding: 2.4375rem 5.2375rem;
    }

    .modal-footer {
        padding: 0 5.2375rem 2.4375rem;
        justify-content: center;
    }
}
