.ratings-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 2.5rem;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(md) {
        flex-flow: row wrap;
        height: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

.rating-stars {
    line-height: 0.75;
}

.review-count {
    font-size: $font-size--2;
    font-weight: $font-weight-medium;
    margin-top: 0.35rem;
    text-transform: lowercase;

    @include media-breakpoint-up(md) {
        margin-top: 0;
        position: relative;
        top: 0.0625rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size--4;
    }
}
