@import "../../../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";

.static-page-layout {
    .static-page-set1 {
        .cell1 {
            padding-bottom: 0.938rem;
        }
        @include media-breakpoint-up(sm) {
            .cell2 {
                padding-bottom: 0.938rem;
            }
        }
    }

    .cell2 p,
    h1,
    h2,
    h3,
    h4 {
        @include media-breakpoint-only(md) {
            justify-content: flex-start !important;
            text-align: left !important;
        }
    }

    .lastcell p,
    h1,
    h2,
    h3,
    h4,
    a {
        font-size: $font-size-base;

        @include media-breakpoint-only(md) {
            justify-content: flex-start !important;
            text-align: left !important;
        }

        @include media-breakpoint-down(md) {
            font-size: $font-size--1;
        }
    }

    .lastcell p:first-child,
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    a:first-child {
        font-size: $font-size-2 !important;
    }

    .lastcell p:not(:last-child),
    h1:not(:last-child),
    h2:not(:last-child),
    h3:not(:last-child),
    h4:not(:last-child),
    a:not(:last-child) {
        padding-bottom: 1rem;
    }

    p img {
        height: 1.5rem;
        width: 1.5rem;
    }

    .column-2 {
        .editorialRichText-component-container {
            border: 0.0625rem solid $grey3;
            padding: 1rem;

            p:not(:last-child),
            h1:not(:last-child),
            h2:not(:last-child),
            h3:not(:last-child),
            h4:not(:last-child),
            a:not(:last-child) {
                padding-bottom: 1rem;
            }
        }
    }

    .current {
        font-weight: $font-weight-demi-bold;
    }

    @include media-breakpoint-down(xs) {
        table {
            display: block;
            overflow: auto;

            thead {
                border-top: 0;
                border-left: 0;
            }

            tbody {
                border-left: 0;
            }
        }
    }
}
