@import '../variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.order-history-sort {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $border-color;
    align-items: baseline;
}

span.order-history-select {
    padding-right: 0.625rem;
    text-transform: uppercase;
}

.bootstrap-select.order-history-select {
    min-width: 10rem;
}

.order-list-item {
    padding: 1.2rem 0;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down(sm) {
        border: 1px solid $border-color;
        padding: 1rem;
        margin-bottom: 1.2rem;
    }
}

.dashboard-content {
    padding-left: 0;

    @include media-breakpoint-up(md) {
        padding-left: 0;
    }
}

.order-list-container,
.order-list-item {
    font-size: $font-size-base;
    font-family: $font-family-base;
    color: $primary;
    letter-spacing: $font-ls-4;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
    }
}
