@import '../mixins/accordion';

@each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($bp) {
        .acc-container-#{$bp}-down {
            @include accordion();
        }
    }
}

.acc-container {
    @include accordion();
}

.product-faq-accordion {
    .card {
        color: $dark-grey;
        border-radius: 0;
        border: none;
        margin: 0;

        &:last-child {
            border-bottom: 0.0625rem solid $light-grey;
        }

        /* rtl:raw:
            text-align: right;
        */
    }

    .card-header {
        padding: 0;
        border-radius: 0;
        border-bottom: none;
        border-top: 0.0625rem solid $light-grey;

        .sc-icon-plus {
            position: absolute;
            right: 1.125rem;
            margin-top: 0.1875rem;
            top: 50%;
            transform: translateX(-50%) rotate(45deg);

            @include media-breakpoint-up(lg) {
                right: 1.5rem;

                /* rtl:raw:
                    left: 1.5rem;
                */
            }

            /* rtl:raw:
                right: auto;
                left: 1.125rem;
            */

            &::before,
            &::after {
                width: 0.75rem;
                height: 0.125rem;
                background-color: $dark-grey;

                @include media-breakpoint-up(lg) {
                    width: 1rem;
                }
            }

            &::after {
                opacity: 0;
            }
        }
    }

    .collapse {
        color: $primary;

        @include media-breakpoint-up(lg) {
            color: $dark-grey;
        }
    }

    .btn-link {
        position: relative;
        color: $primary;
        display: block;
        width: 100%;
        text-align: left;
        padding: 1.4375rem 1.6875rem 1.5625rem 0.9375rem;
        font-size: $font-size--2;
        letter-spacing: $font-ls-12;

        @include media-breakpoint-up(lg) {
            padding-left: 1.1875rem;

            /* rtl:raw:
                padding-right: 1.1875rem;
            */
        }

        /* rtl:raw:
            padding: 1.4375rem 0.9375rem 1.5625rem 1.6875rem;
            text-align: right;
        */

        &.collapsed {
            color: $dark-grey;

            .sc-icon-plus {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .card-body {
        padding: 0 0.9375rem 1.25rem;
        font-family: $font-family-tertiary;
        letter-spacing: $font-ls-13;

        @include media-breakpoint-up(lg) {
            font-family: $font-family-base;
            padding: 0 1.25rem 1.25rem;

            /* rtl:raw:
                padding-right: 0.9375rem;
            */
        }
    }
}
