.announcement-carousel {
    font-family: $font-family-secondary;
    padding: 0.5rem 0;

    .slick-track,
    .slick-list {
        /* rtl:ignore */
        direction: ltr;
    }

    .announcement-carousel-item {
        font-size: $font-size-2;
        color: $black;

        a {
            font-size: $font-size-2;
            color: $black;
        }
    }
}
