input[type="checkbox"],
input[type="radio"] {

    // Check / Uncheck
    &:not(:checked),
    &:checked {
        opacity: 0;
        position: fixed;
        top: -999px;
        z-index: -1;

        + label {
            display: flex;
            cursor: pointer;
            position: relative;
            padding-left: 3rem;
            padding-top: 0.8rem;
            margin-bottom: 0;
            font-size: $font-size-base;
            font-weight: $font-weight-light;
            letter-spacing: $font-ls-14;

            + .content-asset {
                font-size: $font-size--3;
                font-weight: $font-weight-light;
                padding: 0.7rem 0;

                @include media-breakpoint-up(xl) {
                    padding: 1rem 0;
                }
            }

            &::before,
            &::after {
                content: '' !important;
                color: $white;
                border-radius: 0;
                border: 0.0625rem solid transparent;
                position: absolute;
                left: 0;
                top: 0.1875rem;
                width: 2.25rem;
                height: 2.25rem;
                transition: all 0.2s;
            }

            &::before {
                background: $white;
                border-color: $border-color;
            }

            &::after {
                box-shadow: 0 0 0 0.125rem  $white inset;
                background: $secondary;
                border-color: $secondary;
            }

            &:hover {
                &::before {
                    background-color: $grey10;
                }
            }
        }
    }

    &:not(:checked) + label::after {
        opacity: 0;
        transform: scale(0);
    }

    &:checked + label::after {
        opacity: 1;
        transform: scale(0.4);
        border: 0;
        box-shadow: none;
    }

    // Disable / Enable
    &:disabled:not(:checked) + label::before,
    &:disabled:checked + label::before,
    &:disabled:checked + label::after,
    &:disabled + label {
        opacity: $btn-disabled-opacity;
    }

    &.checkbox-sm {
        &:not(:checked),
        &:checked {
            + label {
                padding-left: 3rem;
                padding-top: 0.6rem;

                &::before,
                &::after {
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    &.checkbox-right {
        &:not(:checked),
        &:checked {
            + label {
                padding-left: 0;
                padding-right: 3rem;

                &::before,
                &::after {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }
}

input[type="radio"] {
    &:not(:checked),
    &:checked {
        + label {
            &::before,
            &::after {
                border-radius: 100%;
            }
        }
    }
}
