.site-search {
    position: relative;
    padding: 0.55rem;
    float: right;
    border: solid 1px $tide;
    transition: 0.3s;

    /* rtl:raw:
        display: flex;
        float: right;
    */

    @include media-breakpoint-only(xs) {
        padding-left: 0.875rem;
    }

    @include media-breakpoint-only(sm) {
        width: 12.5em;
    }

    @include media-breakpoint-up(lg) {
        width: 11rem;
    }

    &.search-focus {
        @include media-breakpoint-up(lg) {
            width: 13rem;
        }
    }

    &.search-found {
        &::before,
        &::after {
            display: none;
        }
    }

    .form-group {
        display: flex;
        margin-bottom: 0;
    }

    .btn-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;

        .sc-icon-cross {
            position: relative;
            width: 1rem;

            @include media-breakpoint-up(xl) {
                top: 0.25rem;
            }

            &::before,
            &::after {
                width: 1rem;
            }
        }

        > i::before {
            font-size: $font-size-2;
        }
    }

    .btn-toggle-search {
        display: none;
    }

    .search-field {
        border: 0;
        border-radius: 0;
        color: $secondary;
        font-size: $font-size--1;
        height: 100%;
        padding: 0.5rem 0.2rem 0.5rem 0;
        transition: $animation-duration;
        background-color: $white;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: $font-size-1;
            text-transform: uppercase;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            font-size: $font-size-1;
            text-transform: uppercase;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            font-size: $font-size-1;
            text-transform: uppercase;
        }

        &:-moz-placeholder { /* Firefox 18- */
            font-size: $font-size-1;
            text-transform: uppercase;
        }
    }

    .search-container {
        width: 100%;
    }
}

/* rtl:raw:
    .site-search > form {
        flex: 1 0 0;
    }
*/

.search-mobile {
    display: none;
    margin-bottom: -0.0625rem;

    .site-search {
        border: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: $mosaic-bg;

        &::before,
        &::after {
            display: none;
        }

        .form-group {
            align-items: center;
        }

        .search-field {
            font-size: $font-size-2;
            padding: 0.7rem 1.5rem 0.7rem 3rem;
            background: $mosaic-bg url('../images/mobile-search.svg') no-repeat 1rem 50%;
            background-size: 20px 20px;

            /* rtl:raw:
                background-position-x: calc(100% - 1rem);
            */

            @include media-breakpoint-up(md) {
                padding-right: 2.5rem;
            }

            @include media-breakpoint-up(xl) {
                padding-left: 0.625rem;
                padding-right: 0.625rem;
            }
        }

        .btn-do-search,
        .btn-toggle-search {
            display: none;
        }

        .btn-clear-search {
            position: relative;
            padding: 0.5rem 0 0 0.5rem;
            margin-right: 1.35rem;
            margin-left: 1rem;
            width: $font-size-2;
            height: $font-size-2;

            @include media-breakpoint-up(md) {
                margin-right: 2.5rem;
                margin-left: 1rem;
            }

            @include media-breakpoint-up(xl) {
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }

            .sc-icon-cross {
                &::before,
                &::after {
                    width: $font-size-2;
                    margin-top: 0.225rem #{"/*rtl:-0.35rem*/"};
                }
            }
        }
    }
}

.suggestions {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $white;
    top: 0.25rem;
    left: 0;
    width: 100%;
    z-index: $zindex-sticky;
    border-top: 0.0625rem solid $border-color;
    border-bottom: 0.0625rem solid $border-color;
    height: auto;
    overflow: auto;

    @include media-breakpoint-up(lg) {
        border-left: 0.0625rem solid $border-color;
        border-right: 0.0625rem solid $border-color;
        display: block;
        position: absolute;
        width: 15rem;
        top: 0;
        left: -1.25rem;
    }

    .suggestion-item,
    .suggestion-phrase > a,
    .suggestion-view-all > a {
        border: 0.0625rem dotted transparent;

        &.selected {
            border: 0.0625rem dotted $secondary;
        }
    }

    .do-you-mean {
        font-size: $font-size--1;
        display: flex;
        flex-direction: column;
        padding: 0.7rem 1.5rem;
        border-bottom: 0.0625rem solid $border-color;
        text-transform: uppercase;

        @include media-breakpoint-up(sm) {
            padding: 0.7rem 2.5rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 0.7rem 0.5rem;
        }
    }

    .suggestion-phrase {
        &:not(:first-child)::before {
            content: ',';
        }
    }

    .suggestion-item {
        display: flex;
        align-items: center;
        padding: 0.3rem 1.5rem;
        border-bottom: 0.0625rem solid $border-color;

        @include media-breakpoint-up(sm) {
            padding: 0.3rem 2.5rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 0.5rem;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .suggestion-item-name {
        padding-left: 0.5625rem;
        font-size: $font-size--1;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size--3;
        }
    }

    .suggestion-item-image img {
        width: 3.4375rem;

        @include media-breakpoint-up(xl) {
            width: 3.125rem;
        }
    }

    .suggestion-view-all {
        display: flex;
        justify-content: flex-end;
        padding: 0.7rem 1.5rem;

        > a {
            text-decoration: underline;
            font-weight: $font-weight-bold;
            font-size: $font-size--1;
            text-transform: none;
        }

        @include media-breakpoint-up(sm) {
            padding: 0.7rem 2.5rem;

            a {
                font-size: $font-size-1;
            }
        }

        @include media-breakpoint-up(xl) {
            padding: 0.5rem;

            a {
                font-size: $font-size--3;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticked {
        .site-search:not(.search-active):not(.search-focus):not(.open) {
            .btn-toggle-search {
                display: none;
            }

            .btn-do-search,
            .btn-clear-search {
                display: none;
            }
        }
    }
}

.sticky-header-menu {
    .search-mobile {
        .site-search {
            padding: 0.3rem 0;

            .search-container {
                width: 100%;
                margin: 0 auto;

                @include media-breakpoint-up(md) {
                    width: 60%;
                }

                .btn-clear-search {
                    top: -0.2rem;
                }

                .search-field {
                    @include media-breakpoint-up(xl) {
                        width: 100%;
                        padding-left: 3.625rem;
                    }
                }

                .suggestions {
                    width: 100%;
                    left: 0;
                    letter-spacing: $font-ls-8;
                    overflow: inherit;
                    border: 0;
                    position: absolute;
                    top: 0.3rem;

                    &::before {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0.5rem 0.7rem;
                        border-color: transparent transparent $white transparent;
                        position: absolute;
                        left: 1.1rem;
                        top: -0.7rem;
                        content: " ";
                    }
                }
            }
        }
    }
}
