.mobile-navbar-open {
    @include media-breakpoint-down(lg) {
        overflow: hidden !important;
        position: fixed;
        width: 100%;
    }
}

.header {
    background-color: $white;
    border-bottom: 0.0625rem solid transparent;

    &.navbar-visible {
        @include media-breakpoint-down(lg) {
            .navbar-toggle-search-btn,
            .navbar-header-menu-item,
            .navbar-toggler .icon-hamburger-menu,
            .minicart {
                opacity: 0;
            }

            .navbar-toggler .sc-icon-cross {
                opacity: 0;
            }
        }
    }

    &.relative-top {
        position: relative;
    }
}

.header-top-border {
    display: none;
    border-top: 0.3125rem solid $primary;
    width: 100%;

    @include media-breakpoint-up(xl) {
        border-top-width: 0.4375rem;
    }
}

.header-top {
    position: relative;
    margin: 0.75rem auto;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        padding-top: 0.6rem;
        padding-bottom: 0.95rem;
        margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 1rem;
        padding-top: 0.8rem;
    }
}

.language-selector {
    .btn-link {
        text-transform: none;
    }
}

.navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;

    .minicart {
        margin-left: 1rem;

        @include media-breakpoint-up(lg) {
            margin-left: 2.5rem;
        }
    }

    .user,
    .minicart,
    .navbar-header-menu-item {
        display: inline-block;
        position: relative;
        max-width: 5.5rem;
        padding: 0;
        text-align: center;

        @include media-breakpoint-up(lg) {
            margin-top: 0.5rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 1.5rem 0 0.65rem;
            margin-top: 0.4rem;
            text-align: left;
            width: auto;
        }

        i::before {
            font-size: $font-size-10;

            @include media-breakpoint-up(xl) {
                font-size: $font-size-2;
            }
        }
    }

    .user,
    .minicart,
    .navbar-toggler,
    .navbar-header-menu-item {
        @include media-breakpoint-up(xl) {
            line-height: 2.25em;
            height: auto;
        }
    }

    .navbar-toggle-search-btn {
        padding: 0;

        svg {
            width: 1.25rem;

            @include media-breakpoint-up(md) {
                width: 1.75rem;
            }
        }
    }

    .navbar-toggler {
        padding: 0;
        position: relative;

        svg {
            width: 1.25rem;

            @include media-breakpoint-up(md) {
                width: 1.75rem;
            }
        }
    }

    .navbar-toggle-search-btn {
        i::before {
            font-size: $font-size-10;
        }
    }

    .navbar-toggle-search-btn,
    .navbar-header-menu-item,
    .navbar-toggler > span,
    .minicart {
        transition: opacity $animation-duration;
    }

    .user {
        .popover {
            position: absolute;
            display: none;
            padding: 1em;
            top: 85%;
            left: 0;

            a {
                white-space: nowrap;
                margin-bottom: 0.5em;
            }

            &::before {
                left: 1.5rem;
            }

            &::after {
                left: 1.5rem;
            }

            &.show {
                display: block;
            }
        }
    }

    .minicart {
        @include media-breakpoint-up(xl) {
            top: -0.1875rem;
        }
    }
}

[data-action="Login-Show"] {
    .navbar-header {
        .guest {
            display: none;
        }
    }
}

.header-top-left,
.header-top-right {
    display: flex;
    align-items: top;
    flex: 0.3 0 0;
}

.header-top-left {
    justify-content: flex-start;

    @include media-breakpoint-up(xl) {
        margin-top: 0.1rem;
    }

    .country-selector {
        .rounded-flag-icon {
            -webkit-mask-image: -webkit-radial-gradient($white, $black);
            line-height: 0;
            border-radius: 100%;
            display: inline-block;
            overflow: hidden;
            margin-right: 0.7rem;
            height: 1rem;
            width: 1rem;
        }

        .flag-icon {
            font-size: $font-size-2;
            margin-left: -0.15rem;
        }

        .country-code {
            font-size: $font-size--3;
            font-weight: $font-weight-medium;
            position: relative;
            top: 0.0625rem;
        }

        > .btn {
            border-radius: 0;
            display: flex;
            align-items: center;
            padding: 0.375rem 1.15rem;
            position: relative;

            &::before {
                content: '';
                border-right: 0.0625rem solid $secondary;
                position: absolute;
                bottom: 0.5rem;
                right: -0.0625rem;
                top: 0.5rem;
            }

            &::after {
                margin-left: 0.5rem;
            }
        }

        .dropdown-item {
            display: flex;
            align-content: center;
            padding: 0.5rem 1.15rem 0.5rem 1.275rem;

            .country-code {
                top: 0.125rem;
            }
        }

        .dropdown-menu {
            border-color: $dove-gray;
            border-radius: 0;
            margin: 0;
            padding: 0;
            min-width: 6.6375rem #{"/*rtl:7.2rem*/"};

            /* rtl:ignore */
            left: -0.0625rem #{"/*rtl:-0.1rem*/"};
        }
    }

    .language-selector {
        > .btn {
            border-radius: 0;
            padding: 0.45rem 1.35rem;
            position: relative;
            font-size: $font-size--3;

            &::before {
                content: '';
                border-right: 0.0625rem solid $secondary;
                position: absolute;
                bottom: 0.5rem;
                right: -0.0625rem;
                top: 0.5rem;
            }

            &::after {
                margin-left: 0.5rem;
            }
        }

        .dropdown-item {
            padding: 0.5rem 1.25rem;
        }

        .dropdown-menu {
            border-color: $secondary;
            border-radius: 0;
            margin: 0;
            padding: 0;
            min-width: 2rem;
        }
    }

    .search {
        margin-left: 1.2rem;
        max-width: 8.6rem;
    }
}

.header-top-right {
    justify-content: flex-end;

    @include media-breakpoint-up(lg) {
        margin-top: 3.5rem;
    }
}

.header-top-center {
    text-align: center;
    transition: margin-top $animation-duration;
    flex: 0.4 0 0;
    margin: 0 auto;

    &:first-child {
        margin-top: 0.8rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0.95rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }
    }

    .header-logo-img {
        width: 100%;
        height: 100%;
        max-width: 7rem;

        @include media-breakpoint-up(lg) {
            width: 12.5rem;
            max-width: 12.5rem;
            min-height: 2.69125rem;
            transition: width $animation-duration;
        }

        &.logo-mini {
            max-width: 2.1rem;

            @include media-breakpoint-up(md) {
                max-width: 2.1rem;
            }
        }
    }
}

.header-banner {
    background-color: $primary;
    color: $white;
    font-size: $font-size--1;
    font-weight: $font-weight-semi-bold;
    padding: 0.725rem 0 0.525rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        padding: 0.55rem 0 0.4rem;
    }

    .close-button {
        display: none;
    }

    .row {
        padding-top: 0;
    }
}

.minicart,
.mini-wishlist {
    vertical-align: top;
    position: relative;

    .cart {
        padding-top: 0;
        padding-bottom: 1.875rem;
        background-color: transparent;

        @include media-breakpoint-up(xl) {
            padding-bottom: 2.5rem;
        }
    }

    .minicart-icon {
        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
        }
    }

    a.minicart-link {
        svg {
            width: 1rem;

            @include media-breakpoint-up(md) {
                width: 1.38rem;
            }

            @include media-breakpoint-up(lg) {
                width: 28px;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }

    .minicart-total {
        position: relative;
        display: inline-block;
    }

    .minicart-quantity {
        background-color: $primary;
        border: 0.0625rem solid $secondary;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        font-size: $font-size--5;
        text-align: center;
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        bottom: -0.0625rem;
        right: -0.125rem;
        font-family: $font-family-tertiary;
        line-height: $font-lh--1;
        font-weight: 700;

        @include media-breakpoint-up(sm) {
            font-size: $font-size--4;
            width: 0.85rem;
            height: 0.85rem;
        }
    }

    .popover {
        right: 0;
        border-radius: 0;
        border: 0.0625rem solid $tide;
        min-width: 37.6875rem;
        max-width: 37.6875rem;
        width: 37.6875rem;
        padding: 1.6875rem 3.5rem 1.375rem 1.0625rem;
        margin-top: 0.1875rem;
        margin-right: 0.125rem;
        min-height: auto;

        /* rtl:raw:
            right: auto;
            left: -1rem;
        */

        @include media-breakpoint-up(xl) {
            right: -0.6875rem;
            min-width: 51.25rem;
            max-width: 51.25rem;
            width: 51.25rem;
            margin-top: 0.0625rem;
            margin-right: 0.125rem;
        }

        &.popover-empty-cart {
            padding: 1.1875rem 0.9375rem 1.0625rem 1rem;

            @include media-breakpoint-up(xl) {
                padding: 1.6875rem 1.875rem 1.375rem 1.8125rem;
            }
        }

        &::after {
            background: $white;
            border: 0;
            border-left: 0.0625rem solid $tide;
            border-top: 0.0625rem solid $tide;
            content: '';
            display: block;
            height: 0.9375rem;
            position: absolute;
            transform: rotate(45deg);
            top: -0.5rem;
            width: 0.9375rem;
            left: auto;
            right: 0.4375rem;

            /* rtl:raw:
                left: 1.25rem;
                right: auto;
            */

            @include media-breakpoint-up(xl) {
                right: 2.3125rem;

                /* rtl:raw:
                    left: 1.5625rem;
                */
            }
        }
    }
}

.mini-wishlist {
    &:hover {
        .popover {
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }
    }

    .cart {
        padding-bottom: 0.6875rem;

        @include media-breakpoint-up(xl) {
            padding-bottom: 1.375rem;
        }
    }

    .popover {
        right: -0.25rem;
        left: auto;
        top: 2.3125rem;
        min-width: 37.6875rem;
        max-width: 37.6875rem;
        display: none;
        padding: 1.375rem 2.4375rem 1.375rem 0.3125rem;

        @include media-breakpoint-up(xl) {
            right: -0.25rem;
            top: 2.4375rem;
            min-width: 51.25rem;
            max-width: 51.25rem;
            padding: 1.875rem 4.1875rem 1.4375rem 1rem;
        }

        &::after {
            right: 0.875rem;

            @include media-breakpoint-up(xl) {
                right: 2.5625rem;
            }
        }

        &.popover-empty-cart {
            padding: 1.375rem 2.5rem 0.6875rem 0.375rem;

            @include media-breakpoint-up(xl) {
                padding: 1.875rem 4.125rem 0.5625rem 1.0625rem;
            }
        }

        .minicart-title {
            line-height: $font-lh--1;
        }

        .miniCart-item-description {
            padding-left: 0.9375rem;

            @include media-breakpoint-up(xl) {
                padding-left: 1.25rem;
                padding-top: 0.1875rem;
            }
        }

        .minicart-actions {
            padding-top: 0;
            padding-left: 0.4375rem;

            @include media-breakpoint-up(xl) {
                padding-left: 0.875rem;
            }

            .btn-primary {
                padding: 0.9375rem 0.625rem;

                @include media-breakpoint-up(xl) {
                    padding: 1.25rem 0.625rem;
                }

                &:first-child {
                    margin-bottom: 1.375rem;

                    @include media-breakpoint-up(xl) {
                        margin-bottom: 1.625rem;
                    }
                }
            }
        }
    }

    .minicart-actions {
        padding-left: 0.8125rem;
    }

    .btn-wishlist {
        background: $checkout-btn;

        &:hover {
            background-color: $grey3;
        }
    }
}

.minicart-product-item {
    height: auto;

    .miniCart-item-image {
        background: $white;
    }

    .miniCart-item-image-link {
        display: block;
    }

    .product-image {
        max-width: 100%;
    }
}

.minicart-product-container {
    .product-carousel {
        .slick-track,
        .slick-list {
            /* rtl:ignore */
            direction: ltr;
        }

        .slick-arrow {
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.8);

            &::before,
            &::after {
                width: 0.875rem;
                background-color: $secondary;
                font-size: 0;
            }

            &:hover,
            &:focus {
                background-color: rgba(255, 255, 255, 0.8);
            }
        }

        &:hover {
            .slick-arrow {
                opacity: 1;
                background: rgba(255, 255, 255, 0.8);

                &:hover,
                &:focus {
                    background-color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }

    .slick-arrow {
        margin-top: -1.375rem;
        background: rgba(255, 255, 255, 0.8);

        @include media-breakpoint-up(xl) {
            margin-top: -1.8125rem;
        }

        &.slick-prev {
            margin-left: 0.8rem;

            &::before,
            &::after {
                margin-top: 0.5625rem;
            }
        }

        &.slick-next {
            margin-right: 0.8rem;

            &::before,
            &::after {
                margin-top: 0.3125rem;
            }
        }
    }
}

.minicart-wrapper {
    .miniCart-item-description {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.miniCart-item-description {
    padding-left: 0;
    padding-right: 0;

    .miniCart-item-name {
        color: $primary;
        font-family: $font-family-books;
        letter-spacing: $font-ls-16;
        line-height: $font-lh--2;
        font-size: $font-size-base;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
        white-space: normal;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-2;
            margin-bottom: 1.25rem;
        }
    }

    .miniCart-item-details,
    .miniCart-item-price {
        color: $info-text;
        letter-spacing: $font-ls-8;
        font-size: $font-size--2;
        font-family: $font-family-books;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-base;
        }
    }
}

.minicart-actions {
    padding-left: 0.5rem;
    padding-top: 0.1875rem;

    @include media-breakpoint-up(lg) {
        padding-left: 1.125rem;
    }
}

.minicart-checkout-message {
    color: $info-text;
    font-size: $font-size-2;
    font-family: $font-family-books;
    margin-bottom: 1rem;

    @include media-breakpoint-up(xl) {
        font-size: $font-size-4;
        margin-bottom: 1.25rem;
    }
}

.empty-minicart {
    .minicart-title {
        font-size: $font-size-4;
        margin-bottom: 1.375rem;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
            margin-bottom: 1.375rem;
        }
    }

    .minicart-description {
        color: $info-text;
        font-size: $font-size-4;
        line-height: $font-lh--1;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }

        .minicart-description-info {
            margin-bottom: 1.1875rem;

            @include media-breakpoint-up(xl) {
                margin-bottom: 1.3125rem;
            }

            &:first-child {
                margin-bottom: 1.3125rem;

                @include media-breakpoint-up(xl) {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    .minicart-image {
        max-width: 100%;

        @include media-breakpoint-up(xl) {
            min-width: 17.9375rem;
        }
    }

    .minicart-link {
        color: $info-text;
        font-size: $font-size-2;
        letter-spacing: $font-ls-20;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-4;
        }

        .sc-icon-arrow-next {
            vertical-align: middle;
            margin: -0.1875rem 0 0;

            &::before,
            &::after {
                width: 0.5rem;
                background-color: $info-text;
            }
        }
    }
}

.minicart-checkout {
    .btn-primary {
        font-family: $font-family-secondary;
        font-size: $font-size-2;
        letter-spacing: $font-ls-15;
        line-height: $font-lh--1;
        padding: 0.75rem 0.75rem 0.6875rem;

        @include media-breakpoint-up(xl) {
            padding: 1.5rem 0.75rem 1.375rem;
        }
    }

    .checkout-btn {
        background: $checkout-btn;
        margin-top: 1.1875rem;
        padding: 1.125rem 0.75rem 1rem;

        @include media-breakpoint-up(xl) {
            margin-top: 1.5rem;
            padding: 1.4375rem 0.75rem 1.3125rem;
        }

        &:hover {
            background-color: $grey3;
        }
    }
}

.minicart-item {
    display: flex;
    border-bottom: 0.0625rem solid $border-color;
    padding: 0.625rem 0;
    font-size: $font-size--3;
    position: relative;

    .miniCart-item-image {
        img {
            width: 3.5rem;
        }
    }

    h2,
    .line-item-name {
        font-family: $font-family-base;
        font-size: $font-size--3;
        font-weight: $font-weight-light;
        line-height: 1.6;
        margin: 0;

        a:hover {
            text-decoration: none;
        }
    }

    .miniCart-item-description {
        padding: 0 0.313rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0;
        }
    }

    .miniCart-item-name {
        padding-right: 0.75rem;
        margin-bottom: 0.5rem;
    }

    .miniCart-item-details {
        font-family: $font-family-base;
        color: $secondary;
        padding-bottom: 0.525rem;
        display: flex;
        flex-wrap: wrap;

        span {
            position: relative;
            font-weight: $font-weight-medium;
        }

        span:not(:last-child) {
            margin-right: 1.188rem;

            &::after {
                content: '';
                position: absolute;
                right: -0.594rem;
                border-right: 0.0625rem solid $secondary;
                top: 0;
                height: 100%;
            }
        }
    }

    .miniCart-item-price {
        font-family: $font-family-secondary;
        font-weight: $font-weight-extra-bold;
        padding-bottom: 0.125rem;

        .cart-product-price-discounted {
            font-size: $font-size--3;
            font-weight: $font-weight-extra-bold;
            padding-top: 0 !important;
        }

        .cart-product-price-main {
            font-size: $font-size--5;
            font-weight: $font-weight-medium;
        }
    }

    .line-item-attributes {
        font-size: $font-size--3;
        font-weight: $font-weight-medium;
    }
}

.minicart-title {
    font-size: $font-size-2;
    color: $dove-gray-secondary;
    margin-bottom: 0.9375rem;
    font-family: $font-family-secondary;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-6;
        margin-bottom: 3.9375rem;
    }
}

.miniCart-item-remove {
    display: none;
    position: absolute;
    right: 0;
    top: 0.625rem;
    width: 1.063rem;
    height: 1.063rem;
    border: none;
    background: transparent;
    cursor: pointer;

    i {
        &::before,
        &::after {
            width: 0.9625rem;
            margin: -0.055rem 0 0 -0.663rem;
        }
    }
}

.miniCart-nested-items {
    margin-top: -0.0625rem;
    background-color: $white;
    border-bottom: 0.0625rem solid $border-color;
    padding-left: 1.25rem;
    z-index: 1;
    position: relative;

    .miniCart-item-first {
        border-top: 0.0625rem solid $border-color;
    }

    .miniCart-item-last {
        border-bottom: 0;
    }
}

.minicart-subtotal {
    padding: 0 0 1.125rem;

    @include media-breakpoint-up(xl) {
        padding: 0 0 1.25rem;
    }

    .minicart-subtotal-label,
    .minicart-subtotal-amount {
        display: inline-block;
        font-size: $font-size-2;
        letter-spacing: $font-ls-14;
        font-family: $font-family-secondary;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }
}

.miniCart-errorBox {
    .alert {
        margin-bottom: 0;
        margin-top: 0.625rem;
        padding: 0.625rem;
        font-size: $font-size--2;
        font-weight: $font-weight-light;
        border: none;
    }

    .miniCart-errorBox-dismiss {
        position: absolute;
        background: transparent;
        border: none;
        right: 0.413rem;
        top: 0.413rem;

        i {
            &::before,
            &::after {
                width: 0.5625rem;
                margin: -0.055rem 0 0 -0.663rem;
                background-color: $lonestar;
            }
        }
    }
}

.added-product-notification {
    background-color: $white;
    border-top: 0.0625rem solid $border-color;
    border-bottom: 0.0625rem solid $border-color;
    display: none;
    padding: 1rem 0.25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 1;

    .miniCart-item-multiple-product-images {
        img {
            max-width: 7.5rem;
        }
    }

    @include media-breakpoint-down(lg) {
        &.miniCart-multiple-products {
            .miniCart-item {
                width: 52%;

                .miniCart-item-multiple-products-text {
                    display: none;
                }
            }

            .miniCart-item-multiple-product-images {
                img {
                    width: 23%;
                }

                .sc-icon-plus {
                    &::before,
                    &::after {
                        width: 0.875rem;
                    }
                }
            }

            .miniCart-item-total {
                display: flex;
                justify-content: center;

                .miniCart-checkout {
                    display: none;
                }

                .miniCart-item-multiple-products-text {
                    font-size: $font-size-6;
                    font-weight: $font-weight-medium;
                    display: block;
                    margin-bottom: 1rem;
                    padding-left: 2rem;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            .miniCart-item-subtotal-label {
                font-size: $font-size-5;
                font-weight: $font-weight-medium;

                .miniCart-item-vat {
                    font-size: $font-size--4;
                    font-weight: $font-weight-normal;
                }
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-7;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.miniCart-multiple-products {
            .miniCart-item-container {
                flex-direction: column;
            }

            .miniCart-item {
                width: 100%;
            }

            .miniCart-item-multiple-products {
                width: 100%;
                text-align: center;
            }

            .miniCart-item-total {
                width: 100%;
                flex-direction: row;

                .miniCart-item-multiple-products-text {
                    width: 50%;
                    font-size: $font-size--1;
                    margin-bottom: 0;
                    padding-left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .miniCart-item-subtotal {
                width: 50%;
            }

            .miniCart-item-subtotal-label {
                display: none;
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-2;
                width: 100%;
                text-align: center;

                .miniCart-item-vat {
                    font-weight: $font-weight-light;
                }
            }
        }
    }

    .miniCart-item-container {
        display: flex;
        position: relative;
        margin-bottom: 0;
        width: 100%;
    }

    .miniCart-item-remove {
        right: 1rem;
        top: -0.6rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;

        i::before,
        i::after {
            width: 1.441rem;
        }
    }

    .miniCart-added-message {
        position: absolute;
        left: 0;
        top: 0;
        font-size: $font-size--1;
        text-transform: uppercase;
    }

    .miniCart-item {
        border: none;
        position: relative;
        padding: 1.875rem 0 0.875rem;
        width: 100%;
    }

    .miniCart-item-description {
        position: relative;
        padding-top: 0.813rem;
    }

    .miniCart-item-badge {
        font-size: $font-size--5;
        font-weight: $font-weight-semi-bold;
        position: absolute;
        top: 0;
        text-transform: uppercase;
    }

    .miniCart-item-name {
        margin-bottom: 0.5rem;

        h2 {
            font-size: $font-size-2;
            text-transform: none;
        }
    }

    .miniCart-item-price {
        font-size: $font-size-2;
        padding: 0;

        .cart-product-price-discounted {
            font-size: $font-size-2;
        }

        .cart-product-price-main {
            font-size: $font-size-base;
        }
    }

    .miniCart-item-list-price {
        color: $grey4;
        font-size: $font-size--1;
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        text-decoration: line-through;
    }

    .miniCart-item-vat {
        font-size: $font-size--4;
        font-family: $font-family-base;
    }

    .miniCart-item-total {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;

        .miniCart-item-multiple-products-text {
            display: none;
        }
    }

    .miniCart-item-image {
        a {
            display: block;
        }

        img {
            width: 6.875rem;
        }
    }

    .miniCart-item-multiple-product-images {
        .sc-icon-plus {
            margin: 0.25rem;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .miniCart-item-multiple-products-text {
        font-size: $font-size-7;
        font-weight: $font-weight-light;
        text-align: center;
    }

    .miniCart-item-subtotal {
        display: flex;
        align-items: center;
    }

    .miniCart-item-subtotal-label {
        font-size: $font-size-14;
        font-weight: $font-weight-medium;
        width: 50%;
        text-align: center;
        text-transform: uppercase;

        .miniCart-item-vat {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            position: static;
            text-transform: none;
        }
    }

    .miniCart-item-subtotal-value {
        font-size: $font-size-16;
        font-weight: $font-weight-extra-bold;
        font-family: $font-family-secondary;
        width: 50%;
        text-align: center;
    }

    .miniCart-checkout {
        display: flex;
        flex-direction: row;
        padding-top: 0.938rem;
        justify-content: space-between;

        a,
        button {
            font-size: $font-size--3;
            width: 48%;
            padding: 0.575rem 0.75rem 0.45rem;
        }
    }
}

@include media-breakpoint-up(md) {
    .added-product-notification {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        .miniCart-checkout {
            a,
            button {
                font-size: $font-size-1;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .added-product-notification {
        padding: 1.875rem 0 2.5rem;

        .miniCart-item-container {
            padding-left: 0;
            padding-right: 0;
        }

        .miniCart-item {
            position: relative;
            padding-top: 2.875rem;
            padding-right: 1.625rem;
            width: 50%;

            &::after {
                content: '';
                border-right: 0.0625rem solid $border-color;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        .miniCart-item-remove {
            right: 0;
        }

        .miniCart-added-message {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            left: 0;
        }

        .miniCart-item-image img {
            width: 7.5rem;
        }

        .miniCart-item-description {
            padding: 0 2.125rem;
        }

        .miniCart-item-badge {
            position: static;
        }

        .miniCart-item-name {
            padding-right: 0;
            margin-bottom: 0.25rem;

            h2 {
                font-size: $font-size-7;
                font-weight: $font-weight-medium;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        .miniCart-item-details {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            padding-bottom: 0;
        }

        .miniCart-item-price {
            font-size: $font-size-7;
            font-weight: $font-weight-extra-bold;

            .cart-product-price-discounted {
                font-size: $font-size-7;
            }

            .cart-product-price-main {
                font-size: $font-size-4;
            }
        }

        .miniCart-item-list-price {
            font-size: $font-size-4;
            font-weight: $font-weight-semi-bold;
        }

        .miniCart-item-total {
            display: flex;
            padding-left: 1.625rem;
        }

        .miniCart-checkout {
            justify-content: space-between;
            padding-top: 1.85rem;

            .btn {
                font-size: $font-size-base;
            }
        }
    }
}

.added-product-notification-backdrop {
    position: absolute;
    display: none;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($alto, 0.72);
    z-index: -1;
    top: auto;
    cursor: pointer;
}

a.normal {
    color: $primary;
    text-decoration: underline;
}

.slide-up {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    max-height: 100px;
    overflow: hidden;

    &.hide {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

@include media-breakpoint-down(md) {
    .sticked-md-hidden {
        display: block;
    }

    .sticked-md-visible {
        display: none;
    }
}

@include media-breakpoint-up(lg) {
    .sticked-hidden {
        display: block;
    }

    .sticked-visible {
        display: none;
    }
}

.sticky-header-menu {
    display: none !important;
}

.sticked {
    border: 0;

    .sticky-header-menu {
        display: block !important;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.75) 0.5625rem 0.1875rem 1.875rem -1.125rem;
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
        animation: fadeIn 0.3s;

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        @include media-breakpoint-down(md) {
            .sticked-md-hidden {
                display: none !important;
            }

            .sticked-md-visible {
                display: block !important;
            }
        }

        @include media-breakpoint-up(lg) {
            .sticked-hidden {
                display: none !important;
            }

            .sticked-visible {
                display: block !important;
            }

            .header-top-center {
                margin-top: 1rem;
            }
        }

        .header-top-center {
            flex: 0.8 0 0;
        }

        .header-top-right {
            margin-top: 0;

            .minicart {
                margin-top: 0;
            }
        }

        .header-top {
            @include media-breakpoint-up(lg) {
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }

    .main-menu-sticked {
        padding-top: 0;
        padding-bottom: 0;

        .nav-cat-level-0 {
            @include media-breakpoint-up(lg) {
                top: 3.2rem;
            }
        }

        .nav-item {
            > .nav-link {
                @include media-breakpoint-up(lg) {
                    padding-bottom: 1.25rem;
                }
            }
        }
    }

    .minicart {
        .popover-bottom.show {
            display: none;
        }
    }

    .sticky-header-menu {
        .minicart {
            .popover-bottom.show {
                display: block;
                top: 2.75rem;

                @include media-breakpoint-up(xl) {
                    top: 2.9375rem;
                }
            }
        }
    }
}

.header-logo-only {
    .header-top {
        padding-bottom: 0;
    }

    .header-top-center {
        margin: 0 auto;

        img {
            max-height: 3.75rem;
            @include media-breakpoint-up(lg) {
                max-width: 12.5rem;
            }
        }
    }

    .navbar-header {
        padding: 0.8125rem 0;
    }
}

.hide-link-med {
    @include media-breakpoint-only(sm) {
        display: block !important;

        @media (orientation: $portrait) {
            display: none !important;
        }
    }
}

.hide-no-link {
    @include media-breakpoint-only(sm) {
        @media (orientation: $landscape) {
            display: none;
        }
    }
}

.country-selector-container {
    margin: 0 auto;
    margin-top: 1.875rem;
    width: 34.125rem;
    max-width: 100%;

    @include media-breakpoint-up(md) {
        margin-top: 1.875rem;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 2.1875rem;
    }

    @include media-breakpoint-up(xl) {
        margin: 3.125rem auto 0;
    }
}

.country-selector-line {
    margin-top: 0.5rem;
    font-size: $font-size-base;
    letter-spacing: $font-ls-3;

    @include media-breakpoint-down(sm) {
        padding-bottom: 1.875rem;
    }

    @include media-breakpoint-up(md) {
        margin-top: 0.5625rem;
        font-size: $font-size--2;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 0.8125rem;
        font-size: $font-size--1;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 1.375rem;
        font-size: $font-size-1;
    }

    .country-selector-language-1,
    .country-selector-language-2 {
        display: block;
        color: $black;
        text-transform: uppercase;
    }

    .country-selector-language-2 {
        color: $grey11;
    }
}

.country-selector,
.static-country-wrapper {
    .rounded-flag-icon {
        position: absolute;
        left: -1rem;

        .flag-icon {
            width: 1em;
        }
    }
}

.header-top-message {
    background-color: $black;
    font-family: $font-family-base;
    font-size: $font-size--2;
    letter-spacing: 0.08em;
    padding: 0.2rem 0;

    a {
        color: $white;
    }

    .main-menu & {
        .container {
            padding: 0;
        }
    }
}

.header-top-block {
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    font-family: $font-family-tertiary;
    font-size: $font-size--4;
    text-transform: uppercase;
    line-height: $font-lh-4;
    letter-spacing: $font-ls-3;

    .header-top-seperator {
        margin: 0 0.2rem;
    }

    .dropdown {
        .dropdown-menu {
            &.header-top-login-dropdown {
                margin: 0;
                width: 385px;
                text-align: center;
                right: auto;
                left: 50% !important;
                transform: translate(calc(-50% + 0.5px), 0) !important;
                border-radius: 0;
                border: 0;
                padding: 0;
                top: auto !important;
                z-index: $zindex-popover;

                @include media-breakpoint-up(lg) {
                    width: 277px;
                }

                @include media-breakpoint-up(xl) {
                    width: 385px;
                }

                .header-top-login-dropdown-inline {
                    border: solid 1px $border-color;

                    @include media-breakpoint-up(lg) {
                        padding: 1.3rem 1.7rem 0.4rem;
                    }

                    @include media-breakpoint-up(xl) {
                        padding: 1.85rem 3rem 1rem;
                    }

                    &::after,
                    &::before {
                        bottom: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        margin-bottom: -1px;
                    }

                    &::after {
                        border-bottom-color: $white;
                        border-width: 10px;
                        margin-left: -10px;
                    }

                    &::before {
                        border-bottom-color: #afaead;
                        border-width: 11px;
                        margin-left: -11px;
                    }

                    h3 {
                        font-size: $font-size-10;
                        font-family: $font-family-tertiary;
                        font-weight: 400;
                        margin-bottom: 0.9rem;
                    }

                    .btn {
                        margin-bottom: 1rem;

                        @include media-breakpoint-up(xl) {
                            padding: 1.2rem 2rem;
                        }
                    }
                }
            }
        }

        &:hover {
            > .dropdown-menu {
                display: block;
            }
        }

        > .dropdown-toggle {
            &:active {
                pointer-events: none;
            }
        }
    }
}

.logo-mini {
    display: inline-block;
    height: 32px;

    img {
        height: 100%;
    }
}

.header-wishlist-icon {
    position: relative;
    top: -0.2rem;
    display: inline-block;
    margin-right: 1rem;
    margin-top: 0.2rem;

    @include media-breakpoint-up(md) {
        top: 0;
    }

    @include media-breakpoint-up(lg) {
        top: -0.1rem;
        margin-top: 0;
        margin-right: 0.2rem;
    }

    img {
        width: 1.2rem;

        @include media-breakpoint-up(md) {
            width: 1.7rem;
        }
    }

    span {
        position: absolute;
        right: -0.2rem;
        bottom: 0;
        width: 0.75rem;
        height: 0.75rem;
        background-color: $black;
        color: $white;
        border-radius: 50%;
        font-family: $font-family-tertiary;
        line-height: $font-lh--2;
        font-weight: 700;
        text-align: center;
        font-size: $font-size--5;

        @include media-breakpoint-up(sm) {
            right: 0;
            bottom: -0.125rem;
            width: 0.85rem;
            height: 0.85rem;
            font-size: $font-size--4;
        }

        @include media-breakpoint-up(lg) {
            bottom: 0.4rem;
        }
    }
}

.header-stores-icon {
    margin-left: 1rem;

    @include media-breakpoint-up(sm) {
        margin-left: 1.5rem;
    }

    svg {
        width: 0.9rem;

        @include media-breakpoint-up(md) {
            width: 1.2rem;
        }
    }
}

.header-login-icon {
    img {
        width: 1.1rem;
        top: -0.1rem;
        position: relative;
        margin-right: 0.2rem;
    }
}

.caret-down-icon {
    margin-left: 0.3rem;
    top: -0.1rem;
    position: relative;

    svg {
        width: 10px;
    }
}

.header-my-acccount-menu {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            line-height: 1;
            font-size: $font-size-2;
            margin-bottom: 1.5rem;

            @include media-breakpoint-up(xl) {
                font-size: $font-size-4;
            }

            a {
                padding-right: 2rem;
                background: transparent url(../images/arrow_right_tide.svg) no-repeat 100% -0.1rem;
                background-size: 1.1rem 1.1rem;

                @include media-breakpoint-up(xl) {
                    background-size: 1.3rem 1.3rem;
                    background-position: 100% -0.2rem;
                }

                &:hover {
                    background-image: url(../images/arrow_right_dimgray.svg);
                }
            }
        }
    }
}

.logged-in-as {
    line-height: 1;
    font-size: $font-size--1;
    color: $black;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(xl) {
        font-size: $font-size-1;
    }
}
