.quantity,
.simple-quantity,
.quantity-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.quantity-selector {
    .btn-link {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0;
        flex: 1;
        background-color: $mosaic-bg;

        .sc-icon-minus {
            /* rtl:remove */
            right: -0.4rem;

            /* rtl:raw:
                right: -0.8rem;
            */
            position: relative;
        }

        &.disabled {
            i::before,
            i::after {
                background-color: $border-color;
            }
        }
    }

    i::before,
    i::after {
        width: 0.75rem;
        height: 0.0625rem;
        background-color: $secondary;
    }

    .sc-icon-minus::before {
        margin: 0 0 0 0.2rem;
    }

    .sc-icon-plus::before,
    .sc-icon-plus::after {
        margin: -0.2575rem 0 0 -0.6275rem;
    }

    .form-control {
        background-color: $mosaic-bg !important;
        text-align: center;
        padding: 0;
        height: 100%;
        max-width: 75%;
        flex: 3;
        font-family: $font-family-base;

        @include media-breakpoint-up(md) {
            font-weight: $font-weight-medium;
            font-size: $font-size-base;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-9;
        }

        &.disabled {
            color: $border-color;
        }
    }
}

@include media-breakpoint-down(lg) {
    .quantity,
    .simple-quantity,
    .quantity-selector {
        align-self: flex-start;
    }

    .quantity,
    .simple-quantity {
        flex-direction: column;
        align-items: flex-start;

        .btn-select {
            font-size: $font-size--3;
            text-transform: uppercase;
        }
    }

    .quantity-selector {
        align-self: flex-start;
        margin-top: 0.51rem;
        width: 100%;
    }
}
