@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.main-container-clp {
    color: $secondary;

    &.container .experience-component {
        .breadcrumb {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .clp-title {
        font-family: ff(base);
        font-size: fz(h2);
        font-weight: $font-weight-medium;
        line-height: $font-lh--10;
        letter-spacing: normal;
        margin: 1.3125rem 0 1.125rem;

        @include media-breakpoint-up(md) {
            font-size: fz(h1);
            line-height: $font-lh--8;
            margin: 1.6875rem 0 1.875rem;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 0 1.875rem;
        }
    }

    .clp-description {
        font-size: fz(body-sm);
        font-weight: $font-weight-normal;
        line-height: $font-lh--11;
        letter-spacing: normal;
        margin-bottom: 1.375rem;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: fz(body);
            line-height: $font-lh--9;
            margin-bottom: 1.1875rem;
            text-align: left;
        }
    }

    .clp-subcategory {
        border-bottom: 0.0625rem solid $tertiary;
        border-top: 0.0625rem solid transparent;
        overflow: hidden;
        position: relative;

        &:first-child {
            border-top: 0.0625rem solid $tertiary;
        }

        .btn-link {
            border: none;
            display: block;
            font-size: fz(body);
            font-weight: $font-weight-normal;
            padding: 0.8125rem 0;
            letter-spacing: normal;
            line-height: $font-lh--3;
            text-align: left;
            text-transform: uppercase;

            &::before {
                color: $secondary;
                font-size: fz(p16);
                font-style: normal;
                line-height: 0;
                position: absolute;
                right: -0.625rem;
                top: 50%;

                /* rtl:raw:
                    transform: rotateY(180deg);
                */
            }

            @include media-breakpoint-up(md) {
                font-size: fz(h4);
                line-height: $font-lh--4;
                padding: 0.71875rem 0;
            }
        }
    }

    .clp-image-right {
        width: 100%;
    }

    .extra-categories {
        display: none;

        &:first-child {
            border-top: none;
        }
    }

    .carousel-title {
        font-size: fz(h3);
        font-weight: $font-weight-bold;
        line-height: $font-lh--2;
        margin-top: 1.3125rem;

        &::after {
            display: none;
        }

        @include media-breakpoint-up(md) {
            font-size: fz(h2);
            font-weight: $font-weight-medium;
            line-height: $font-lh--12;
            margin: 1.5625rem 0;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 2.3125rem;
        }
    }

    .global-carousel {
        .container-actions {
            margin-top: 1.0625rem;
            text-align: center;

            &::after {
                content: '';
                background: $tertiary;
                display: block;
                height: 0.0625rem;
                margin: 1rem 0;
                width: 100%;
            }

            &.m-no-divider {
                &::after {
                    display: none;
                }
            }

            .btn-link {
                font-size: fz(body);
                font-weight: $font-weight-medium;
                text-decoration: underline;
            }
        }
    }

    .photo-tile-container {
        overflow: hidden;
    }
}

.clp-recommendation-carousel {
    .product {
        display: inline-block;
    }
}
