.not-found-header {
    margin-top: 1.7rem;
    margin-bottom: 1.4rem;
    font-family: ff(base);
    font-size: fz(h1) !important;
}

.not-found-message {
    font-size: fz(h4);
    padding-bottom: 0.7rem;
}

.not-found-view-more {
    display: none !important;

    @include media-breakpoint-only(xl) {
        display: block !important;
        max-width: 7.3125rem;
        padding: 0.825rem 0.75rem 0.7rem !important;
    }
}

.site-offline {
    img {
        height: auto;
        text-align: center;
        width: 100%;
    }

    .maintenance-header {
        padding-top: 2rem;
        font-family: ff(base);
        font-weight: $font-weight-light;
        font-size: fz(p21);
    }

    .maintenance-header-ae {
        font-family: ff(base);
        font-size: fz(p21);
    }

    .maintenance-msg {
        padding-top: 3rem;
        font-weight: $font-weight-medium;
        font-size: fz(p13);

        @include media-breakpoint-down(sm) {
            padding-top: 1rem;
        }
    }

    .maintenance-msg-ae {
        padding-bottom: 2rem;
        font-family: $font-weight-medium;
        font-size: fz(p13);

        @include media-breakpoint-down(sm) {
            padding-bottom: 1rem;
        }
    }

    .maintenance-card {
        max-width: 21rem;
        margin: 0 auto;
        padding: 1rem;
        background-color: $grey1;
        border: none !important;

        @include media-breakpoint-down(sm) {
            padding: 0;
        }

        .maintenance-card-header {
            font-size: fz(body);
            font-weight: $font-weight-bold;
            font-family: ff(base);
        }

        .maintenance-card-phone > i {
            padding-right: 0.3rem;
        }
    }

    .maintenance-social {
        padding-top: 2rem;
        margin: 2rem;

        @include media-breakpoint-down(sm) {
            padding-top: 0.5rem;
            margin: 1rem;
        }

        [class^="sc-icon-"]::before,
        [class*=" sc-icon-"]::before {
            color: $dove-gray !important;
        }
    }
}
