@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.static-page {
    position: relative;

    p,
    li {
        font-size: fz(body);
        font-weight: $font-weight-light;
        line-height: $font-lh--3;
        color: $secondary;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
    }
}

.static-row {
    @include media-breakpoint-up(md) {
        display: flex;
        justify-content: center;
    }

    @include media-breakpoint-up(xl) {
        justify-content: start;
    }
}

.static-navigation {
    display: none;

    @include media-breakpoint-up(md) {
        display: block;

        .experience-component {
            max-width: 13.175rem;
            margin-left: 1.5rem;
        }
    }
}

.static-nav-bar {
    display: flex;
    flex-direction: column;
    line-height: 0.92;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid $grey2;
    border-radius: 0.0625rem;
    padding: 1.1rem 0.9375rem 0.9375rem;
}

.navigation-link {
    font-size: fz(body);
    line-height: $font-lh--19;
    font-weight: $font-weight-normal;
    color: $secondary;
    margin-bottom: 1.53125rem;
    cursor: pointer;

    &.active {
        font-weight: $font-weight-bold;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.static-content-header {
    font-size: fz(h2);
    font-weight: $font-weight-medium;
    line-height: $font-lh--20;
    color: $secondary;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2.5625rem;

    @include media-breakpoint-up(xl) {
        font-size: fz(h1);
        line-height: $font-lh--18;
        margin-bottom: 2.5rem;
        margin-top: 0;
    }
}

.static-content {
    @include media-breakpoint-up(xl) {
        .tab-wrapper {
            border-bottom: 0.0625rem solid $grey3;

            &:first-child {
                border-top: 0.0625rem solid $grey3;
            }
        }

        .static-title {
            line-height: $font-lh--5;
        }

        .card-body {
            padding: 0;
        }

        .tab-content.show {
            margin-bottom: 1.09375rem;
        }
    }

    .accordion-container {
        margin-bottom: 3.5rem;

        @include media-breakpoint-up(xl) {
            margin-bottom: 1.25rem;
        }
    }

    .accordion-card {
        border-left: none;
        border-right: none;
        border-top: none;
        margin: 0;
    }

    .accordion-tab {
        font-size: fz(h4);
        font-weight: $font-weight-medium;
        color: $black;
        line-height: 0;
        padding: 0;
        border: none;

        @include media-breakpoint-up(xl) {
            color: $secondary;
        }

        .accordion-btn {
            padding: 1rem 1.25rem 1rem 0;
            width: 100%;
            text-align: left;
            text-transform: none;
            font-size: fz(h4);

            &::before {
                content: '';
                position: absolute;
                right: 0.53125rem;
                top: 0.9375rem;
                display: block;
                width: 0.09575rem;
                height: 0.8375rem;
                border-top: 0.9rem solid $text-muted;
                transform: translate(50%, 23%) rotate(90deg);

                @include media-breakpoint-up(xl) {
                    top: 0.875rem;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: 1.125rem;
                top: 1.625rem;
                display: none;
                border-top: 0.12375rem solid $text-muted;
                width: 0.8375rem;
                height: 0.9625rem;
                transform: translate(70%, -50%) rotate(90deg);

                @include media-breakpoint-up(xl) {
                    top: 1.55rem;
                }
            }
        }

        .accordion-btn.collapsed {
            &::after {
                display: block;
            }
        }
    }
}

.btn-go-top {
    position: absolute;
    bottom: -2.5rem;
    right: 0.9375rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $grey3;
    border-radius: 0.0625rem;
    font-size: 0;

    @include media-breakpoint-up(xl) {
        right: 2.4375rem;
        height: 3.25rem;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0.4375rem;
        bottom: 0.9125rem;
        border: 0.78125rem solid transparent;
        border-bottom: 0.75rem solid $white;

        @include media-breakpoint-up(xl) {
            bottom: 0.8125rem;
        }
    }
}

.contact-us-helper {
    display: block;
    text-align: center;
    padding: 0.9375rem 0.875rem;
    border: 0.0625rem solid $alabaster;
    background-color: $alabaster;
    border-radius: 0.0625rem;

    .contact-title,
    .contact-link {
        font-size: fz(body);
        font-weight: $font-weight-medium;
        line-height: $font-lh--3;
        color: $secondary;
    }

    .contact-us-link {
        cursor: pointer;
        display: inline-block;
        text-decoration: underline;
        margin-bottom: 0.590625rem;
    }

    .contact-title {
        margin-bottom: 0.65625rem;
    }

    .content-block {
        margin: 0;
        font-size: fz(body);
        font-weight: $font-weight-medium;
        line-height: $font-lh--4;
        color: $secondary;
    }
}
