@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "api/all";

.breadcrumb-container {
    display: none;

    @include media-breakpoint-up(xl) {
        display: block;
    }
}

.account-container {
    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }

    .success-message {
        color: $green;
        background-color: transparent;
        border: 0.0625rem solid $green;
        font-weight: $font-weight-medium;
        padding: 0.75rem;
        margin-bottom: 1.25rem;
    }

    .error-messaging {
        .alert-success {
            color: $green;
            background-color: transparent;
            border: 0.0625rem solid $green;
            font-weight: $font-weight-medium;
            padding: 0.75rem;
            margin-bottom: 1.25rem;
        }
    }
}

.account-header {
    position: relative;

    .container-title {
        font-family: ff(base);
        font-size: fz(h1);
        font-weight: $font-weight-medium;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            font-size: fz(h3);
        }

        &::after {
            display: none;
        }
    }
}

.account-header-border {
    margin-top: 1.125rem;
    margin-bottom: 1.25rem;
    border-top: 0.0625rem solid $grey2;

    @include media-breakpoint-down(sm) {
        margin: 1.25rem 0;
    }
}

.dashboard-menu {
    margin-bottom: 1.5625rem;
    border-width: 0.0625rem;
    border-color: $border-color;
    border-style: solid;

    @include media-breakpoint-down(sm) {
        margin-top: 1.25rem;

        &:first-child {
            border-width: 0.0625rem 0;
        }
    }

    > a {
        border-bottom: 0.0625rem solid $border-color;
        display: flex;
        align-items: center;
        padding: 1rem 0;
        margin-bottom: -0.0625rem;

        span {
            font-size: fz(body);
            font-weight: $font-weight-medium;
            text-transform: uppercase;

            /* rtl:raw:
                display: flex;
                align-items: baseline;
                line-height: 0;
            */
        }

        @include media-breakpoint-up(sm) {
            padding: 0.875rem 1.25rem;
        }

        > i {
            width: 2rem;

            &::before {
                font-size: 1.5rem;
            }
        }
    }
}

.btn-outline-account {
    color: $primary;
    font-weight: $font-weight-extra-bold;
    border: 0.0625rem solid $primary;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: $primary;
    }
}

.dashboard-content {
    position: relative;
    width: 100%;

    .edit-profile-form {
        input {
            &.is-invalid {
                border-color: $primary !important;
            }

            &:focus {
                border-color: $grey2;
                outline: none !important;
            }
        }
    }

    hr {
        border-top: 0.0625rem solid $tertiary;
        margin: 1.25rem 0;
    }

    .font-weight-semi-bold {
        font-weight: $font-weight-medium;
    }

    .dashboard-title-link {
        text-decoration: underline;
    }

    .link {
        position: absolute;
        right: 0.9375rem;
        margin-bottom: 0;

        &:first-child {
            top: 0;
        }

        &:last-child {
            top: 1.875rem;
        }
    }

    .form-group {
        margin-bottom: 1.25rem;
    }

    .change-password-form {
        .account-password-update-btn,
        .account-back-btn {
            width: 17.8125rem;
            margin: 0.3125rem 0;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }
}

.dashboard-row-header {
    font-family: ff(base);
    font-size: fz(h3);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.dashboard-wishlist-item {
    font-size: fz(body-sm);

    .price {
        text-align: center;
    }

    .sales {
        .value {
            font-size: fz(body-sm);
            font-weight: $font-weight-normal;

            @include media-breakpoint-down(lg) {
                font-weight: $font-weight-medium;
            }
        }
    }
}

.product-attribute-list {
    display: flex;
    flex-wrap: wrap;

    span {
        position: relative;
        font-weight: $font-weight-normal;
    }

    span:not(:last-child) {
        margin-right: 1.2rem;

        &::after {
            content: '';
            border-right: 0.0625rem solid $secondary;
            position: absolute;
            right: -0.6rem;
            top: 0.125rem;
            bottom: 0.125rem;
        }
    }
}

.btn-group-actions {
    .btn {
        margin-bottom: 1rem;
    }
}

.show-no-records {
    .btn-group-actions {
        justify-content: center;
    }
}

.show-no-payment-methods {
    .no-payment-methods-container {
        display: block !important;
    }

    .dashboard-title-link {
        display: none;
    }
}

// Address
.address-item {
    .address-edit {
        margin-top: 0.8125rem;
    }

    .address-item-border {
        border-top: 0.0625rem solid $grey2;
        margin: 0.375rem 0;
    }

    .address-item-row {
        margin: 0.8125rem 0;

        .address1 {
            margin-bottom: 0.8125rem;
        }
    }

    .address-default-btn {
        margin: 0.8125rem 0;
    }
}

// Payment Methods
.payment-method-item-row {
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: $font-weight-medium;
    border-bottom: 0.0625rem solid $tertiary;

    .img-credit-card {
        margin-right: 0.625rem;
        border: none;
    }
}

.modal-deletepaymentmodal {
    .modal-footer-btn:not(.btn-block) {
        width: 50%;
        min-width: auto;
    }
}

// Account Address Popup
#deleteAddressModal {
    .modal-footer {
        justify-content: center;

        .btn {
            width: 50%;
            min-width: auto;
        }
    }
}
