@import "./variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/utilities/shapes";
@import "~base/utilities/responsiveUtils";
@import "~brand_core/mixins/swatch";
@import "api/all";
@import "./components/libDriftZoom";
@import "./components/quantitySelector";
@import "./productdetail/brandPdp";

.pdp-banner {
    background-color: $white;
    height: 17.1875rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    img {
        width: 100%;
    }
}

.product-name {
    font-family: ff(base);
    font-weight: $font-weight-normal;
    font-size: fz(h4);
    margin-bottom: 0.6875rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: fz(body);
        line-height: $font-lh--3;
    }

    @include media-breakpoint-up(xl) {
        font-size: fz(h3);
        line-height: $font-lh--2;
        margin-bottom: 1.75rem;
    }
}

.product-short-description {
    font-size: fz(body);
    line-height: $font-lh--1;
    text-align: center;
    margin: 0 auto 1.9375rem;

    @include media-breakpoint-up(xl) {
        text-align: center;
        line-height: $font-lh--4;
        font-size: fz(h4);
    }
}

.product-detail {
    margin-top: 2.375rem;
    margin-bottom: 1rem;

    @include media-breakpoint-only(xs) {
        margin-top: 0;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 2rem;
    }

    .product-main-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(lg) {
            align-items: flex-start;
            flex-direction: row;
        }

        .product-badge-guaranteed {
            display: flex;
            align-items: center;
            margin-bottom: 0.9375rem;
            color: $secondary;
            justify-content: center;
            font-size: fz(body-sm);

            @include media-breakpoint-up(lg) {
                font-size: fz(body);
            }

            .product-badge-guaranteed-icon,
            img {
                width: 0.875rem;
            }
        }

        .product-badge-guaranteed-text {
            margin-left: 10px;
        }
    }

    .product-info-container {
        @include media-breakpoint-up(lg) {
            max-width: 43.125rem;
        }

        @include media-breakpoint-up(xl) {
            padding-left: 6.75rem;
        }
    }

    .badges-container {
        height: auto;
        margin-bottom: 1rem;
        text-align: center;

        @include media-breakpoint-up(xl) {
            margin-bottom: 1.875rem;
            text-align: center;
        }
    }

    .badges {
        text-transform: uppercase;

        .badge-item {
            color: $secondary;
            display: inline-block;
            font-weight: $font-weight-extra-bold;
            font-size: fz(body-sm);
        }

        @include media-breakpoint-up(md) {
            font-size: fz(body);
            line-height: $font-lh--3;
        }

        @include media-breakpoint-up(xl) {
            justify-content: center;
        }
    }

    .product-info-wrapper {
        max-width: 28.125rem;
        margin: 0 auto 2.8125rem;

        .shipping-info {
            display: none;
        }

        .open {
            .swatches {
                height: auto;
                opacity: 1;
            }
        }
    }

    .product-brand {
        font-size: fz(h4);
        font-weight: $font-weight-extra-bold;
        color: $secondary;
        line-height: $font-lh--1;
        margin-bottom: 0.5625rem;
        text-align: center;

        @include media-breakpoint-up(xl) {
            font-size: fz(h3);
        }
    }

    .ratings-container {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.8125rem;
        height: auto;

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
            justify-content: flex-start;
        }
    }

    .rating-stars {
        .sc-icon-star::before,
        .sc-icon-star-empty::before,
        .sc-icon-star-fill-half::after,
        .sc-icon-star-fill-half::before {
            font-size: fz(body-xs);

            @include media-breakpoint-up(xl) {
                font-size: 0.85rem;
            }
        }

        .sc-icon-star-fill-half::after {
            @include media-breakpoint-up(xl) {
                top: auto;
            }
        }
    }

    .review-count {
        @include media-breakpoint-down(md) {
            margin-top: 0;
            position: relative;
            top: 0.0625rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: fz(body-xs);
        }
    }

    .attributes-container {
        margin-bottom: 2rem;
    }
}

.pdp-subtitle {
    font-size: fz(h3);
    font-weight: $font-weight-bold;
    line-height: $font-lh--2;
    margin: 0.9375rem 0 1.3125rem;

    @include media-breakpoint-up(xl) {
        margin: 0.9375rem 0 3.75rem;
    }

    &::after {
        display: none;
    }
}

.wrapper-tabs {
    max-width: 43.125rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 1.25rem;
    align-items: center;

    @include media-breakpoint-up(md) {
        align-items: left;
    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;
        justify-content: space-between;
        max-width: 75rem;
        align-items: start;
    }

    .tabs-alpha {
        max-width: 100%;
        margin-top: 1.125rem;

        @include media-breakpoint-up(xl) {
            margin-top: 0;
            max-width: 75rem;
            order: -1;
        }

        .nav-tabs {
            &::after {
                top: 1.75rem;
                right: 0.9375rem;
                left: 0.9375rem;
            }
        }

        .nav-item {
            flex: none;
        }
    }

    .help-container {
        max-width: 100%;

        @include media-breakpoint-up(xl) {
            display: none;
        }
    }
}

.tab-content {
    font-size: fz(body);
    font-weight: $font-weight-normal;
    line-height: $font-lh--3;
    color: $secondary;

    @include media-breakpoint-down(lg) {
        padding: 0;
    }

    .tab-pane {
        border-top: 0;
        padding: 0.875rem 0 0;

        @include media-breakpoint-up(xl) {
            padding-top: 2rem;
        }
    }

    .acc-title {
        padding-top: 0;
        margin: 0;

        .sc-icon-arrow {
            position: relative;
            background-color: $white;

            &::before {
                content: '';
                position: absolute;
                left: 0.625rem;
                top: -0.3125rem;
                display: block;
                border-right: 0.0625rem solid $text-muted;
                border-bottom: 0.425rem solid $text-muted;
                width: 0.0625rem;
                height: 0.625rem;
                transform: translate(50%, 20%) rotate(45deg);
            }

            &::after {
                content: '';
                position: absolute;
                right: -0.125rem;
                top: -0.3125rem;
                display: block;
                border-left: 0.425rem solid $text-muted;
                border-top: 0.0625rem solid $text-muted;
                width: 0.625rem;
                height: 0.0625rem;
                transform: translate(70%, -50%) rotate(45deg);
            }
        }

        .sc-icon-plus,
        .sc-icon-minus {
            display: none;
        }
    }

    .tab-pane.open {
        .acc-title {
            .sc-icon-minus {
                display: none;
            }

            .sc-icon-arrow {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0.375rem;
                    top: -0.375rem;
                    display: block;
                    border-right: 0.0625rem solid $text-muted;
                    border-bottom: 0.425rem solid $text-muted;
                    width: 0.0625rem;
                    height: 0.625rem;
                    transform: translate(50%, 20%) rotate(45deg);
                    margin: 0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: 0.125rem;
                    top: 0.125rem;
                    display: block;
                    border-left: 0.425rem solid $text-muted;
                    border-top: 0.0625rem solid $text-muted;
                    width: 0.625rem;
                    height: 0.0625rem;
                    transform: translate(70%, -50%) rotate(45deg);
                }
            }
        }
    }

    .tab-pane {
        .acc-content {
            font-size: fz(body);
            color: $secondary;
            overflow: hidden;
            font-weight: $font-weight-normal;
            transition: height $animation-duration, opacity $animation-duration;
            line-height: $font-lh--12;

            p {
                font-size: fz(body);
                line-height: $font-lh--3;
            }

            img {
                margin-right: 0.625rem;
                width: 6.875rem;
                height: 6.875rem;

                @include media-breakpoint-up(xl) {
                    margin-top: 0.375rem;
                }
            }

            h4 {
                font-size: fz(h4);
                font-weight: $font-weight-medium;
                color: $secondary;
                margin-top: 2.125rem;
            }
        }
    }

    .tab-pane.active.open {
        .sc-icon-minus {
            display: none;
        }
    }
}

.recommendation-container {
    display: flex;
    flex-direction: column;
    order: -1;
    padding: 0 0.9375rem;

    @include media-breakpoint-up(xl) {
        padding-left: 7.8125rem;
    }

    .recommended-block {
        display: block;
        margin-bottom: 0.9375rem;
        text-align: left;

        @include media-breakpoint-up(xl) {
            margin-bottom: 1.875rem;
            max-width: 28.125rem;
        }

        .recommend-block-title {
            color: $secondary;
            font-size: fz(body);
            font-weight: $font-weight-medium;
            line-height: $font-lh--3;
            margin-bottom: 1.25rem;
            margin-top: -0.125rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 2.4375rem;
            }

            @include media-breakpoint-up(xl) {
                font-size: fz(p16);
                font-weight: $font-weight-medium;
                line-height: $font-lh--16;
                margin-bottom: 1.375rem;
                margin-top: 0;
            }
        }

        .recommend-img {
            width: 6.25rem;
            height: 6.25rem;
            float: left;
            margin-right: 0.8125rem;

            @include media-breakpoint-up(md) {
                width: 6.875rem;
                height: 6.875rem;
                margin-right: 1.5rem;
            }

            @include media-breakpoint-up(xl) {
                margin-right: 0.9375rem;
            }
        }

        .recommend-block-description {
            color: $secondary;
            font-size: fz(body);
            font-weight: $font-weight-normal;
            line-height: $font-lh--1;
            margin-bottom: 0.875rem;

            &:last-child {
                margin-bottom: 0;
            }

            @include media-breakpoint-up(md) {
                margin-bottom: 0.3125rem;
            }

            @include media-breakpoint-up(xl) {
                font-size: fz(h4);
                line-height: $font-lh;
                margin-bottom: 1.25rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .help-block {
        display: none;

        @include media-breakpoint-up(xl) {
            display: block;
        }
    }
}

.help-block {
    display: block;
    padding: 1.5625rem 2.5rem 2.5rem 1.5625rem;
    color: $secondary;
    max-width: 27.8125rem;
    text-align: center;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        display: block;
        background-color: $grey10;
        padding: 1.3125rem 2.375rem 1.5625rem 2.5rem;
        color: $secondary;
        max-width: 27.8125rem;
        text-align: center;
        margin: 0;
    }

    .help-block-title {
        font-size: fz(h4);
        font-weight: $font-weight-medium;
        line-height: $font-lh--4;
        margin-bottom: 0.375rem;

        @include media-breakpoint-up(xl) {
            font-size: fz(h4);
            font-weight: $font-weight-medium;
            line-height: $font-lh--4;
            margin-bottom: 0.375rem;
        }
    }

    .help-block-description {
        font-size: fz(body);
        font-weight: $font-weight-normal;
        line-height: $font-lh--3;
        margin-bottom: 0.3125rem;

        @include media-breakpoint-up(xl) {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            line-height: $font-lh--3;
            margin-bottom: 0.8125rem;
        }
    }

    .contact-us {
        text-decoration: underline;
        font-size: fz(h4);
        font-weight: $font-weight-normal;
        line-height: $font-lh--4;

        @include media-breakpoint-up(xl) {
            text-decoration: underline;
            font-size: fz(h4);
            font-weight: $font-weight-normal;
            line-height: $font-lh--4;
        }
    }
}

.product-image-carousel {
    max-width: 13.125rem;
    max-height: 13.125rem;
    position: relative;
    margin: 1.25rem auto 0;

    @include media-breakpoint-up(md) {
        float: right;
        margin: 0;
        max-width: 21.5625rem;
        max-height: 23.9375rem;
    }

    @include media-breakpoint-up(xl) {
        max-width: 23.9375rem;
    }

    .product-custom-badge {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
    }

    .product-images {
        @include media-breakpoint-up(md) {
            min-width: 21.5625rem;
            min-height: 21.5625rem;
        }

        @include media-breakpoint-down(sm) {
            .slick-list {
                max-height: 13.125rem;
            }
        }

        .slick-arrow {
            visibility: hidden;

            @include media-breakpoint-only(md) {
                visibility: visible;
            }
        }

        .slick-slide > div {
            display: block;
        }
    }

    .social-container {
        display: block;
        position: absolute;
        right: -2.5625rem;
        text-align: center;
        z-index: 2;
        width: 2rem;

        @include media-breakpoint-up(md) {
            right: -2.1875rem;
        }

        .sc-icon-social-share {
            color: $secondary;

            &::before {
                font-size: 1.5rem;
            }
        }
    }

    .social-icon {
        color: $text-muted;
        cursor: pointer;
        display: block;
        font-size: fz(body);
        margin: 0 0 1rem;

        i {
            &::before {
                font-size: fz(p23);
            }
        }
    }

    .social-icons {
        align-items: center;
        display: none;
        flex-direction: column;
    }
}

.product-images {
    .slick-next,
    .slick-prev {
        display: none;
        visibility: visible;
        width: 2rem;

        @include media-breakpoint-up(md) {
            display: block;
        }

        @include media-breakpoint-up(xl) {
            display: none !important;
        }
    }

    .slick-prev {
        left: -3.5rem;
    }

    .slick-next {
        right: -3.5rem;
    }

    .sc-icon-arrow-next::after,
    .sc-icon-arrow-next::before,
    .sc-icon-arrow-prev::after,
    .sc-icon-arrow-prev::before {
        width: 1.075rem;
        background-color: $text-muted;
    }

    .slick-list,
    .slick-current {
        @include media-breakpoint-up(md) {
            max-height: 23.9375rem;
        }
    }

    .main-product {
        width: 15.3125rem;
        max-height: 100%;
        margin: 0 auto;
        transform: none;
    }
}

.product-thumbnails {
    display: none;
    height: 25.625rem;
    top: 50%;
    left: 0.875rem;
    transform: translateY(-50%);
    width: 5.9375rem;
    position: absolute;
    margin-top: 0.1875rem;

    @include media-breakpoint-up(lg) {
        display: block;
        padding: 1.5625rem 0;
    }

    .slick-slide {
        height: 5.9375rem;
        margin: 0.5625rem 0;

        .img-fluid {
            height: auto;
            width: auto !important;
        }
    }

    .slick-slide > div {
        justify-content: center;
        border: 0.0625rem solid $grey3;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .main-product {
            width: 15.3125rem;
        }

        .main-product {
            width: 15.3125rem;
            max-height: 100%;
            margin: 0 auto;
            transform: none;
        }
    }

    .slick-current > div {
        border-color: $dove-gray;
        height: inherit;
    }

    .slick-next,
    .slick-prev {
        height: 2.1875rem;
        width: 100%;
    }

    .slick-next {
        bottom: 0;
        top: auto;

        .sc-icon-arrow-next {
            transform: rotate(180deg);
        }
    }

    .sc-icon-arrow-next,
    .sc-icon-arrow-prev {
        transform: none;
        width: 1.275rem;

        &::before,
        &::after {
            width: 1.275rem;
        }
    }
}

.product-thumbnails-mobile {
    @include media-breakpoint-up(lg) {
        display: none;
    }

    .slick-arrow {
        @include media-breakpoint-up(md) {
            visibility: hidden;
        }
    }

    .slick-list {
        .slick-slide {
            display: inline-block;
            position: relative;
            line-height: $font-lh--17;
            width: 0.5625rem !important;
            height: 0.5625rem;
            margin: 0 0.25rem;
            float: none;

            > div {
                height: 100%;
            }

            img {
                width: 15.3125rem;
            }
        }

        .slick-active,
        .slick-current {
            .slick-dots-item {
                background: $secondary;
            }
        }

        .slick-dots-item {
            background: $text-muted;
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }

    .slick-track {
        transform: none !important;
        text-align: center;
        width: 100% !important;
    }

    .sc-icon-arrow-next::after,
    .sc-icon-arrow-next::before,
    .sc-icon-arrow-prev::after,
    .sc-icon-arrow-prev::before {
        width: 1.1875rem;
    }
}

.product-info {
    background-color: $white;
    position: relative;

    .btn-select {
        &,
        .dropdown-toggle,
        .dropdown-item {
            font-size: fz(body);
            font-weight: $font-weight-medium;
        }

        .dropdown-toggle.bs-placeholder {
            color: $secondary;
        }

        .dropdown-toggle,
        .dropdown-item {
            padding-top: 0.657rem;
            padding-bottom: 0.657rem;
        }

        .dropdown-toggle {
            padding-left: 0.25rem;
            text-transform: uppercase;
        }
    }

    .attributes-container {
        align-items: flex-start;
        justify-content: center;
        display: flex;

        .attribute-item,
        .product-quantity {
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            align-items: center;
        }

        .attribute-item {
            width: 40%;
            max-width: 160px;
            padding-right: 0;

            @include media-breakpoint-down(lg) {
                width: 50%;
            }

            + .product-quantity {
                width: 60%;
                margin-left: 30px;
                padding-left: 0;

                @include media-breakpoint-down(lg) {
                    width: 50%;
                    margin-right: 0;
                }
            }
        }

        .product-quantity {
            width: 10rem;

            @include media-breakpoint-down(xs) {
                margin: 0 2.1875rem;
            }
        }

        .btn-link {
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            padding-bottom: 0.3125rem;
        }

        .quantity-selector {
            .form-control {
                width: 1.5625rem;
            }
        }
    }

    .attribute-color .btn-select {
        padding-top: 0.469rem;
        padding-bottom: 0.469rem;
    }

    .attribute {
        .filter-option-inner-inner,
        .dropdown-item .text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small.text-muted {
                color: $secondary !important;
                font-size: fz(body);
                font-weight: $font-weight-medium;
            }
        }

        .dropdown-item.disabled:not(.active) {
            small.text-muted {
                color: $grey3 !important;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .attributes-container {
            display: flex;
            margin-top: auto;

            > div {
                flex: 1;
                padding: 0 0.5rem;
                position: relative;
                max-width: 20.625rem;
                margin: 0 auto;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            .attribute {
                .form-control-label {
                    font-size: fz(p9);
                    margin-bottom: 0;
                    padding-top: 0.5315rem;
                    text-transform: uppercase;
                }

                .btn-select .dropdown-toggle,
                .btn-select .dropdown-item {
                    font-weight: $font-weight-medium;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.attribute-color-container {
    position: relative;

    .shade-finder {
        text-align: end;
        font-size: fz(body);
        font-weight: $font-weight-extra-bold;
        line-height: $font-lh--1;
        color: $secondary;
        text-decoration: underline;
    }

    .atribute-title {
        .select-shade {
            font-size: fz(body);
            font-weight: $font-weight-extra-bold;
            line-height: $font-lh--1;
            color: $secondary;
            margin-bottom: 1.125rem;

            @include media-breakpoint-up(lg) {
                margin-left: 0.4375rem;
            }
        }
    }

    .swatches {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 -0.375rem;
        overflow: hidden;
        padding: 0;
        padding-top: 0.3125rem;
        opacity: 0;
        transition: height $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;

        @include media-breakpoint-down(md) {
            background: $white;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }

        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }

    .swatches-all {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.375rem;

        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }

    .swatch-btn {
        height: 2.1875rem;
        display: inline-block;
        position: relative;
        margin: 0 0.46875rem 0.625rem;
        padding: 0;
        cursor: default;
        background: transparent;
        border: none;
    }

    .swatch-btn-hidden {
        display: none;
    }

    .swatches {
        &.expanded {
            .swatch-btn-hidden {
                display: block;
            }
        }
    }

    .view-all-wrapper {
        .view-all {
            display: block;
            margin-top: 0.625rem;
        }
    }

    .view-container {
        text-align: end;
        text-decoration: underline;
        font-size: fz(body);
        font-weight: $font-weight-extra-bold;
        line-height: $font-lh--1;
        color: $secondary;
        position: absolute;
        right: 0;
        bottom: -1.5625rem;

        @include media-breakpoint-up(xl) {
            right: 1rem;
        }
    }
}

.product-cta {
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;

    > .container {
        display: flex;
    }

    .image-container {
        width: 7.5rem;
        margin-right: 2.125rem;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 27.5rem;

        .product-name {
            font-size: fz(p19);
            font-weight: $font-weight-medium;
            padding-right: 0;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }

        .custom-select.bootstrap-select > .dropdown-toggle {
            padding-right: 1.5rem;
        }

        .attribute-color .btn-select {
            padding-right: 1rem;
        }
    }

    .attributes-container {
        display: flex;
        margin-top: auto;

        > div {
            flex: 1;
            padding: 0 0.5rem;
            position: relative;
            max-width: 50%;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .swatches {
            align-self: flex-start;
            background: $white;
            border-bottom: 0.0625rem solid $grey3;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
    }

    .btn-container {
        width: 12.5rem;
        align-self: flex-end;

        .cart-and-ipay,
        .back-in-stock-container {
            margin-bottom: 0;
        }
    }
}

.availability {
    margin-top: -1.25rem;
}

.availability-messages {
    font-size: fz(body-xs);
    text-align: center;

    > .btn {
        cursor: default !important;
        margin-bottom: 0.5625rem;

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
            color: $secondary;
        }
    }
}

.add-to-cart-btn-container {
    @include media-breakpoint-down(sm) {
        &.is-sticky {
            padding: 0 $grid-gutter-width / 2;
            background-color: $white;
            box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16);
        }
    }
}

.prices-add-to-cart-actions {
    margin-bottom: 1.5rem;

    .price {
        text-align: center;

        .strike-through {
            font-size: fz(h4);
            font-weight: $font-weight-normal;
            color: $dove-gray;
        }

        .sales {
            font-size: fz(p22);
            font-weight: $font-weight-extra-bold;
            color: $secondary;
        }
    }
}

.back-in-stock-container,
.availability {
    margin: 0 auto 1rem;

    @include media-breakpoint-up(xl) {
        max-width: 100%;
    }

    .btn {
        font-size: fz(h4);
        width: 100%;
    }

    .fa {
        display: none;
    }
}

.cart-and-ipay {
    padding: 1.25rem 0;

    @include media-breakpoint-up(xl) {
        max-width: 15.9375rem;
        margin: 0 auto;
    }

    + .promotions {
        margin-top: -0.375rem;
    }

    .text-danger {
        font-size: fz(p9);
        margin-bottom: 0.5rem;
    }

    .add-to-cart {
        width: 100%;
        max-width: 43.125rem;
        font-size: fz(body);
        font-weight: $font-weight-extra-bold;
        color: $white;
    }
}

.availability-messages,
.back-in-stock-container {
    > .btn {
        font-size: fz(body);
        padding: 0.64rem 0.3125rem 0.64rem 1.25rem;
        font-weight: $font-weight-extra-bold;

        .sc-icon-email {
            position: relative;

            &::before {
                font-size: fz(p22);
                position: absolute;
                left: -1.5625rem;
                top: -0.1875rem;
            }
        }
    }
}

.back-in-stock-container {
    @include media-breakpoint-up(xl) {
        max-width: 15.9375rem;
    }
}

.apple-pay-pdp {
    padding: 0;
    display: block;
}

.promotions {
    font-size: fz(body-xs);
    text-align: center;
    margin-bottom: 1rem;

    @include media-breakpoint-up(xl) {
        display: none;
    }

    .callout {
        background-color: $grey1;
        padding: 0.5rem;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

.social-container {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: fz(p22);
    margin-bottom: 0.5rem;

    a {
        margin: 0 0.75rem;

        &:hover {
            text-decoration: none;
        }
    }
}

.manufacturer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 2.25rem;
    }
}

.manufacturer-info-label {
    font-size: fz(p8);
    font-weight: $font-weight-bold;
    margin-right: 0.25rem;
}

.manufacturer-sku {
    font-family: Arial, Helvetica, sans-serif;
    font-size: fz(p8);
}

label.color ~ a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.description-and-detail {
    margin-top: 2em;

    @include media-breakpoint-only(xs) {
        margin-top: 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        > div:last-child {
            margin-bottom: 1em;
        }
    }

    .description {
        @include media-breakpoint-up(sm) {
            margin-bottom: 2em;
        }
    }

    .content {
        @include media-breakpoint-only(xs) {
            margin-top: 1em;
        }
    }
}

.complementary-container {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 2rem;
    }
}

.complementary-content {
    font-size: fz(body-xs);
    text-align: center;
    margin: 0 auto;
    max-width: 28.125rem;

    @include media-breakpoint-up(xl) {
        max-width: 100%;
    }

    h3 {
        font-size: fz(p16);
        margin-bottom: 1.125rem;
        text-align: center;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            margin-bottom: 2.375rem;
        }

        @include media-breakpoint-up(xl) {
            color: $secondary;
            font-size: fz(p16);
            font-weight: $font-weight-bold;
            margin-bottom: 1.25rem;
            text-align: center;
        }
    }

    h6 {
        color: $secondary;
        font-size: fz(body);
        line-height: $font-lh--1;
        margin-bottom: 2.875rem;

        @include media-breakpoint-up(xl) {
            font-size: fz(h4);
            line-height: $font-lh;
            margin-bottom: 4.375rem;
        }
    }
}

.complementary-details {
    flex-direction: column;
}

.complementary-cta-bottom {
    margin-top: -2.0625rem;
    max-width: 28.125rem;

    @include media-breakpoint-up(md) {
        margin: 1.5625rem auto 0;
    }

    .complementary-total-price {
        @include media-breakpoint-down(sm) {
            font-size: fz(h2);
        }
    }

    &::before {
        @include media-breakpoint-up(md) {
            border-top: 0.0625rem $grey2 solid;
            content: '';
            display: block;
            margin-bottom: 0.75rem;
            width: 100%;
        }

        @include media-breakpoint-up(xl) {
            display: none;
        }
    }

    @include media-breakpoint-up(xl) {
        max-width: 100%;
    }

    .btn.add-to-cart-multiple {
        margin-top: 0;
    }
}

.complementary-total-price {
    font-size: fz(p22);
    font-family: ff(secondary);
    font-weight: $font-weight-extra-bold;
    text-align: center;
    margin-bottom: 1rem;
    color: $secondary;

    @include media-breakpoint-up(md) {
        font-size: fz(h2);
        font-weight: $font-weight-medium;
        line-height: $font-lh--15;
        margin-bottom: 0.25rem;
    }
}

.complementary-total-list-price {
    color: $grey4;
    font-size: fz(p19);
    font-family: ff(secondary);
    font-weight: $font-weight-medium;
    text-decoration: line-through;

    @include media-breakpoint-up(md) {
        font-size: fz(h2);
        font-weight: $font-weight-bold;
    }

    @include media-breakpoint-up(xl) {
        font-size: fz(p17);
    }
}

.complementary-total-price,
.complementary-total-list-price {
    + .btn {
        margin-top: 1rem;
    }
}

.complementary-details-wrap {
    @include media-breakpoint-up(lg) {
        max-width: 21.875rem;
    }
}

.complementary-products {
    display: inline-block;
}

.price {
    font-size: fz(p22);
}

.product-options {
    margin-top: 1.25em;

    .quantity {
        bottom: 0;
        min-width: 6.25em;
        padding-left: 0.938em;
        padding-right: 0.938em;
        position: absolute;
        right: 0;
        margin-bottom: 2.0625rem;
    }
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}

.add-to-wishlist-mobile {
    max-width: 15rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    .add-to-wishlist-container {
        position: absolute;
        top: 1rem;
        right: -1rem;
    }

    .btn-link-with-icon {
        > span {
            display: none;
        }

        > i::before {
            font-size: fz(p20);
        }
    }
}

.container-title.recommendation-title {
    font-size: fz(h3);
    font-weight: $font-weight-bold;
    line-height: $font-lh--2;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 3.75rem;
    }

    &::after {
        display: none;
    }
}

.global-carousel {
    margin-bottom: 0;
}
