@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "api/all";

.track-order-header {
    font-family: ff(base);
    font-size: fz(h1);
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @include media-breakpoint-down(md) {
        margin-top: 1.875rem;
        font-size: fz(h2);
    }
}

.trackorder {
    .track-order-header-text {
        font-size: fz(h4);

        @include media-breakpoint-down(lg) {
            font-size: fz(body);
            margin-bottom: 2.5rem;
        }
    }

    .form-control-label {
        font-size: fz(h4);
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

.track-order-contact-box {
    background: $light;
    padding: 0.9375rem 0.875rem;

    @include media-breakpoint-down(sm) {
        display: none;
    }

    .track-order-contact-title {
        font-size: fz(body);
        text-transform: uppercase;
    }

    .track-order-contact-link {
        text-decoration: underline;
        font-weight: $font-weight-medium;
        margin-bottom: 0.625rem;
        display: inline-block;
    }
}
