@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "api/all";

.oc-brands__title {
    font-family: ff(base);
    font-size: 14px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;

    @include media-breakpoint-down(sm) {
        font-size: fz(h2);
    }
}

.oc-brands-letters__container {
    display: flex;
    flex-flow: column wrap;
    height: 503px;
    color: $grey9;
    margin-top: 2rem;

    @include media-breakpoint-down(sm) {
        margin-top: 1rem;
        height: auto;
    }
}

.oc-brands-letters__letter {
    margin-bottom: 45px;

    ul {
        list-style: none;
        padding: 0;

        li {
            font-weight: $font-weight-medium;
            font-size: 16px;
        }

        a {
            color: $grey9;
        }
    }
}

.oc-brands-letter__title {
    font-size: 30px;
}
