@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

$tanagra-home-main-container-breakpoint: 906px;

@media (min-width: $tanagra-home-main-container-breakpoint) {
    .page[data-action="Home-Show"] {
        .container.boxes {
            max-width: 876px;
        }
    }
}

.page[data-action="Home-Show"] {

    @include media-breakpoint-down(sm) {
        .container.boxes:not(:nth-child(3)) {
            margin-bottom: 2.5rem;
        }
    }

    .home-topblock-categories {
        div[class^="col-"] {
            padding-right: 8px;
            padding-left: 8px;

            .btn {
                width: 100%;
                font-size: 12px;
                font-weight: 600;
                margin-top: 0.25rem;
            }
        }
    }

    .instagram-feed {
        h3 {
            font-size: 1.4rem;
            line-height: 1.4rem;
            font-family: $font-family-base;

            img {
                margin-right: 4px;
            }
        }

        ul {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: stretch;
            list-style: none;
            padding: 0;

            li {
                flex: 0 0 23%;

                figure {
                    margin: 0;
                    overflow: hidden;
                }

                label {
                    text-transform: uppercase;
                    color: #999;
                    font-size: 13px;
                    margin: 10px 0 0;
                    padding: 0;
                }

                img {
                    width: 100%;
                    transition: ease-in 0.3s;
                    object-fit: cover;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                + li {
                    margin-left: 2%;
                }
            }
        }
    }
}

