.btn-link,
.btn {
    &:hover,
    &.hover,
    &:focus,
    &.focus {
        text-decoration: none;
    }
}

.btn {
    border-radius: $btn-border-radius;
}

.btn-primary,
.btn-secondary,
.btn-outline-primary,
.btn-outline-secondary,
.btn-tertiary.btn-tertiary-sm {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    padding: 0.65rem 0.5rem 0.525rem;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
        min-width: 7.25rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
        min-width: 6rem;
        padding: 0.5rem 0.5rem 0.375rem;
    }
}

.btn-outline-primary,
.btn-outline-secondary {
    border-width: 2px;
}

.btn-primary {
    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }

    &.disabled {
        background-color: $grey2;
        border-color: $grey2;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }
}

.btn-secondary {
    &:hover {
        background-color: $secondary-hover;
        border-color: $secondary-hover;
    }
}

.btn-outline-secondary {
    background-color: $white;
}

.btn-tertiary {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    background-color: $tertiary;
    border-color: $tertiary;
    color: $secondary;
    padding: 0.825rem 0.75rem 0.7rem;

    @include media-breakpoint-up(xl) {
        padding: 0.825rem 1.125rem 0.7rem;
    }

    &:hover {
        background-color: $tertiary-hover;
        border-color: $tertiary-hover;
    }
}

.btn-overlay {
    cursor: pointer;
    opacity: 0;
    border: 0;
}

.btn-select {
    background-position: right 0.15rem center #{"/*rtl:0.15rem center*/"};
    display: flex;
    align-items: center;
    line-height: 1.58;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    padding-left: 0.25rem;
    padding-right: 0;
    text-transform: none;

    &.single-select-option {
        background-image: none;

        .btn.disabled {
            opacity: 1;
        }

        &::after {
            display: none;
        }
    }

    .dropdown-toggle {
        border-right: 0;
        border-left: 0;
        border-top: 0;
        padding-left: 0.25rem;
        padding-right: 1.5rem;
    }
}

.btn-link-with-icon {
    font-size: $font-size--4;
    font-weight: $font-weight-medium;
    padding: 0;
    margin-bottom: 0.5rem;
    text-align: left;
    text-transform: none;
    display: flex;
    align-items: center;

    > i {
        display: inline-block;
        min-width: 1.6rem;

        &::before {
            font-size: 1rem;
        }
    }

    + .btn-link-with-icon {
        margin-top: 0;
    }
}
