.checkout-steps-container-inner {
    margin: 50px 0;
}

.checkout-steps-active::before {
    position: absolute;
    content: '';
    background: #ece5d5;
    width: 50px;
    height: 50px;
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
}

.data-checkout-stage {
    &[data-checkout-stage=shipping] .checkout-step-shipping-title,
    &[data-checkout-stage=payment] .checkout-step-payment-title {
        &::before {
            @extend .checkout-steps-active::before;
        }
    }
}

.checkout-steps-wrapper {
    padding: 40px 0 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

    &::before {
        position: absolute;
        content: '';
        left: 7%;
        top: 57px;
        background: #e8e8e8;
        width: 85%;
        height: 2px;
    }

    li {
        list-style: none;
    }

    li a,
    li span {
        font-size: 18px;
        position: relative;
        color: #000;

        &::before {
            position: absolute;
            content: '';
            background: #fff;
            width: 15px;
            height: 16px;
            top: -44px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 50%;
        }

        &::after {
            position: absolute;
            top: -38px;
            content: '';
            background: #000;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            left: 0;
            margin: 0 auto;
            right: 0;
        }

        &.checkout-steps-active {
            color: #001022;
            font-weight: 600;
        }

        &.checkout-steps-active::before {
            @extend .checkout-steps-active::before;
        }
    }
}
