.mobile-navbar-open {
    @include media-breakpoint-down(lg) {
        overflow: hidden !important;
        position: fixed;
        width: 100%;
    }
}

.header {
    background-color: $white;
    border-bottom: 0.0625rem solid transparent;

    &.mobile-search-sliding {
        border-bottom: 0.1875rem solid $secondary !important;
    }

    &.navbar-visible {
        @include media-breakpoint-down(lg) {
            .navbar-toggle-search-btn,
            .navbar-header-menu-item,
            .navbar-toggler .icon-hamburger-menu,
            .minicart {
                opacity: 0;
            }

            .navbar-toggler .sc-icon-cross {
                opacity: 1;
                position: relative;
                top: 12px;
            }
        }
    }
}

.sticked.header {
    border-bottom: 0;
}

.header-top-links {
    font-size: $font-size--3;
    font-weight: $font-weight-semi-bold;
    background-color: $primary;
    color: #4e5162;
    min-height: 31px;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        margin: 0;
        list-style: none;

        @include media-breakpoint-down(md) {
            position: absolute;
            left: -9999px;

            &.owl-carousel.slick-initialized.slick-slider {
                position: relative;
                left: 0;
            }
        }

        li {
            text-align: center;
            line-height: 30px;
            width: 100%;

            a {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.header-top {
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 0.6rem;

    @include media-breakpoint-up(xl) {
        padding-bottom: 0;
    }

    .navbar-toggler,
    .navbar-toggle-search-btn,
    .navbar-header-contact-us,
    .minicart {
        @include ipad() {
            display: block !important;
        }
    }
}

.language-selector {
    .btn-link {
        text-transform: none;
    }
}

.navbar-header {
    display: inline-flex !important;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5rem 0;

    @include media-breakpoint-down(sm) {
        border-bottom: 1px solid #ddd;
    }

    .col-2 {
        .logo-area .m-0 {
            img {
                //Responsive
                @include media-breakpoint-down(sm) {
                    width: 150px;
                    padding-left: 15px;
                }
            }
        }
    }

    .col-4 {
        //Responsive
        @include media-breakpoint-down(sm) {
            display: none !important;
        }
    }

    .left-link {
        padding-top: 15px;
        display: inline-flex !important;
        @include media-breakpoint-down(sm) {
            //Responsive
            display: none !important;
        }

        p {
            text-transform: capitalize;
            font-weight: 600;
            font-size: 12pt;
            padding-left: 15px;

            a {
                color: currentColor;
            }
        }
    }

    .right-link {
        display: inline-flex !important;
        float: right;

        .signin {
            @include media-breakpoint-down(sm) {
                //Responsive
                display: none !important;
            }

            padding-top: 18px;

            p {
                font-weight: 600;
                font-size: 12pt;
            }
        }

        .staricon {
            @include media-breakpoint-down(sm) {
                //Responsive
                display: none !important;
            }
        }

        .imgicons {
            padding-top: 15px;
            float: right;
            margin-left: 20px;
        }

        .searchdiv {
            padding-top: 6px;
            float: right;
            margin-left: 10px;
            @include media-breakpoint-down(sm) {
                //Responsive
                padding-top: 14px;
            }
        }
    }

    .user,
    .minicart,
    .navbar-header-menu-item {
        display: inline-block;
        position: relative;
        max-width: 5.5rem;
        padding: 0;
        width: 46.5%;
        text-align: center;

        @include media-breakpoint-up(xl) {
            //Responsive
            padding: 0 1.5rem 0 0.65rem;
            text-align: left;
            width: auto;
        }

        i::before {
            font-size: $font-size-10;

            @include media-breakpoint-up(xl) {
                font-size: $font-size-2;
            }
        }
    }

    .user,
    .minicart,
    .navbar-toggler,
    .navbar-header-menu-item {
        @include media-breakpoint-up(xl) {
            line-height: 2.25em;
            height: auto;
        }
    }

    .navbar-toggler,
    .navbar-toggle-search-btn {
        padding: 0;
        width: 46.5%;
        max-width: 5.5rem;
    }

    .navbar-toggler {
        font-size: $font-size-16;
        font-weight: $font-weight-semi-bold;
        position: relative;
        top: -0.4rem;
        left: 0.4rem;

        .sc-icon-cross {
            opacity: 0;
            position: relative;
            top: 12px;

            &::before,
            &::after {
                margin: 1.25rem 0 0 -1.5rem;
                height: 0.1625rem;
            }
        }

        .icon-hamburger-menu {
            position: relative;
            top: 0.5rem;
        }
    }

    .navbar-toggle-search-btn {
        i::before {
            font-size: $font-size-10;
        }
    }

    .navbar-toggle-search-btn,
    .navbar-header-menu-item,
    .navbar-toggler > span,
    .minicart {
        transition: opacity $animation-duration;
    }

    .user {
        .popover {
            position: absolute;
            display: none;
            padding: 1em;
            top: 85%;
            left: 0;

            a {
                white-space: nowrap;
                margin-bottom: 0.5em;
            }

            &::before {
                left: 1.5rem;
            }

            &::after {
                left: 1.5rem;
            }

            &.show {
                display: block;
            }
        }
    }

    .minicart {
        @include media-breakpoint-up(xl) {
            top: 0;
        }
    }
}

[data-action="Login-Show"] {
    .navbar-header {
        .guest {
            display: none;
        }
    }
}

.header-top-left,
.header-top-right {
    display: flex;
    flex: 1;
}

.dropdown {
    cursor: pointer;
}

.header-top-left {
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 0;

    @include media-breakpoint-up(xl) {
        align-items: center;
    }

    .country-selector {
        .rounded-flag-icon {
            -webkit-mask-image: -webkit-radial-gradient($white, $black);
            line-height: 0;
            border-radius: 100%;
            display: inline-block;
            overflow: hidden;
            margin-right: 0.7rem;
            height: 1rem;
            width: 1rem;
        }

        .flag-icon {
            font-size: $font-size-2;
            margin-left: -0.15rem;
        }

        .country-code {
            font-size: $font-size--3;
            font-weight: $font-weight-medium;
            position: relative;
            top: 0.0625rem;
        }

        > .btn {
            border-radius: 0;
            display: flex;
            align-items: center;
            padding: 0.375rem 1.15rem;
            position: relative;

            &::after {
                margin-left: 0.5rem;
            }
        }

        .dropdown-item {
            display: flex;
            align-content: center;
            padding: 0.5rem 1.15rem 0.5rem 1.275rem;

            .country-code {
                top: 0.125rem;
            }
        }

        .dropdown-menu {
            border-color: $dove-gray;
            border-radius: 0;
            margin: 0;
            padding: 0;
            min-width: 6.6375rem #{"/*rtl:7.2rem*/"};

            /* rtl:ignore */
            left: -0.0625rem #{"/*rtl:-0.1rem*/"};
        }
    }

    .language-selector {
        > .btn {
            border-radius: 0;
            padding: 0.45rem 1.35rem;
            position: relative;
            font-size: $font-size--3;

            &::before {
                content: "";
                border-right: 0.0625rem solid $secondary;
                position: absolute;
                bottom: 0.5rem;
                right: -0.0625rem;
                top: 0.5rem;
            }

            &::after {
                margin-left: 0.5rem;
            }
        }

        .dropdown-item {
            padding: 0.5rem 1.25rem;
        }

        .dropdown-menu {
            border-color: $secondary;
            border-radius: 0;
            margin: 0;
            padding: 0;
            min-width: 2rem;
        }
    }

    .left-link {
        margin: 0;
        padding: 0;

        li {
            padding: 0 0.5rem;
            display: inline-block;

            a {
                color: currentColor;
                text-transform: capitalize;
                font-weight: $font-weight-medium;
            }
        }
    }
}

.header-top-right {
    justify-content: flex-end;
}

.header-top-center {
    text-align: center;
    margin: 0;

    &:first-child {
        margin-top: 0.8rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0.95rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 8.125rem;

        @include media-breakpoint-up(md) {
            max-width: 8.5rem;
        }

        @include media-breakpoint-up(xl) {
            width: 9.5rem;
            max-width: 9.5rem;
            min-height: 2.69125rem;
            transition: width $animation-duration;
        }
    }
}

.header-banner {
    background-color: $primary;
    color: $secondary;
    font-size: $font-size--1;
    font-weight: $font-weight-semi-bold;
    padding: 0.725rem 0 0.525rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        padding: 0.55rem 0 0.4rem;
    }

    .close-button {
        display: none;
    }
}

.minicart {
    /* 3/16 */
    vertical-align: top;
    position: relative;

    .minicart-icon {
        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
        }
    }

    .minicart-icon-bag {
        width: 22px;

        @include media-breakpoint-up(xl) {
            width: 17px;
        }
    }

    a.minicart-link {
        &:hover {
            text-decoration: none;
        }
    }

    .minicart-quantity {
        background-color: $primary;
        border: 0.0625rem solid $secondary;
        border-radius: 50%;
        color: $secondary;
        display: inline-block;
        font-size: $font-size--1;
        line-height: 1.2;
        text-align: center;
        position: absolute;
        width: 1.125rem;
        height: 1.125rem;
        top: -0.388rem;
        left: calc(50%);

        @include media-breakpoint-up(xl) {
            top: 0.112rem;
            left: calc(50% - 0.4rem);
        }
    }

    .popover {
        right: 0.938rem !important;
        border-radius: 0;
        border: 0.0625rem solid $grey3;
        min-width: 25rem !important;
        width: 25rem;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    }
}

.miniCart-dropdown {
    padding: 24px !important;
    margin: 0;
    max-height: 31.25rem;

    .miniCart-items {
        max-height: 17.875rem;
        overflow-y: auto;
    }
}

.miniCart-item {
    display: flex;
    border-bottom: 0.0625rem solid $grey3;
    padding: 0.625rem 0;
    font-size: $font-size--3;
    position: relative;

    &:first-child {
        padding-top: 0;
    }

    .miniCart-item-image {
        img {
            width: 3.5rem;
        }
    }

    h2,
    .line-item-name {
        font-family: $font-family-base;
        font-size: $font-size-2;
        font-weight: $font-weight-semi-bold;
        line-height: 1.6;
        margin: 0;

        a:hover {
            text-decoration: none;
        }
    }

    .miniCart-item-description {
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0;
        }
    }

    .miniCart-item-name {
        padding-right: 0;
        margin-bottom: 0.5rem;
    }

    .miniCart-item-details {
        font-family: $font-family-base;
        color: $secondary;
        padding-bottom: 0.525rem;
        display: flex;
        flex-wrap: wrap;

        span {
            position: relative;
            font-weight: $font-weight-medium;
        }

        span:not(:last-child) {
            margin-right: 1.188rem;

            &::after {
                content: "";
                position: absolute;
                right: -0.594rem;
                border-right: 0.0625rem solid $secondary;
                top: 0;
                height: 100%;
            }
        }
    }

    .miniCart-item-price {
        font-family: $font-family-secondary;
        font-weight: $font-weight-extra-bold;
        padding-bottom: 0.125rem;

        .cart-product-price-discounted {
            font-size: $font-size--3;
            font-weight: $font-weight-extra-bold;
            padding-top: 0 !important;
        }

        .cart-product-price-main {
            font-size: $font-size--5;
            font-weight: $font-weight-medium;
        }
    }

    .line-item-attributes {
        font-size: $font-size--3;
        font-weight: $font-weight-medium;
    }
}

.miniCart-item-actions {
    margin-top: 0.5rem;
}

.miniCart-item-remove {
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

.miniCart-nested-items {
    margin-top: -0.0625rem;
    background-color: $white;
    border-bottom: 0.0625rem solid $grey3;
    padding-left: 1.25rem;
    z-index: 1;
    position: relative;

    .miniCart-item-first {
        border-top: 0.0625rem solid $grey3;
    }

    .miniCart-item-last {
        border-bottom: 0;
    }
}

.miniCart-subTotal {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;

    .miniCart-subTotal-label {
        span {
            display: block;
            font-size: $font-size-base;

            &:first-child {
                text-transform: uppercase;
            }

            &:last-child {
                font-size: $font-size--4;
                font-weight: $font-weight-light;
            }
        }
    }

    .miniCart-subTotal-amount {
        font-family: $font-family-secondary;
        font-weight: $font-weight-extra-bold;
        font-size: $font-size-1 !important;
    }
}

.miniCart-checkout-message {
    margin: 1.563rem 0 0.5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size--3;
}

.miniCart-errorBox {
    .alert {
        margin-bottom: 0;
        margin-top: 0.625rem;
        padding: 0.625rem;
        font-size: $font-size--2;
        font-weight: $font-weight-light;
        border: none;
    }

    .miniCart-errorBox-dismiss {
        position: absolute;
        background: transparent;
        border: none;
        right: 0.413rem;
        top: 0.413rem;

        i {
            &::before,
            &::after {
                width: 0.5625rem;
                margin: -0.055rem 0 0 -0.663rem;
                background-color: $lonestar;
            }
        }
    }
}

.added-product-notification {
    background-color: $white;
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    display: none;
    padding: 1rem 0.25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 1;

    .miniCart-item-multiple-product-images {
        img {
            max-width: 7.5rem;
        }
    }

    @include media-breakpoint-down(lg) {
        &.miniCart-multiple-products {
            .miniCart-item {
                width: 52%;

                .miniCart-item-multiple-products-text {
                    display: none;
                }
            }

            .miniCart-item-multiple-product-images {
                img {
                    width: 23%;
                }

                .sc-icon-plus {
                    &::before,
                    &::after {
                        width: 0.875rem;
                    }
                }
            }

            .miniCart-item-total {
                display: flex;
                justify-content: center;

                .miniCart-checkout {
                    display: none;
                }

                .miniCart-item-multiple-products-text {
                    font-size: $font-size-6;
                    font-weight: $font-weight-medium;
                    display: block;
                    margin-bottom: 1rem;
                    padding-left: 2rem;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            .miniCart-item-subtotal-label {
                font-size: $font-size-5;
                font-weight: $font-weight-medium;

                .miniCart-item-vat {
                    font-size: $font-size--4;
                    font-weight: $font-weight-normal;
                }
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-7;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.miniCart-multiple-products {
            .miniCart-item-container {
                flex-direction: column;
            }

            .miniCart-item {
                width: 100%;
            }

            .miniCart-item-multiple-products {
                width: 100%;
                text-align: center;
            }

            .miniCart-item-total {
                width: 100%;
                flex-direction: row;

                .miniCart-item-multiple-products-text {
                    width: 50%;
                    font-size: $font-size--1;
                    margin-bottom: 0;
                    padding-left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .miniCart-item-subtotal {
                width: 50%;
            }

            .miniCart-item-subtotal-label {
                display: none;
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-2;
                width: 100%;
                text-align: center;

                .miniCart-item-vat {
                    font-weight: $font-weight-light;
                }
            }
        }
    }

    .miniCart-item-container {
        display: flex;
        position: relative;
        margin-bottom: 0;
        width: 100%;
    }

    .miniCart-item-remove {
        right: 1rem;
        top: -0.6rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;

        i::before,
        i::after {
            width: 1.441rem;
        }
    }

    .miniCart-added-message {
        position: absolute;
        left: 0;
        top: 0;
        font-size: $font-size--1;
        text-transform: uppercase;
    }

    .miniCart-item {
        border: none;
        position: relative;
        padding: 1.875rem 0 0.875rem;
        width: 100%;
    }

    .miniCart-item-description {
        position: relative;
        padding-top: 0.813rem;
    }

    .miniCart-item-badge {
        font-size: $font-size--5;
        font-weight: $font-weight-semi-bold;
        position: absolute;
        top: 0;
        text-transform: uppercase;
    }

    .miniCart-item-name {
        margin-bottom: 0.5rem;

        h2 {
            font-size: $font-size-2;
            text-transform: none;
        }
    }

    .miniCart-item-price {
        font-size: $font-size-2;
        padding: 0;

        .cart-product-price-discounted {
            font-size: $font-size-2;
        }

        .cart-product-price-main {
            font-size: $font-size-base;
        }
    }

    .miniCart-item-list-price {
        color: $grey4;
        font-size: $font-size--1;
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        text-decoration: line-through;
    }

    .miniCart-item-vat {
        font-size: $font-size--4;
        font-family: $font-family-base;
    }

    .miniCart-item-total {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;

        .miniCart-item-multiple-products-text {
            display: none;
        }
    }

    .miniCart-item-image {
        a {
            display: block;
        }

        img {
            width: 6.875rem;
        }
    }

    .miniCart-item-multiple-product-images {
        .sc-icon-plus {
            margin: 0.25rem;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .miniCart-item-multiple-products-text {
        font-size: $font-size-7;
        font-weight: $font-weight-light;
        text-align: center;
    }

    .miniCart-item-subtotal {
        display: flex;
        align-items: center;
    }

    .miniCart-item-subtotal-label {
        font-size: $font-size-14;
        font-weight: $font-weight-medium;
        width: 50%;
        text-align: center;
        text-transform: uppercase;

        .miniCart-item-vat {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            position: static;
            text-transform: none;
        }
    }

    .miniCart-item-subtotal-value {
        font-size: $font-size-16;
        font-weight: $font-weight-extra-bold;
        font-family: $font-family-secondary;
        width: 50%;
        text-align: center;
    }

    .miniCart-checkout {
        display: flex;
        flex-direction: row;
        padding-top: 0.938rem;
        justify-content: space-between;

        a,
        button {
            font-size: $font-size--3;
            width: 48%;
            padding: 0.575rem 0.75rem 0.45rem;
        }
    }
}

@include media-breakpoint-up(md) {
    .added-product-notification {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        .miniCart-checkout {
            a,
            button {
                font-size: $font-size-1;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .added-product-notification {
        padding: 1.875rem 0 2.5rem;

        .miniCart-item-container {
            padding-left: 0;
            padding-right: 0;
        }

        .miniCart-item {
            position: relative;
            padding-top: 2.875rem;
            padding-right: 1.625rem;
            width: 50%;

            &::after {
                content: "";
                border-right: 0.0625rem solid $grey3;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        .miniCart-item-remove {
            right: 0;
        }

        .miniCart-added-message {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            left: 0;
        }

        .miniCart-item-image img {
            width: 7.5rem;
        }

        .miniCart-item-description {
            padding: 0 0 0 1rem;
        }

        .miniCart-item-badge {
            position: static;
        }

        .miniCart-item-name {
            padding-right: 0;
            margin-bottom: 0.25rem;

            h2 {
                font-size: $font-size-7;
                font-weight: $font-weight-medium;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        .miniCart-item-details {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            padding-bottom: 0;
        }

        .miniCart-item-price {
            font-size: $font-size-7;
            font-weight: $font-weight-extra-bold;

            .cart-product-price-discounted {
                font-size: $font-size-7;
            }

            .cart-product-price-main {
                font-size: $font-size-4;
            }
        }

        .miniCart-item-list-price {
            font-size: $font-size-4;
            font-weight: $font-weight-semi-bold;
        }

        .miniCart-item-total {
            display: flex;
            padding-left: 1.625rem;
        }

        .miniCart-checkout {
            justify-content: space-between;
            padding-top: 1.85rem;

            .btn {
                font-size: $font-size-base;
            }
        }
    }
}

.added-product-notification-backdrop {
    position: absolute;
    display: none;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($alto, 0.72);
    z-index: -1;
    top: auto;
    cursor: pointer;
}

a.normal {
    color: $primary;
    text-decoration: underline;
}

.slide-up {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    max-height: 100px;
    overflow: hidden;

    &.hide {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

.sticked {
    &.header {
        border-bottom-color: $grey3;
    }

    @include media-breakpoint-up(xl) {
        .header-top-center {
            &:not(:first-child) {
                margin-top: 0;
            }

            img {
                width: 8.4375rem;
                min-height: 1.81625rem;
            }
        }

        .header-top-left {
            .search {
                margin-left: 0.8rem;
            }

            .country-selector,
            .language-selector {
                > .btn {
                    padding: 0.45rem 0.75rem;

                    &::before,
                    &::after {
                        display: none;
                    }

                    .country-code {
                        display: none;
                    }
                }

                .dropdown-menu {
                    min-width: 2rem;
                }

                .dropdown-item {
                    padding-left: 0.85rem;
                }
            }

            .language-selector {
                > .btn {
                    line-height: 1.8;
                }
            }

            .search {
                margin-left: 0;
            }
        }
    }
}

.header-logo-only {
    .header-top {
        padding-bottom: 0;

        .back-shop a {
            float: left;
            padding: 14px 0;
            line-height: 1.3;
            text-transform: capitalize;
            text-decoration: underline;
        }

        .sign-in.cart-header {
            display: flex;
            justify-content: flex-end;
            padding: 14px 0;

            > a {
                margin: 0 8px;

                &:last-child {
                    margin: 0;

                    img {
                        max-width: 15px;

                        @include media-breakpoint-up(lg) {
                            max-width: 24px;
                        }
                    }
                }
            }
        }

        .navbar-header {
            border-bottom: 1px solid #ddd;

            .col-4 {
                display: block !important;
            }
        }
    }

    .header-top-center {
        margin: 0 auto;
        padding: 10px 0;
        text-align: center;

        img {
            width: 100px;
        }

        @include media-breakpoint-up(lg) {
            img {
                max-width: 12.5rem;
            }

            padding: 0;
        }
    }
}

.hide-link-med {
    @include media-breakpoint-only(sm) {
        display: block !important;

        @media (orientation: $portrait) {
            display: none !important;
        }
    }
}

.hide-no-link {
    @include media-breakpoint-only(sm) {
        @media (orientation: $landscape) {
            display: none;
        }
    }
}

span#beupdated {
    color: #000;
}

.header.fixed-top {
    z-index: 1060;

    @include media-breakpoint-up(xl) {
        z-index: 2060;
    }
}

.header-announcements {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: $primary;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid $border-color;
}

.dropdown-menu-aggregated-items {
    .nav-link.dropdown-link.nav-link-only-name {
        font-size: 0.875rem;
        font-weight: bold;
        margin-bottom: 0.75rem;
        padding: 0.25rem 1.5rem;
    }
}
