/* rtl:begin:ignore */
.noUi-target {
    background: $oslo-gray;
    border-radius: 0;
    box-shadow: none;
    border: 0;

    /* rtl:ignore */
    direction: ltr;
}

.noUi-connect {
    background: $secondary;

    @include media-breakpoint-up(xl) {
        background: $oslo-gray;
    }
}

.noUi-horizontal {
    height: 0.0625rem;
    margin-right: 0.5625rem;
    width: calc(100% - 1.8rem);
    margin-left: 1.2rem;

    @include media-breakpoint-up(xl) {
        height: 0.125rem;
        margin-right: 0.4375rem;
    }
}

.noUi-handle {
    border: 0.0625rem solid $secondary;
    border-radius: 50%;
    box-shadow: none;
    background-color: #d8d8d8;

    @include media-breakpoint-up(xl) {
        border: 0.125rem solid $oslo-gray;
    }

    &::before,
    &::after {
        display: none;
    }
}

.noUi-horizontal .noUi-handle {
    width: 1.5rem;
    height: 1.5rem;
    left: -0.4375rem;
    top: -0.675rem;

    @include media-breakpoint-up(xl) {
        width: 1.5rem;
        height: 1.5rem;
        left: -0.4375rem;
        top: -0.675rem;
    }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    left: auto;
    right: -0.5375rem;

    @include media-breakpoint-up(xl) {
        right: -0.4375rem;
    }
}

.slider-active {
    .noUi-handle {
        border-color: $secondary;
        background-color: $secondary;
    }

    .noUi-connect {
        background: $secondary;
    }
}

/* rtl:end:ignore */
