@import '../mixins/swatch';
@import './quickView';

.product-tile-link {
    position: absolute;
    top: 0.0625rem;
    right: 0;
    left: 0;
    bottom: 0.0625rem;
    z-index: 2;
}

.product-tile {
    border: 0;
    margin-bottom: 0;
    position: relative;

    .tile-body {
        .color-swatches {
            min-height: 2.25em;

            .product-tile-color-label {
                cursor: pointer;
                font-size: 1em;

                @include media-breakpoint-down(md) {
                    font-size: $font-size-1;
                }

                @include media-breakpoint-down(sm) {
                    font-size: $font-size--1;
                }
            }
        }

        .price {
            margin-bottom: 0;

            .tiered {
                font-size: $font-size-base;

                .value {
                    font-weight: $font-weight-bold;
                }
            }

            .strike-through,
            .worth {
                color: $grey4;
                display: block;
                font-size: $font-size--2;
                font-weight: $font-weight-medium;
                margin-right: 0;
                margin-top: 0.25rem;
            }

            .sales {
                font-size: $font-size-base;
                color: #666;
            }
        }

        .coming-soon-tile {
            text-align: center;
        }

        .pdp-link {
            line-height: 1.2;

            a {
                color: $secondary !important;
                font-size: $font-size-base;
                font-weight: $font-weight-light !important;
                text-decoration: none;
                text-transform: capitalize;

                @include media-breakpoint-up(md) {
                    font-size: $font-size-2;
                }

                @include media-breakpoint-up(xl) {
                    font-size: $font-size--1;
                }
            }
        }

        > .btn {
            position: relative;
            z-index: 3;

            @include media-breakpoint-down(md) {
                min-width: 6.35rem;
            }
        }
    }

    .tile-wishlist {
        position: absolute;
        z-index: 1050;
        top: 8px;
        right: 5px;

        .add-to-wishlist-container {
            .text-secondary,
            .btn-link-with-icon.add-to-wish-list span,
            button[data-target="#loginFormModal"] span {
                display: none;
            }
        }
    }

    .name-container {
        height: 2rem !important;
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(xl) {
            margin-bottom: 0;
        }
    }

    .price-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 2.25rem;
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(xl) {
            height: 2rem;
        }
    }

    .image-container {
        position: relative;
        overflow: auto;
        min-height: 8.4375rem;

        @include media-breakpoint-up(xl) {
            min-height: 15.625rem;
        }

        @include media-breakpoint-up(xl) {
            min-height: 12.5rem;
        }

        .quickview {
            position: absolute;
            bottom: 1rem;
            right: 1rem;

            i {
                &.fa-expand {
                    color: rgba(0, 0, 0, 0.7);
                }

                &.fa-circle {
                    color: rgba(255, 255, 255, 0.7);
                    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                }
            }
        }

        a {
            display: block;

            .tile-image {
                width: 100%;
            }
        }
    }

    .swatches {
        a {
            text-decoration: none;
        }
    }

    .swatch-circle {
        // $white will be replaced by color image background via Javascript
        @include swatch($white);
    }

    .icon.wishlist-icon-fill {
        color: $tertiary;
    }
}

.hide-product-image {
    .image-container {
        display: none;
    }
}

.hide-product-name {
    .name-container {
        display: none;
    }
}

.hide-product-badges {
    .badges-container {
        display: none;
    }
}

.hide-product-review {
    .review-container {
        display: none;
    }
}

.hide-product-price {
    .price-container {
        display: none;
    }
}

#chooseBonusProductModal {
    .modal-footer {
        .container {
            margin-left: 0;
            width: 100%;
            margin-right: 0;
        }
    }

    .select-cbp-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .product-name-wrapper {
        width: 100%;
    }

    .bonus-quantity,
    .bonus-option {
        margin-top: 0.938em;
    }

    .bonus-quantity-select {
        min-width: 5em;
    }

    .select-bonus-product {
        margin-top: 1em;
    }

    .selected-pid {
        border: 1px solid $grey3;

        .bonus-product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bonus-product-price {
        text-align: center;
        margin-top: 1em;
    }
}
