@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "components/checkoutPaymentMethods";
@import "components/checkoutSteps";

.checkout-login-forms-wrapper {
    display: flex;
    flex-direction: column;

    .form-auth {
        margin: 0 auto;

        .modal-register-btn,
        .modal-reset-password-btn {
            display: none;
        }

        @include media-breakpoint-up(md) {
            max-width: 32.375rem;
        }

        @include media-breakpoint-up(xl) {
            max-width: 23.9375rem;
        }
    }

    .create-account-wrapper {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;

        hr {
            display: none;
        }

        .container-title {
            margin-top: 0;
        }
    }
}

.login-container {
    margin-bottom: 1rem;

    @include media-breakpoint-up(xl) {
        padding-bottom: 5rem;

        &::after {
            content: '';
            border-right: 1px solid $hr-border-color;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }

        .oauth-padding {
            padding-top: 3.15rem;
        }
    }
}

.guest-checkout-wrapper {
    margin-top: 0;

    .container-title {
        margin: 1.65rem 0 0.65rem;
        font-family: $font-family-base;
        text-transform: uppercase;
        font-size: $font-size-12;
        font-weight: $font-weight-light;

        &::after {
            display: none;
        }
    }

    p {
        text-align: center;
    }
}
