@import "./variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/utilities/shapes";
@import "~base/utilities/responsiveUtils";
@import "./mixins/swatch";
@import "~brand_core/mixins/mixinsGlobal";
@import "./components/libDriftZoom";
@import "./components/quantitySelector";

.pdp-banner {
    background-color: $white;
    height: 17.1875rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    img {
        width: 100%;
    }
}

.product-name {
    font-family: $font-family-base;
    font-weight: $font-weight-light;
    font-size: 1.6875rem;
    margin-bottom: 1rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        margin-bottom: 2.5rem;
        text-align: left;
    }
}

.product-short-description {
    font-size: $font-size--2;
    line-height: 1.5;
    text-align: center;

    @include media-breakpoint-up(xl) {
        text-align: left;
    }
}

.product-name,
.product-short-description,
.product-detail .badges-container,
.product-detail .ratings-container {
    padding-right: 0.5rem;
}

.product-detail {
    margin-top: 2rem;
    margin-bottom: 0;

    @include media-breakpoint-only(xs) {
        margin-top: 0;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 2rem;
    }

    .badges-container {
        height: auto;
    }

    .badges {
        margin-left: -0.4rem;
        text-transform: uppercase;

        @include media-breakpoint-down(lg) {
            font-size: $font-size--3;
        }

        @include media-breakpoint-up(xl) {
            justify-content: flex-start;
        }
    }

    .ratings-container {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.8125rem;
        height: auto;

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
            justify-content: flex-start;
        }
    }

    .rating-stars {
        .sc-icon-star::before,
        .sc-icon-star-empty::before,
        .sc-icon-star-fill-half::after,
        .sc-icon-star-fill-half::before {
            font-size: $font-size--2;

            @include media-breakpoint-up(xl) {
                font-size: 0.85rem;
            }
        }

        .sc-icon-star-fill-half::after {
            @include media-breakpoint-up(xl) {
                top: auto;
            }
        }
    }

    .review-count {
        @include media-breakpoint-down(lg) {
            margin-top: 0;
            position: relative;
            top: 0.0625rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size--2;
        }
    }
}

.product-image-carousel {
    position: relative;
    margin: 0 auto 1rem;
    max-width: 15rem;

    @include media-breakpoint-up(sm) {
        max-width: 20.5rem;
    }

    @include media-breakpoint-up(xl) {
        margin-top: -60%;
        max-width: 100%;
        margin-left: -0.9375rem;
        min-width: 23.9375rem;
    }

    @include media-breakpoint-down(xs) {
        margin-top: 1rem;
    }

    .slick-slide > div {
        display: block;
    }
}

.product-images,
.product-thumbnails {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    img {
        @include media-breakpoint-up(xl) {
            max-height: 100%;
            max-width: 100%;
            width: auto !important;
        }
    }
}

.slick-initialized,
.slick-destroyed {
    &.product-images,
    &.product-thumbnails {
        overflow: initial;
        white-space: normal;
    }
}

.product-images {
    @include media-breakpoint-up(xl) {
        height: 23.75rem;
    }

    img {
        @include media-breakpoint-up(xl) {
            height: 23.75rem;
        }
    }

    .slick-next,
    .slick-prev {
        visibility: visible;
        width: 2rem;

        @include media-breakpoint-up(md) {
            display: none !important;
        }
    }

    .slick-prev {
        left: -1.5rem;
    }

    .slick-next {
        right: -1.5rem;
    }

    .sc-icon-arrow-next::after,
    .sc-icon-arrow-next::before,
    .sc-icon-arrow-prev::after,
    .sc-icon-arrow-prev::before {
        width: 1.075rem;
    }
}

.product-thumbnails {
    margin: 1.75rem auto 0;
    position: relative;

    @include media-breakpoint-up(xl) {
        width: 17.25rem;
        margin-bottom: 1.75rem;
        max-height: 4.125rem;
    }

    &::after {
        content: '';
        border-left: 0.25rem solid $white;
        border-right: 0.25rem solid $white;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &[data-count="1.0"] {
        width: 4.25rem;

        @include media-breakpoint-up(xl) {
            width: 4.75rem;
        }
    }

    &[data-count="2.0"] {
        width: 10rem;
    }

    &[data-count="3.0"] {
        width: 15rem;

        @include media-breakpoint-up(xl) {
            width: 16rem;
        }
    }

    .slick-slide > div {
        border: 0.0625rem solid $grey3;
        overflow: hidden;
        margin: 0 auto;
        width: 3.75rem;
        height: 3.75rem;

        @include media-breakpoint-up(xl) {
            width: 4.125rem;
            height: 4.125rem;
        }
    }

    .slick-current > div {
        border-color: $dove-gray;
    }

    .slick-prev,
    .slick-next {
        width: 2rem;
        visibility: visible;

        @include media-breakpoint-down(lg) {
            display: none !important;
        }
    }

    .slick-prev {
        left: -1.5rem;
    }

    .slick-next {
        right: -1.5rem;
    }

    .sc-icon-arrow-next,
    .sc-icon-arrow-prev {
        width: 1.275rem;

        &::before,
        &::after {
            width: 1.275rem;
        }
    }
}

.product-info {
    background-color: $white;
    position: relative;

    @include media-breakpoint-up(xl) {
        margin: -18rem 0.729rem 1rem;
        padding: 3.125rem;
    }

    .btn-select {
        font-size: $font-size--2;
        font-weight: $font-weight-semi-bold;

        .swatch-circle {
            @include swatch($white);

            margin-right: 0.625rem;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: $font-size--2;
            font-weight: $font-weight-semi-bold;
            padding-top: 0.657rem;
            padding-bottom: 0.657rem;
        }

        .dropdown-toggle {
            padding-left: 0.25rem;
        }
    }

    .attribute-color .btn-select {
        padding-top: 0.469rem;
        padding-bottom: 0.469rem;
    }

    .attribute {
        .filter-option-inner-inner,
        .dropdown-item .text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small.text-muted {
                color: $secondary !important;
                font-size: $font-size--2;
                font-weight: $font-weight-medium;
            }
        }

        .dropdown-item.disabled:not(.active) {
            small.text-muted {
                color: $grey3 !important;
            }
        }
    }

    .swatches {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0 0.425rem;
        height: 0;
        opacity: 0;
        transition: height $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;

        > a {
            display: inline-block;
        }

        .swatch-circle {
            @include swatch($white, 2rem);

            margin: 0.45rem;
        }

        [disabled],
        .swatch-circle.unselectable {
            cursor: default;
            pointer-events: none;
            opacity: 0.2;
        }
    }

    .open {
        .swatches {
            height: auto;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            opacity: 1;
        }
    }

    @include media-breakpoint-down(lg) {
        .attributes-container {
            display: flex;
            margin-top: auto;

            > div {
                flex: 1;
                padding: 0 0.5rem;
                position: relative;
                max-width: 20.625rem;
                margin: 0 auto;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            .attribute {
                .form-control-label {
                    font-size: $font-size--3;
                    margin-bottom: 0;
                    padding-top: 0.5315rem;
                    text-transform: uppercase;
                }

                .btn-select .dropdown-toggle,
                .btn-select .dropdown-item {
                    font-weight: $font-weight-medium;
                    text-transform: uppercase;
                }
            }

            .swatches {
                background: $white;
                border-bottom: 0.0625rem solid $grey3;
                justify-content: flex-start;
                position: absolute;
                left: 0;
                right: 0;
                padding-top: 0.3rem;
                padding-bottom: 0.3rem;

                .swatch-circle {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        .shipping-info {
            display: none;
        }
    }
}

.product-cta {
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;

    > .container {
        display: flex;
    }

    .image-container {
        width: 7.5rem;
        margin-right: 2.125rem;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 27.5rem;

        .product-name {
            font-size: $font-size-7;
            font-weight: $font-weight-medium;
            padding-right: 0;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }

        .custom-select.bootstrap-select > .dropdown-toggle {
            padding-right: 1.5rem;
        }

        .attribute-color .btn-select {
            padding-right: 1rem;
        }
    }

    .attributes-container {
        display: flex;
        margin-top: auto;

        > div {
            flex: 1;
            padding: 0 0.5rem;
            position: relative;
            max-width: 50%;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .swatches {
            align-self: flex-start;
        }

        .swatches {
            background: $white;
            border-bottom: 0.0625rem solid $grey3;
            position: absolute;
            left: 0;
            right: 0;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;

            .swatch-circle {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .price-container {
        width: 15rem;
        align-self: flex-end;

        .prices-add-to-cart-actions {
            padding: 0;
        }

        .price .sales {
            font-size: $font-size-7;
            font-weight: $font-weight-extra-bold;
        }
    }

    .btn-container {
        width: 12.5rem;
        align-self: flex-end;

        .cart-and-ipay,
        .back-in-stock-container {
            margin-bottom: 0;
        }
    }
}

.availability {
    margin-top: -1.25rem;
}

.availability-messages {
    font-size: $font-size--2;
    text-align: center;

    > .btn {
        cursor: default !important;
        margin-bottom: 0.5625rem;

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
            color: $secondary;
        }
    }
}

.prices-add-to-cart-actions {
    padding-top: 2.3125rem;
    padding-bottom: 2.3125rem;

    .price {
        color: $secondary;
        font-size: $font-size-11;
        font-family: $font-family-secondary;
        text-align: center;

        .strike-through,
        .worth {
            font-size: $font-size-2;
            font-weight: $font-weight-semi-bold;
        }
    }
}

.back-in-stock-container,
.cart-and-ipay,
.availability {
    max-width: 20.625rem;
    margin: 0 auto 1rem;

    @include media-breakpoint-up(xl) {
        max-width: 100%;
    }

    .btn {
        font-size: $font-size-2;
        width: 100%;
    }

    .fa {
        display: none;
    }
}

.cart-and-ipay {
    margin-bottom: 0;

    + .promotions {
        margin-top: -0.375rem;
    }

    .text-danger {
        font-size: $font-size--3;
        margin-bottom: 0.5rem;
    }
}

.back-in-stock-container {
    &:not(.d-none) + .cart-and-ipay {
        display: none;
    }

    .modal-title {
        font-family: $font-family-base;
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        margin: 2rem 2.375rem 0;
        text-transform: uppercase;

        &::after {
            display: none;
        }
    }

    .modal-body {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .modal-footer {
        padding-top: 0;

        .btn {
            margin-top: 0.5rem;
        }
    }

    .alert {
        margin-bottom: 2rem;
    }
}

.availability-messages,
.back-in-stock-container {
    > .btn {
        font-size: $font-size--1;
        padding: 0.75rem 0.3125rem 0.6875rem;
    }
}

.apple-pay-pdp {
    padding: 0;
    display: block;
}

.promotions {
    font-size: $font-size--2;
    text-align: center;
    margin-bottom: 1rem;

    .callout {
        background-color: $grey1;
        padding: 0.5rem;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-10;
    margin-bottom: 0.5rem;

    a {
        margin: 0 0.75rem;

        &:hover {
            text-decoration: none;
        }
    }
}

.manufacturer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 2.25rem;
    }
}

.manufacturer-info-label {
    font-size: $font-size--4;
    font-weight: $font-weight-semi-bold;
    margin-right: 0.25rem;
}

.manufacturer-sku {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size--4;
}

label.color ~ a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.description-and-detail {
    margin-top: 2em;

    @include media-breakpoint-only(xs) {
        margin-top: 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        > div:last-child {
            margin-bottom: 1em;
        }
    }

    .description {

        @include media-breakpoint-up(sm) {
            margin-bottom: 2em;
        }
    }

    .content {

        @include media-breakpoint-only(xs) {
            margin-top: 1em;
        }
    }
}

.complementary-container {
    display: flex;
    flex-direction: column-reverse;

    @include media-breakpoint-up(xl) {
        flex-flow: row wrap;
        margin-bottom: 1rem;
    }
}

.complementary-details {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(xl) {
        padding-right: 1.5rem;
        width: 20%;
    }

    .add-to-wishlist-container {
        padding-top: 0.5rem;
        padding-bottom: 1rem;

        @include media-breakpoint-down(lg) {
            display: inline-block;
        }
    }
}

.complementary-content {
    font-size: $font-size--2;

    h3 {
        font-size: $font-size-5;
        margin-bottom: 0.75rem;
        text-align: center;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
            margin-bottom: 1.25rem;
            text-align: left;
        }
    }
}

.complementary-cta {
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-top: 2rem;
    }

    @include media-breakpoint-up(xl) {
        margin-top: auto;
        margin-bottom: 1.25rem;
        text-align: left;
    }

    > .btn {
        max-width: 20.625rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.complementary-total-price {
    font-size: $font-size-10;
    font-family: $font-family-secondary;
    font-weight: $font-weight-extra-bold;

    @include media-breakpoint-up(md) {
        font-size: $font-size-16;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-8;
    }
}

.complementary-total-list-price {
    color: $grey4;
    font-size: $font-size-7;
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
    text-decoration: line-through;

    @include media-breakpoint-up(md) {
        font-size: $font-size-12;
        font-weight: $font-weight-semi-bold;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-5;
    }
}

.complementary-total-price,
.complementary-total-list-price {
    + .btn {
        margin-top: 1rem;
    }
}

.complementary-products {
    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
    }

    @include media-breakpoint-up(xl) {
        width: 80%;
    }

    > .product {
        border: 0.0625rem solid $grey3;
        display: block;
        white-space: normal;
        padding: 0.5rem 0.5rem 0;
        margin-bottom: 1.25rem;
        width: 100%;

        @include media-breakpoint-up(md) {
            max-width: 15.3125rem;
            margin-bottom: 0;
        }

        + .sc-icon-plus {
            display: none;
            margin: 0 1.35rem;

            @include media-breakpoint-up(md) {
                display: block;
            }

            @include media-breakpoint-up(xl) {
                margin-top: 7rem;
                align-self: flex-start;
            }

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .product-tile {
        display: flex;
        text-align: left;

        @include media-breakpoint-up(md) {
            display: block;
            text-align: center;
        }

        .image-container {
            width: 6rem;
            margin-right: 0.5rem;

            @include media-breakpoint-up(md) {
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-right: 0;
            }
        }

        .ratings-container {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            @include media-breakpoint-up(md) {
                justify-content: center;
            }

            .rating-stars {
                margin-right: 0.75rem;
            }

            .review-count {
                margin-top: 0;
            }
        }

        .tile-body {
            @include media-breakpoint-down(sm) {
                flex: 1;
                padding-bottom: 0.875rem;
                padding-right: 0.125rem;
            }

            @include media-breakpoint-only(md) {
                padding-bottom: 1rem;
            }

            @include media-breakpoint-only(lg) {
                padding-bottom: 1rem;
            }

            .price .sales,
            .price .list {
                @include media-breakpoint-down(sm) {
                    justify-content: flex-start;
                    text-align: left;
                }
            }

            > .btn {
                display: block;
                float: right;
                max-width: 16rem;
                width: 100%;

                @include media-breakpoint-only(md) {
                    font-size: $font-size--5;
                    padding: 0.5rem 0.5rem 0.375rem;
                }

                @include media-breakpoint-only(lg) {
                    font-size: $font-size--5;
                    padding: 0.5rem 0.5rem 0.375rem;
                }

                @include media-breakpoint-up(md) {
                    float: none;
                    margin: 0 auto;
                    width: 90%;
                }

                @include media-breakpoint-up(xl) {
                    display: inline-block;
                    width: auto;
                }
            }

            .pdp-link a {
                /* rtl:raw:
                    font-size: #{$font-size-base};
                */
                @include media-breakpoint-up(md) {
                    /* rtl:remove */
                    font-size: $font-size--1;

                    /* rtl:raw:
                        font-size: #{$font-size-3};
                    */
                }

                @include media-breakpoint-up(xl) {
                    /* rtl:raw:
                        font-size: #{$font-size-base};
                    */
                }
            }
        }

        .badges {
            margin-left: -0.4rem;
            justify-content: flex-start;

            @include media-breakpoint-up(md) {
                margin-left: 0;
                justify-content: center;
            }
        }

        @include media-breakpoint-down(sm) {
            .badges-container,
            .name-container,
            .price-container,
            .ratings-container {
                height: auto;
            }
        }
    }
}

.price {
    font-size: $font-size-10;
}

.product-options {
    margin-top: 1.25em;

    .quantity {
        bottom: 0;
        min-width: 6.25em;
        padding-left: 0.938em;
        padding-right: 0.938em;
        position: absolute;
        right: 0;
    }
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}

.add-to-wishlist-mobile {
    max-width: 15rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    .add-to-wishlist-container {
        position: absolute;
        top: 1rem;
        right: -1rem;
    }

    .btn-link-with-icon {
        > span {
            display: none;
        }

        > i::before {
            font-size: $font-size-8;
        }
    }
}

.reviews-area {
    padding-top: 4.2rem;
}

