@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.sale-layout {
    .sale-layout-banner-container {
        position: relative;

        .sale-layout-banner {
            height: 8.75rem;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;

            @include media-breakpoint-down(lg) {
                margin-top: 1.25rem;
            }
        }

        .sale-layout-category-box {
            padding: 1.5rem 3.125rem;
            background: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &::before {
                top: 0.625rem;
                left: 0.625rem;
                right: 0.625rem;
                bottom: 0.625rem;
                content: "";
                position: absolute;
                z-index: 2;
                border: 0.1875rem solid $primary;
            }

            &::after {
                top: 0.75rem;
                left: 0.75rem;
                right: 0.75rem;
                bottom: 0.75rem;
                content: "";
                position: absolute;
                z-index: 1;
                border: 0.1875rem solid $grey3;
            }

            h1 {
                line-height: normal;
                margin: 0;
            }
        }
    }

    .sale-layout-title {
        font-size: $font-size-2;
        margin-top: 3.75rem;
        text-align: center;
    }

    .sale-layout-category-name {
        display: flex;
        justify-content: center;

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0;

            li {
                position: relative;

                &:last-child {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }

                a {
                    text-decoration: underline;
                    font-weight: $font-weight-extra-bold;
                    font-size: $font-size-2;
                    padding: 0.625rem;

                    &::after {
                        position: absolute;
                        content: "";
                        background: $black;
                        height: 0.9375rem;
                        width: 0.125rem;
                        top: 0.25rem;
                        right: 0;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .sale-layout-header {
        font-size: $font-size-8;
        font-weight: $font-weight-base;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        text-align: center;

        &::after {
            content: '';
            display: block;
            border-bottom: 0.125rem solid $secondary;
            margin: 0 auto;
            padding-top: 0.5rem;
            margin-top: 0.375rem;
            width: 1.625rem;

            @include media-breakpoint-up(xl) {
                margin-top: 0;
                margin-bottom: 2rem;
                width: 2.625rem;
            }
        }
    }
}
