.badges-container {
    height: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    overflow: hidden;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.badge-item,
.engravable-badge {
    font-size: $font-size--2;
    font-weight: $font-weight-demi-bold;
    position: relative;
    padding: 0;

    &::after,
    &:first-child::before {
        content: '-';
        display: inline-block;
        margin: 0 0.125rem;
    }
}

.badge-item {
    color: $badge-text-color;

    @include media-breakpoint-up(sm) {
        font-size: $font-size--1;
    }
}

.engravable-badge {
    height: 0.9375rem;
    margin-bottom: 0.25rem;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-base;
        height: 1.125rem;
    }
}
