.checkout-login-container {
    margin-top: -0.0625rem;

    .checkout-account-container {
        padding: 0 0.9375rem;

        @include media-breakpoint-up(md) {
            padding: 0 2.4375rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 0 0.9375rem;
        }

        .icon-facebook-official {
            padding-left: 0.8125rem;
        }
    }

    .next-step-box {
        @include media-breakpoint-up(md) {
            padding: 1.25rem 2.4375rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 1.25rem 0.9375rem;
        }
    }
}

.next-step-box {
    padding: 1rem;

    @include media-breakpoint-up(md) {
        padding: 1.25rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        background-color: $alabaster;
        padding: 1.25rem 0.9375rem;
    }
}

.next-step-box,
.order-product-summary-header {
    h5 {
        font-size: $font-size-4;
        font-weight: $font-weight-medium;

        @include media-breakpoint-up(md) {
            font-size: $font-size-6;
            font-weight: $font-weight-demi-bold;
        }
    }
}

.checkout-continue {
    i::before {
        font-size: $font-size-1;
    }
}

.next-step-box-totals {
    font-size: $font-size-2;

    .order-summary-desc {
        color: $grey4;
        font-size: $font-size-base;
        margin-bottom: 1rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 1.875rem;
        }
    }
}

.checkout-section-title {
    font-size: $font-size-8;
    padding: 0.9375rem;
    font-weight: $font-weight-demi-bold;
    font-family: $font-family-base;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
        padding: 1.25rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 1.25rem 0.9375rem;
    }
}

.next-step-box-totals {
    .totals-line {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        padding: 0.375rem 0;

        &.grand-total {
            font-weight: $font-weight-bold;
            border-top: 0.0625rem solid $border-color;

            @include media-breakpoint-up(lg) {
                border-bottom: 0.0625rem solid $border-color;
            }
        }

        .sub-total-label {
            span {
                display: block;

                &:last-child {
                    font-size: $font-size--2;
                }
            }
        }

        .totals-line-value {
            span {
                text-align: center;

                &:not(.hide-order-discount) {
                    display: block;
                }

                &.line-through {
                    text-decoration: line-through;
                    color: $grey5;
                }
            }
        }
    }
}

.checkout-seperator {
    margin: 1.5625rem 0 1rem;

    @include media-breakpoint-up(md) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    @include media-breakpoint-up(lg) {
        margin: 1.875rem 0 1rem;
    }
}

.order-product-summary {
    background-color: $alabaster;
    padding: 0.9375rem;

    @include media-breakpoint-up(md) {
        padding: 0.9375rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0.9375rem;
        margin-top: 1.875rem;
    }

    .order-product-summary-header {
        margin-bottom: 0.5rem;

        a {
            font-size: $font-size-1;
            font-weight: $font-weight-demi-bold;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }

    .miniCart-item {
        .miniCart-item-description {
            margin-left: 0.9375rem;

            .miniCart-item-name {
                h2 {
                    font-size: $font-size-2;
                    margin-bottom: 1.25rem;
                }
            }

            .miniCart-item-details,
            .miniCart-item-price {
                font-size: $font-size-base;
                color: $grey4;
            }
        }
    }

    .item-image {
        width: 6.25rem;
        height: 6.25rem;
        text-align: center;

        img {
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .item-details {
        color: $grey4;
        flex-grow: 1;
        padding-left: 0.5rem;

        @include media-breakpoint-only(md) {
            font-size: $font-size-3;
        }
    }

    .item-name {
        color: $primary;
        font-size: $font-size-2;
        font-weight: $font-weight-demi-bold;
        font-stretch: condensed;
        padding-bottom: 1rem;
        text-transform: uppercase;

        @include media-breakpoint-only(md) {
            font-size: $font-size-6;
            padding-bottom: 0.25rem;
        }
    }

    .item-price {
        min-width: 4rem;
        text-align: right;
    }

    .color-name {
        font-size: $font-size--1;
        font-weight: $font-weight-medium;
        padding-left: 0.5rem;
        text-transform: uppercase;

        @include media-breakpoint-only(md) {
            font-size: $font-size-1;
        }
    }

    .product-line-item {
        padding: 1.5rem 0;

        &:not(:last-child) {
            border-bottom: 0.0625rem solid $border-color;
        }

        .swatch-circle {
            border: 0.0625rem solid $wildsand;
            @include swatch($size: 1.25rem);
        }
    }
}

.checkout-supported-payment-methods {
    color: $secondary;
    font-size: $font-size--1;
    line-height: 1.5;
    position: relative;
    padding: 1rem 1rem 0;
    margin: 0 auto;
    text-align: center;
    max-width: 23.5rem;

    @include media-breakpoint-only(md) {
        font-size: $font-size-3;
        max-width: 31.875rem;
    }

    @include media-breakpoint-up(md) {
        padding-left: 0;
        padding-right: 0;
    }

    a {
        color: $secondary;
    }
}

.checkout-supported-payment-method-icons {
    img {
        max-width: 1.875rem;
        margin-bottom: 0.5rem;
        margin-left: 0.4375rem;
        margin-right: 0.4375rem;

        @include media-breakpoint-only(md) {
            max-width: 3rem;
            margin-left: 0.375rem;
            margin-right: 0.375rem;
        }

        @include media-breakpoint-only(lg) {
            max-width: 1.5rem;
            margin-left: 0.375rem;
            margin-right: 0.375rem;
        }
    }
}

.order-summary-contact {
    @include media-breakpoint-down(md) {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    @include media-breakpoint-down(xs) {
        max-width: 100%;
    }

    p {
        font-size: $font-size--1;
        color: $grey4;
    }

    span {
        text-decoration: underline;
        font-weight: $font-weight-bold;
    }
}

.step-title {
    background-color: $primary;
    color: $white;
    padding: 1.125rem 0.875rem;
    font-stretch: condensed;
    position: relative;
    text-align: left;

    @include media-breakpoint-up(md) {
        padding: 1.125rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0.875rem 0.9375rem;
    }

    h5 {
        text-transform: uppercase;
        font-size: $font-size-6;
        font-weight: $font-weight-demi-bold;
        margin: 0;
    }

    .edit-button {
        position: absolute;
        top: 0.75rem;
        right: 1.25rem;
        color: $white;
        font-size: $font-size-3;
        font-weight: $font-weight-medium;
        font-stretch: condensed;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.step-summary {
    font-size: $font-size-4;
    margin-top: 0.875rem;
    font-stretch: condensed;
}

.next-step-button {
    padding: 0 0.9375rem;

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 0.9375rem;
    }

    .btn {
        font-size: $font-size-base;
        font-weight: $font-weight-medium;

        @include media-breakpoint-up(md) {
            max-width: 22.125rem;
            font-size: $font-size-2;
        }

        i {
            color: $secondary;

            &::before {
                font-size: $font-size-2;
            }
        }
    }
}

.terms-and-condition-note {
    &,
    a {
        font-size: $font-size--1 !important;
    }

    a {
        text-decoration: underline;
    }
}

.sample-section {
    padding: 0;

    @include media-breakpoint-up(md) {
        padding: 0 1.5rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
    }
}

.step-wrapper {
    padding: 0 0.9375rem;

    &:not(:last-child) {
        padding-bottom: 0.625rem;

        @include media-breakpoint-up(lg) {
            padding-bottom: 0.75rem;
        }
    }

    .next-step-button {
        a {
            font-size: $font-size-2;
        }
    }

    .card-section-wrapper {
        font-size: $font-size-3;
        margin-top: 1.75rem;
        margin-bottom: 1.25rem;
    }

    .form-control-label {
        font-weight: $font-weight-medium;
        font-size: $font-size-2;
        text-transform: uppercase;
    }

    form {
        input,
        .custom-select {
            &:not(.addressSelector) {
                border: none;
                border-bottom: 0.0625rem solid $black;
                background-color: transparent;
                font-size: $font-size-2;
                padding-left: 0;
                padding-right: 0;

                &:focus {
                    background-color: transparent;
                    border-color: $primary;
                    box-shadow: 0 0.0625rem 0 0 $primary;
                    outline: none !important;
                }
            }
        }

        button {
            font-size: $font-size-2;
        }

        .proceed-checkout-btn {
            margin-top: 2.375rem;
        }

        textarea {
            border: 0.0625rem solid $border-color;
            font-size: $font-size--1;
            resize: none;
        }
    }

    .login-separator {
        span {
            font-size: $font-size-base;
            color: $tertiary;
            font-weight: $font-weight-medium;
        }
    }

    .shipping-section {
        .shipping-address-block {
            select {
                border: none;
                border-bottom: 0.0625rem solid $black;
            }

            .shipping-form-actions {
                label {
                    text-transform: none;

                    &::before {
                        background: none;
                    }
                }
            }
        }
    }

    .shipping-summary {
        .shipping-contact-details {
            @include media-breakpoint-down(md) {
                border-bottom: 0.625rem solid $white;
            }
        }

        .address-summary {
            > div {
                text-transform: capitalize;
            }
        }
    }

    .sample-show-more {
        font-weight: $font-weight-medium;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }

        @include media-breakpoint-up(lg) {
            text-align: right;
        }
    }

    .cart-section-wrapper {
        h3 {
            font-size: $font-size-3;
            margin-top: 1.75rem;
        }

        .free-samples-container {
            margin: 1.25rem 0 0.625rem;

            .product {
                max-width: 100%;

                @include media-breakpoint-up(lg) {
                    &:nth-child(4n + 1) {
                        padding-left: 0;
                    }

                    &:nth-child(4n) {
                        padding-right: 0;
                    }
                }
            }

            .product-tile {
                &.selected {
                    border: 0.1875rem solid $black;
                }

                border: 0.0625rem solid $border-color;
                padding: 0 0.625rem 0.9375rem;
                margin-bottom: 1.25rem;

                &.selected {
                    border: 0.1875rem solid $black;
                }

                .image-container {
                    min-height: 7rem;

                    .product-image {
                        width: auto;
                        max-width: 100%;
                        padding: 0 1rem;
                        max-height: 7rem;
                    }
                }

                .name-container {
                    font-size: $font-size-2;
                    font-weight: $font-weight-demi-bold;
                    margin-top: 0.6875rem;
                    margin-bottom: 0;
                    height: 3.75rem;
                    word-wrap: break-word;
                    overflow: hidden;
                    @include media-breakpoint-up(sm) {
                        height: 2.625rem;
                    }

                    @include media-breakpoint-up(lg) {
                        height: 3.875rem;
                    }
                }

                .description-container {
                    height: 3.375rem;
                    overflow: hidden;
                    text-transform: none;
                    margin-top: 0.9375rem;
                    margin-bottom: 1.25rem;
                    word-wrap: break-word;
                    @include media-breakpoint-up(md) {
                        height: 2.325rem;
                    }

                    @include media-breakpoint-up(lg) {
                        height: 3.5rem;
                    }
                }

                .button-container {
                    padding: 0 0.3125rem;
                }

                .free-sample-select {
                    width: 81%;
                    height: 2.5rem;

                    &.selected {
                        background-color: $black !important;
                        color: $white !important;
                    }

                    @include media-breakpoint-up(lg) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.checkout-tab {
    p {
        display: flex;
        font-size: $font-size-2;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        padding: 0.9375rem;
        margin: 0;
    }

    i {

        @include media-breakpoint-up(lg) {
            display: none !important;
        }

        &::before {
            font-size: $font-size-4;
        }
    }

    .icon-minus {
        display: none;
    }

    .icon-plus {
        display: block;
    }

    .checkout-account-section {
        display: flex;
        justify-content: space-between;
        padding: 1.25rem 0;

        @include media-breakpoint-down(md) {
            border-bottom: 0.0625rem solid $alto;
        }
    }

    .checkout-tab-content {
        font-size: $font-size-1;
        height: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
            height: auto !important;
            border-bottom: 0 !important;
        }

        .oauth-facebook {
            margin: 0;
        }
    }

    .open {
        border-bottom: 0 !important;

        .icon-minus {
            display: block;
        }

        .icon-plus {
            display: none;
        }

        .checkout-tab-content {
            height: auto;
            padding-bottom: 1.875rem;
            border-bottom: 0.0625rem solid $alto;
        }

        .checkout-account-section {
            @include media-breakpoint-down(md) {
                border-bottom: none;
            }
        }

        h6 {
            display: none;
        }
    }
}

.checkout-form-button {
    font-size: $font-size-2;
}

.step-one {
    h4 {
        display: none;
    }
}

.summary-payment-description {
    color: $grey4;
    font-size: $font-size--1;
    text-align: center;

    .icons-list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        img {
            width: auto;
        }
    }

    a {
        color: $grey4;
        font-weight: $font-weight-demi-bold;
        text-decoration: underline;
    }

    @include media-breakpoint-only(md) {
        margin: 0 auto;
        max-width: 60%;
    }
}

.checkout-customer-service {
    background-color: $alabaster;
    padding: 1.125rem 1rem;
    margin-top: 1.875rem;

    a,
    p {
        color: $secondary;
        font-size: $font-size-base;
    }

    h5 {
        font-size: $font-size-8;
    }
}

.free-delivery-complimentary-samples {
    background-color: $alabaster;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 1.875rem;

    p {
        font-size: $font-size-base;
        margin: 0 auto;
        max-width: 65%;
    }

    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    a {
        font-weight: $font-weight-bold;
        display: block;
    }

    i::before {
        font-size: $font-size-12;
        padding-bottom: 1rem;
    }
}

.footer-copyright {
    color: $grey4;
    display: none;
    font-size: $font-size--1;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.footer-logo-only {
    @include media-breakpoint-up(lg) {
        border-top: 0.0625rem solid $border-color;
        margin-top: 7rem;
    }

    > a img {
        width: 8.25rem;

        @include media-breakpoint-up(lg) {
            width: 7.75rem;
        }
    }
}

.checkout-hidden {
    display: none;
}

.user-payment-instruments {
    &.checkout-hidden {
        display: block !important;

        .radio-button-link.selected-payment i {
            border-color: $grey3 !important;
        }

        .radio-button-link.selected-payment i::after {
            display: none !important;
        }

        .stored-payments + .radio-button-link i {
            border-color: $secondary !important;
        }

        .stored-payments + .radio-button-link i::after {
            display: block !important;
        }
    }
}

.gift-wrapping-text {
    .form-control-label {
        display: none;
    }
}

.security-code-input {
    position: relative;

    .info-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: default;

        i::before {
            font-size: $font-size-16;
        }
    }

    .tooltip {
        background-color: $white;
        font-size: $font-size--2;
        width: 7.5rem;
        opacity: 1 !important;
        text-transform: initial;
        top: 0;
        left: 100%;
        margin-left: 0.5rem;
        color: $grey3;
        font-weight: normal;

        @include media-breakpoint-up(sm) {
            display: block !important;
        }
    }
}
