.dropdown-toggle-btn {
    display: block;
}

.dropdown-hover {
    &.show {
        .dropdown-toggle-btn {
            color: $primary;
        }
    }
}

.arrow-dropdown {
    border: none;
    margin-top: 0;
    z-index: 1090;
    background: transparent;
    left: 0;
    right: auto;

    .dropdown-inner {
        background: $white;
        padding: 1.5625rem;
        box-shadow: -0.125rem -0.125rem 0.625rem -0.0625rem rgba($grey3, 0.45);

        &::before {
            left: 1.625rem;
            border-bottom: 0.5rem solid $white;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            content: '';
            height: 0;
            position: absolute;
            top: 0;
            width: 0;
            z-index: 2;
            box-shadow: none !important;
        }
    }

    &.dropdown-menu-right {
        right: 0;
        left: auto;

        .dropdown-inner::before {
            left: auto;
            right: 0.625rem;
            box-shadow:
                0.125rem -0.125rem 0.625rem -0.0625rem
                rgba($grey3, 0.45);
        }
    }
}

.sign-in-dropdown {
    text-transform: none;
    width: 38.25rem;
}

.user-dropdown {
    width: 18.75rem;
    text-transform: none;

    .dropdown-logout-link {
        color: $grey4;
        font-size: $font-size-base;
        text-decoration: underline;
    }
}

.header-dropdown-list {
    padding-left: 0;

    li a {
        color: $primary !important;
        display: block;
        font-size: $font-size-base !important;
        font-weight: $font-weight-medium;
        padding: 0 0 0.3125rem !important;

        &:hover {
            text-decoration: underline !important;
        }
    }
}

.help-dropdown,
.country-dropdown {
    text-align: left;
    width: 23.125rem;
}

.privileges-dropdown {
    width: 27.125rem;

    .privilege-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-transform: none;
        font-weight: $font-weight-medium;

        i {
            margin-bottom: 0.5rem;

            &::before {
                font-size: $font-size-11;
            }
        }

        span {
            font-weight: $font-weight-demi-bold;
            text-transform: uppercase;
            margin-bottom: 0.6rem;
        }
    }
}

.login-dropdown {
    text-align: left;
}

.sign-up-dropdown {
    width: 25rem;
    font-weight: $font-weight-medium;

    input {
        flex: 1;
        padding: 0.65625rem 0.5rem;
    }

    .sign-up-advantages-wrapper {
        span {
            display: block;
            text-align: left;
        }

        .sign-up-advantages-header {
            font-weight: $font-weight-demi-bold;
            margin: 1rem 0 0.625rem;
            text-transform: uppercase;
        }

        ul {
            list-style: none;
            margin: 0.5rem 0 0;
            padding: 0;

            li {
                padding-left: 1.2rem;
                padding-right: 0 !important;
                padding-bottom: 0.25rem;
                position: relative;
                text-align: left;

                &::before {
                    left: 0.5rem;
                    background-color: $primary;
                    content: '';
                    height: 0.1875rem;
                    position: absolute;
                    top: calc(50% - 0.25rem);
                    width: 0.1875rem;
                }
            }
        }
    }
}
