form {
    .btn:not(.btn-inline) {
        margin-top: 1.375rem;
    }
}

.form-group {
    .form-control {
        &::placeholder {
            color: $grey4;
        }
    }

    &.required .form-control-label::after {
        content: '*';
        font-size: $font-size--1;
        line-height: 0;
    }

    &.is-invalid .invalid-feedback {
        display: block;
    }

    > .row {
        [class^='col-'] {
            &:not(:first-child),
            &:not(:last-child) {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 4;
            }

            &:first-child {
                padding-right: $grid-gutter-width / 4;
                padding-left: $grid-gutter-width / 2;
            }

            &:last-child {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 2;
            }
        }
    }
}

.password-feedback {
    font-size: $font-size--2;

    .text-success,
    .text-danger {
        margin-right: 3rem;
        margin-top: 0.875rem;
    }

    .text-danger .sc-icon-cross {
        position: relative;
        top: 0.375rem;

        &::before,
        &::after {
            width: $font-size--2;
            background-color: $danger;
        }
    }

    i {
        width: $font-size--2;
        margin-right: 0.75rem;

        &::before {
            font-size: $font-size--2;
        }
    }
}

.success-msg {
    i {
        &::before {
            font-size: $font-size-base;
        }
    }
}

.form-control-label {
    margin-bottom: 0.375rem;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
}

.form-control-label-normal {
    text-transform: initial;
}

.input-group {
    .form-control {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;

        @include media-breakpoint-up(xl) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }

    .btn {
        padding-top: 0.65rem;
        padding-bottom: 0.65rem;

        @include media-breakpoint-up(xl) {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
        }
    }
}

.custom-select {
    border-color: $grey3;
    border-radius: 0;
    background: no-repeat url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sort-down" class="svg-inline--fa fa-sort-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"></path></svg>');
    background-size: 0.5rem;
    background-position: right 0.625rem top 0.5rem;
    padding-right: $custom-select-padding-x + $custom-select-indicator-padding;

    &:focus {
        border-color: $grey3;
        box-shadow: none;
    }
}

.is-invalid {
    .bootstrap-select > .dropdown-toggle,
    input[type='text'],
    input[type='tel'],
    input[type='password'],
    input[type='email'],
    textarea {
        border-color: $danger !important;
    }
}

.radio-button-link,
.checkbox-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none !important;

    > i {
        border: 0.0625rem solid $primary;
        position: relative;
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
        margin-right: 0.75rem;

        &::after {
            content: '';
            background-color: $primary;
            position: absolute;
            top: 0.125rem;
            left: 0.125rem;
            right: 0.125rem;
            bottom: 0.125rem;
            display: none;
        }
    }

    > span,
    > div {
        display: flex;

        > span {
            margin-right: 0.25rem;
        }
    }

    &.active > i,
    &.selected > i {
        border-color: $primary;

        &::after {
            display: block;
        }
    }
}

.radio-button-link {
    > i,
    > i::after {
        border-radius: 100%;
    }
}

.password-show-toggle {
    position: absolute;
    right: 0.625rem;
    top: 2.25rem;
    display: block;
    cursor: pointer;
    padding: 0.125rem 0.25rem;
    line-height: 1;
    color: $grey3;

    i::before {
        font-size: $font-size-1;
    }
}

.is-search-input {
    position: relative;

    input {
        padding-right: 2rem !important;
    }

    i {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        opacity: 0.5;
    }
}

.phone-country-code-selector,
.phone-number-container input {
    text-align: left;
}

.phone-country-code-selector {
    .dropdown-toggle,
    .dropdown-item {
        /* rtl:ignore */
        direction: ltr;
    }
}
