.site-search {
    flex: 0.6 0 0;
    padding: 0.25rem;
    position: static;

    &.search-focus {
        background-color: $light;
    }

    .form-group {
        display: flex;
        margin-bottom: 0;
        position: relative;
    }

    .btn-link {
        color: $primary;
        position: absolute;
        right: 0;

        i::before {
            font-size: $font-size-2;
        }
    }

    .btn-toggle-search {
        display: none;
    }

    .search-field {
        background-color: $light;
        border-radius: 0;
        border: 0;
        font-size: $font-size--1;
        font-weight: $font-weight-medium;
        padding: 0.45rem 0.375rem;
        width: 100%;
    }
}

.search-mobile {
    display: none;
    margin-bottom: -0.0625rem;

    .site-search {
        border-top: 0.0625rem solid $grey3;
        border-bottom: 0.125rem solid $secondary;
        width: 100%;
        margin: 0;
        padding: 0;

        &::before,
        &::after {
            display: none;
        }

        .form-group {
            align-items: center;
        }

        .search-field {
            font-size: $font-size-2;
            padding: 0.969rem 1rem;
            background-color: $white;

            @include media-breakpoint-up(xl) {
                padding-left: 0.625rem;
                padding-right: 0.625rem;
            }
        }

        .btn-do-search,
        .btn-toggle-search {
            display: none;
        }

        .btn-clear-search {
            position: relative;
            padding: 0.5625rem;
            margin: 0 1rem;
            line-height: 1;
        }
    }
}

.suggestions {
    display: flex;
    flex-direction: column;
    top: initial !important;
    max-height: initial !important;
    left: 0;
    width: 100%;
    z-index: 3;
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    overflow: auto;
    position: fixed;
    height: 100%;
    background: $grey-transparent-1;

    .suggestions-wrapper {
        background: $white;
    }

    @include media-breakpoint-up(xl) {
        right: 0;
        top: auto;
        margin-top: 0;
        width: 100%;

        .suggestion-list {
            display: flex;
            max-width: map-get($container-max-widths, xl);
            margin: auto;

            .title {
                font-size: $font-size-3;
                font-weight: $font-weight-demi-bold;
            }
        }

        .results-list {
            background: $white;

            .results {
                max-width: map-get($container-max-widths, xl);
                margin: auto;
            }
        }
    }

    .suggestion-item {
        border: 0.0625rem dotted transparent;

        &.selected {
            border: 0.0625rem dotted $secondary;
        }
    }

    .suggestion-item {
        display: flex;
        padding: 0.3rem 0.75rem;
        border-bottom: 0.0625rem solid $grey3;

        @include media-breakpoint-up(xl) {
            padding: 0.5rem;
            border-bottom: none;
            width: 50%;
            margin-bottom: 1rem;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .suggestion-item-content {
        padding-left: 0.5625rem;
        font-size: $font-size--1;
        display: flex;
        align-items: center;
        width: calc(100% - 4.5rem);

        @include media-breakpoint-up(xl) {
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .suggestion-item-image {
        width: 4rem;
        text-align: center;
    }

    .suggestion-item-name {
        text-transform: uppercase;
        font-weight: $font-weight-demi-bold;
        font-stretch: condensed;
        font-size: $font-size-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include media-breakpoint-up(xl) {
            font-size: $font-size--1;
        }
    }

    .suggestion-item-image img {
        height: 3.4375rem;
        width: initial;

        @include media-breakpoint-up(xl) {
            height: 4rem;
        }
    }

    .view-all {
        justify-content: flex-end;
        padding: 0.7rem;

        > a {
            text-decoration: underline;
            font-size: $font-size-1;
            font-weight: $font-weight-demi-bold;
            text-transform: uppercase;
        }

        @include media-breakpoint-up(sm) {
            padding: 0.7rem 1.5rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 0.5rem;

            > a {
                font-size: $font-size--1;
                color: $grey4;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticked {
        .site-search:not(.search-active):not(.search-focus):not(.open) {
            &::after,
            &::before,
            .search-field {
                width: 0;
            }

            .btn-toggle-search {
                display: flex;
            }

            .btn-do-search,
            .btn-clear-search {
                display: none;
            }
        }
    }
}

.search-wrapper {
    display: flex;
    flex: 0.6 0 0;
    height: 100%;
    padding: 0.3125rem;
    position: relative;

    input {
        background-color: $light;
        border: none;
        display: block;
        font-size: $font-size--1;
        height: 100%;
        padding: 0.5625rem 0.5625rem 0;
        text-transform: none;
        width: 100%;
    }

    .icon-header-search {
        position: absolute;
        right: 0.725rem;
        top: 0.725rem;

        &::before {
            font-size: $font-size-1;
        }
    }
}
