@import '../mixins/icon';

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?40067910');
    src:
        url('../fonts/fontello.eot?40067910#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff2?40067910') format('woff2'),
        url('../fonts/fontello.woff?40067910') format('woff'),
        url('../fonts/fontello.ttf?40067910') format('truetype'),
        url('../fonts/fontello.svg?40067910#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    &::before {
        @include icon();
    }
}

.fs-icon-sm {
    &::before {
        font-size: $font-size-2;
    }
}

.fs-icon-md {
    &::before {
        font-size: $font-size-12;
    }
}

.fs-icon-lg {
    &::before {
        font-size: $font-size-18;
    }
}

.icon-power::before { content: '\e800'; } /* '' */
.icon-gift::before { content: '\e801'; } /* '' */
.icon-search::before { content: '\e802'; } /* '' */
.icon-star-empty::before { content: '\e803'; } /* '' */
.icon-cancel-circled::before { content: '\e804'; } /* '' */
.icon-close::before { content: '\e805'; } /* '' */
.icon-store::before { content: '\e806'; } /* '' */
.icon-star::before,
.sc-icon-star::before { content: '\e807'; } /* '' */
.icon-play-1::before { content: '\e808'; } /* '' */
.icon-shopping-bag::before { content: '\e809'; } /* '' */
.icon-gplus-product::before { content: '\e80a'; } /* '' */
.icon-arrow-left::before { content: '\e80b'; } /* '' */
.icon-arrow-up::before { content: '\e80c'; } /* '' */
.icon-user-circle::before { content: '\e80d'; } /* '' */
.icon-phone::before { content: '\e80e'; } /* '' */
.icon-check::before { content: '\e80f'; } /* '' */
.icon-mail::before { content: '\e810'; } /* '' */
.icon-etiquette::before { content: '\e811'; } /* '' */
.icon-delivery::before { content: '\e812'; } /* '' */
.icon-heart-empty::before { content: '\e813'; } /* '' */
.icon-heart-full::before { content: '\e814'; } /* '' */
.icon-samples::before { content: '\e815'; } /* '' */
.icon-arrow-right::before { content: '\e816'; } /* '' */
.icon-play::before { content: '\e817'; } /* '' */
.icon-arrow-down::before { content: '\e818'; } /* '' */
.icon-storeloc::before { content: '\e819'; } /* '' */
.icon-pinterest-product::before { content: '\e81a'; } /* '' */
.icon-security::before { content: '\e81b'; } /* '' */
.icon-mail-product::before { content: '\e81c'; } /* '' */
.icon-play-2::before { content: '\e81d'; } /* '' */
.icon-left-big::before { content: '\e81e'; } /* '' */
.icon-camera::before { content: '\e81f'; } /* '' */
.icon-plus::before { content: '\e820'; } /* '' */
.icon-apple-pay::before { content: '\e821'; } /* '' */
.icon-load::before { content: '\e82e'; } /* '' */
.icon-triman::before { content: '\e830'; } /* '' */
.icon-minus::before { content: '\e831'; } /* '' */
.icon-eye::before { content: '\e832'; } /* '' */
.icon-credit-card-with-cvv-code::before { content: '\e833'; } /* '' */
.icon-upload::before { content: '\f02f'; } /* '' */
.icon-info-circled-alt::before { content: '\f086'; } /* '' */
.icon-twitter::before { content: '\f099'; } /* '' */
.icon-facebook::before { content: '\f09a'; } /* '' */
.icon-circle-empty::before { content: '\f10c'; } /* '' */
.icon-youtube::before { content: '\f16a'; } /* '' */
.icon-instagram::before { content: '\f16d'; } /* '' */
.icon-dot-circled::before { content: '\f192'; } /* '' */
.icon-gwallet::before { content: '\f1ee'; } /* '' */
.icon-facebook-official::before { content: '\f230'; } /* '' */
.icon-pinterest::before { content: '\f231'; } /* '' */
.icon-snapchat::before { content: '\f2ac'; } /* '' */
.icon-gplus::before { content: '\f30f'; } /* '' */

.icon-star-fill-half {
    position: relative;
    display: inline-block;
    line-height: 0;

    &::before {
        content: '\e807';
        position: absolute;
        left: 0;
        z-index: 1;
        width: $font-size-6 / 2;
        overflow: hidden;
    }

    &::after {
        @include icon();

        content: '\e807';
        color: $tertiary;
    }
}

.play-icon {
    color: $white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.sc-icon-cross,
.sc-icon-plus {
    display: inline-block;
    transform: rotate(90deg);

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 0.3125rem;
        top: 50%;
        left: 50%;
        margin: -0.0625rem 0 0 -0.78125rem;
        width: 1.5625rem;
        height: 0.0625rem;
        background-color: $secondary;
    }

    &::before {
        transform: rotate(-45deg) translate(0) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}
