.page-reset-password-btn {
    text-transform: none !important;
}

.login-option-menu {
    font-weight: $font-weight-medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5625rem;
    text-align: center;

    a {
        text-decoration: underline;
    }

    .forgot-password a {
        font-size: $font-size--1;
    }
}

.login-separator {
    position: relative;
    text-align: center;
    margin: 1.375rem 0 1.5625rem;

    &::before {
        border-top: 0.0625rem solid $alto;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    span {
        background: $white;
        display: inline-block;
        font-size: $font-size--2;
        font-weight: $font-weight-normal;
        padding: 0 0.3125rem;
        position: relative;
        text-transform: uppercase;
        z-index: 2;
    }
}

.login-page-container {
    @include media-breakpoint-up(lg) {
        background-color: $grey1;
    }

    .forms-container {
        background-color: $white;
    }
}

.login-form-left {
    padding-bottom: 2rem;

    @include media-breakpoint-up(lg) {
        padding-left: 3rem;
        padding-right: 3rem;

        &::after {
            content: '';
            border-right: 0.0625rem solid $hr-border-color;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .btn {
        font-size: $font-size-base !important;
    }

    h4 {
        font-weight: $font-weight-demi-bold !important;
    }

    .registered-customers-header {
        font-weight: $font-weight-light !important;
    }
}

.login-sign-in {
    font-size: $font-size-11;
    text-transform: uppercase;
    font-weight: $font-weight-light !important;
    padding-bottom: 1.3rem;
}

.oauth-facebook {
    align-items: center;
    background-color: $fb-blue;
    color: $white;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    width: 100%;
    transition: all $animation-duration;

    &:hover {
        background-color: $primary;
        color: $white;
        text-decoration: none;
    }

    span {
        line-height: 1;
    }

    i {
        color: $white;
        margin-right: 0.5rem;
    }
}

.track-form-right {
    @include media-breakpoint-up(lg) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .track-order-header-text {
        font-size: $font-size-base;
    }

    .btn {
        font-size: $font-size-base !important;
    }

    h4 {
        font-weight: $font-weight-demi-bold !important;
    }
}

.track-form-dropdown {
    @include media-breakpoint-only(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .track-order-header {
        font-size: $font-size-5;
        font-weight: $headings-font-weight !important;
        padding-top: 1.3rem;
        text-transform: uppercase;
    }

    .track-order-header-text {
        font-size: $font-size-base;
    }

    .btn {
        font-size: $font-size-base !important;
    }
}

.seperator {
    display: none !important;

    @include media-breakpoint-down(md) {
        display: block !important;
    }
}

.login-dropdown .registered-customers-header {
    display: none;
}

.register-agree-terms-conditions p {
    font-size: $font-size--1 !important;
}

.forgot-password-message {
    @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
    }
}

.register-container .container-title {
    @include media-breakpoint-up(lg) {
        text-align: left;
    }
}
