$mobile-nav-width: 85%;

.main-menu {
    text-transform: uppercase;

    .navbar,
    .navbar-nav,
    .menu-group {
        @include media-breakpoint-down(lg) {
            height: 100%;
        }
    }

    .navbar {
        align-items: center;
        padding: 0;

        @include media-breakpoint-up(xl) {
            align-items: center;
        }
    }

    .navbar-nav {
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0;

        li:first-child a {
            padding-left: 0;

            &::after,
            &::before {
                left: calc(50% - 0.6rem);
            }
        }
    }

    .nav-item {
        .nav-link {
            font-size: $font-size--1;
            line-height: 1.35;

            &:focus {
                outline: none !important;
            }
        }
    }

    .menu-group {
        flex: 0 0 100%;

        .nav-link-icon {
            margin-right: 0.7rem;
        }

        .link {
            font-size: $font-size-base !important;
        }

        .nav-link {
            align-items: center;
            display: flex;
            position: relative;

            .icon-arrow-right,
            .icon-arrow-left {
                &::before,
                &::after {
                    margin: -0.0625rem 0 0 -0.4375rem;
                    width: 0.875rem;
                    height: 0.125rem;
                }
            }

            .icon-arrow-left {
                display: none;
            }
        }
    }

    .nav-item > .dropdown-menu {
        > ul > .dropdown-item {
            > .dropdown-menu {
                .dropdown-item {
                    .dropdown-link {
                        text-transform: none;
                    }
                }
            }
        }

        .dropdown-menu,
        .dropdown-menu > ul {
            flex-direction: column;
        }
    }

    .show {
        > .expanded {
            .icon-arrow-right {
                display: none;
            }

            .icon-arrow-left {
                display: block;
            }
        }
    }

    .dropdown-item {
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $white;
        }
    }
}

@include media-breakpoint-down(lg) {
    .main-menu {
        left: 0;
        background-color: rgba($primary, 0.4);
        bottom: 0;
        display: none;
        overflow: auto;
        position: fixed;
        top: 0 !important;
        width: 100%;
        z-index: 1030;

        .menu-group {
            .nav-link {
                border-bottom: 0.0625rem solid $grey3;
                padding: 1.15rem 2.3rem 1.1rem 2rem;

                &::after {
                    display: none;
                }

                .icon-arrow-right,
                .icon-arrow-left {
                    margin-left: auto;
                    margin-right: 0;
                }
            }

            .navbar-nav {
                background-color: $white;
                width: $mobile-nav-width;
                margin-left: auto rtl-ignore();
                height: calc(100% - 2.6875rem);
                overflow: auto;
            }

            .nav-cat-level-0,
            .nav-cat-level-1 {
                background: $white;
                height: 100vh;
                left: auto;
                position: fixed;
                right: -85%;
                top: 0;
                width: 85%;
                transition: transform $animation-duration;
            }

            .nav-cat-level-1 {
                right: -100%;
                width: 100%;
            }
        }

        .dropdown-menu {
            border: 0;
            border-radius: 0;
            margin: 0;
            padding: 0;

            ul {
                max-width: 100% !important;
            }
        }

        .show {
            > .dropdown-menu {
                display: block;
                transform: translateX(-100%) #{"/*rtl:translateX(100%)*/"};
            }
        }

        .dropdown-item {
            padding: 0;

            .nav-link {
                padding-left: 2rem;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-menu {
        border-top: 0.0625rem solid $tertiary;
        display: flex !important;
        justify-content: space-between;
        margin-top: 1rem;

        .navbar {
            border-bottom: 0.0625rem solid $tertiary;
        }

        .menu-group {
            .nav-link {
                padding: 0.6rem 0;

                &::after,
                &::before {
                    position: absolute;
                    display: none;
                }
            }

            .nav-link-root {
                font-weight: $font-weight-medium;
                color: $primary !important;

                &::after,
                &::before {
                    left: 50%;
                    border: solid transparent;
                    content: ' ';
                    height: 0;
                    pointer-events: none;
                    position: absolute;
                    top: calc(100% + 0.125rem);
                    width: 0;
                    z-index: 1002;
                }

                &::before {
                    border-color: transparent;
                    border-top-color: $tertiary;
                    border-width: 0.3125rem;
                    margin-left: -0.3125rem;
                }

                &::after {
                    border-color: transparent;
                    border-top-color: $white;
                    border-width: 0.25rem;
                    margin-left: -0.25rem;
                }

                &:hover,
                &:focus {
                    color: $primary !important;
                }
            }

            .dropdown-item {
                white-space: normal;
            }
        }

        .nav-item > .nav-link {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
        }

        .nav-item > .nav-link.current:not(.active) {
            &::after,
            &::before {
                display: none;
            }
        }

        .nav-item > .nav-link.current,
        .nav-item > .nav-link.active {
            color: $light;

            &::after,
            &::before {
                display: block;
            }
        }

        .nav-cat-level-0 {
            border: 0; // Do not change the order of this property
            border-bottom: 0 solid $grey3;
            border-radius: 0;
            border-top: 0.0625rem solid $tertiary;
            margin: 0;
            overflow-y: auto;
            padding-top: 1.5rem;
            padding-bottom: 0;
            position: absolute;
            top: 2.1875rem;

            ul.container {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }

            > ul > .dropdown-item {
                flex: 1 0 auto;
                max-width: 12.5rem;
                padding: 0.25rem 0.5rem 2.5rem;

                > .nav-link {
                    font-weight: $font-weight-demi-bold;
                    font-size: $font-size-2;
                }

                > .nav-link-only-name,
                > .nav-link-with-thumbnail.dropdown-toggle {
                    align-items: center;
                    justify-content: flex-start;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                > .nav-link-with-thumbnail {
                    &:not(.dropdown-toggle) {
                        flex-direction: column;
                        font-size: $font-size--1;
                        padding: 0;
                        margin: 0;

                        > img {
                            width: 100%;
                        }
                    }

                    &.dropdown-toggle {
                        justify-content: flex-start;

                        > img {
                            margin-right: 0.75rem;
                            margin-left: -0.5rem;
                            max-width: 5.25rem;
                        }
                    }
                }
            }

            .dropdown-menu {
                border: 0;
                display: flex;
                flex-direction: column;
                position: relative;
            }
        }

        .nav-cat-level-1 {
            padding: 0;

            > ul > .dropdown-item {
                padding: 0.375rem 0;
            }

            .nav-link {
                font-size: $font-size-base;
                font-weight: $font-weight-medium;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .sticked {
        .main-menu {
            border-top: none;
            border-bottom: 0.0625rem solid $tertiary;
            padding-bottom: 0.175rem;
            padding-top: 0.15rem;
            margin: 0;
        }

        .navbar {
            border-bottom: none;

            .navbar-nav .nav-link {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        .nav-link-root {
            padding-bottom: 0.5rem !important;
            padding-top: 0.5rem !important;

            &::after,
            &::before {
                top: calc(100% + 0.3125rem) !important;
            }
        }
    }
}

.navbar-quick-menu {
    border-top: 0.0625rem solid $grey3;
    background-color: $grey6;
    color: $black;
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0.6875rem 0;
    width: 100%;
    text-align: center;

    .nav-item {
        flex: 1 0 0;
        margin: 0;
        padding: 0.2rem 0.5rem 0.3rem;

        &:not(:last-child) {
            border-right: 0.0625rem solid $grey3;
        }
    }

    .nav-link {
        padding: 0 0.75rem;

        > i {
            display: block;
            margin-bottom: 0.875rem;

            &::before {
                font-size: $font-size-18;
            }
        }
    }
}

.mobile-menu-nav {
    background-color: $light;
}

.sliding-nav {
    list-style: none;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    white-space: nowrap;
    width: 100%;

    .sliding-nav-item {
        display: inline-block;

        &:first-child a {
            padding-left: 0;
        }

        .nav-link {
            text-transform: uppercase;
            padding: 1.1rem 1rem 0.9rem;
        }
    }
}

.mobile-nav-header {
    background-color: $white;
    border-bottom: 0.0625rem solid $tertiary;

    .navbar-toggler {
        border-right: 0.0625rem solid $tertiary;
        padding: 0.4375rem 0.5rem 0.625rem;
        width: 15%;

        i::before {
            font-size: $font-size-1;
            height: auto;
            margin: 0;
        }
    }

    .user-icon {
        color: $alto;
        padding: 0 0.1875rem 0 0.4375rem;

        &::before {
            font-size: $font-size-2;
        }
    }

    span {
        font-weight: $font-weight-medium;
    }

    span.welcome-user {
        padding-left: 2rem;
    }

    a {
        font-weight: $font-weight-medium;
        padding: 0.3125rem;
        text-decoration: underline;
    }
}

.mobile-nav-category-header {
    background-color: $primary !important;
    color: $white !important;
    display: flex;
    font-weight: $font-weight-medium;
    justify-content: space-between;
    padding: 1rem 2rem 1.0625rem !important;

    a {
        color: $grey4;
        text-transform: none;
        text-decoration: underline;
    }

    .dropdown-logout-link {
        i::before {
            font-size: $font-size--1;
        }
    }
}

.mobile-nav-back {
    background-color: $white !important;
    color: $primary !important;
    padding-bottom: 0.6875rem !important;
    padding-top: 0.8125rem !important;

    a {
        font-weight: $font-weight-medium;

        i {
            padding: 0 0.5875rem 0 0.4375rem;

            &::before {
                font-size: $font-size-base;
            }
        }
    }
}

.close-category-trigger {
    padding-left: 0 !important;
}

.top-header-item {
    background-color: $grey1;
}

.mobile-may-i-help-you-wrapper {
    .content-asset {
        li {
            list-style: none;

            a {
                align-items: center;
                border-bottom: 0.0625rem solid $grey3;
                display: flex;
                font-weight: $font-weight-medium;
                line-height: 1.35;
                padding: 1.15rem 2.3rem 1.1rem 2rem;
                text-decoration: none !important;
                text-transform: none;
            }
        }
    }
}

.mobile-dropdown-inner {
    padding: 1.15rem 2.3rem 1.1rem 2rem;
    text-align: left;
}

.signed-in-menu {
    .dashboard-menu {
        border: none;
        flex-direction: column;
        display: flex;

        a {
            color: $primary;
            font-size: $font-size-base;
            font-weight: $font-weight-medium;
            margin-bottom: 0.3rem;
            padding: 0;
            text-transform: none;

            &::after {
                display: none;
            }
        }
    }

    .content-asset {
        border-top: 0.0625rem solid $border-color;
        padding-top: 1rem;
    }
}

.main-menu-close-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - #{$mobile-nav-width});
    z-index: 1;
    cursor: pointer;

    @include media-breakpoint-down(lg) {
        .mobile-navbar-open & {
            display: block;
        }
    }
}
