.modal-dialog {
    @include media-breakpoint-down(xs) {
        margin: 2rem;
    }
}

.modal-header {
    padding-bottom: 0;
    z-index: 1;

    .close {
        color: $grey3;
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 1rem;
        right: 1rem;
        opacity: 1;

        i::before {
            font-size: 1rem;
        }
    }
}

.modal-title {
    font-weight: $font-weight-demi-bold;
    width: 100%;

    @include media-breakpoint-up(md) {
        margin-bottom: -2rem;
    }
}

.modal-body {
    padding: 3rem 2.5rem 2.5rem;

    @include media-breakpoint-down(sm) {
        padding: 1.5rem !important;
    }
}

.mobile-modal {
    display: none;

    @include media-breakpoint-down(md) {
        background-color: $white;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1040;
    }

    &.open {
        display: block;
    }
}

.mobile-modal-header {
    border-bottom: 0.0625em solid $grey3;
    padding: 1.145rem 1rem;
    display: flex;
    align-items: center;
    text-align: center;

    .btn-close {
        color: $primary;
        position: relative;
        top: 0.1875rem;

        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
        }

        i {
            &::before {
                font-size: $font-size-2;
            }
        }
    }
}

.mobile-modal-title {
    font-size: $font-size-8;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
    margin-bottom: 0;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.mobile-modal-body {
    padding: 0 1.125rem;
    position: relative;
    overflow: auto;
    max-height: calc(100% - 6.625rem);

    @include media-breakpoint-up(lg) {
        padding: 0;
        min-height: 0;
        max-height: 100%;
        overflow: hidden;
    }
}

.mobile-modal-footer {
    background: $white;
    display: flex;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    > .btn {
        font-weight: $font-weight-medium;
        padding: 0.8125rem 0.5rem 0.8rem;
        margin: 0 auto;
        display: block;
        width: 50%;

        @include media-breakpoint-up(lg) {
            width: 100%;
        }
    }
}

.mobile-safari .refinement-bar.open {
    @media (orientation: $landscape) {
        .mobile-modal-body {
            max-height: initial;
        }

        .mobile-modal-footer {
            position: relative;
        }
    }
}

.modal-notification {
    padding: 0 1.0625rem !important;

    .modal-dialog {
        margin: 0 auto;

        .modal-body {
            text-align: center;
            font-size: $font-size-4;
            font-weight: $font-weight-medium;
            line-height: 1.4;
            padding: 2.4375rem 5.2375rem;
        }

        .modal-footer {
            padding: 0 5.2375rem 2.4375rem;
            justify-content: center;
        }
    }
}

.modal {
    &.modal-centered {
        display: none !important;

        &.show {
            display: flex !important;
            justify-content: center;
            flex-direction: column;
        }

        .modal-dialog {
            width: calc(100% - 1.875rem);
            min-width: 100%;

            @include media-breakpoint-up(lg) {
                width: 100%;
                min-width: 31.25rem;
            }
        }
    }
}
