@import "../variables";

.price {
    .strike-through {
        text-decoration: line-through;
        color: $grey4;
        margin-right: 0.938rem;
    }

    .range {
        > span {
            margin: 0 0.25rem;
        }
    }

    .starting,
    .range,
    .sales {
        font-weight: $font-weight-demi-bold;
    }

    .tiered {
        color: $grey7;

        table {
            border-top: 0.0625rem solid $grey3;
            margin: 0 auto;

            tr {
                &:nth-child(odd) {
                    background-color: $grey2;
                }
            }
        }

        td,
        span.price {
            font-size: 0.875rem;
            font-weight: $font-weight-demi-bold;
        }

        td {
            padding: 0.313rem;

            &.quantity {
                font-weight: normal;
                text-align: right;
            }

            &.value {
                text-align: left;
            }
        }

        .table-header {
            font-size: 1.125rem;
            padding: 0.313rem;
        }

        .column-header {
            font-size: 1rem;
            padding: 0.313rem;
            font-weight: normal;
        }

        .column-header.quantity {
            text-align: right;
        }
    }
}
