.product-carousel {
    margin-bottom: 0;
    padding-right: 2rem;
    padding-left: 2rem;

    @include media-breakpoint-up(sm) {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 2.25rem;
    }

    @include media-breakpoint-up(xl) {
        padding-right: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width / 2;
    }

    .col > .btn-tertiary {
        display: block;
        margin: 0 auto 1.5625rem;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.product-carousel-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }

    &.product-carousel-mobile {
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }

    .slick-next,
    .slick-prev {
        visibility: visible;
        width: 2rem;
    }

    .slick-prev {
        /* rtl:ignore */
        left: -2rem;
    }

    .slick-next {
        /* rtl:ignore */
        right: -2rem;
    }

    > .product {
        display: inline-block;
        white-space: normal;
        margin-bottom: 1rem;
        width: 46%;

        @include media-breakpoint-up(md) {
            margin-bottom: 1.75rem;
            width: 45%;
        }

        @include media-breakpoint-up(lg) {
            width: 22.25%;
            margin-right: 1.375% !important;
            margin-left: 1.375% !important;
        }

        &:nth-child(odd) {
            margin-right: 2%;

            @include media-breakpoint-up(md) {
                margin-right: 2.5%;
            }
        }

        &:nth-child(even) {
            margin-left: 2%;

            @include media-breakpoint-up(md) {
                margin-left: 2.5%;
            }
        }
    }

    .tile-body > .btn {
        max-width: 7.5rem;

        @include media-breakpoint-up(sm) {
            max-width: 100%;
        }
    }

    &[data-initial-item-count='4'] > .product:nth-child(n + 5),
    &[data-initial-item-count='6'] > .product:nth-child(n + 7),
    &[data-initial-item-count='12'] > .product:nth-child(n + 13) {
        display: none;
    }

    &:not(.product-list-items) {
        &[data-initial-item-count='4'] > .product:nth-child(n + 5),
        &[data-initial-item-count='6'] > .product:nth-child(n + 7),
        &[data-initial-item-count='12'] > .product:nth-child(n + 13) {
            @include media-breakpoint-up(lg) {
                display: inline-block;
            }
        }
    }

    .slick-slide .product {
        white-space: normal;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

.slick-destroyed,
.slick-initialized {
    &.product-carousel-items {
        @include media-breakpoint-up(lg) {
            display: block;
            overflow: initial;
            white-space: normal;
        }

        &.product-carousel-mobile {
            display: block;
            overflow: initial;
            white-space: normal;

            @include media-breakpoint-only(sm) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }
}
