.nav-tabs-alpha {
    white-space: nowrap;
    display: block;
    text-align: center;

    .nav-item {
        display: inline-block;
    }

    .nav-link {
        border: 0;
        color: $secondary;
        font-size: $font-size-2;
        font-weight: $font-weight-medium;
        position: relative;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            padding-bottom: 1.875rem;
            font-weight: $font-weight-normal;
        }

        &.active {
            border-bottom: 0;
            color: $primary;

            &::after,
            &::before {
                content: '';
                border-top: 0.0625rem solid $primary;
                border-bottom: 0 !important;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &::after {
                display: none;

                @include media-breakpoint-up(md) {
                    border-left: 0.425rem solid transparent;
                    border-right: 0.425rem solid transparent;
                    border-top: 0.425rem solid $primary;
                    display: block;
                    width: 0;
                    height: 0;
                    bottom: -0.4rem;
                    margin: 0 auto;
                }
            }

            &.no-active-arrow::after {
                display: none;
            }
        }
    }
}

.nav-tabs-beta {
    .nav-item {
        flex: 1;

        &:not(:last-child) {
            .nav-link:not(.active) {
                border-right: 0;
            }
        }
    }

    .nav-link {
        color: $secondary;
        font-size: $font-size--1;
        font-weight: $font-weight-medium;
        padding: 0.5rem;
        text-align: center;

        &,
        &:hover,
        &:focus {
            border-color: $border-color $border-color $primary;
        }

        &:hover {
            font-weight: $font-weight-demi-bold;
            border-color: $border-color $border-color $primary;
        }

        &.active {
            color: $primary;
            border-color: $primary;
            border-bottom: 0.0625rem solid $white;
        }
    }
}
