.video {
    position: relative;

    iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
    }
}

.video-cover {
    cursor: pointer;
    position: relative;
    z-index: 1;

    &.loading {
        .play-icon {
            display: none;
        }
    }

    .play-icon {
        &::before {
            font-size: $font-size-28;

            @include media-breakpoint-up(md) {
                font-size: $font-size-68;
            }
        }
    }
}

.video-playlist {
    padding: 1.75rem 2rem;
    background-color: $light;

    @include media-breakpoint-down(md) {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

        &.slick-destroyed,
        &.slick-initialized {
            overflow: initial;
            white-space: normal;
        }
    }

    @include media-breakpoint-up(lg) {
        background-color: transparent;
        overflow: auto;
        max-height: 20rem;
        padding: 0;
    }

    @include media-breakpoint-up(xl) {
        max-height: 23.625rem;
    }

    .slick-next,
    .slick-prev {
        visibility: visible;
        width: 3rem;
    }

    .slick-dots {
        background-color: transparent;
        padding-top: 0.8rem;
    }

    .content-asset:not(:last-child) {
        margin-bottom: 0.9375rem;
    }
}

.video-thumb {
    cursor: pointer;
    align-items: center;
    display: inline-block;
    background-color: $white;
    margin-left: 1rem;
    margin-right: 1rem;

    @include media-breakpoint-up(lg) {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .media {
        align-items: center;

        picture {
            position: relative;
            width: 7.3125rem;

            @include media-breakpoint-up(xl) {
                width: 10rem;
            }
        }
    }

    .media-body {
        padding: 0 1.5rem;
        text-align: left;
    }
}

.slick-destroyed .video-thumb {
    display: block;
}
