@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.icon-with-text {
    .icon img {
        display: block;
        margin: 0 auto;
        width: auto;
        max-height: 3.125rem;

        @include media-breakpoint-up(md) {
            max-height: 2.5rem;
        }

        @include media-breakpoint-up(lg) {
            max-height: 3.4375rem;
        }

        @include media-breakpoint-up(xl) {
            max-height: 4.375rem;
        }
    }

    .icon-text {
        font-family: $font-family-tertiary;
        display: block;
        color: $primary;
        text-transform: uppercase;
        line-height: $font-lh--1;
        text-align: center;

        @include media-breakpoint-up(md) {
            margin-top: 0.625rem;
            font-size: 1rem;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 1.25rem;
            font-size: 1.375rem;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 1.4375rem;
            font-size: 1.5rem;
        }
    }
}
