@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.homepage-top-teaser {
    margin-bottom: 2.8125rem;

    @include media-breakpoint-down(sm) {
        padding-right: 0;
        padding-left: 0;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 5.625rem;
    }

    .glide-slide {
        position: relative;
    }

    .teaser-carousel-video,
    .teaser-carousel-image {
        display: block;
        height: calc(100vh - 3.125rem);
        width: 100%;
        object-fit: cover;

        @include media-breakpoint-up(lg) {
            height: auto;
            max-height: calc(100vh - 19.0625rem);
        }
    }

    .teaser-carousel-content-buttons {
        width: 100%;
        text-align: center;
    }

    .teaser-carousel-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        .btn {
            width: 50%;
            max-width: 10rem;
            min-width: 3.125rem;
            min-height: 2.375rem;
            line-height: 2.25rem;
            height: auto;
            margin: 0 0.3125rem;
            padding: 0;
            font-size: $font-size-base;
            font-family: $font-family-books;
            font-weight: $font-weight-normal;

            @include media-breakpoint-up(md) {
                max-width: 14.375rem;
            }

            &:hover {
                opacity: 0.65;
            }
        }

        .btn-primary {
            background-color: $white;
            border: none;
            color: $black;

            &:hover {
                background-color: $white;
                color: $black;
            }
        }

        .btn-outline-primary {
            border: 1px solid $white;
            color: $white;
            background: transparent;

            &:hover {
                border: 1px solid $white;
                color: $white;
                background: transparent;
            }
        }
    }

    .teaser-carousel-content-title {
        color: $white;
        font-size: $font-size-18;
        line-height: $font-lh--1;
        font-family: $font-family-secondary;

        @include media-breakpoint-up(md) {
            font-size: 3.375rem;
        }
    }

    &.description-below {
        .teaser-carousel-content-title {
            font-family: $font-family-base;
        }

        .teaser-carousel-image {
            margin-bottom: 1.1875rem;
        }

        .teaser-carousel-content {
            position: relative;

            .teaser-carousel-content-title {
                color: $black;
            }

            .btn {
                font-family: $font-family-secondary;
                line-height: 2.375rem;
                height: 2.5rem;
                width: 10.3125rem;
                max-width: inherit;

                @include media-breakpoint-up(lg) {
                    line-height: 3.3125rem;
                    height: 3.4375rem;
                    width: 13.875rem;
                }

                @include media-breakpoint-up(xl) {
                    line-height: 3.9375rem;
                    height: 4.0625rem;
                    width: 18.125rem;
                }
            }

            .btn-primary {
                background-color: $black;
                color: $white;

                &:hover {
                    background-color: $primary-hover;
                    color: $white;
                    opacity: 1;
                }
            }

            .btn-outline-primary {
                border: 1px solid $black;
                color: $black;
                background: transparent;

                &:hover {
                    border: 1px solid $black;
                    color: $black;
                    background: transparent;
                }
            }
        }
    }
}
