.badges-container {
    height: 2.75rem;
    margin-bottom: 0.75rem;
}

.badges {
    color: $dove-gray;
    display: block;
    font-size: fz(p7);
    font-weight: $font-weight-bold;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(md) {
        font-size: fz(p9);
    }

    @include media-breakpoint-up(xl) {
        font-size: fz(p7);
    }
}

.badge-item {
    position: relative;
    padding: 0 0.4rem;

    &:not(:last-child)::after {
        content: '';
        border-right: 0.0625rem solid rgba($dove-gray, 0.75);
        position: absolute;
        top: 0;
        right: -0.0625rem;
        bottom: 0.0625rem;
    }
}
