@import '../mixins/frame';

.banner-carousel {
    position: relative;
    padding: 0;
    margin: 0 auto 2.5rem;
    max-width: $banner-max-width;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    @include media-breakpoint-up(xl) {
        min-height: 24.6425rem;
    }

    img {
        width: 100%;
    }

    .slick-next,
    .slick-prev {
        top: 50%;
        width: 4.5rem;

        @include media-breakpoint-up(sm) {
            width: 6rem;
            top: 60%;
        }

        @include media-breakpoint-up(md) {
            width: 8rem;
            top: 70%;
        }

        @include media-breakpoint-up(lg) {
            top: 55%;
        }

        @include media-breakpoint-up(xl) {
            top: 0;
            width: 4rem;
        }
    }
}

.banner-carousel-item {
    display: inline-block;
    position: relative;
    width: 100%;

    @include media-breakpoint-down(lg) {
        @include frame();
    }

    &::before {
        display: none;
    }

    &.banner-carousel-item--transparent {
        @include media-breakpoint-up(xl) {
            .banner-carousel-cta-content {
                background-color: transparent;
                color: $white;
                text-align: center;
                padding: 0;
            }

            .btn-primary {
                background: transparent;
                color: $white;
                border-color: $white;
            }
        }
    }
}

.banner-carousel-cta {
    @include media-breakpoint-up(xl) {
        position: absolute;
        width: 22%;
        top: 50%;
        transform: translateY(-50%);

        /* rtl:begin:ignore */
        left: 6%;

        &.right {
            left: auto;
            right: 6%;
        }

        &.center {
            left: 50%;
            transform: translateX(-50%);
        }

        /* rtl:end:ignore */
    }
}

.banner-carousel-cta-content {
    background-color: rgba($white, 0.75);
    cursor: pointer;
    padding: 1.5rem 4.25rem 0;
    position: relative;
    visibility: hidden;
    white-space: normal;

    @include media-breakpoint-down(lg) {
        padding-bottom: 0.5rem;
    }

    @include media-breakpoint-up(sm) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include media-breakpoint-up(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 3.9375rem 1.875rem;
        @include frame();
    }

    &:hover {
        .btn-primary {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }

    &::before {
        display: none;
    }

    .btn-primary {
        min-width: 12.1875rem;
    }
}

.banner-carousel-cta-subtitle {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
}

.banner-carousel-cta-title {
    font-family: ff(base);
    font-size: fz(h3);
    line-height: $font-lh--2;
    max-height: 7.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.banner-carousel-cta-text {
    display: block;
    max-height: 5rem;
    margin: 0 0 1.625rem;
    padding: 0;
}

.banner-carousel-menu {
    text-align: left;

    @include media-breakpoint-up(xl) {
        position: absolute;
        min-width: 22.25%;
        max-width: 20rem;
        left: 6%;
        top: 9%;
    }
}

.banner-carousel-menu-content {
    background-color: $white;
    padding: 2rem 2.5rem;
    position: relative;
    visibility: hidden;
    white-space: normal;

    @include media-breakpoint-up(xl) {
        padding: 1.75rem 1.75rem 1.5rem;
        @include frame();
    }
}

.banner-carousel-menu-title {
    font-family: ff(base);
    font-size: fz(h4);
    font-weight: $font-weight-medium;
    line-height: $font-lh;
    margin-bottom: 0.875rem;
    text-transform: uppercase;
}

.banner-carousel-menu-items {
    > a {
        font-weight: $font-weight-medium;
        font-size: fz(body-xs);
        line-height: $font-lh--6;
        display: flex;
    }
}

.banner-carousel-details {
    background-color: rgba($white, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.125rem 1.5rem 0;
    position: relative;
    visibility: hidden;
    white-space: normal;

    @include media-breakpoint-up(xl) {
        position: absolute;
        padding: 1.125rem;
        width: 25%;
        right: 6%;
        top: 0;
        bottom: 0;
    }
}

.banner-carousel-details-title {
    font-family: ff(base);
    font-size: fz(p16);
    font-weight: $font-weight-light;
    margin-bottom: 1.375rem;
    text-transform: uppercase;
}

.banner-carousel-details-text {
    display: block;
    font-weight: $font-weight-medium;
    font-style: italic;
    line-height: $font-lh--7;
    padding: 0;
    @include make-container-max-widths();

    @include media-breakpoint-up(sm) {
        padding: 0 2rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: fz(body-xs);
        padding: 0;
    }
}

.slick-initialized {
    &.banner-carousel {
        overflow: initial;
    }

    .banner-carousel-cta-content,
    .banner-carousel-menu-content,
    .banner-carousel-details {
        visibility: visible;
    }
}
