.btn-link {
    &:hover,
    &.hover,
    &:focus,
    &.focus {
        text-decoration: none;
    }
}

.btn {
    text-transform: uppercase;
    border-radius: 0;

    &:focus {
        box-shadow: none;
    }
}

*:focus {
    outline: none;
}

.btn-primary,
.btn-secondary,
.btn-outline-primary,
.btn-outline-secondary,
.btn-tertiary.btn-tertiary-sm {
    @include btn-base;

    &:not(.btn-block) {
        @include media-breakpoint-up(xs) {
            min-width: 13.125rem;
        }

        @include media-breakpoint-up(xl) {
            min-width: 10rem;
        }
    }
}

.btn-primary {
    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }

    &.disabled {
        background-color: $tertiary;
        border-color: $tertiary;
        color: $text-muted;
        opacity: 1;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }
}

.btn-outline-primary {
    background-color: $white;
}

.btn-secondary {
    &:hover {
        background-color: $secondary-hover;
        border-color: $secondary-hover;
    }
}

.btn-outline-secondary {
    background-color: $white;
}

.btn-tertiary {
    font-size: fz(body);
    font-weight: $font-weight-bold;
    background-color: $tertiary;
    border-color: $tertiary;
    color: $secondary;
    padding: 0.825rem 0.75rem 0.7rem;

    @include media-breakpoint-up(xl) {
        padding: 0.825rem 1.125rem 0.7rem;
    }

    &:hover {
        background-color: $tertiary-hover;
        border-color: $tertiary-hover;
    }
}

.btn-overlay {
    cursor: pointer;
    opacity: 0;
    border: 0;
}

.btn-select {
    background-position: right 0.15rem center #{"/*rtl:0.15rem center*/"};
    display: flex;
    align-items: center;
    line-height: 1.58;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    padding-left: 0.25rem;
    padding-right: 0;
    text-transform: none;

    &.single-select-option {
        background-image: none;

        .btn.disabled {
            opacity: 1;
        }

        &::after {
            display: none;
        }
    }

    .dropdown-toggle {
        border-right: 0;
        border-left: 0;
        border-top: 0;
        padding-left: 0.25rem;
        padding-right: 1.5rem;
    }
}

.btn-link-with-icon {
    font-size: fz(p8);
    font-weight: $font-weight-medium;
    padding: 0;
    margin-bottom: 0.5rem;
    text-align: left;
    text-transform: none;
    display: flex;
    align-items: center;

    > i {
        display: inline-block;
        min-width: 1.6rem;

        &::before {
            font-size: 1rem;
        }
    }

    + .btn-link-with-icon {
        margin-top: 0;
    }
}
