.global-carousel {
    margin-bottom: 3.4375rem;

    *:focus {
        outline: none !important;
    }

    .slick-slide {
        .product-tile {
            margin: 0 auto;
        }
    }

    .carousel {
        margin-bottom: 0;
        white-space: nowrap;

        @include media-breakpoint-down(sm) {
            margin-bottom: 1.25rem;
        }
    }

    .carousel-item {
        display: inline-block;
    }

    .slick-track {
        .slick-slide {
            display: inline-block;
        }
    }

    .common-image-component {
        width: 100%;
    }

    > .carousel {
        > .slick-list {
            text-align: center;
            margin: 0;

            @include media-breakpoint-up(md) {
                margin: 0 3.125rem;
            }
        }
    }

    .slick-arrow {
        color: $secondary;
        font-size: 0;
        height: 50%;
        overflow: hidden;
        top: 50%;
        transform: translateY(-50%);
        width: auto;

        &::before {
            color: $secondary;
            font-family: 'scicons' !important;
            font-style: normal;
            font-size: fz(p58);
            font-weight: $font-weight-normal;
            display: flex;
            justify-content: center;
            line-height: $font-lh;
            text-decoration: inherit;
            transform: rotateZ(0);
            font-variant: normal;
            text-transform: none;
            width: 2.5rem;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            @include media-breakpoint-up(md) {
                line-height: $font-lh;
                width: 2.8125rem;
            }
        }
    }

    .slick-prev {
        left: 0;
        right: auto;

        @include media-breakpoint-up(xl) {
            left: -3.5rem;
            right: auto;
        }

        &::before {
            content: '\e82d';
            transform: rotate(180deg);
        }
    }

    .slick-next {
        left: auto;
        right: 0;

        @include media-breakpoint-up(xl) {
            left: auto;
            right: -3.5rem;
        }

        &::before {
            content: '\e82d';
        }
    }

    .product-tile {
        .tile-body {
            min-width: 9.6875rem;
            max-width: 10rem;
            margin: 0 auto;
        }
    }

    &.product-carousel {
        margin-bottom: 1.1875rem;

        @include media-breakpoint-up(md) {
            padding: 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 4.0625rem;
        }

        // All slides same height

        .slick-track {
            display: flex;

            &::before,
            &::after {
                display: none;
            }

            .slick-slide {
                float: none;
                display: flex;
                flex-direction: column;
            }

            .slick-slide > div,
            .carousel-item {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            .carousel-item {
                display: flex !important;
            }
        }

        .product {
            margin: 0 auto;
        }

        .slick-slider {
            padding: 0;
        }

        .slick-slide {
            margin: 0 0.5rem;

            @include media-breakpoint-up(xl) {
                margin: 0 2rem;
            }

            .product {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .section-container.container & {
            .slick-slide {
                margin: 0;

                @include media-breakpoint-up(xl) {
                    margin: 0 0.75rem;
                }
            }
        }

        .slick-list {
            margin: 0;
        }

        .slick-arrow {
            top: 30%;

            &.slick-prev {
                left: -1.625rem rtl-ignore();
                right: auto rtl-ignore();
            }

            &.slick-next {
                left: auto rtl-ignore();
                right: -1.625rem rtl-ignore();
            }

            @include media-breakpoint-up(md) {
                top: 40%;

                &.slick-prev {
                    left: 0;
                    right: auto;

                    /* rtl:raw:
                        left: -1rem;
                        right: auto;
                    */
                }

                &.slick-next {
                    left: auto;
                    right: 0;

                    /* rtl:raw:
                        left: auto;
                        right: -1rem;
                    */
                }
            }

            @include media-breakpoint-up(lg) {
                top: 52%;

                &.slick-prev {
                    left: -3.6rem;
                    right: auto;

                    /* rtl:raw:
                        left: -3.5rem;
                        right: auto;
                    */
                }

                &.slick-next {
                    left: auto;
                    right: -3.6rem;

                    /* rtl:raw:
                        left: auto;
                        right: -3.5rem;
                    */
                }
            }

            &::before {
                @include media-breakpoint-up(lg) {
                    width: 2.8125rem;
                }
            }
        }
    }

    &.fullwidth-carousel {
        margin-bottom: 5.625rem;

        &.product-carousel {
            @include media-breakpoint-up(xl) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .slick-list {
            @include media-breakpoint-up(md) {
                margin: 0;
            }
        }

        .image-fluid {
            height: 15rem;
            max-height: 21.25rem;
            object-fit: cover;

            @include media-breakpoint-up(md) {
                height: 21.25rem;
            }
        }

        .slick-arrow {
            top: 33%;

            &::before {
                height: 100%;
                align-items: center;
            }

            &.slick-prev {
                left: 0.875rem;
                right: auto;
                height: 2.8125rem;

                /* rtl:raw:
                    left: 0.875rem;
                    right: auto;
                */
            }

            &.slick-next {
                left: auto;
                right: 0.875rem;
                height: 2.8125rem;

                /* rtl:raw:
                    left: auto;
                    right: 0.875rem;
                */
            }

            @include media-breakpoint-up(md) {
                top: 38%;

                &.slick-prev {
                    left: 0;
                    right: auto;

                    /* rtl:raw:
                        left: 0;
                        right: auto;
                    */
                }

                &.slick-next {
                    left: auto;
                    right: 0;

                    /* rtl:raw:
                        left: auto;
                        right: 0;
                    */
                }
            }

            @include media-breakpoint-up(xl) {
                top: 50%;

                &.slick-prev {
                    left: 0;
                    right: auto;

                    /* rtl:raw:
                        left: 0;
                        right: auto;
                    */
                }

                &.slick-next {
                    left: auto;
                    right: 0;

                    /* rtl:raw:
                        left: auto;
                        right: 0;
                    */
                }
            }
        }

        .btn-primary {
            min-width: 10rem;
        }

        .slick-dots {
            position: absolute;
            bottom: -2.8125rem;
        }
    }

    &.container {
        .common-image-component {
            width: auto;
        }
    }
}

.swatches-container {
    .color-swatches {
        .swatches-carousel {
            padding: 0 1.4375rem;
            margin-bottom: 0;

            .slick-track {
                @include direction;
            }

            .slick-arrow {
                display: flex;
                height: 2rem;
                top: 50%;
                margin-top: 0.0625rem;
                width: auto;

                &::before {
                    line-height: 1;
                    width: 1.375rem;
                    display: flex;
                    justify-content: center;

                    @include media-breakpoint-up(md) {
                        width: 1.875rem;
                    }

                    @include media-breakpoint-up(lg) {
                        font-size: fz(p32);
                        width: 1.375rem;
                    }
                }

                &.slick-prev {
                    left: 0;
                    right: auto;

                    /* rtl:raw:
                        top: -0.375rem;
                        transform: rotate(180deg);
                    */
                }

                &.slick-next {
                    left: auto;
                    right: 0;

                    /* rtl:raw:
                        top: -0.375rem;
                        transform: rotate(180deg);
                    */
                }
            }

            .slick-list {
                margin: 0;

                .slick-slide {
                    margin: 0;
                    line-height: 0;
                }
            }

            .slick-slide,
            .swatch-item-link {
                display: inline-block;
            }
        }
    }
}

[dir="rtl"] {
    .global-carousel {
        .slick-prev,
        .slick-next {
            transform: translateY(-50%) rtl-ignore();

            &::before {
                content: '\E82D';
            }
        }

        .slick-prev {
            left: 0 rtl-ignore();
            right: auto rtl-ignore();

            @include media-breakpoint-up(md) {
                left: 0 rtl-ignore();
                right: auto rtl-ignore();
            }

            @include media-breakpoint-up(xl) {
                left: -3.5rem rtl-ignore();
            }
        }

        .slick-next {
            left: auto rtl-ignore();
            right: 0 rtl-ignore();

            @include media-breakpoint-up(md) {
                left: auto rtl-ignore();
                right: 0 rtl-ignore();
            }

            @include media-breakpoint-up(xl) {
                right: -3.5rem rtl-ignore();
            }
        }
    }
}
