*:focus {
    outline: 0.0625rem dotted $text-muted !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

body {
    font-family: ff(base);
    font-size: fz(body);
}

.container-title {
    font-size: fz(p20);
    font-weight: $font-weight-base;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-align: center;

    &::after {
        content: '';
        display: block;
        border-bottom: 0.125rem solid $secondary;
        margin: 0 auto;
        padding-top: 0.5rem;
        margin-top: 0.375rem;
        width: 1.625rem;

        @include media-breakpoint-up(xl) {
            margin-top: 0;
            margin-bottom: 2rem;
            width: 2.625rem;
        }
    }
}

.separator {
    position: relative;

    &::after {
        content: '';
        border-bottom: 0.0625rem solid $dove-gray;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50%;
    }

    h6 {
        background-color: $white;
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 5.25rem;
        margin: 1rem auto;
        padding: 0;
        position: relative;
        z-index: 1;
    }
}

.link {
    font-size: fz(body);
    color: $secondary;
}

.separated-values {
    display: flex;
    flex-wrap: wrap;

    .has-value {
        margin-right: 0.5rem;
    }
}

.img-credit-card {
    border: 0.0625rem solid $grey3;
    border-radius: 0.1875rem;
    position: relative;
    top: -0.0625rem;
}

.hide-order-discount {
    display: none;
}

.hide-shipping-discount {
    display: none;
}

.order-discount {
    color: $success;
}

.shipping-discount {
    color: $success;
}

.error-messaging {
    width: 100%;
}

.error-hero {
    margin-bottom: 0.625em;
    background-image: url('../images/error-hero.jpg');

    /* rtl:raw:
        background-image: url('../images/error-hero_ar.jpg');
    */
}

.error-message {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.error.continue-shopping {
    min-width: auto !important;
    margin-bottom: 6.25em;
}

.disable-scroll {
    @include media-breakpoint-down(lg) {
        overflow: hidden;
        position: fixed;
    }
}

.no-records-message {
    font-weight: $font-weight-medium;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-bottom: 2.75rem;
    font-size: fz(h4);
    min-height: 15rem;

    @include media-breakpoint-down(sm) {
        justify-content: center;
    }

    > i {
        margin-bottom: 1.5rem;

        &::before {
            font-size: fz(p46);
        }

        &.sc-icon-fav::before,
        &.sc-icon-payment-method::before {
            font-size: 3.6rem;
        }

        &.sc-icon-cart::before {
            font-size: 3.2rem;
        }
    }
}

.show-no-records {
    .no-records-container {
        display: block !important;
    }
}

.prev-section {
    display: none;
    position: absolute;
    top: 0.5rem;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    .prev-icon {
        color: $text-muted;
        font-size: fz(body-xs);
        font-weight: $font-weight-medium;
        text-transform: uppercase;

        .sc-icon-arrow-prev {
            &::before,
            &::after {
                width: 0.625rem;
                background-color: $grey3;
            }
        }
    }
}

.divider {
    margin: 10px 0;
    border-top: 0.0625rem solid $grey3;
}

.overlay-link {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.back-in-stock-container {
    .modal {
        .modal-dialog {
            @include media-breakpoint-down(md) {
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
            }
        }
    }
}

// ** Sticky elements functional styles ** //

.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-min;
}

.sticky-spacer {
    visibility: hidden;
    width: 100%;
}

// ** END Sticky elements functional styles ** //
