.form-group {
    &.required .form-control-label::after {
        content: '*';
        font-size: fz(body-sm);
        line-height: 0;
    }

    .invalid-feedback {
        font-size: fz(body-sm);
        margin-top: 0.625rem;
        color: $tabasco;
    }

    &.is-invalid .invalid-feedback {
        display: block;
    }

    > .row {
        [class^="col-"] {
            &:not(:first-child),
            &:not(:last-child) {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 4;
            }

            &:first-child {
                padding-right: $grid-gutter-width / 4;
                padding-left: $grid-gutter-width / 2;
            }

            &:last-child {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 2;
            }
        }
    }

    .g-recaptcha {
        display: inline-block;
    }
}

.password-feedback {
    font-size: fz(body-xs);

    .text-success,
    .text-danger {
        margin-right: 1.875rem;
        margin-top: 0.625rem;
    }

    .text-danger .sc-icon-cross {
        position: relative;
        top: 0.375rem;

        &::before,
        &::after {
            width: fz(body-xs);
            background-color: $danger;
        }
    }

    i {
        margin-right: 0.75rem;

        &::before {
            font-size: fz(p8);
        }
    }
}

.success-msg {
    i {
        &::before {
            font-size: fz(body);
        }
    }
}

.form-control-label {
    font-size: fz(body-sm);
    font-weight: $font-weight-bold;
    margin-bottom: 0.375rem;
}

.input-group {
    .form-control {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;

        @include media-breakpoint-up(xl) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }

    .btn {
        padding-top: 0.65rem;
        padding-bottom: 0.65rem;

        @include media-breakpoint-up(xl) {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
        }
    }
}

.custom-select {
    border-color: $grey3;
    border-radius: 0;
    background-size: 1rem;
    color: $secondary;

    &:focus {
        border-color: $grey3;
        box-shadow: none;
    }

    &.bootstrap-select {
        border-color: transparent;
        padding: 0 !important;

        &:not(.input-group-btn),
        &[class*="col-"] {
            display: flex;
            width: 100% !important;
        }

        &.disabled {
            position: relative;

            &::after {
                content: '';
                background-color: rgba($white, 0.8);
                position: absolute;
                top: 0.0625rem;
                right: 0.0625rem;
                bottom: 0.0625rem;
                width: 2.5rem;
            }
        }

        [data-width="auto"] ~ .dropdown-menu {
            width: 100%;
        }

        > .dropdown-toggle {
            border-color: $grey2;
            font-size: fz(body);
            padding: 0.5315rem 2rem 0.5315rem 0.75rem;
            text-transform: none;
            margin-top: 0;

            &::after {
                display: none;
            }

            &:focus {
                outline: 0.0625rem dotted $secondary !important;
                box-shadow: none;
            }

            &.disabled {
                color: $grey4;
            }
        }

        > .dropdown-menu {
            border-radius: 0;
            border-color: $grey3;
            margin-top: -0.0625rem;
            padding: 0;
        }

        .dropdown-menu.inner {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .dropdown-item {
            border-radius: 0;
            color: $secondary;
            padding-left: 0.85rem;

            &.active,
            &:active {
                color: $secondary;
                background-color: $grey2;
            }

            &.disabled:not(.active) {
                color: $grey3;
            }
        }

        .no-results {
            background-color: $white;
            font-size: fz(p9);
        }
    }

    .bs-invalid {
        border-color: $danger !important;
    }
}

/* rtl:raw:
    select.custom-select {
        background-position: 0.75rem;
    }

    .bootstrap-select.custom-select {
        background-position: 0.75rem;
    }
*/

.is-invalid {
    .bootstrap-select > .dropdown-toggle,
    input[type="text"],
    input[type="tel"],
    input[type="password"],
    input[type="email"],
    textarea {
        border-color: $danger !important;
    }
}

.radio-button-link,
.checkbox-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none !important;

    > i {
        border: 0.0625rem solid $secondary;
        position: relative;
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
        margin-right: 0.5rem;

        &::after {
            content: '';
            background-color: $secondary;
            position: absolute;
            top: 0.125rem;
            left: 0.125rem;
            right: 0.125rem;
            bottom: 0.125rem;
            display: none;
        }
    }

    > span,
    > div {
        display: flex;

        > span {
            margin-right: 0.25rem;
        }
    }

    &.active > i,
    &.selected > i {
        border-color: $secondary;

        &::after {
            display: block;
        }
    }
}

.checkbox-link {
    > i {
        height: 0.9375rem;
        margin-left: auto;
        margin-right: 0;
        min-width: auto;
        right: 0;
        width: 0.9375rem;

        &::after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: $white;
            content: '\e800';
            font-family: 'scicons' !important;
            font-style: normal;
            font-size: 0.375rem;
            line-height: 0.9375rem;
            font-weight: $font-weight-light;
            text-align: center;
            text-decoration: inherit;
            transform: rotateZ(0);

            /* For safety - reset parent styles, that can break glyph codes */
            font-variant: normal;
            text-transform: none;

            /* Font smoothing. That was taken from TWBS */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    &.active > i,
    &.selected > i {
        background-color: $secondary;

        &::after {
            background-color: transparent;
        }
    }
}

.radio-button-link {
    > i,
    > i::after {
        border-radius: 100%;
    }
}

.password-show-toggle {
    position: absolute;
    right: 0.625rem;
    top: 2.25rem;
    display: block;
    cursor: pointer;
    padding: 0.125rem 0.25rem;
    line-height: 1;
    color: $grey3;

    i::before {
        font-size: fz(p13);
    }
}

.is-search-input {
    position: relative;

    input {
        padding-right: 2rem !important;
    }

    i {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        opacity: 0.5;
    }
}

.phone-country-code-selector,
.phone-number-container input {
    text-align: left;
}

.phone-country-code-selector {
    .dropdown-toggle,
    .dropdown-item {
        /* rtl:ignore */
        direction: ltr;
    }
}
