.slick-next,
.slick-prev {
    top: 0;
    bottom: 0;
    height: auto;
    width: 4rem;
    z-index: 1;
    transform: none;

    &::before {
        display: none;
    }
}

.slick-disabled {
    display: none !important; //for overriding inline styles
}

[dir='rtl'] .slick-prev,
.slick-prev {
    /* rtl:ignore */
    left: 0;

    /* rtl:ignore */
    right: auto;
}

[dir='rtl'] .slick-next,
.slick-next {
    /* rtl:ignore */
    right: 0;

    /* rtl:ignore */
    left: auto;
}

[dir='rtl'] .slick-prev,
[dir='rtl'] .slick-next {
    /* rtl:ignore */
    transform: scaleX(-1);
}

.slick-slider .slick-track,
.slick-slider .slick-list,
.slick-slider .slick-dots {
    /* rtl:ignore */
    direction: ltr;
}

.slick-slide {
    height: auto;

    /* rtl:raw:
        direction: rtl;
    */

    > div {
        display: flex;
        height: auto;
    }
}

.slick-dotted {
    .slick-next,
    .slick-prev {
        bottom: 2.75rem;
    }
}

.slick-dots {
    background: $white;
    clear: both;
    display: block;
    position: static;
    margin: 0 auto;
    padding: 1.25rem 0 0.3125rem;
    z-index: 1;

    > li {
        display: inline-block;
        position: relative;
        line-height: 7.1;
        width: 0.5625rem;
        height: 0.5625rem;
        margin: 0 0.25rem;

        &.slick-active {
            > button {
                background-color: $secondary;
            }
        }

        > button {
            background: $text-muted;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            padding: 0;

            &::before {
                display: none;
            }
        }
    }
}

.slick-loading .slick-list {
    background: none;
}
