.main-menu {
    text-transform: uppercase;

    .navbar {
        padding: 0;
    }

    .navbar-nav {
        justify-content: space-between;
    }

    .nav-link {
        line-height: 1.35;
    }

    .menu-group {
        flex: 0 0 100%;
        margin-bottom: auto;

        .nav-link-icon {
            margin-right: 0.7rem;
        }

        .link {
            font-weight: $font-weight-bold !important;
        }

        .nav-link {
            display: flex;
            align-items: center;
            position: relative;

            @include media-breakpoint-down(sm) {
                .nav-link-text {
                    line-height: normal;

                    /* rtl:raw:
                        display: flex;
                        align-items: baseline;
                        padding: 0.5rem 0;
                        line-height: 0;
                    */
                }
            }

            .sc-icon-home {
                margin: 0.175rem 0.7rem 0 0;

                @include ipad() {
                    margin: 0.375rem 0.7rem 0 0;
                }
            }
        }
    }

    .nav-item > .dropdown-menu {
        > ul > .dropdown-item {
            > .dropdown-menu {
                .dropdown-item {
                    .dropdown-link {
                        text-transform: uppercase;
                    }
                }
            }
        }

        .dropdown-menu,
        .dropdown-menu > ul {
            flex-direction: column;
        }
    }

    .dropdown-item {
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $white;
        }
    }
}

@include media-breakpoint-down(lg) {
    .navbar {
        height: 100%;
    }

    .navbar-nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav-back {
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-transform: uppercase;
        text-decoration: none;
        font-size: fz(body);
        font-weight: $font-weight-bold !important;

        i::before {
            color: $text-muted;
            font-size: fz(h2);

            /* rtl:raw:
                transform: rotate(0deg);
            */
        }
    }

    .main-menu {
        background-color: $white;
        display: none;
        overflow: auto;
        position: fixed;
        left: 0;
        top: 0 !important;
        bottom: 0;
        right: 2.8125rem;
        z-index: 4;

        .menu-group {
            .nav-link {
                border-bottom: 0.0625rem solid $grey2;
                padding: 0.85rem 1.3rem 0.85rem 1rem;

                &::after {
                    display: none;
                }

                .sc-icon-arrow {
                    position: absolute;
                    right: 0;

                    /* rtl:raw:
                        transform: rotate(180deg);
                    */

                    &::before {
                        color: $text-muted;
                    }
                }
            }
        }

        .dropdown-menu {
            border: 0;
            border-radius: 0;
            margin: 0;
            position: fixed;
            top: 0;
            bottom: 3.4375rem;
            right: 100%;
            left: -100%;
            display: block;
            padding: 0 1rem;
            transition: all $animation-duration;

            ul {
                max-width: 100% !important;
            }
        }

        .show {
            > .dropdown-menu {
                left: 0;
                right: 2.8125rem;
            }
        }

        .dropdown-item {
            padding: 0;
            color: $secondary;
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-menu {
        display: block !important;
        top: 0 !important;
        padding-top: 1.05rem;
        padding-bottom: 0.7rem;
        transition: padding-top $animation-duration;

        .menu-group {
            .nav-link {
                padding: 0.375rem 0;
                transition: padding-top $animation-duration, padding-bottom $animation-duration;

                &::before,
                &::after {
                    display: none;
                    position: absolute;
                }
            }

            .dropdown-item {
                white-space: normal;
            }
        }

        .nav-item > .nav-link {
            &::before {
                content: '';
                bottom: -0.125rem;
                border-bottom: 0.125rem solid $category-hover;
                background-color: $category-hover;
                left: 0;
                right: 0;
            }
        }

        .nav-item > .nav-link.current {
            font-weight: $font-weight-bold;
        }

        .nav-item > .nav-link.current,
        .nav-item > .nav-link.active,
        .nav-item > .nav-link:focus,
        .nav-item:not(.dropdown) > .nav-link:hover {
            color: $menu-link;

            &::before {
                display: block;
            }
        }

        .nav-cat-level-0 {
            border: 0;
            border-top: 0.625rem solid transparent;
            border-bottom: 0 solid $grey3;
            border-radius: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            top: 1.9rem #{"/*rtl:2.07rem*/"};
            overflow-y: auto;
            padding-top: 2rem;
            padding-bottom: 0.3125rem;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                border-bottom: 0.0625rem solid $grey2;
            }

            ul.container {
                background-color: $white;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
            }

            > ul > .dropdown-item {
                padding: 0.25rem 1.75rem 2.5rem;
                max-width: 12.5rem;
                flex: 1 0 auto;

                &.dropdown-item-no-subcats {
                    padding-bottom: 0.9375rem;
                }

                > .nav-link-only-name,
                > .nav-link-with-thumbnail.dropdown-toggle {
                    font-size: fz(body-xs);
                    font-weight: $font-weight-bold;
                    padding: 0.6rem 0 !important;
                    align-items: center;
                }

                > .nav-link-with-thumbnail {
                    &:not(.dropdown-toggle) {
                        flex-direction: column;
                        font-size: fz(body-sm);
                        padding: 0;
                        margin: 0;

                        > img {
                            width: 100%;
                        }
                    }

                    &.dropdown-toggle {
                        justify-content: flex-start;

                        > img {
                            margin-right: 0.75rem;
                            margin-left: -0.5rem;
                            max-width: 5.25rem;
                        }
                    }
                }

                &.main-menu-view-all {
                    a {
                        font-size: fz(body-xs);
                        font-weight: $font-weight-extra-bold;
                        color: $secondary;
                    }
                }
            }

            .dropdown-menu {
                border: 0;
                display: flex;
                flex-direction: column;
                position: relative;
            }
        }

        .nav-cat-level-1 {
            padding: 0;

            > ul > .dropdown-item {
                padding: 0.25rem 0;
            }

            .nav-link-only-name,
            .nav-link-with-count {
                font-size: fz(body-xs);
                padding-top: 0;
                padding-bottom: 0;
            }

            .nav-link-with-thumbnail.nav-link-with-count {
                text-transform: uppercase !important;
                margin-left: -1.5rem;
                margin-right: -1.5rem;

                > img {
                    margin-right: 0.75rem;
                    max-width: 5.25rem;
                }
            }
        }

        .product-tile {
            display: flex;

            .tile-body {
                white-space: normal;
                min-width: 13.125rem;
                padding: 0 0 0 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .price-container,
            .badges-container,
            .ratings-container {
                height: auto;
            }

            .name-container {
                height: 2rem;
            }

            .price-container {
                margin-bottom: 0.6rem;
            }

            .badges-container {
                margin-bottom: 0.85rem;
            }

            .ratings-container {
                display: none;
            }

            .image-container {
                min-height: 0;

                .tile-image {
                    max-height: 12.875rem;
                }
            }

            .btn-primary {
                display: none;
            }
        }

        .cat-main-menu-product {
            margin-left: auto;
            max-width: 21.875rem !important;
            padding: 0 !important;
        }

        .cat-main-menu-banner {
            margin-left: auto;
            max-width: 21.875rem !important;
            padding: 0 !important;

            .cat-main-banner-link {
                display: flex;
                text-decoration: none;

                .cat-main-banner-image {
                    img {
                        max-width: 10rem;
                    }
                }

                .cat-main-banner-text {
                    font-size: fz(body-xs);
                    color: $secondary;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 1.875rem;

                    .cat-main-banner-title {
                        text-transform: uppercase;
                        font-weight: $font-weight-extra-bold;
                    }

                    .cat-main-banner-subtitle {
                        text-transform: initial;
                    }

                    .cat-main-banner-btn {
                        text-decoration: underline;
                        text-transform: uppercase;
                        font-weight: $font-weight-extra-bold;
                        margin-top: 1.25rem;
                    }
                }
            }
        }
    }

    .sticked {
        .main-menu {
            padding-top: 0.4rem;
            padding-bottom: 0.2rem;

            .nav-item {
                height: 1.35rem;

                > .dropdown-menu {
                    top: 20px;
                    border-top-width: 0.25rem;
                }
            }
        }

        .navbar .navbar-nav .nav-link {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.navbar-quick-menu {
    background-color: $light;
    color: $black;
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0.6875rem 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
    text-transform: none;

    .nav-item {
        flex: 1 0 0;
        margin: 0;
        padding: 0.2rem 0.5rem 0.3rem;
        position: relative;

        &:not(:last-child)::before {
            content: "";
            position: absolute;
            top: 0.25rem;
            bottom: 0.25rem;
            right: -0.5rem;
            border-right: 0.0625rem solid $grey3;
        }
    }

    .nav-link {
        padding: 0 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        font-size: fz(body-xs);

        > i {
            display: block;

            &::before {
                font-size: fz(h2);
            }
        }
    }
}

.mobile-navigation {
    .nav-tabs {
        border: none;

        .nav-item {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-link {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                font-size: fz(p16);
                font-weight: $font-weight-normal;
                color: $secondary;
                line-height: $font-lh--4;
                height: 4.5rem;
                padding: 0;

                @include media-breakpoint-down(sm) {
                    font-size: fz(h4);
                    height: 3.375rem;
                }

                &.active {
                    background-color: $light;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}
