.price {
    color: $grey7;

    .strike-through {
        text-decoration: line-through;
    }

    .starting,
    .range,
    .sales {
        font-weight: bold;
    }

    .strike-through,
    .worth {
        color: $text-muted;
        display: block;
        font-size: fz(h4);
        font-weight: $font-weight-normal;
        margin-right: 0;
        margin-top: 0.25rem;
    }

    .tiered {
        color: $grey7;
        font-size: fz(body);

        .value {
            font-weight: $font-weight-bold;
        }

        table {
            border-top: 1px solid $grey3;
            margin: 0 auto;

            tr {
                &:nth-child(odd) {
                    background-color: $grey2;
                }
            }
        }

        td,
        span.price {
            font-size: 0.875rem;
            font-weight: bold;
        }

        td {
            padding: 0.313rem;

            &.quantity {
                font-weight: normal;
                text-align: right;
            }

            &.value {
                text-align: left;
            }
        }

        .table-header {
            font-size: 1.125rem;
            padding: 0.313rem;
        }

        .column-header {
            font-size: 1rem;
            padding: 0.313rem;
            font-weight: normal;
        }

        .column-header.quantity {
            text-align: right;
        }
    }

    .sales {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $secondary;
        font-size: fz(body);
        font-weight: $font-weight-bold;
        letter-spacing: normal;
        line-height: 1.25;
        overflow: hidden;

        @include media-breakpoint-up(md) {
            font-size: fz(h4);
        }

        @include media-breakpoint-up(xl) {
            font-size: fz(body);
        }
    }
}
