@import "~brand_core/mixins/swatch";

.quick-view-dialog,
.choose-bonus-product-dialog {
    max-width: 50rem;

    .bonus-product-item {
        margin: 1rem 0;
        padding-top: 1rem;
        border-top: 0.0625rem solid $grey3;

        &:first-child {
            border-top: 0;
            padding-top: 0;
        }
    }

    .product-detail {
        margin: 0;

        .product-info-wrapper {
            margin-bottom: 0.625rem;
        }

        .product-info-container {
            @include media-breakpoint-up(xl) {
                padding-left: 0;
            }

            .select-shade {
                margin-left: 0;
            }

            .swatches {
                margin: 0;
                padding-left: 0.25rem;
            }
        }

        .attributes-container-qty {
            margin-top: 1.25rem;
            justify-content: flex-start;
        }

        .attribute {
            width: 100%;
        }

        .bonus-quantity {
            width: 100%;

            label {
                display: none;
            }
        }

        .attribute,
        .bonus-quantity {
            width: 100%;

            .btn.dropdown-toggle {
                background-color: transparent;
                color: $secondary;
            }
        }
    }

    .product-info {
        @include media-breakpoint-down(sm) {
            padding-top: 1.25rem;
        }
    }

    .selected-pid {
        margin: 0.625rem -0.9375rem;
        padding: 0.625rem 0;
        position: relative;

        .col-1 {
            position: static;
        }

        .fa-times {
            position: absolute;
            top: 50%;
            right: 0.4375rem;
            transform: translateY(-50%);
            cursor: pointer;

            @include closeButton(0.875rem, 0.125rem, $secondary, null);
        }
    }

    .beenSelected {
        background-color: $grey2;
    }

    .modal-header {
        .full-pdp-link {
            color: $primary;
        }

        > span {
            @extend .modal-title;
        }
    }

    .modal-body {
        padding: 1.25rem 1.875rem 1.875rem;
        max-height: 28.125rem;
        overflow-y: auto;

        @include media-breakpoint-down(sm) {
            padding: 0 0 0.9375rem;
        }
    }

    .product-image-carousel {
        .social-container {
            display: none;
        }

        .product-images {
            img {
                display: none !important;

                &:first-child {
                    display: block !important;
                }
            }
        }
    }

    .product-thumbnails {
        display: none !important;
    }

    .bonus-products-add-to-cart-row {
        text-align: center;
    }

    .add-bonus-products {
        width: 100%;
    }

    .swatch-circle {
        margin-bottom: 0.625rem;
    }

    a[disabled] .swatch-circle {
        cursor: not-allowed;

        &.color-value.selected::after {
            background-color: $gray-700;
        }
    }

    .availablity-container {
        text-align: right;
    }

    .modal-footer {
        padding: 1.875rem 2.5rem;
        background-color: $white;
        border: none;
        border-bottom-right-radius: 0.1875rem;
        border-bottom-left-radius: 0.1875rem;
        border-top: 0.0625rem solid $grey3;

        @include media-breakpoint-down(lg) {
            padding: 1.25rem;

            .selected-bonus-products {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin-bottom: 10px;

                .bonus-summary {
                    margin: 0;
                }

                .selected-pid {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    .prices .sales {
        font-size: 1.5rem;
    }

    .promotions {
        text-align: left;
        color: $red;
    }

    .bonus-summary {
        font-size: fz(h4);
        font-weight: $font-weight-bold;
        margin-top: 0.375rem;

        &.alert-danger {
            background-color: transparent;
            border-color: transparent;
            color: $secondary;
        }

        .bonus-product-name {
            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
    }

    .pre-cart-products {
        margin-right: 0.625rem;
    }

    .bonus-product-name {
        font-weight: $font-weight-bold;
    }
}
