input[placeholder] {
    text-overflow: ellipsis;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.link {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    font-size: $font-size--2;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
}

.v-scrollbar-shadow {
    background-color: $grey2;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1rem;
    z-index: 1030;

    /* rtl:ignore */
    right: 0;
}

.v-center {
    display: flex;
    align-items: center;
}

.half-gutter {
    margin-left: $grid-gutter-width / -4;
    margin-right: $grid-gutter-width / -4;

    [class^="col-"] {
        padding-left: $grid-gutter-width / 4;
        padding-right: $grid-gutter-width / 4;
    }
}

.js-sticky-sidebar-inner {
    @include media-breakpoint-down(sm) {
        transform: none !important;
        position: static !important;
        width: auto !important;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-indent: -999rem;
    text-decoration: none;
    text-align: left;
    z-index: 1;
}

.vertical-separator {
    right: 0;
    border-right: 0.0625rem solid $border-color;
    bottom: 0;
    position: absolute;
    top: 0;
}

.separator {
    position: relative;

    &::after {
        content: '';
        border-bottom: 0.0625rem solid $border-color;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50%;
    }
}
