.radio-button-link,
.checkbox-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    font-size: $font-size--2;

    > i {
        border: 0.0625rem solid $primary;
        position: relative;
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
        margin-right: 0.75rem;

        &::after {
            content: '';
            background-color: $primary;
            position: absolute;
            top: 0.125rem;
            left: 0.125rem;
            right: 0.125rem;
            bottom: 0.125rem;
            display: none;
        }
    }

    > span,
    > div {
        display: flex;

        > span {
            margin-right: 0.25rem;
        }
    }

    &.active > i,
    &.selected > i {
        border-color: $primary;

        &::after {
            display: block;
        }
    }
}

.radio-button-link {
    > i,
    > i::after {
        border-radius: 100%;
    }
}

.phone-country-code-selector,
.phone-number-container input {
    text-align: left;
}

.phone-country-code-selector {
    .dropdown-toggle,
    .dropdown-item {
        /* rtl:ignore */
        direction: ltr;
    }
}
