.mobile-navbar-open {
    @include media-breakpoint-down(lg) {
        overflow: hidden !important;
        position: fixed;
        width: 100%;
    }
}

.header {
    background-color: $white;
    border-bottom: 0.0625rem solid transparent;

    &.mobile-search-sliding {
        border-bottom: 0.1875rem solid $secondary !important;
    }

    &.navbar-visible {
        @include media-breakpoint-down(lg) {
            .navbar-toggle-search-btn,
            .navbar-header-menu-item,
            .navbar-toggler .icon-hamburger-menu,
            .minicart {
                opacity: 0;
            }

            .navbar-toggler .icon-cross {
                opacity: 1;
            }
        }
    }
}

.header-top-border {
    border-top: 0.3125rem solid $primary;
    width: 100%;

    @include media-breakpoint-up(xl) {
        border-top-width: 0.4375rem;
    }
}

.header-top {
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 0 0.35rem 0.8rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 0.95rem;
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: 0;
    }

    .navbar-toggler,
    .navbar-toggle-search-btn,
    .navbar-header-contact-us,
    .minicart {
        @include ipad() {
            display: block !important;
        }
    }
}

.language-selector {
    .btn-link {
        text-transform: none;
    }
}

.navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;

    .user,
    .minicart,
    .navbar-header-menu-item {
        display: inline-block;
        position: relative;
        max-width: 5.5rem;
        margin-top: 0.9rem;
        padding: 0;
        width: 46.5%;
        text-align: center;

        @include media-breakpoint-up(xl) {
            padding: 0 1.5rem 0 0.65rem;
            margin-top: 0.4rem;
            text-align: left;
            width: auto;
        }

        i::before {
            font-size: $font-size-10;

            @include media-breakpoint-up(xl) {
                font-size: $font-size-2;
            }
        }
    }

    .user,
    .minicart,
    .navbar-toggler,
    .navbar-header-menu-item {
        @include media-breakpoint-up(xl) {
            line-height: 2.25em;
            height: auto;
        }
    }

    .navbar-toggler,
    .navbar-toggle-search-btn {
        padding: 0;
        width: 46.5%;
        max-width: 5.5rem;
    }

    .navbar-toggler {
        font-size: $font-size-16;
        font-weight: $font-weight-semi-bold;
        position: relative;
        top: -0.1rem;
        left: 0.4rem;

        .icon-cross {
            opacity: 0;

            &::before,
            &::after {
                margin: 1.25rem 0 0 -1.5rem;
                height: 0.1625rem;
            }
        }

        .icon-hamburger-menu {
            position: relative;
            top: 0.125rem;
        }
    }

    .navbar-toggle-search-btn {
        i::before {
            font-size: $font-size-10;
        }
    }

    .navbar-toggle-search-btn,
    .navbar-header-menu-item,
    .navbar-toggler > span,
    .minicart {
        transition: opacity $animation-duration;
    }

    .user {
        .popover {
            position: absolute;
            display: none;
            padding: 1em;
            top: 85%;
            left: 0;

            a {
                white-space: nowrap;
                margin-bottom: 0.5em;
            }

            &::before {
                left: 1.5rem;
            }

            &::after {
                left: 1.5rem;
            }

            &.show {
                display: block;
            }
        }
    }

    .minicart {
        @include media-breakpoint-up(xl) {
            top: -0.1875rem;
        }
    }
}

.brand {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;

    img {
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        width: 14.125em; /* 226/16 */
        margin-left: -7.0625em; /* 113/16 */
        padding-top: 0.5em;
    }

    @include media-breakpoint-down(md) {
        width: 4em; /* 64/16 */
        margin-left: -2em;
        padding-top: 0.8em;
    }
}

[data-action='Login-Show'] {
    .navbar-header {
        .guest {
            display: none;
        }
    }
}

.header-top-left,
.header-top-right {
    display: flex;
    align-items: top;
    flex: 0.3 0 0;
}

.header-top-left {
    justify-content: flex-start;
    margin-top: 0.9rem;

    @include media-breakpoint-up(xl) {
        margin-top: 0.1rem;
    }

    .country-selector {
        .rounded-flag-icon {
            -webkit-mask-image: -webkit-radial-gradient($white, $black);
            line-height: 0;
            border-radius: 100%;
            display: inline-block;
            overflow: hidden;
            margin-right: 0.7rem;
            height: 1rem;
            width: 1rem;
        }

        .flag-icon {
            font-size: $font-size-2;
            margin-left: -0.15rem;
        }

        .country-code {
            font-size: $font-size--3;
            font-weight: $font-weight-medium;
            position: relative;
            top: 0.0625rem;
        }

        > .btn {
            border-radius: 0;
            display: flex;
            align-items: center;
            padding: 0.375rem 1.15rem;
            position: relative;

            &::before {
                content: '';
                border-right: 0.0625rem solid $secondary;
                position: absolute;
                bottom: 0.5rem;
                right: -0.0625rem;
                top: 0.5rem;
            }

            &::after {
                margin-left: 0.5rem;
            }
        }

        .dropdown-item {
            display: flex;
            align-content: center;
            padding: 0.5rem 1.15rem 0.5rem 1.275rem;

            .country-code {
                top: 0.125rem;
            }
        }

        .dropdown-menu {
            border-color: $dove-gray;
            border-radius: 0;
            margin: 0;
            padding: 0;
            min-width: 6.6375rem #{"/*rtl:7.2rem*/"};

            /* rtl:ignore */
            left: -0.0625rem #{"/*rtl:-0.1rem*/"};
        }
    }

    .language-selector {
        > .btn {
            border-radius: 0;
            padding: 0.45rem 1.35rem;
            position: relative;
            font-size: $font-size--3;

            &::before {
                content: '';
                border-right: 0.0625rem solid $secondary;
                position: absolute;
                bottom: 0.5rem;
                right: -0.0625rem;
                top: 0.5rem;
            }

            &::after {
                margin-left: 0.5rem;
            }
        }

        .dropdown-item {
            padding: 0.5rem 1.25rem;
        }

        .dropdown-menu {
            border-color: $secondary;
            border-radius: 0;
            margin: 0;
            padding: 0;
            min-width: 2rem;
        }
    }

    .search {
        margin-left: 1.2rem;
        max-width: 8.6rem;
    }
}

.header-top-right {
    justify-content: flex-end;
}

.header-top-center {
    text-align: center;
    transition: margin-top $animation-duration;
    flex: 0.4 0 0;
    margin: 0.75rem auto 0;

    @include media-breakpoint-up(xl) {
        margin-top: 1rem;
    }

    &:first-child {
        margin-top: 0.8rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0.95rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 8.125rem;

        @include media-breakpoint-up(md) {
            max-width: 8.5rem;
        }

        @include media-breakpoint-up(xl) {
            width: 12.5rem;
            max-width: 12.5rem;
            min-height: 2.69125rem;
            transition: width $animation-duration;
        }
    }
}

.header-banner {
    background-color: $primary;
    color: $tertiary;
    font-size: $font-size--1;
    font-weight: $font-weight-semi-bold;
    padding: 0.725rem 0 0.525rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        padding: 0.55rem 0 0.4rem;
    }

    .close-button {
        display: none;
    }
}

.minicart {
    margin-top: 0.1875em; /* 3/16 */
    vertical-align: top;
    position: relative;

    .minicart-icon {
        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
        }
    }

    a.minicart-link {
        &:hover {
            text-decoration: none;
        }
    }

    .minicart-quantity {
        background-color: $primary;
        border: 0.0625rem solid $tertiary;
        border-radius: 50%;
        color: $tertiary;
        display: inline-block;
        font-size: $font-size--1;
        line-height: 1.2;
        text-align: center;
        position: absolute;
        width: 1.125rem;
        height: 1.125rem;
        top: -0.388rem;
        left: calc(50%);

        @include media-breakpoint-up(xl) {
            top: 0.112rem;
            left: calc(50% - 0.4rem);
        }
    }

    .popover {
        right: 0.938rem !important;
        border-radius: 0;
        min-width: 18.563rem !important;
        width: 18.563rem;
        top: 100%;
        left: auto;
        border: none;

        &.show {
            min-height: 10rem;
            border: 0.0625rem solid $grey3;
        }
    }
}

.miniCart-dropdown {
    padding: 0 0.938rem 0.938rem !important;
    margin: 0;
    max-height: 31.25rem;

    .miniCart-items {
        max-height: 17.875rem;
        overflow-y: auto;

        .card-body {
            padding: 0.55rem;
        }

        .line-item-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
        }

        .line-item-name {
            font-size: $font-size--4;
        }

        .remove-line-item button {
            border: none;
            background: none;
            padding: 0 0.75rem;
            line-height: 1;
            margin-top: -0.5rem;
            margin-right: -0.5rem;
        }

        .item-image img {
            width: 3.5rem;
            margin-right: 0.5rem;
        }

        .item-attributes {
            font-size: $font-size--5;

            .line-item-attributes {
                margin: 0;
            }
        }

        .line-item-unit-price .price,
        .line-item-total-price .price {
            font-size: $font-size--5;
        }
    }
}

.miniCart-item {
    display: flex;
    border-bottom: 0.0625rem solid $grey3;
    padding: 0.625rem 0;
    font-size: $font-size--3;
    position: relative;

    .miniCart-item-image {
        img {
            width: 3.5rem;
        }
    }

    h2,
    .line-item-name {
        font-family: $font-family-base;
        font-size: $font-size--3;
        font-weight: $font-weight-light;
        line-height: 1.6;
        margin: 0;

        a:hover {
            text-decoration: none;
        }
    }

    .miniCart-item-description {
        padding: 0 0.313rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0;
        }
    }

    .miniCart-item-name {
        padding-right: 0.75rem;
        margin-bottom: 0.5rem;
    }

    .miniCart-item-details {
        font-family: $font-family-base;
        color: $secondary;
        padding-bottom: 0.525rem;
        display: flex;
        flex-wrap: wrap;

        span {
            position: relative;
            font-weight: $font-weight-medium;
        }

        span:not(:last-child) {
            margin-right: 1.188rem;

            &::after {
                content: '';
                position: absolute;
                right: -0.594rem;
                border-right: 0.0625rem solid $secondary;
                top: 0;
                height: 100%;
            }
        }
    }

    .miniCart-item-price {
        font-family: $font-family-secondary;
        font-weight: $font-weight-extra-bold;
        padding-bottom: 0.125rem;

        .cart-product-price-discounted {
            font-size: $font-size--3;
            font-weight: $font-weight-extra-bold;
            padding-top: 0 !important;
        }

        .cart-product-price-main {
            font-size: $font-size--5;
            font-weight: $font-weight-medium;
        }
    }

    .line-item-attributes {
        font-size: $font-size--3;
        font-weight: $font-weight-medium;
    }
}

.miniCart-title {
    font-size: $font-size--2;
    font-weight: $font-weight-semi-bold;
}

.miniCart-cart-link {
    font-size: $font-size--5;
}

.minicart-footer .estimated-total {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    p {
        margin: 0;
    }
}

.added-product-notification {
    background-color: $white;
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    display: none;
    padding: 1rem 0.25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 1;

    .miniCart-item-multiple-product-images {
        img {
            max-width: 7.5rem;
        }
    }

    @include media-breakpoint-down(lg) {
        &.miniCart-multiple-products {
            .miniCart-item {
                width: 52%;

                .miniCart-item-multiple-products-text {
                    display: none;
                }
            }

            .miniCart-item-multiple-product-images {
                img {
                    width: 23%;
                }

                .icon-plus {
                    &::before,
                    &::after {
                        width: 0.875rem;
                    }
                }
            }

            .miniCart-item-total {
                display: flex;
                justify-content: center;

                .miniCart-checkout {
                    display: none;
                }

                .miniCart-item-multiple-products-text {
                    font-size: $font-size-6;
                    font-weight: $font-weight-medium;
                    display: block;
                    margin-bottom: 1rem;
                    padding-left: 2rem;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            .miniCart-item-subtotal-label {
                font-size: $font-size-5;
                font-weight: $font-weight-medium;

                .miniCart-item-vat {
                    font-size: $font-size--4;
                    font-weight: $font-weight-normal;
                }
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-7;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.miniCart-multiple-products {
            .miniCart-item-container {
                flex-direction: column;
            }

            .miniCart-item {
                width: 100%;
            }

            .miniCart-item-multiple-products {
                width: 100%;
                text-align: center;
            }

            .miniCart-item-total {
                width: 100%;
                flex-direction: row;

                .miniCart-item-multiple-products-text {
                    width: 50%;
                    font-size: $font-size--1;
                    margin-bottom: 0;
                    padding-left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .miniCart-item-subtotal {
                width: 50%;
            }

            .miniCart-item-subtotal-label {
                display: none;
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-2;
                width: 100%;
                text-align: center;

                .miniCart-item-vat {
                    font-weight: $font-weight-light;
                }
            }
        }
    }

    .miniCart-item-container {
        display: flex;
        position: relative;
        margin-bottom: 0;
        width: 100%;
    }

    .miniCart-item-remove {
        position: absolute;
        right: 1rem;
        top: -0.6rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;
        border: none;
        background: transparent;
        cursor: pointer;

        i::before,
        i::after {
            width: 1.441rem;
        }
    }

    .miniCart-added-message {
        position: absolute;
        left: 0;
        top: 0;
        font-size: $font-size--1;
        text-transform: uppercase;
    }

    .miniCart-item {
        border: none;
        position: relative;
        padding: 1.875rem 0 0.875rem;
        width: 100%;
    }

    .miniCart-item-description {
        position: relative;
        padding-top: 0.813rem;
    }

    .miniCart-item-badge {
        font-size: $font-size--5;
        font-weight: $font-weight-semi-bold;
        position: absolute;
        top: 0;
        text-transform: uppercase;
    }

    .miniCart-item-name {
        margin-bottom: 0.5rem;

        h2 {
            font-size: $font-size-2;
            text-transform: none;
        }
    }

    .miniCart-item-price {
        font-size: $font-size-2;
        padding: 0;

        .cart-product-price-discounted {
            font-size: $font-size-2;
        }

        .cart-product-price-main {
            font-size: $font-size-base;
        }
    }

    .miniCart-item-list-price {
        color: $grey4;
        font-size: $font-size--1;
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        text-decoration: line-through;
    }

    .miniCart-item-vat {
        font-size: $font-size--4;
        font-family: $font-family-base;
    }

    .miniCart-item-total {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;

        .miniCart-item-multiple-products-text {
            display: none;
        }
    }

    .miniCart-item-image {
        a {
            display: block;
        }

        img {
            width: 6.875rem;
        }
    }

    .miniCart-item-multiple-product-images {
        .icon-plus {
            margin: 0.25rem;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .miniCart-item-multiple-products-text {
        font-size: $font-size-7;
        font-weight: $font-weight-light;
        text-align: center;
    }

    .miniCart-item-subtotal {
        display: flex;
        align-items: center;
    }

    .miniCart-item-subtotal-label {
        font-size: $font-size-14;
        font-weight: $font-weight-medium;
        width: 50%;
        text-align: center;
        text-transform: uppercase;

        .miniCart-item-vat {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            position: static;
            text-transform: none;
        }
    }

    .miniCart-item-subtotal-value {
        font-size: $font-size-16;
        font-weight: $font-weight-extra-bold;
        font-family: $font-family-secondary;
        width: 50%;
        text-align: center;
    }

    .miniCart-checkout {
        display: flex;
        flex-direction: row;
        padding-top: 0.938rem;
        justify-content: space-between;

        a,
        button {
            font-size: $font-size--3;
            width: 48%;
            padding: 0.575rem 0.75rem 0.45rem;
        }
    }
}

@include media-breakpoint-up(md) {
    .added-product-notification {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        .miniCart-checkout {
            a,
            button {
                font-size: $font-size-1;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .added-product-notification {
        padding: 1.875rem 0 2.5rem;

        .miniCart-item-container {
            padding-left: 0;
            padding-right: 0;
        }

        .miniCart-item {
            position: relative;
            padding-top: 2.875rem;
            padding-right: 1.625rem;
            width: 50%;

            &::after {
                content: '';
                border-right: 0.0625rem solid $grey3;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        .miniCart-item-remove {
            right: 0;
        }

        .miniCart-added-message {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            left: 0;
        }

        .miniCart-item-image img {
            width: 7.5rem;
        }

        .miniCart-item-description {
            padding: 0 2.125rem;
        }

        .miniCart-item-badge {
            position: static;
        }

        .miniCart-item-name {
            padding-right: 0;
            margin-bottom: 0.25rem;

            h2 {
                font-size: $font-size-7;
                font-weight: $font-weight-medium;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        .miniCart-item-details {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            padding-bottom: 0;
        }

        .miniCart-item-price {
            font-size: $font-size-7;
            font-weight: $font-weight-extra-bold;

            .cart-product-price-discounted {
                font-size: $font-size-7;
            }

            .cart-product-price-main {
                font-size: $font-size-4;
            }
        }

        .miniCart-item-list-price {
            font-size: $font-size-4;
            font-weight: $font-weight-semi-bold;
        }

        .miniCart-item-total {
            display: flex;
            padding-left: 1.625rem;
        }

        .miniCart-checkout {
            justify-content: space-between;
            padding-top: 1.85rem;

            .btn {
                font-size: $font-size-base;
            }
        }
    }
}

.added-product-notification-backdrop {
    position: absolute;
    display: none;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($alto, 0.72);
    z-index: -1;
    top: auto;
    cursor: pointer;
}

a.normal {
    color: $primary;
    text-decoration: underline;
}

.slide-up {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    max-height: 6.25rem;
    overflow: hidden;

    &.hide {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

.sticked {
    &.header {
        border-bottom-color: $grey3;
    }

    @include media-breakpoint-up(xl) {
        .header-top-center {
            &:not(:first-child) {
                margin-top: 0;
            }

            img {
                width: 8.4375rem;
                min-height: 1.81625rem;
            }
        }

        .header-top-left {
            .search {
                margin-left: 0.8rem;
            }

            .country-selector,
            .language-selector {
                > .btn {
                    padding: 0.45rem 0.75rem;

                    &::before,
                    &::after {
                        display: none;
                    }

                    .country-code {
                        display: none;
                    }
                }

                .dropdown-menu {
                    min-width: 2rem;
                }

                .dropdown-item {
                    padding-left: 0.85rem;
                }
            }

            .language-selector {
                > .btn {
                    line-height: 1.8;
                }
            }

            .search {
                margin-left: 0;
            }
        }
    }
}

.header-logo-only {
    .header-top {
        padding-bottom: 0;
    }

    .header-top-center {
        margin: 0 auto;

        img {
            @include media-breakpoint-up(lg) {
                max-width: 12.5rem;
            }
        }
    }

    .navbar-header {
        padding: 0.8125rem 0;
    }
}
