@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.modal-backdrop {
    z-index: 9 !important;
}

.popup-container {
    .modal {
        padding: 0 !important;

        .modal-dialog {
            max-width: 49.375rem;

            .modal-content {
                background: none !important;

                .modal-body {
                    padding: 0 !important;

                    img {
                        width: 100%;
                    }
                }

                .close {
                    top: 1.7rem;

                    @include media-breakpoint-down(md) {
                        right: 0.5rem;

                        &::before {
                            background: $white;
                        }

                        &::after {
                            background: $white;
                        }
                    }
                }
            }

            @include media-breakpoint-down(md) {
                max-width: 20rem;
                margin: 0 auto;
            }
        }
    }
}
