@import '../variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "../api/all";

.order-detail-section {
    @include media-breakpoint-up(sm) {
        padding: 1.5rem 0;
        border-bottom: 0.0625rem solid $tertiary;

        &:last-of-type {
            border-bottom: none;
        }
    }

    .confirmation-items {
        .confirmation-item {
            .confirmation-item-description {
                .confirmation-item-quantity {
                    display: flex;
                    font-size: fz(body-sm);

                    @include media-breakpoint-down(lg) {
                        flex: 1 0 100%;
                        max-width: 100%;
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: fz(body);
                    }

                    .confirmation-item-attribute-title {
                        font-weight: $font-weight-normal;
                        margin-bottom: 0;

                        &::after {
                            content: ':';
                        }

                        @include media-breakpoint-up(xl) {
                            font-size: fz(body);
                        }
                    }

                    .confirmation-item-attribute-value {
                        font-weight: $font-weight-normal;
                        margin-left: 0.3125rem;
                        margin-top: -0.0625rem;
                    }
                }

                .confirmation-item-color {
                    font-size: fz(body-sm);

                    @include media-breakpoint-down(lg) {
                        flex: 1 0 100%;
                        max-width: 100%;
                    }

                    @include media-breakpoint-up(md) {
                        display: flex;
                        font-size: fz(body);
                    }

                    .confirmation-item-attribute-group {
                        display: flex;

                        @include media-breakpoint-up(md) {
                            padding: 0 1.25rem 0 0;
                            flex: 1 0 50%;
                        }
                    }

                    .confirmation-item-attribute-title {
                        font-size: fz(body-sm);
                        font-weight: $font-weight-normal;
                        margin-bottom: 0;

                        &::after {
                            content: ':';
                        }

                        @include media-breakpoint-up(xl) {
                            font-size: fz(body);
                        }
                    }

                    .confirmation-item-attribute-value {
                        font-weight: $font-weight-normal;
                        margin-left: 0.3125rem;
                    }
                }

                .confirmation-item-price {
                    text-align: right;
                    text-transform: uppercase;
                    color: $secondary;
                    margin-top: -1.4375rem;

                    @include media-breakpoint-up(xl) {
                        margin-top: 0;
                    }

                    .line-item-total-price-amount {
                        font-weight: $font-weight-medium;
                        font-size: fz(body-sm);

                        @include media-breakpoint-up(xl) {
                            font-size: fz(h4);
                            font-weight: $font-weight-normal;
                        }
                    }

                    .strike-through {
                        font-family: ff(secondary);
                        font-size: fz(p9);
                        color: $dove-gray;
                        text-decoration: line-through;
                    }
                }

                .cart-product-price-main {
                    display: none;
                }
            }
        }
    }
}

.track-order-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .btn-primary {
        font-size: fz(body);
        padding: 0.713rem 2.67rem 0.6rem;

        @include media-breakpoint-only(xs) {
            color: $secondary;
            border-color: $secondary;
            background-color: transparent;

            &:active {
                color: $white !important;
                background-color: $secondary !important;
                border-color: $secondary !important;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba($secondary, 0.5) !important;
            }
        }

        @include media-breakpoint-down(xl) {
            width: 100%;
            margin-top: 1rem;
        }
    }
}

.seperator-mobile {
    width: 100%;
    height: 0.0625rem;
    border-bottom: 0.0625rem solid $tertiary;
    margin: 1.5rem 0;
}

.order-detail-item {
    display: flex;
    padding-bottom: 0.125rem;

    span {
        &:first-child {
            font-weight: $font-weight-medium;
            padding-right: 0.3125rem;
            position: relative;

            @include media-breakpoint-down(lg) {
                min-width: 38%;
            }

            @include media-breakpoint-only(xs) {
                min-width: 50%;
            }

            &::after {
                content: ':';
            }
        }
    }
}

.payment-shipping-details {
    .order-detail-item {
        span {
            &:first-child {
                @include media-breakpoint-down(lg) {
                    min-width: 68%;
                }

                @include media-breakpoint-only(xs) {
                    min-width: 50%;
                }
            }
        }
    }
}

.order-detail-section-header {
    font-weight: $font-weight-medium;
    padding-bottom: 1.25rem;

    @include media-breakpoint-down(sm) {
        border-top: 0.0625rem solid $tertiary;
        padding-top: 1.25rem;
        margin-top: 1.25rem;
    }
}

.is-discount {
    color: $japaneseLaurel;
}

.vat-label {
    position: absolute !important;
    font-size: fz(p9);
    font-weight: $font-weight-normal !important;
    left: 0;
    bottom: -0.75rem;
}

.order-payment-info {
    margin-top: 1.4375rem;
    display: flex;
    align-items: center;
}

.order-summary-item {
    line-height: 1.67;

    .address1,
    .address2,
    .city,
    .stateCode {
        font-weight: $font-weight-normal;
    }
}

.confirmation-items-header {
    font-size: fz(p15);
    font-weight: $font-weight-medium;
    padding-bottom: 0.875rem;
    padding-top: 1.5rem;
}

.confirmation-items {
    .confirmation-item:last-child {
        .confirmation-item-devider {
            display: none;
        }
    }
}

.confirmation-item-devider {
    margin: 0.9375rem 0;

    @include media-breakpoint-up(xl) {
        margin: 1.25rem 0;
    }
}

.confirmation-item-image {
    padding-right: 0.9375rem;

    @include media-breakpoint-up(md) {
        padding-right: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 0.925rem;
    }

    .product-image {
        width: 4.375rem;

        @include media-breakpoint-up(xl) {
            width: 5rem;
        }
    }
}

.confirmation-item-description {
    width: 100%;
}

.confirmation-item-brand {
    font-weight: $font-weight-bold;
    line-height: $font-lh--5;

    @include media-breakpoint-down(lg) {
        padding-right: 1.5625rem;
    }
}

.confirmation-item-name {
    line-height: $font-lh--3;
    margin-bottom: 0.75rem;
}

.confirmation-item-attribute-title {
    font-size: fz(body-sm);
    font-weight: $font-weight-bold;
}

.confirmation-item-quantity {
    .confirmation-item-attribute-value {
        display: block;
        text-align: center;
        max-width: 3.75rem;
    }
}

.confirmation-item-price {
    font-size: fz(h4);
    font-weight: $font-weight-extra-bold;
    color: $secondary;
    line-height: $font-lh--4;

    @include media-breakpoint-up(md) {
        font-size: fz(h3);
        line-height: $font-lh--2;
    }

    .cart-bonus-product-no-price {
        font-size: fz(h3);
        font-weight: $font-weight-extra-bold;
        color: $secondary;
        line-height: $font-lh--2;
        text-transform: uppercase;
    }

    .cart-product-price-discounted {
        font-size: fz(h4);
        font-weight: $font-weight-extra-bold;
        color: $secondary;
        line-height: $font-lh--4;
    }

    .cart-product-price-main {
        &.strike-through,
        &.worth {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            line-height: $font-lh--3;
            color: $text-muted;
            margin: 0;
        }
    }
}

.confirmation-gift-items {
    padding: 0 0.1rem;

    .confirmation-gift-row {
        display: flex;
        position: relative;

        .confirmation-gift-description {
            width: calc(100% - 5rem);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            .confirmation-gift-name {
                width: 60%;
                position: relative;
                margin-left: 0.9375rem;
                font-size: fz(body-sm);
                text-transform: uppercase;

                @include media-breakpoint-up(xl) {
                    font-size: fz(body);
                    width: 13.875rem;
                }

                p {
                    margin-bottom: 0;
                }
            }

            .confirmation-gift-price {
                .confirmation-gift-span {
                    text-transform: uppercase;
                    font-weight: $font-weight-medium;

                    @include media-breakpoint-up(xl) {
                        font-size: fz(h4);
                        font-weight: $font-weight-normal;
                    }
                }
            }
        }
    }

    .confirmation-gift-personal {
        margin-top: 2rem;

        .confirmation-gift-header {
            font-weight: $font-weight-medium;
            font-size: fz(body);
            margin-bottom: 0.6rem;
        }

        .confirmation-gift-message {
            padding: 0.6rem;
            border: 0.0625rem solid $grey3;
            font-size: fz(body-xs);
            font-weight: $font-weight-light;
            word-break: break-word;
        }
    }

    img {
        max-width: 5rem;
        width: 100%;
        height: auto;
        padding: 0.2rem;
    }
}

.confirmation-gift-bonus {
    .strike-through {
        display: none;
    }
}

.shipping-method-wrapper {
    display: flex;
}
