.box-delta {
    border: 0.0625rem solid $grey3;
    font-size: $font-size--1;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    padding: 1rem 0;
    margin: 0 0 1.25rem;

    .form-control-label,
    .radio-button-link,
    .checkbox-link {
        font-size: $font-size--1;
        font-weight: $font-weight-normal !important;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }
}
