.btn-link {
    &:hover,
    &.hover,
    &:focus,
    &.focus {
        text-decoration: none;
    }
}

.btn {
    text-transform: uppercase;
    border-radius: 0;
    outline: none;
    font-family: ff(secondary);
    font-weight: $font-weight-normal;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    padding: 0.75rem 1.875rem;
    font-size: $font-size--4;
    transition: all 0.2s ease-in;
    height: 2.5rem;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
    */

    &:focus {
        box-shadow: none;
    }

    &.disabled,
    &[disabled] {
        background-color: $grey2;
        border-color: $grey2;
        color: $secondary;

        &:hover,
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus {
            background-color: $grey2;
            border-color: $grey2;
            cursor: not-allowed;
            color: $secondary;
            box-shadow: none;
        }
    }
}

.btn-small {
    height: 1.875rem;
    padding: 0.4375rem 1rem;
    font-size: $font-size--5;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
}

.btn-large {
    padding: 1rem;
    height: 3.125rem;
    font-size: $font-size--3;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
}

.btn-primary {
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        background-color: $primary-hover;
        border-color: $primary-hover;
        box-shadow: none;
    }
}

.btn-outline-primary,
.btn-outline-secondary {
    color: $primary;
    background-color: $white;
    border-color: $secondary;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        color: $primary;
        background-color: $white;
        border-color: $alto;
        box-shadow: none;
    }
}

.btn-secondary {
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        background-color: $secondary-hover;
        border-color: $secondary-hover;
        box-shadow: none;
    }
}

.btn-outline-secondary-white {
    color: $primary;
    background-color: $white;
    border-color: $white;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        color: $secondary;
        background-color: $white;
        border-color: $white;
        box-shadow: none;
    }
}

.btn-tertiary {
    font-size: $font-size--2;
    font-weight: $font-weight-normal;
    background-color: $tertiary;
    border-color: $tertiary-hover;
    color: $white;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        background-color: $tertiary;
        border-color: $tertiary-hover;
        color: $white;
        box-shadow: none;
        opacity: 0.8;
    }
}

.btn-static {
    font-size: $font-size--6;
    font-weight: $font-weight-heavy;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    background-color: $tory-navy;
    border-color: $tory-navy;
    color: $white;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        background-color: $tory-navy;
        border-color: $tory-navy;
        color: $white;
        box-shadow: none;
        opacity: 0.8;
    }
}

.btn-outline-tertiary {
    border-color: $tertiary;
    color: $tertiary;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        color: $tertiary;
        background-color: $white;
        border-color: $tertiary;
        box-shadow: none;
        opacity: 0.8;
    }
}

.btn-text {
    @include button-reset;

    font-size: $font-size--4;
    padding: 0.625rem 0;

    .btn-text-inner {
        opacity: 0.4;
    }
}

.btn-link {
    @include button-reset;
    @include underline;

    font-size: $font-size--4;
    padding: 0.625rem 0;
}
