.global-carousel {
    margin-bottom: 3.125rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 4.375rem;
    }

    .container-title {
        color: $primary;
        font-size: $font-size-2;
        font-family: ff(secondary);
        font-weight: $font-weight-semi-bold;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};

        @include media-breakpoint-up(md) {
            font-size: $font-size-8;
        }
    }

    .slick-slide {
        float: left;

        .product-tile {
            margin: 0 auto;
        }
    }

    .slick-track,
    .slick-list {
        direction: ltr;

        /* rtl:raw:
            direction: ltr;
        */
    }

    .slick-track {
        white-space: nowrap;

        .slick-slide {
            display: inline-block;
        }
    }

    .slick-arrow {
        opacity: 0;
        display: none;
        visibility: hidden;

        @include media-breakpoint-up(lg) {
            opacity: 1;
            display: block;
            visibility: visible;
        }

        &.slick-prev {
            @include icon($icon-arrow-left-md);

            left: auto rtl-ignore();

            @include media-breakpoint-up (lg) {
                left: -1.5625rem rtl-ignore();
            }
        }

        &.slick-next {
            @include icon($icon-arrow-right-md);

            right: auto rtl-ignore();

            @include media-breakpoint-up (lg) {
                right: -1.5625rem rtl-ignore();
            }
        }
    }

    .slick-dots {
        bottom: -1.6875rem;

        li {
            height: 0.375rem;
            width: 0.375rem;
            margin: 0 0.1875rem;

            button {
                height: 0.375rem;
                width: 0.375rem;
                padding: 0;
                margin: 0 auto;
                cursor: pointer;

                &::before {
                    border: 0.0625rem solid $grey10;
                    background: $grey10;
                    overflow: hidden;
                    margin: 0 auto;
                    width: 0.375rem;
                    height: 0.375rem;
                    border-radius: 100%;
                    position: relative;
                    font-size: 0;
                    display: block;
                    opacity: 1;
                }
            }

            &.slick-active {
                button {
                    &::before {
                        background: $grey11;
                        border-color: $grey11;
                    }
                }
            }
        }
    }

    .ITC-container {
        padding: 0 0.4375rem;

        @include media-breakpoint-up(xl) {
            padding: 0 0.3125rem;
        }

        .ITC-text-underneath {
            padding: 0;
            margin-top: 0.625rem;
            white-space: normal;
            font-size: $font-size--5;
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
            font-weight: $font-weight-light;
            font-family: ff(secondary);
        }
    }

    &.product-carousel {
        .container-title {
            position: relative;
            color: $brand;
            text-align: center;
            margin-bottom: 1.875rem;
            font-size: $font-size-2;
            font-weight: $font-weight-medium;
            font-family: ff(secondary);
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};

            @include media-breakpoint-up(lg) {
                font-size: $font-size-9;
            }
        }

        .ITC-container {
            padding: 0 0.8125rem;

            .ITC-text-underneath {
                padding: 0;
                margin-top: 0.625rem;
                white-space: normal;
                font-size: $font-size--5;
                letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
                font-weight: $font-weight-normal;
                font-family: ff(tertiary);

                p {
                    text-align: left;
                }
            }
        }
    }
}

.product-tile-image-carousel,
.swatches-carousel {
    .slick-arrow.slick-prev {
        @include icon($icon-arrow-left-md);
    }

    .slick-arrow.slick-next {
        @include icon($icon-arrow-right-md);
    }
}
