*:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: normal;
    font-family: ff(secondary);
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
}

::-moz-placeholder { /* Firefox 19+ */
    font-style: normal;
    font-family: ff(secondary);
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
}

:-ms-input-placeholder { /* IE 10+ */
    font-style: normal;
    font-family: ff(secondary);
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
}

body,
input,
textarea,
button,
select {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-body {
    &.open {
        overflow: hidden;
    }
}

body {
    overflow-x: hidden;
    font-size: $font-size--2;
    font-family: ff(tertiary);
    line-height: $line-height-base;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    color: $primary;

    /* rtl:raw:
        font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        letter-spacing: normal;
    */

    .page {
        background: $white;
    }

    .checkout-page {
        position: relative;
        min-height: 100vh;
    }

    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @include media-breakpoint-up(sm) {
            padding-left: 1.875rem;
            padding-right: 1.875rem;
        }

        @include media-breakpoint-up(xl) {
            padding-left: 2.8125rem;
            padding-right: 2.8125rem;
        }

        &.product-detail {
            margin-top: 0;
        }
    }

    &.homepage {
        .storepage {
            .container {
                &.landing-mosaic {
                    @include media-breakpoint-up(xl) {
                        padding-left: 12.5rem;
                        padding-right: 12.5rem;
                    }
                }

                &.landing-mosaic-small {
                    @include media-breakpoint-up(xl) {
                        padding-left: 8.1875rem;
                        padding-right: 8.1875rem;
                    }
                }

                &.landing-mosaic-carousel {
                    @include media-breakpoint-up(xl) {
                        padding-left: 2.8125rem;
                        padding-right: 2.8125rem;

                        > .row {
                            margin-right: -0.9375rem;
                            margin-left: -0.9375rem;
                        }
                    }
                }

                &.product-carousel {
                    @include media-breakpoint-up(xl) {
                        padding-left: 8.1875rem;
                        padding-right: 8.1875rem;
                    }
                }
            }

            .category-collection-wrapper {
                padding-left: 0;
                padding-right: 0;

                .category-collection {
                    padding-left: 0;
                    padding-right: 0;
                }

                .container {
                    &.landing-mosaic {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.text-number {
    /* rtl:raw:
        font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
    */
}

.hide-order-discount,
.hide-shipping-discount {
    display: none;
}

.shipping-item {
    &.free-shipping {
        + .shipping-discount {
            display: none;
        }
    }
}

.maincontent {
    padding-bottom: 1.875rem;

    @include media-breakpoint-up(lg) {
        padding-bottom: 5rem;
    }

    .breadcrumb-container {
        display: none;
    }

    .search-results-breadcrumbs {
        .breadcrumb-container {
            display: block;
        }
    }

    .hero {
        display: none;
    }
}

img {
    max-width: 100%;
}

button:focus {
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: $primary;
    transition: $animation-default;

    &:hover {
        color: $primary-hover;
        text-decoration: none;
    }
}

.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-indent: -999rem;
    text-decoration: none;
    text-align: left;
    z-index: map-get($zindex, zindex-base);
}

.container-title {
    color: $primary;
    font-size: $font-size-8;
    font-family: ff(secondary);
    font-weight: $font-weight-heavy;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    text-transform: uppercase;
    line-height: $line-height-base;
    margin-bottom: 1.25rem;
    text-align: center;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        font-weight: 400;
    */
}

.no-records-message {
    font-weight: $font-weight-medium;
    display: flex;
    min-height: 8.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: $font-size-5;
        min-height: 15rem;
    }

    > i {
        margin-bottom: 1.5rem;

        &::before {
            font-size: $font-size-21;
        }

        &.sc-icon-fav::before,
        &.sc-icon-payment-method::before {
            font-size: 3.6rem;
        }

        &.sc-icon-bag::before {
            font-size: 3.2rem;
        }
    }
}

.show-no-records {
    .no-records-container {
        display: block !important;
    }
}

.customer-care-secondary,
.customer-care-banner {
    background-image: url('../images/cc-bg.jpg');
    background-position: center top;
    background-repeat: repeat;
    background-color: $grey15;
}
