$footer-info-wrapper-background: #fb8902;
$footer-info-title-mobile-lh: 1.25;
$footer-info-title-lh: 1.12;
$footer-info-copy-ls: 0.026875rem;
$footer-signup-description-color: #6e6e6e;
$submit-btn-ls: 0.0625rem;
$footer-line-height-normal: normal;
$footer-line-height-1: 1.64;
$footer-line-height-2: 2;

.footer-top-menu {
    background: $white;
    position: relative;
    transform: translateZ(0);
    z-index: map-get($zindex, zindex-4);
}

.footer-support-wrapp {
    padding: 2.625rem 0 4.125rem;
}

.footer-support {
    .footer-support-title {
        margin: 0;
        padding: 0.625rem 0 0.6875rem;
        font-family: ff(secondary);
        font-weight: $font-weight-normal;
        border-left: none;
        border-right: none;
        font-size: $font-size--6 #{"/*rtl:14px*/"};
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: $line-height-7;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */

        @include media-breakpoint-up(lg) {
            color: rgba(108, 113, 122, 0.6);
            margin-bottom: 0.1875rem;
            text-transform: uppercase;
        }
    }

    .footer-support-link {
        display: inline-block;
        margin-bottom: 0.25rem;
        font-family: ff(tertiary);
        font-size: $font-size--3;
        opacity: 1;
        line-height: $footer-line-height-2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        */

        &:hover {
            opacity: 0.7;
        }
    }
}

.footer-menu-mob {
    padding: 1.875rem 0 1.8125rem;
}

.footer-info-container {
    padding: 0;
    bottom: 0;
    position: sticky;
    text-align: center;
    z-index: map-get($zindex, zindex-5);

    [data-action='Cart-Show'] & {
        display: none;
    }
}

.footer-info-wrapper {
    background-color: $footer-info-wrapper-background;
    padding: 0;
}

.tory-burch-foundation-link {
    display: block;
    padding: 5rem 0 5.1875rem;
    color: $white;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    /* rtl:raw:
        padding-bottom: 4.75rem;
    */

    @include media-breakpoint-down(xs) {
        padding: 3.75rem 0 3.4375rem;

        /* rtl:raw:
            padding-bottom: 3.25rem;
        */
    }

    &:hover {
        color: $white;
    }

    &:active,
    &:focus {
        color: $white;
    }

    .footer-logo {
        height: 5rem;
        margin-bottom: 1.375rem #{"/*rtl:1.3125rem*/"};
        width: 5rem;

        @include media-breakpoint-down(xs) {
            height: 4.125rem;
            margin-bottom: 0.875rem;
            width: 4.125rem;
        }
    }

    .footer-info-title {
        letter-spacing: normal;
        font-family: ff(fourthly);
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        line-height: $footer-info-title-mobile-lh;
        margin-bottom: 1.3125rem #{"/*rtl:1.1875rem*/"};

        @include media-breakpoint-up(lg) {
            font-size: $font-size-2;
            line-height: $footer-info-title-lh;

            /* rtl:raw:
                font-size: 1.0625rem;
                letter-spacing: 0.07438rem;
            */
        }

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            letter-spacing: normal;
        */

        @include media-breakpoint-down(xs) {
            margin-bottom: 0.8125rem #{"/*rtl:0.9375rem*/"};
        }
    }

    .footer-info-copy {
        display: inline-block;
        text-align: center;
        font-size: $font-size--4;
        line-height: $footer-line-height-2;
        letter-spacing: $footer-info-copy-ls #{"/*rtl:normal*/"};
        font-weight: $font-weight-normal;
        margin-bottom: 1.25rem;
        font-family: $font-family-tertiary;

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            font-size: 0.875rem;
            line-height: 1.71;
            margin-bottom: 1.1875rem;
        */

        @include media-breakpoint-down(xs) {
            max-width: 20.9375rem;
            margin-bottom: 1.875rem #{"/*rtl:2.125rem*/"};

            .footer-info-break-line {
                display: none #{"/*rtl:block*/"};
            }
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size--3;
            line-height: $line-height-16;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

            /* rtl:raw:
                font-size: 0.8125rem;
            */
        }
    }

    .footer-hashtag {
        font-weight: $font-weight-normal;
        font-size: $font-size--3;
        font-family: ff(tertiary, 'bold');
        line-height: $line-height-17;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */

        @include media-breakpoint-up(lg) {
            /* rtl:raw:
                line-height: 1.85;
                letter-spacing: normal;
                font-weight: normal;
            */
        }
    }
}

.footer-bottom-info {
    padding-top: 1.1875rem;
    padding-bottom: 1.1875rem;

    @include media-breakpoint-down(xs) {
        padding-bottom: 2.0625rem;
    }

    .footer-bottom-wrapper {
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    .copyright-block {
        order: 1;

        @include media-breakpoint-up(lg) {
            order: 0;
        }
    }

    .statik-page-block {
        order: 0;
        padding: 0;
        margin-bottom: 1.875rem;

        @include media-breakpoint-up(lg) {
            order: 1;
            margin-bottom: 0;
        }
    }

    .privacy-block {
        display: flex;
        justify-content: space-around;

        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            margin: -0.1875rem 0 0;
        }

        .privacy-block-item {
            margin-right: 0.3125rem;

            @include media-breakpoint-up(lg) {
                margin-right: 1.875rem;

                /* rtl:raw:
                    margin-left: 1.875rem;
                    margin-right: 0;
                */

                &:last-child {
                    margin-right: 0;

                    /* rtl:raw:
                        margin-left: 0;
                    */
                }
            }

            .privacy-block-link {
                font-family: $font-family-tertiary #{'/*rtl:"GESSTwoLight-Light", Arial, Sans-serif*/'};
                font-size: $font-size--5;
                font-weight: $font-weight-normal;
                letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
                line-height: $footer-line-height-normal;
                margin-right: 0.3125rem;
                color: $secondary;

                /* rtl:raw:
                    margin-left: 0.3125rem;
                    margin-right: 0;
                */

                &:hover {
                    color: $primary;
                }

                @include media-breakpoint-up(lg) {
                    font-size: $font-size--5;
                    line-height: $footer-line-height-1;
                    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
                }
            }
        }
    }

    .footer-copyright {
        color: $secondary;
        font-family: $font-family-tertiary #{'/*rtl:"NHaasGroteskTXPro", Arial, Sans-serif*/'};
        font-size: $font-size--5;
        line-height: $footer-line-height-normal;
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        text-align: center;

        /* rtl:raw:
            direction: ltr;
        */

        @include media-breakpoint-up(lg) {
            line-height: $footer-line-height-1;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
            text-align: left;

            /* rtl:raw:
                text-align: right;
            */
        }
    }
}

.follow-accordion {
    border: 0.0625rem solid $brand-light;
    border-right: none;
    border-left: none;

    /* rtl:raw:
        text-align: right;
    */
}

.follow-card {
    border: none;
    margin: 0;
    border-radius: 0;

    .card-header {
        border: none;
        padding: 0;
    }

    .follow-title {
        color: $primary;
        padding: 0;
        margin: 0;
        font-weight: $font-weight-normal;
        text-transform: none;
        font-size: $font-size--3;
        line-height: $line-height-2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        width: 100%;
        text-align: left;
        position: relative;
        height: 3.0625rem;
        text-decoration: none;

        /* rtl:raw:
            text-align: right;
        */

        .toggler {
            position: absolute;
            right: 0;
            top: 0;
            height: 3.125rem;

            /* rtl:raw:
                text-align: right;
                left: 0;
                right: unset;
            */

            &::after,
            &::before {
                content: '';
                width: 0.5rem;
                height: 0.0625rem;
                position: absolute;
                right: 0.9375rem;
                top: 50%;
                background-color: $primary;

                /* rtl:raw:
                    left: 0.9375rem;
                    right: unset;
                */
            }

            &::after {
                transform: rotate(90deg);
                display: none;
            }
        }
    }

    .follow-title.collapsed {
        .toggler {
            &::after {
                transform: rotate(90deg);
                display: block;
            }
        }
    }

    .social-list {
        padding: 0;
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        a {
            margin-bottom: 0.5rem;
            display: inline-block;
        }
    }
}

.footer-simple {
    background-color: $brand-light;
    padding-bottom: 1.25rem;

    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.mini-footer-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 1.25rem 0.9375rem;
    color: $secondary;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: center;
    }

    .lock-icon-mob {
        background-image: url('../images/icons/icon-lock-mob.svg');
        width: 1.625rem;
        height: 2.1875rem;
        background-size: cover;
        margin-bottom: 1.4375rem;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .lock-icon {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            background-image: url('../images/icons/icon-lock.svg');
            width: 0.625rem;
            height: 1rem;
            margin-right: 1.375rem;
        }
    }

    .privacy-msg {
        font-size: $font-size--1;
        margin: 0;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: $line-height-7;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        font-family: ff(tertiary);
    }

    .privacy-statement-link {
        text-decoration: underline;
        color: $secondary;

        &:hover {
            opacity: 0.7;
        }

        @include media-breakpoint-up(lg) {
            margin-left: 1.125rem;
        }
    }
}

.email-signup-wrapper {
    z-index: map-get($zindex, zindex-4);
    position: relative;
    background-color: $brand-light;
    padding: 2.8125rem 0 2rem;

    @include media-breakpoint-up(lg) {
        padding: 3.75rem 0 1.875rem;
    }

    [data-action='Cart-Show'] & {
        display: none;
    }

    .signup-top-block {
        text-align: center;
        margin-bottom: 1.8125rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 3.3125rem;
        }
    }

    .footer-signup-title {
        color: $primary;
        margin: 0.5rem 0 0.1875rem;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: $footer-line-height-normal;
        font-family: ff(secondary) #{'/*rtl:"GESSTwoBold-Bold", Arial, Sans-serif*/'};

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }
    }

    .footer-signup-description {
        color: $footer-signup-description-color;
        font-family: $font-family-tertiary #{'/*rtl:"GESSTwoLight-Light", Arial, Sans-serif*/'};
        font-size: $font-size--3;
        line-height: $footer-line-height-2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin: 0;

        @include media-breakpoint-up(lg) {
            color: $secondary;
            font-size: $font-size--3;
        }
    }

    .footer-input-block {
        position: relative;
    }

    .form-control {
        border-color: $lighter-gray;
        font-size: $font-size--3;
        font-family: ff(tertiary, 'bold');
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        &:focus:not(:placeholder-shown) {
            font-size: $font-size--3;
        }

        + .form-control-label {
            font-family: $font-family-tertiary #{'/*rtl:"GESSTwoLight-Light", Arial, Sans-serif*/'};
            font-size: $font-size--3;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

            > span {
                background: none;
                position: relative;
                z-index: 1;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: calc(50% + 1px);
                    background: $white;
                }
            }
        }
    }

    .form-group {
        @include media-breakpoint-down(md) {
            margin-bottom: 0.9375rem;
        }

        &.is-invalid {
            .form-control {
                border-color: $red;
            }

            .email-description {
                .form-control-label {
                    &::before {
                        border-color: $red;
                    }
                }
            }
        }
    }

    .form-control-select,
    .select2-container--default {
        margin-bottom: 0.9375rem;
        position: relative;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    .footer-submit-block {
        display: flex;
        flex-direction: column;
    }

    .submit-btn {
        width: 100%;
        margin-bottom: 1.25rem;
        height: 3.125rem;
        padding: 1rem 0;
        font-size: $font-size--2;
        font-weight: $font-weight-heavy #{"/*rtl:normal*/"};
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $footer-line-height-normal;

        @include media-breakpoint-up(lg) {
            font-size: $font-size--3;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }
    }

    .email-description {
        display: flex;
        position: relative;
        padding: 0 0 0 1.5rem;

        .form-group {
            .form-control-checkbox {
                position: absolute;
                left: -1.5rem;
                top: 0.125rem;

                + .form-control-label {
                    padding-top: 0;

                    &::before {
                        top: 0.125rem;
                    }

                    &::after {
                        top: 0.5rem;
                    }
                }
            }
        }

        .form-control-label {
            min-width: 100%;
        }

        .invalid-feedback {
            position: absolute;
            bottom: 0.625rem;
        }
    }

    .notification-agree {
        flex: 0 0 1.125rem;
        font-size: $font-size-2;
        height: 1.125rem;
        opacity: 0;
        outline: none;
        z-index: map-get($zindex, zindex-4);

        &:checked + .notification-agree-lable {
            &::after {
                opacity: 1;
            }
        }
    }

    .notification-agree-lable {
        margin-left: 0.625rem;

        &::before {
            background: $white;
            border: 0.0625rem solid $iron;
            content: "";
            height: 1.125rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 1.125rem;

            /* rtl:raw:
                left: auto;
                right: 0;
            */
        }

        &::after {
            background: transparent;
            border: 0.0625rem solid $primary;
            border-top: none;
            border-right: none;
            content: "";
            height: 0.25rem;
            left: 0.25rem;
            opacity: 0;
            position: absolute;
            top: 0.3875rem;
            transform: rotate(-45deg);
            width: 0.625rem;

            /* rtl:raw:
                left: unset;
                right: 0.25rem;
                border-right: none;
                border-left: 0.0625rem solid $primary;
                transform: rotate(-45deg);
                top: 0.3875rem;
            */
        }
    }

    .signup-email-description {
        color: $secondary;
        text-align: left;
        font-weight: $font-weight-normal;

        .terms-link {
            text-decoration: underline;
            color: $secondary;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .country-select {
        height: 3.125rem;
        padding-top: 0.8125rem;
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        border-color: $lighter-gray;
        color: $secondary;
        background: $white;
        padding-left: 1.375rem;

        + .select2-container--default {
            /* rtl:raw:
                font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            */

            &.select2-container--open {
                .select2-selection {
                    border-color: $secondary;
                    border-bottom-color: $grey2;
                }
            }

            .select2-selection {
                height: 3.125rem;
                border-color: $lighter-gray;
                pointer-events: none;
                cursor: default;

                .select2-selection__rendered {
                    font-size: $font-size--3;
                    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                    color: $secondary;
                    line-height: 2;
                    height: 100%;
                    padding-top: 0.6875rem;
                    padding-left: 1.375rem;

                    @include media-breakpoint-down(md) {
                        color: $primary;
                    }
                }

                .select2-selection__arrow {
                    display: none;
                    margin-top: 0.1875rem;

                    &::before {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
