.form-group {
    position: relative;
    margin-bottom: 1.5625rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 2.5rem;
    }

    &.required .form-control-label::after {
        content: '';
        font-size: $font-size--6;
        line-height: 0;
        color: $grey4;
    }

    input[type="checkbox"],
    input[type="radio"] {
        font-size: $font-size-2;
        height: 1.25rem;
        width: 1.25rem;
        opacity: 0;
        outline: none;
        z-index: 10;

        &:checked + .form-control-label {
            &::after {
                opacity: 1;
            }
        }

        + .form-control-label {
            margin-left: -1.5rem;
            margin-bottom: 0;
            color: $primary;
            cursor: pointer;
            position: relative;
            padding: 0.9375rem 0.9375rem 0.9375rem 2.1875rem;

            &:hover {
                &::before {
                    background: $brand-light;
                    border-color: $grey2;
                }
            }

            &::before {
                background: $white;
                border: 0.0625rem solid $iron;
                transition: $animation-default;
                border-radius: 0;
                content: '';
                height: 1.25rem;
                left: 0;
                position: absolute;
                top: 0.875rem;
                width: 1.25rem;

                /* rtl:raw:
                    left: auto;
                    right: 0;
                */
            }

            &::after {
                background: transparent;
                border: 0.0625rem solid $primary;
                border-top: none;
                border-right: none;
                content: '';
                height: 0.25rem;
                left: 0.3125rem;
                opacity: 0;
                position: absolute;
                top: 1.3125rem;
                transform: rotate(-45deg);
                width: 0.625rem;

                /* rtl:raw:
                    left: auto;
                    right: 0.25rem;
                */
            }
        }
    }

    input[type="radio"] {
        + .form-control-label {
            padding: 0.9375rem 0.9375rem 0.9375rem 1.875rem;

            &::before {
                border-radius: 50%;
                height: 0.9375rem;
                width: 0.9375rem;
                top: 1.25rem;
            }

            &::after {
                background-color: $primary;
                border-radius: 50%;
                height: 0.4375rem;
                width: 0.4375rem;
                border: none;
                top: 1.5rem;
                left: 0.25rem;
            }
        }
    }
}

.form-control-label {
    font-family: ff(tertiary);
    font-size: $font-size--2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    text-transform: none;
    margin-bottom: 0.375rem;
    color: $secondary;
    transition: $animation-default;
    font-weight: $font-weight-normal;

    .is-invalid & {
        color: $red;
    }
}

.form-control {
    color: $secondary;
    height: 3.125rem;
    border-radius: 0;
    padding: 0.25rem 20% 0.25rem 0.875rem;
    font-size: $font-size--2;
    border: 0.0625rem solid $grey2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    background-color: $white;
    transition: $animation-default;
    font-family: ff(tertiary);
    font-weight: $font-weight-normal;

    &.securityCode {
        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    &[type="tel"] {
        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    + .form-control-label {
        position: absolute;
        left: 0.9375rem;
        top: 0.9375rem;
        width: 100%;

        > span {
            background: $white;
            padding: 0 0.5rem;
        }

        &::after {
            background: transparent;
            border: 0.0825rem solid $success;
            border-top: none;
            border-right: none;
            content: '';
            height: 0.45rem;
            right: 1.4375rem;
            opacity: 0;
            position: absolute;
            top: 1.75rem;
            transform: rotate(-45deg);
            width: 0.725rem;

            /* rtl:raw:
                right: auto;
                left: 1.375rem;
            */
        }
    }

    &:focus {
        color: $primary;
        border-color: $secondary;
        font-size: $font-size--2;

        &:not(:placeholder-shown) {
            font-size: $font-size--2;

            &.custom-select {
                font-size: $font-size--3;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            }
        }

        + .form-control-label {
            left: 0.4375rem;
            top: -0.5rem;
            font-size: $font-size--4;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }
    }

    &:not(:placeholder-shown) {
        color: $primary;
        border-color: $secondary;
        font-size: $font-size-base;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        + .form-control-label {
            left: 0.4375rem;
            top: -0.5rem;
            font-size: $font-size--4;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }

        &:valid {
            + .form-control-label {
                &::after {
                    opacity: 1;
                }
            }
        }

        &.custom-select {
            border-color: $athens-gray;
            font-size: $font-size--3;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            font-weight: $font-weight-normal;
        }
    }

    &::placeholder {
        opacity: 0;
    }

    .is-invalid & {
        border-color: $red;
    }
}

.form-control-select {
    color: $secondary;
    height: 3.125rem;
    border-radius: 0;
    padding: 0.25rem 20% 0.25rem 0.875rem;
    font-size: $font-size--2;
    border: 0.0625rem solid $grey2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    background-color: $white;
    transition: $animation-default;
    font-family: ff(tertiary);
    font-weight: $font-weight-normal;
    width: 100%;

    &:focus {
        color: $primary;
        border-color: $secondary;
        font-size: $font-size--2;

        &:not(:placeholder-shown) {
            font-size: $font-size--2;

            &.custom-select {
                font-size: $font-size--3;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                outline: none;
                box-shadow: none;
            }
        }

        + .form-control-label {
            left: 0.4375rem;
            top: -0.5rem;
            font-size: $font-size--4;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }
    }

    &:not(:placeholder-shown) {
        color: $primary;
        border-color: $secondary;
        font-size: $font-size-base;

        + .form-control-label {
            left: 0.4375rem;
            top: -0.5rem;
            font-size: $font-size--4;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }

        &:valid {
            + .form-control-label {
                &::after {
                    opacity: 1;
                }
            }
        }

        &.select {
            border-color: $grey2;
            font-size: $font-size--3;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            font-weight: $font-weight-normal;
            padding: 0.25rem 20% 0.25rem 0.875rem;
        }
    }

    &::placeholder {
        opacity: 0;
    }

    &.select {
        + .select2-container--default {
            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */
        }
    }

    .is-invalid & {
        border-color: $red;
    }
}

.invalid-feedback {
    color: $red;
    display: none;
    margin-top: 0.3125rem;
    font-size: $font-size--2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    font-family: ff(tertiary);
    font-weight: $font-weight-normal;

    .invalid-feedback-link {
        color: $red;
        text-transform: lowercase;
        text-decoration: underline;
    }

    .is-invalid & {
        display: block;
    }
}

.radio-button-link,
.checkbox-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    font-size: $font-size--2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    > i {
        border: 0.0625rem solid $primary;
        position: relative;
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
        margin-right: 0.75rem;

        &::after {
            content: '';
            background-color: $primary;
            position: absolute;
            top: 0.125rem;
            left: 0.125rem;
            right: 0.125rem;
            bottom: 0.125rem;
            display: none;
        }
    }

    > span,
    > div {
        display: flex;

        > span {
            margin-right: 0.25rem;
        }
    }

    &.active > i,
    &.selected > i {
        border-color: $primary;

        &::after {
            display: block;
        }
    }
}

.radio-button-link {
    > i,
    > i::after {
        border-radius: 100%;
    }
}

.alert {
    font-size: $font-size--3;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
}
