$mobile-nav-width: 18.125rem;

// Navigation link thumbnail image
$nav-link-thumbnail-width: 11.875rem;
$nav-link-thumbnail-height: 1.6875rem;

// Main menu mobile
$main-menu-utility-mobile-font-weight: 500;
$dropdown-submenu-height: 24.0625rem;

.main-menu {
    text-transform: uppercase;
    font-family: ff(secondary);
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};

    .sticked & {
        padding: 2.25rem 0 1.625rem;
        margin: -5.25rem 0 -1rem;
    }

    .navbar {
        padding: 0;

        .sticked & {
            padding-left: 8rem;
            padding-right: 8.5rem;
        }
    }

    .navbar-nav {
        justify-content: center;

        > .nav-item {
            @include media-breakpoint-up(md) {
                position: static;
            }

            .nav-link {
                font-size: $font-size--6;
                color: $primary;
                letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
                font-weight: $font-weight-normal;
                font-family: ff(secondary);

                /* rtl:raw:
                    font-size: 12px;
                    font-family: "GESSTwoBold-Bold", Arial, sans-serif;
                */

                &::after {
                    background-color: rgba(25, 25, 25, 0.24);
                    bottom: 0;
                    content: '';
                    height: 0.0625rem;
                    left: 0.4375rem;
                    opacity: 0;
                    position: absolute;
                    transform: scaleX(0);
                    transition: all 0.3s linear;
                    width: calc(100% - 0.875rem);
                }
            }

            .dropdown-items-container {
                display: flex;
                flex-flow: column;
                flex-wrap: wrap;

                .nav-link {
                    font-size: $font-size--6;
                    font-weight: $font-weight-normal;
                    line-height: $line-height-3;
                    color: rgba(108, 113, 122, 0.6);
                    text-transform: uppercase;

                    /* rtl:raw:
                        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
                    */
                }

                &.dropdown-items-level-1 {
                    .nav-link {
                        /* rtl:raw:
                            font-size: 12px;
                            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
                        */
                    }
                }
            }

            .nav-cat-level-1 {
                .nav-link {
                    color: $primary;
                    text-transform: none;
                    font-size: $font-size--3;
                    font-weight: $font-weight-normal;
                    font-family: ff(tertiary);
                    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                }
            }
        }
    }

    .nav-link {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    .menu-group {
        flex: 0 0 100%;
        max-width: 19.4375rem;
        background: $white;

        @include media-breakpoint-up(md) {
            max-width: 27.1875rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: initial;
            background: transparent;
            height: auto;
        }

        .nav-link-icon {
            margin-right: 0.7rem;
        }

        .icon-logo-small {
            margin: 1.1875rem 0 0.25rem 0.5625rem;
            width: 1.625rem;
            height: 1.625rem;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;

            @supports (-ms-ime-align:auto) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .link {
            font-size: $font-size--3 !important;
            font-weight: $font-weight-normal !important;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            text-transform: none;
        }

        @include media-breakpoint-up(xl) {
            .nav-item:hover,
            .nav-item:active {
                > .nav-link {
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: auto;
                        margin: 0;
                        z-index: map-get($zindex, zindex-2);
                        border-bottom: 0.0625rem solid $iron;
                        transform: scaleX(1);
                    }
                }
            }
        }

        .nav-link {
            display: flex;
            align-items: center;
            position: relative;
        }
    }

    .nav-item > .dropdown-menu {
        > ul > .dropdown-item {
            > .dropdown-menu {
                .dropdown-item {
                    .dropdown-link {
                        text-transform: none;
                    }
                }
            }
        }

        .dropdown-menu,
        .dropdown-menu > ul {
            flex-direction: column;
        }
    }

    .show {
        > .expanded {
            .sc-icon-plus {
                display: none;
            }

            .sc-icon-minus {
                display: block;
            }
        }

        > .dropdown-menu {
            max-width: 19.4375rem;
            background: $white;
            border: none;
            height: 76rem;

            @include media-breakpoint-up(md) {
                max-width: 27.1875rem;
                top: -3.3125rem !important;
            }

            @include media-breakpoint-up(lg) {
                max-width: initial;
                height: auto;
                top: -1.25rem !important;
            }

            .col-lg-6 {
                @include media-breakpoint-down(lg) {
                    padding: 0;
                }
            }

            .main-menu-horizontal-line {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    .dropdown-item {
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $white;
        }
    }
}

.dropdown-items-container {
    font-size: 0;
    padding-left: 0;

    .dropdown-item {
        padding: 0;

        @include media-breakpoint-up(lg) {
            width: 50%;
            display: inline-block;

            &:nth-child(even) {
                padding-left: 0;

                .sc-icon-arrow-next {
                    right: 0;

                    @include media-breakpoint-up(xl) {
                        right: 0.625rem;
                    }
                }
            }

            &.main-menu-slot {
                width: 100%;
            }
        }

        &.active,
        &:active {
            color: $primary;
        }

        &.full-width {
            width: 100%;
        }

        .sc-icon-arrow-next {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -0.3125rem;
            transform: translateY(-50%) rotate(90deg);

            @include media-breakpoint-up(xl) {
                right: 0.375rem;
            }

            &::before,
            &::after {
                width: 0.4375rem;
                background-color: $primary;
            }
        }
    }
}

.top-category {
    font-family: ff(secondary);
    font-size: $font-size-2;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    padding: 0.1875rem 0 0.1875rem 0.75rem;
    color: $primary;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-6;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.0625rem;
    }

    &.active,
    &:active {
        color: $primary;
    }
}

.main-menu-slot {
    padding: 0.5rem 0.4375rem 1.875rem 0.875rem;

    @include media-breakpoint-up(xl) {
        padding: 0;
    }

    .menu-banner-image {
        width: 100%;
        max-height: 8.75rem;
        object-fit: cover;

        @include media-breakpoint-up(xl) {
            max-height: 21.875rem;
        }
    }

    .menu-banner-title {
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        font-family: ff(secondary);
        font-size: $font-size-2;
        margin-top: 0.75rem;
        color: $primary;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
            margin-top: 1rem;
            margin-bottom: 0.6875rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
            margin-top: 1.5625rem;
            margin-bottom: 0.5rem;
        }
    }

    .menu-banner-link {
        color: $primary;
        position: relative;
        display: block;
        margin-top: 0.5625rem;
        font-size: $font-size--3;
        font-weight: $font-weight-normal;
        font-family: $font-family-tertiary;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-size: 12px;
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        */
    }
}

.dropdown-close-container {
    .dropdown-close {
        font-size: $font-size-base;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-2;
        }

        .sc-icon-arrow-next {
            transform: rotate(0);
            vertical-align: bottom;

            &::before,
            &::after {
                width: 0.4375rem;
                background-color: $primary;
            }
        }
    }
}

.main-menu-close-overlay {
    display: none;
}

@include media-breakpoint-down(lg) {
    .main-menu {
        background-color: rgba(25, 25, 25, 0.15);
        display: none;
        overflow: auto;
        position: fixed;
        left: 0;
        top: 0 !important;
        bottom: 0;
        width: 100%;
        z-index: map-get($zindex, zindex-5);

        .navbar {
            align-self: start;
            height: 100%;
        }

        .menu-group {
            background: $white;
            max-width: 27.1875rem;
            flex: 0 0 80%;
            min-height: 100%;
            padding-bottom: 1.875rem;

            .nav-link {
                padding: 0.8125rem 1.1875rem;

                &::after {
                    display: none;
                }

                &.expanded {
                    font-weight: $font-weight-normal;
                    margin-top: -0.1875rem;
                    padding-top: 1.0625rem;
                }

                .sc-icon-plus,
                .sc-icon-minus {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }

        .dropdown-menu {
            margin: 0;
            padding: 0;
            position: absolute;
            top: -2.75rem;
            min-height: 100vh;
            background: $white;
            left: -100%;
            width: 100%;
            transition: left 0.25s linear;

            .top-category {
                font-family: ff(base);
                font-size: $font-size-base;
                padding-left: 1.1875rem;
            }

            ul {
                max-width: 100% !important;

                .dropdown-item {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            .back-navbar-title {
                &::before {
                    content: url('../images/icons/arrow-back.svg');
                    position: absolute;
                    left: 0;
                    width: 2.5rem;
                    height: 2.5rem;
                    display: inline-block;
                    background-size: contain;
                    background-repeat: no-repeat;

                    /* rtl:raw:
                        right: 0;
                        left: auto;
                    */
                }
            }
        }

        .show {
            > .dropdown-menu {
                max-width: 80%;
                position: fixed;
                top: 0;
                display: block;

                /* rtl:raw:
                    right: 0;
                */

                /* rtl:ignore */
                left: 0;
                background: $white;

                .menu-dropdown-heading {
                    .back-navbar {
                        height: 3.5rem;
                    }

                    .main-menu-horizontal-line {
                        margin-top: 0;
                        margin-bottom: 1.5rem;
                    }
                }

                .nav-link {
                    padding: 0.5rem 1.5rem 0.5rem 0.9375rem;
                }

                .main-menu-dropdown-inner {
                    max-height: calc(100vh - 10rem);
                    overflow: auto;

                    .main-menu-horizontal-line {
                        width: auto;
                        margin: 0.8125rem 0.9375rem 1.4375rem;
                    }
                }

                .dropdown-items-container {
                    .dropdown-item {
                        .main-menu-horizontal-line {
                            display: none;
                        }
                    }

                    .dropdown-item-container {
                        .main-menu-horizontal-line {
                            display: block;
                        }

                        .dropdown-item {
                            .main-menu-horizontal-line {
                                display: block;
                            }
                        }

                        .nav-link-only-name {
                            color: rgba(108, 113, 122, 0.6);
                            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
                            font-size: $font-size--6;
                            pointer-events: none;
                            padding-bottom: 0.6875rem;
                        }
                    }

                    .dropdown-menu {
                        position: relative;
                        top: auto;
                        left: auto;
                        min-height: initial;
                        transition: none;
                        display: block;
                        border: none;

                        .menu-dropdown-container {
                            padding: 0 0.9375rem;
                        }

                        .menu-dropdown-heading,
                        .nav-link-count {
                            display: none;
                        }
                    }
                }
            }
        }

        .dropdown-item {
            padding: 0;

            .nav-link {
                padding: 0.375rem 1.5rem 1.0625rem 1.1875rem;

                + .sc-icon-arrow-next {
                    display: none;
                }
            }
        }

        .main-menu-horizontal-line {
            margin: 0.3125rem 0.9375rem 1.25rem;
            border-color: $athens-gray;
        }

        .main-menu-utility-mobile {
            text-transform: none;
            font-weight: $font-weight-normal;
            font-family: ff(tertiary);
            margin-bottom: 0.3125rem;

            .nav-link-mobile {
                padding: 0.6875rem 1.1875rem;
                font-size: $font-size--5;
                letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
                display: flex;
                align-items: center;
                position: relative;
            }
        }
    }

    .main-menu-close-overlay {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: calc(100% - #{$mobile-nav-width});
        z-index: map-get($zindex, zindex-base);
        cursor: pointer;

        .mobile-navbar-open & {
            display: block;
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-dropdown-items-container {
        height: $dropdown-submenu-height;
    }

    .main-menu {
        display: block !important;
        top: 0 !important;
        padding-top: 0.8125rem;
        padding-bottom: 0.5rem;
        transition: padding-top $animation-duration;

        .menu-dropdown-opened & {
            transition: transform $animation-duration ease-out;
        }

        .homepage & {
            padding-bottom: 0;
        }

        .sticked & {
            .homepage & {
                padding-bottom: 1.625rem;
            }
        }

        > .navbar {
            .site-search {
                display: none;
            }
        }

        .menu-group {
            .nav-link {
                padding: 0.375rem 0;
                transition: color $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;
                letter-spacing: 0.06em #{"/*rtl:normal*/"};

                /* rtl:remove */
                font-size: $font-size--1;

                /* rtl:raw:
                    font-size: #{$font-size-base};
                */

                &::before,
                &::after {
                    display: none;
                    position: absolute;
                }
            }

            .nav-link-thumbnail {
                width: $nav-link-thumbnail-width;
                height: $nav-link-thumbnail-height;
                margin-top: -0.68rem;
            }
        }

        .navbar-nav {
            > .nav-item {
                position: static;
                z-index: map-get($zindex, zindex-1);
            }
        }

        .nav-item > .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;

            &::before {
                content: '';
                bottom: 0.9375rem;
                border-bottom: 0.125rem solid $iron;
                background-color: $iron;
                left: 1rem;
                right: 1rem;
            }

            &::after {
                $arrow-size: 0.4375rem;

                content: '';
                border-top: $arrow-size solid $menu-link;
                border-left: $arrow-size solid transparent;
                border-right: $arrow-size solid transparent;
                bottom: -$arrow-size;
                margin-left: -$arrow-size;
                left: 50%;
            }
        }

        .nav-item > .nav-link.current:not(.active) {
            &::after {
                display: none;
            }
        }

        .nav-cat-level-0 {
            border: 0;
            border-radius: 0;
            position: absolute;
            left: 0 !important;
            right: 0 !important;
            margin: 0;
            top: -1.25rem;
            overflow-y: auto;
            text-transform: none;
            padding-top: 1.4375rem;
            padding-bottom: 1.875rem;
            width: 100% !important;

            .dropdown-items-container.container {
                background-color: $white;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
            }

            > .dropdown-items-container > .dropdown-item {
                padding: 0.25rem 0.75rem 2.5rem;
                max-width: 16.5rem;
                flex: 1 0 auto;

                > .nav-link-only-name,
                > .nav-link-with-thumbnail.dropdown-toggle {
                    font-size: $font-size-base;
                    margin-bottom: 0.75rem;
                    padding: 0.6rem 0.5rem !important;
                    justify-content: flex-start;
                    align-items: center;
                }

                > .nav-link-with-thumbnail {
                    &:not(.dropdown-toggle) {
                        flex-direction: column;
                        font-size: $font-size--1;
                        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                        padding: 0;
                        margin: 0;

                        > img {
                            width: 100%;
                        }
                    }

                    &.dropdown-toggle {
                        justify-content: flex-start;

                        > img {
                            margin-right: 0.75rem;
                            margin-left: -0.5rem;
                            max-width: 5.25rem;
                        }
                    }
                }
            }

            .dropdown-menu {
                border: 0;
                display: flex;
                flex-direction: column;
                position: relative;
                top: 0;
                padding: 0;
                transform: none !important;
                margin-top: -0.25rem;

                > .container {
                    padding-left: 0;
                    padding-right: 0;
                }

                .nav-link-count {
                    display: none;
                }

                .dropdown-items-level-1 {
                    .nav-link {
                        padding: 0.1875rem 0;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .dropdown-items-level-0 {
            padding-left: 7.5rem;
            margin-top: -0.5625rem;
        }

        .dropdown-menu {
            z-index: map-get($zindex, zindex-3) !important; // js code

            .nav-cat-level-1 {
                position: relative;
                top: 0;
                padding: 0;
                margin-bottom: 1.3125rem;

                > ul > .dropdown-item {
                    padding-top: 0.375rem;
                    padding-bottom: 0.375rem;
                }

                .nav-link-only-name,
                .nav-link-with-count {
                    text-transform: uppercase;
                    font-size: $font-size--1;
                    font-weight: $font-weight-normal;
                    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .nav-link-with-thumbnail.nav-link-with-count {
                    text-transform: uppercase !important;
                    margin-left: -1.5rem;
                    margin-right: -1.5rem;

                    > img {
                        margin-right: 0.75rem;
                        max-width: 5.25rem;
                    }
                }
            }
        }

        .product-tile {
            .tile-body {
                padding-bottom: 0;
                white-space: normal;
            }

            .price-container,
            .badges-container,
            .ratings-container {
                height: auto;
            }

            .name-container {
                height: 2rem;
            }

            .price-container {
                margin-bottom: 0.6rem;
            }

            .badges-container {
                margin-bottom: 0.85rem;
            }

            .ratings-container {
                margin-bottom: 1.1rem;
            }

            .image-container {
                .tile-image {
                    max-height: 12.875rem;
                    width: auto;
                }
            }
        }
    }
}

.navbar-quick-menu {
    border-top: 0.0625rem solid $border-color;
    background-color: $gallery-gray;
    color: $black;
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0.6875rem 0;
    width: 100%;
    text-align: center;

    .nav-item {
        flex: 1 0 0;
        margin: 0;
        padding: 0.2rem 0.5rem 0.3rem;

        &:not(:last-child) {
            border-right: 0.0625rem solid $border-color;
        }
    }

    .nav-link {
        padding: 0 0.75rem;

        > i {
            display: block;
            margin-bottom: 0.875rem;

            &::before {
                font-size: $font-size-18;
            }
        }
    }
}

.mobile-menu-overlay {
    display: none;

    .mobile-navbar-open & {
        opacity: 0.7;
        display: block;
        z-index: map-get($zindex, zindex-1);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        transition: all 0.3s ease;
        cursor: pointer;
    }
}

.menu-slider {
    position: relative;
}

.menu-slider-prev,
.menu-slider-next {
    position: absolute;
    top: 0.125rem;
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }

    i {
        width: 1.5rem;
        top: 0;
        margin: 0;
    }
}

.menu-slider-prev {
    /* rtl:ignore */
    left: -2rem;
}

.menu-slider-next {
    /* rtl:ignore */
    right: -2rem;
}
