.minicart {
    margin-top: 0.1875em; /* 3/16 */
    vertical-align: top;
    position: relative;

    .minicart-total {
        @include media-breakpoint-down(lg) {
            text-align: right;
        }

        .sticked & {
            margin-top: 0.125rem;
            margin-bottom: -0.125rem;
        }
    }

    .navbar-header & {
        padding-right: 0;
        margin-right: 0.4375rem;
        margin-left: -0.9375rem;
        padding-left: 0;

        .sticked & {
            margin-top: -0.25rem;
        }
    }

    .miniCart-item-description {
        width: 8.5626rem;
    }

    .miniCart-subTotal {
        padding: 1.25rem 2.5rem;
        font-family: $font-family-tertiary;
        font-size: $font-size--3;
        font-weight: $font-weight-normal;
        line-height: $line-height-11;
        text-transform: capitalize;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "GeezaPro", Arial, Sans-serif;
        */
    }

    .miniCart-checkout {
        margin: 0 2.5rem 2.5rem;
    }

    .minicart-icon {
        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
        }
    }

    .minicart-link {
        padding-left: 0.9375rem;
        font-size: $font-size-3;

        /* rtl:raw:
            padding-left: 0;
            padding-right: 0.9375rem;
        */

        &:hover {
            text-decoration: none;
        }
    }

    .minicart-quantity {
        color: $primary;
        display: inline-block;
        font-size: $font-size--4;
        line-height: $minicart-quantity-line-height;
        text-align: right;
        position: absolute;
        width: 1.125rem;
        height: 1.125rem;
        right: 1.25rem;
        top: 0.1875rem;
        font-weight: $font-weight-normal;

        /* rtl:raw:
            font-family: "GeezaPro", Arial, Sans-serif;
            left: 1.125rem;
            right: auto;
        */

        .sticked & {
            top: 0.3125rem;
        }

        @include media-breakpoint-up(lg) {
            top: 0.375rem;

            /* rtl:raw:
                top: 0.3125rem;
            */

            .sticked & {
                top: 0.5rem;
            }
        }
    }

    .popover {
        display: none;
        right: 0;
        border-radius: 0;
        min-height: 23.75rem;
        min-width: 29.375rem;
        max-width: 30rem;
        top: 100%;
        left: auto;
        border: 0.0625rem solid $athens-gray;
        padding-top: 0.625rem;

        /* rtl:raw:
            right: auto;
            left: 0;
        */

        &.show {
            display: block;
        }
    }

    .popover-empty-cart {
        min-height: 9.5rem;

        &.show {
            display: block;
        }
    }

    .minicart-empty-title {
        position: absolute;
        width: 100%;
        top: 4rem;
        font-family: ff(tertiary, 'bold');
        font-size: $font-size--3;
        font-weight: $font-weight-normal;
        line-height: $line-height-2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        text-align: center;
    }
}

.miniCart-dropdown {
    margin: 0;

    .miniCart-items {
        font-family: ff(tertiary);
        max-height: 22.5rem;
        overflow: overlay;
        border-bottom: 1px solid $athens-gray;
        padding-bottom: 1.875rem;

        &::-webkit-scrollbar {
            display: none;
        }

        .card-body {
            padding: 0.55rem;
        }

        .line-item-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
        }

        .line-item-name {
            font-family: ff(tertiary, 'bold');
            font-weight: $font-weight-normal;
            font-size: $font-size--3;
            line-height: $line-height-2;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }

        .item-image img {
            width: 3.5rem;
            margin-right: 0.5rem;
        }

        .item-attributes {
            font-size: $font-size--5;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};

            .line-item-attributes {
                margin: 0;
            }
        }

        .line-item-unit-price .price,
        .line-item-total-price .price {
            font-size: $font-size--5;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        }
    }
}

.miniCart-item {
    display: flex;
    justify-content: space-between;
    padding: 1.875rem 2.5rem 0;
    font-size: $font-size--3;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    position: relative;

    .miniCart-item-image {
        flex: 0 0 40%;
        max-width: 9.6875rem;
        background: $brand-light;
        margin-right: 0.9375rem;

        .product-image {
            width: 10.5rem;
            width: 100%;
        }
    }

    .miniCart-item-image-link {
        display: block;
    }

    .line-item-name {
        color: $primary;
        font-family: ff(tertiary);
        font-size: $font-size--3;
        font-weight: $font-weight-normal;
        line-height: $minicart-item-name-line-height;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin: 0;

        .order-summary-container & {
            color: $secondary;
        }
    }

    .miniCart-item-description {
        flex: 0 0 40%;
        max-width: 8.75rem;
        margin-top: -0.3125rem;

        .miniCart-item-details {
            margin: 0;
        }
    }

    .miniCart-item-name {
        margin-bottom: 0.5rem;
    }

    .miniCart-item-details {
        color: $secondary;
        padding-bottom: 0.525rem;
        font-family: ff(tertiary, 'bold');
        font-weight: $font-weight-normal;
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $line-height-2;

        .minicart-item-attribute {
            position: relative;
            font-weight: $font-weight-normal;
            font-family: $font-family-tertiary;
            margin-bottom: 0.2rem;
        }

        span:not(:last-child) {
            margin-right: 1.188rem;

            &::after {
                content: '';
                position: absolute;
                right: -0.594rem;
                border-right: 0.0625rem solid $secondary;
                top: 0;
                height: 100%;
            }
        }
    }

    .miniCart-item-price {
        font-family: $font-family-tertiary;
        margin: 0.375rem 0 0;
        flex: 0 0 20%;
        min-width: 3.5rem;
        margin-top: -0.125rem;
        text-align: right;

        /* rtl:raw:
            font-family: "GeezaPro", Arial, Sans-serif;
        */

        .cart-product-price-discounted {
            font-size: $font-size--3;
            padding-top: 0 !important;
            font-weight: $font-weight-normal;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }

        .cart-product-price-main {
            font-size: $font-size--5;
            font-weight: $font-weight-normal;
            margin-right: 0;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        }
    }

    .line-item-attributes {
        font-size: $font-size--3;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }
}

.miniCart-title {
    font-size: $font-size--2;
    font-weight: $font-weight-normal;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
}

.miniCart-cart-link {
    font-size: $font-size--5;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
}

.added-product-notification {
    background-color: $white;
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    display: none;
    padding: 1rem 0.25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    z-index: map-get($zindex, zindex-base);

    @include media-breakpoint-down(lg) {
        &.miniCart-multiple-products {
            .miniCart-item {
                width: 52%;

                .miniCart-item-multiple-products-text {
                    display: none;
                }
            }

            .miniCart-item-multiple-product-images {
                .icon-plus {
                    &::before,
                    &::after {
                        width: 0.875rem;
                    }
                }
            }

            .miniCart-item-total {
                display: flex;
                justify-content: center;

                .miniCart-checkout {
                    display: none;
                }

                .miniCart-item-multiple-products-text {
                    font-size: $font-size-6;
                    font-weight: $font-weight-medium;
                    display: block;
                    margin-bottom: 1rem;
                    padding-left: 2rem;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            .miniCart-item-subtotal-label {
                font-size: $font-size-5;
                font-weight: $font-weight-medium;

                .miniCart-item-vat {
                    font-size: $font-size--4;
                    font-weight: $font-weight-normal;
                }
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-7;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.miniCart-multiple-products {
            .miniCart-item-container {
                flex-direction: column;
            }

            .miniCart-item {
                width: 100%;
            }

            .miniCart-item-multiple-products {
                width: 100%;
                text-align: center;
            }

            .miniCart-item-total {
                width: 100%;
                flex-direction: row;

                .miniCart-item-multiple-products-text {
                    width: 50%;
                    font-size: $font-size--1;
                    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                    margin-bottom: 0;
                    padding-left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .miniCart-item-subtotal {
                width: 50%;
            }

            .miniCart-item-subtotal-label {
                display: none;
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-2;
                width: 100%;
                text-align: center;

                .miniCart-item-vat {
                    font-weight: $font-weight-light;
                }
            }
        }
    }

    .miniCart-notitfication-top {
        display: flex;
        justify-content: space-between;
        padding-top: 0.3rem;
    }

    .miniCart-item-container {
        display: flex;
        position: relative;
        margin: 0.75rem auto;
        width: 100%;
        max-width: 35rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;

        @include media-breakpoint-up(sm) {
            margin: 1.875rem auto;
        }
    }

    .miniCart-item-remove {
        width: 1.5rem;
        height: 1.5rem;
        z-index: map-get($zindex, zindex-base);
        border: none;
        background: transparent;
        cursor: pointer;
        margin-right: 0.5rem;
        margin-top: -0.25rem;

        i::before,
        i::after {
            width: 1rem;
            background-color: $primary;
        }
    }

    .miniCart-added-message {
        font-family: ff(secondary);
        font-size: $font-size--2;
        text-transform: uppercase;
        margin-left: 1rem;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    }

    .miniCart-item {
        border: none;
        position: relative;
        padding: 0;
        justify-content: center;
        width: 100%;

        @include media-breakpoint-up(sm) {
            justify-content: center;
        }
    }

    .miniCart-item-description {
        position: relative;
        flex-grow: 1;
    }

    .miniCart-item-badge {
        font-size: $font-size--5;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        position: absolute;
        top: 0;
        text-transform: uppercase;
    }

    .miniCart-item-name {
        margin-bottom: 0.3rem;

        .miniCart-item-title {
            font-family: $font-family-tertiary-bold;
            font-size: $font-size--2;
            font-weight: $font-weight-normal;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            line-height: 1.43;
            text-transform: none;
            margin-bottom: 0.3rem;
            max-width: 70%;
        }
    }

    .miniCart-item-price {
        position: absolute;
        right: 0;
        font-family: ff(tertiary);
        font-size: $font-size--2;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        color: $primary;
        margin: -0.25rem 0 0 0;

        .cart-product-price-discounted {
            font-size: $font-size-2;
        }

        .cart-product-price-main {
            font-size: $font-size-base;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }
    }

    .miniCart-item-list-price {
        color: $grey4;
        font-size: $font-size--2;
        font-family: $font-family-tertiary;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        text-decoration: line-through;
        margin-bottom: 0;
        margin-top: -0.4375rem;
    }

    .miniCart-item-vat {
        font-size: $font-size--4;
        font-family: ff(base);
        margin-bottom: 0;
    }

    .miniCart-item-total {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;

        .miniCart-item-multiple-products-text {
            display: none;
        }
    }

    .miniCart-item-image {
        .miniCart-item-image-link {
            display: block;
        }

        // js code
        img {
            width: 5rem;
            margin-right: 1.25rem;

            @include media-breakpoint-up(sm) {
                width: 13.875rem;
            }
        }
    }

    .miniCart-item-multiple-product-images {
        .icon-plus {
            margin: 0.25rem;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .miniCart-item-multiple-products-text {
        font-size: $font-size-7;
        font-weight: $font-weight-light;
        text-align: center;
    }

    .miniCart-item-subtotal {
        display: flex;
        align-items: center;
    }

    .miniCart-item-subtotal-label {
        font-size: $font-size-14;
        font-weight: $font-weight-medium;
        width: 50%;
        text-align: center;
        text-transform: uppercase;

        .miniCart-item-vat {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            position: static;
            text-transform: none;
        }
    }

    .miniCart-item-subtotal-value {
        font-size: $font-size-16;
        font-weight: $font-weight-extra-bold;
        font-family: ff(secondary);
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        width: 50%;
        text-align: center;
    }

    .miniCart-checkout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        max-width: 35rem;

        .miniCart-link {
            width: 48%;
            padding: 0.775rem 0.75rem 0.45rem;
        }
    }

    .miniCart-item-details {
        font-family: ff(tertiary);
        display: flex;
        flex-direction: column;

        .miniCart-attribute {
            margin-bottom: 0.3rem;

            &::after {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .added-product-notification {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@include media-breakpoint-up(xl) {
    .added-product-notification {
        padding: 1.875rem 0 2.5rem;

        .miniCart-item-container {
            padding-left: 0;
            padding-right: 0;
        }

        .miniCart-item {
            position: relative;
            padding-top: 2.875rem;
            padding-right: 1.625rem;
            width: 50%;

            &::after {
                content: '';
                border-right: 0.0625rem solid $grey3;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        .miniCart-item-remove {
            right: 0;
        }

        .miniCart-added-message {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            left: 0;
        }

        .miniCart-item-image img {
            width: 7.5rem;
        }

        .miniCart-item-description {
            padding: 0 2.125rem;
        }

        .miniCart-item-badge {
            position: static;
        }

        .miniCart-item-name {
            margin-bottom: 0.25rem;

            h2 {
                font-size: $font-size-7;
                font-weight: $font-weight-medium;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        .miniCart-item-details {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            padding-bottom: 0;
        }

        .miniCart-item-price {
            font-size: $font-size-7;

            .cart-product-price-discounted {
                font-size: $font-size-7;
            }

            .cart-product-price-main {
                font-size: $font-size-4;
            }
        }

        .miniCart-item-list-price {
            font-size: $font-size-4;
            font-weight: $font-weight-semi-bold;
        }

        .miniCart-item-total {
            display: flex;
            padding-left: 1.625rem;
        }

        .miniCart-checkout {
            justify-content: space-between;
            padding-top: 1.85rem;

            .btn {
                font-size: $font-size-base;
            }
        }
    }
}

.order-summary-price {
    display: none;
}

.added-product-notification-backdrop {
    position: absolute;
    display: none;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($alto, 0.72);
    z-index: map-get($zindex, zindex-low);
    top: auto;
    cursor: pointer;
}
